[2017-02-22 03:14] clrockwell79 opened #3199 "config:export seems to ignore components (such as blocks) for uninstalled themes"
### Problem/Motivation
I used `config:export` to export configuration after uninstalling Bartik.  When importing this configuration I received the error:

After this, I exported the configuration using `drush config-export` and found that drush was deleting several bartik related configuration files while Drupal Console was not - console was only updating `core.extension.yml` to set `bartik: 0`.

[2017-02-22 04:43] joshirohit100 opened #3200 "[Feature][config:export] Allow to skip config export of modules."
We have command to export all configuration and export single one but there are certain modules which we require on local but not on other environments. So there should be a way not to export (skip) config of those module in export.

`config:export --skip=mymoduleA, mymoduleB`

or we can go by individual files. Thoughts ?

[2017-02-22 09:18] cburschka-pwc commented on #3200
Note that there is no clear mapping of config to modules - though you might filter configuration objects by name, or by their dependencies.

(When filtering by name, it might be more convenient to maintain a .gitignore file in the configuration directory, to ensure that the files are excluded from the repository.)

[2017-02-22 17:48] GiorgosK opened #3201 "[*module:install*] wrong dependency reported when installing file_browser"
tried to install file_browser with drupalconsole 1.0.0-rc16 (latest at this time)

and it reported the following dependencies

Module 'file_browser' cannot be installed: Dropzone library missing |

which was incorrect as I realized when going to the project's main page it turns out `imagesloaded` and `masonry` libraries are required.  Finally succeeded installing from the drupal GUI.

support requ

[2017-02-22 19:19] geerlingguy opened #3202 "Drupal Console remote aliases (--target) not working"
### Drupal Console remote aliases not working

[ *console* ] Can't get remote aliases to work with Drupal VM (or anything else, really).

### Problem/Motivation

I'm having a very hard time getting Drupal Console to use any of my site aliases, using rc16. I would like to run `drupal [command]` from my host computer on either a local VM (using Drupal VM).

I know this functionality _was_ working at

[2017-02-22 19:22] geerlingguy commented on #3202
I can also get commands to work fine _inside_ Drupal VM, if I have `drupalconsole` in the `installed_extras` and run the `drupal` commands inside the docroot (e.g. in `/var/www/drupalvm/drupal`).

[2017-02-22 19:54] geerlingguy opened #3203 "Can't use custom Console Commands"
### Can't use contrib module Console Commands

[ *console* ] After installing Entity Pilot Git, I can't use the commands it adds in.

### Problem/Motivation

When I install a contrib module that has extra Drupal Console commands, I can't find them in `drupal list`, and I can't run them with `drupal module:command`.

### How to reproduce

[code]

1. Install an instance of Drupal VM with `drupalcons

[2017-02-23 02:04] jmolivas commented on #3203
@geerlingguy I will take a look and ping you back

[2017-02-23 02:49] geerlingguy commented on #3203
Thanks! I should also be able to hop on Gitter later too.

[2017-02-23 07:21] nvaken commented on #3202
Hi @geerlingguy, I've run against the same problems as you have.

I've dug into these and found out that the Drupal Console Launcher loads it's own instance of ConfigurationManager. The same ConfigurationManager get's instantiated again in Drupal Console Core. While that might not sounds as a major issue, the launcher's instance of ConfigurationManager does not contain the same data as the one in

[2017-02-23 07:33] nvaken commented on #3203
@geerlingguy Not that I know of a fix in any of the latest versions of DC, but did you try upgrading to the latest RC16?

[2017-02-23 08:35] showards opened #3204 "[template] Discussion: Templates based on drupal's core/modules/node"
### Problem/Motivation

The generation of content entities seems to be an extremely basic version of drupal core's _node_ module.  Would it be helpful to generate a full template whereby the full  core _node_ module code is reproduced to facilitate easier integration of external module code linked to the _node_ module into custom entities?

By default _contrib_ modules will base code on the _node_

[2017-02-23 13:02] geerlingguy commented on #3203
@nvaken I've tried both rc16 and rc13, no luck.

[2017-02-23 16:38] jchatard opened #3205 "generate:entity:content Removing the owner breaks entity type discovery"
### Problem/Motivation

Removing owner from a `generate:entity:content` entity blocks the discovery of the entity type.

### How to reproduce

**Details to include:**
- Drupal version 8.2.6
- Console version 1.0.0-rc16
- Console Launcher version 1.0.0-rc16

Generate a content entity using `generate:entity:content`. No revision, not translatable, but I think it's not the point.

After code generati

[2017-02-23 19:31] bkildow commented on #3091
I'm also seeing the same issue with RC-16. In a custom module, I'm starting sessions for anonymous users, and using PrivateTempStore to get data out of it. I'm seeing the same error as above.

[2017-02-23 19:49] bkildow commented on #3091
I should note that this was being called from a cache context. I added a workaround similar to what @ismailcherri is doing with checking for 'cli'. Now I'm seeing a similar issue with the Masquerade module: `Fatal error: Call to a member function has() on null in modules/contrib/masquerade/src/Cache/MasqueradeCacheContext.php on line 36`

The offending code is:

[code]

So I guess the question is,

[2017-02-23 20:42] #3189 closed

[2017-02-23 23:49] jamesmcb commented on #1849
Same Issue... I'm on Drupal Console (1.0.0-rc15) and Drupal 8.2.6.  The routing file just does not appear to be created or modifying an existing one in a blank existing module.

[2017-02-24 00:10] cburschka-pwc commented on #1849
This command does not generate a routing.yml, but instead generates a route
provider class.

Whether this is good is another question. Imho, as the routes are static it
would be a better idea to put them in the yml file.

On Feb 24, 2017 12:49 AM, "jamesmcb" <notifications@github.com> wrote:

[2017-02-24 00:17] cburschka-pwc commented on #1849
The command doesn't provide routes in routing.yml; it's all supposed to be in the HtmlRouteProvider class. Maybe that class doesn't work?

[2017-02-24 14:05] acrosman commented on #2758
+1 on this one, although it should be for all generated injections, not just plugins.  I ran into a problem with the recent Redirect 404 update that apparently swaps in its own LoggerFactory. The generated form constructor (that had been fine for a months) suddenly failed because it was expecting the core factory instead of a factory interface.

[2017-02-24 16:56] jamesmcb commented on #1849
Totally get it, so the routing file is just not necessary.  Makes sense!

[2017-02-26 09:48] nvaken opened #3206 "Display error when broken composer.json has been found"
Currently, when using launcher on a project with a broken `composer.json` file it will report that you have to execute drupal console in a Drupal root folder. It might be nice to include a small check, that when a composer.json file has been found, but cannot be read, it will trigger a other message, reporting that it cannot read the current composer.json file.

Just a small sanity check for the d

[2017-02-27 08:42] #3204 closed

[2017-02-28 12:24] cburschka-pwc commented on #1849
That said, I believe these routes *should* be set in routing.yml.

Providing static values in PHP code is a Drupalism that D8 is trying to eliminate in favor of configuration files.

Core itself uses routing.yml for all but one of its entity's routes (the AdminHtmlRouteProvider class is only used in the aggregator module).

[2017-02-28 17:22] taeyoun opened #3208 "router:debug [argument]"
### Issue title

The issue title should comply with the following structure:

[ *ROUTERP:DEBUG* ] Short description

The *ROUTER:DEBUG* should be one of:

* `router:debug [argument]`
* `console`

### Problem/Motivation
"drupal router:debug" works but it returns nothing for "drupal router:debug views_ui.form_handler_extra".

### How to reproduce
type "drupal router:debug views_ui.form_handler_extra

[2017-03-01 09:54] yasenivanov commented on #3121
I am receiving the same error when putting the site in maintenance mode and trying to access invalid page (404) as anonymous user.

[2017-03-01 14:37] PatrickBauer opened #3209 "[generate:command] ArgumentCountError: Too few arguments to function Manager::getList()"
The generate:command Command uses the ExtensionTrait  and this uses ExtensionManager::getList() but without any arguments, throwing an "ArgumentCountError: Too few arguments to function Manager::getList()"

The following pull request solves the issue by providing an argument to the function call.
https://github.com/hechoendrupal/drupal-console/pull/3207

[2017-03-01 17:31] geerlingguy commented on #3203
I'm on rc16, and still having trouble. I just created one custom command then tried using it, and it's saying it's not available. Exact steps below:

  1. `./vendor/bin/drupal generate:command` (generate a new command called `mymodule:export`)
  2. `./vendor/bin/drupal list` (command is not in the list)
  3. `./vendor/bin/drupal mymodule:export` (returns below error)

[code]

[2017-03-01 17:38] geerlingguy commented on #3203
Ah, so it looks like there are two parts missing: all older contrib projects using custom commands generated pre-rc16 need to have a `console.services.yml` file added:

[code]

Then on top of that, one must run `drupal cr all` to flush the caches after said file is added, and then the command will be picked up.

I'm going to test with the `entity_pilot_git` module and will file an upstream patch i

[2017-03-01 18:01] geerlingguy commented on #3203
See patch for the module in question here: https://www.drupal.org/node/2854972#comment-11964466

Thanks for the pointers, @jmolivas !

[2017-03-01 18:02] iAssureIT commented on #1759
We are also facing this problem today (1-March-2017). Do you know the solution?

[2017-03-01 20:37] diamantn opened #3210 "Feature Request : Add support for Drupal Docker container"
When running Drupal in a container, it is not possible to connect because the container is not running - nor should it run -  a SSH server.

Fortunately, running commands inside the container does not require SSH-ing into it.
In order to support the use of Drupal-console with Docker, the name of the Docker container should be added to the configuration file.

If a container name was added. the SSH

[2017-03-01 21:39] forethoughtde opened #3211 "Windows 10 Git bash tar error"
### Windows Git bash tar error

The issue title should comply with the following structure:

Summary: Could not able to install Drupal 8 from Drupal Console in Windows 10 OS.

Issue Area:
* drupal chain --file=.console/chain/quick-start.yml
* `console`

### How to reproduce
Install the Drupal console from composer by running the following command in Git bash in Windows 10
` composer global require

[2017-03-01 22:12] acbramley commented on #3203
https://hechoendrupal.gitbooks.io/drupal-console/content/en/extending/creating-custom-commands.html and https://hechoendrupal.gitbooks.io/drupal-console/content/en/extending/registering-commands-automatically.html need updating

[2017-03-01 22:13] geerlingguy commented on #3203
Maybe we reopen this ticket until the docs reflect the usage?

[2017-03-01 22:16] acbramley commented on #3203
@geerlingguy yeah, I'm trying your patch for entity_pilot_git and I still can't see the commands registered. I've even tried using the `drupal generate:command` and not even the generated command is showing up. Not sure what I'm missing here.

[2017-03-01 22:18] acbramley commented on #3203
Ahah! I was missing running `drupal init`

[2017-03-01 22:19] geerlingguy commented on #3203
Ha, that'll do it.

[2017-03-02 09:51] artatum commented on #3181
Same here, but for me this message is only happening on specific projects, cloned from a repo. (built somewhere else). In others projects, created on my local, console works.

[2017-03-02 10:06] landsman commented on #3079
What is state of it?

[2017-03-02 10:17] yassintahtah opened #3212 "Call to undefined method Drupal\Console\Core\Utils\ConfigurationManager::loadExtendConfiguration()"
My drupal console suddenly stopped working, not sure what's causing it. I've tried reinstalling everything but I still get the same error.

My version:

drupal/console                        1.0.0-rc16    The Drupal CLI. A tool to generate boilerplate code, interact with and debug Drupal.
drupal/console-core                   1.0.0-rc16    Drupal Console Core
drupal/console-en

[2017-03-02 10:30] PatrickBauer commented on #3203
When did it change from MODULE_NAME.services.yml to console.services.yml?
I had to copy&paste the new entries in console.services.yml to my MODULE_NAME.services.yml to make the commands work again.

[2017-03-02 22:51] xpersonas commented on #3100
I'm sort of in the same boat. I have **Drupal Console Launcher version 1.0.0-rc16**. I am getting the same error regarding doctrine/collections. But your solution is not working for me.

  Problem 1
    - drupal/console 1.0.0-rc15 requires doctrine/collections 1.3.0 -> satisfiable by doctrine/collections[v1.3.0].
    - drupal/console 1.0.0-rc16 requires doctrine/collections 1.3.0 -> satisfiable by

[2017-03-03 07:13] cburschka-pwc opened #3213 "[update:execute] Missing required &$sandbox parameter"
hook_update_N takes a referenced array as a parameter. Most functions don't use it at all, but hook_update_8400 does, and can't be run by drupal-console.

Instead of using `@module_handler::invoke($module, 'update_' . $n)` here, the code probably needs to include `update.inc` and call `update_do_one($module, $n, $dependencies)`.

[2017-03-04 06:41] mmwebaze commented on #3058
Hi,
I am getting this error

Fatal error: Cannot use Drupal\Console\Core\Bootstrap\DrupalConsoleCore as DrupalConsoleCore because the name is already in use

with

drupal/console                        1.0.0-rc16
drupal/console-core                   1.0.0-rc16
drupal/console-en                     1.0.0-rc16

[2017-03-04 20:31] jmolivas commented on #3058
@mmwebaze what are your OS and PHP versions?

[2017-03-05 04:20] jmolivas commented on #3058
@mmwebaze do you mind to share how did you fix it?

[2017-03-05 13:34] dupls commented on #2533
damienmckenna I also battled to load drupal console and kept getting the curl: (35) error code. Your script 'appeared' to work but I still can't run anything. I type `php drupal.phar` . I get no error but I also get nothing. So it doesn't look like it did get installed.

[2017-03-05 14:04] mmwebaze commented on #3058
@jmolivas update drupal/console --with-dependencies worked for me.

[2017-03-05 22:37] ohthehugemanatee opened #3214 "[console] Class DrupalFinder\DrupalFinder not found"
### Problem/Motivation
Installed console normally with `composer require drupal/console:~1.0 --prefer-dist --optimize-autoloader --sort-packages`. Got console version 1.0.0-rc11. Running any command with the console gives a fatal error:

[code]
I have no trouble with other composer-installed CLI tools (ie drush-8.x-dev)

### How to reproduce
Run any console command with:
PHP 7 (tested with 7.0.13-

[2017-03-06 10:39] nvaken commented on #3172
Not entirely sure, but if I understand correctly, this issue addresses the problem that `--composer` will add the deprecated Composer repository Drupal Packagist? It should be using the official Drupal Packages server from Drupal.org, right? If so, I'm all in for this one.

[2017-03-06 18:31] lmakarov commented on #3186
Fixing might be a better solution. These two symlinks point to wrong locations.
The actual binaries are three levels above instead of one (`../../../` instead of `../`).

[code]

[code]

[2017-03-06 19:24] darol100 commented on #3210
@jmolivas If you can point me to the direction to solve this issue, I will be more than welcome to give a try to this new feature.

[2017-03-06 22:02] Sutharsan opened #3215 "[ console ] Using console with virtual machine"
### Problem/Motivation
How to use Console with a Drupal site running on a virtual machine and Console called from the Host. I can call console from the VM command line (via SSH) but calling it from the Host would be more convenient.

The only example of of using console from the Host is:
[code]
Found the site name by calling from the drupal root on the Host: `drupal multisite:debug`
[code]
But `dr

[2017-03-07 21:24] Sutharsan commented on #3215
Sorry. A classic example of "rtfm"
https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-use-drupal-console-in-a-remote-installation.html

[2017-03-07 21:24] #3215 closed

[2017-03-08 05:39] kenpan commented on #2770
I experienced similar issues on a shared hosting platform. After
**Updating dependencies (including require-dev**)
it was taking too long and I cancelled command and I got
**Write failed: Broken pipe**
Tried again and it said
**Drupal8.dev file not empty**
Deleted Drupal8.dev and started again, and it was taking too long exactly as my first try. I left it overnight
but had **Write failed: Broken p

[2017-03-08 12:39] nvaken opened #3216 "Make drupal console more graceful"
Currently, Drupal Console is really sensitive for Drupal errors. When we generate a cached error in Drupal rendering it unresponsive (500), you'd expect Drupal Console to be still responsive to be able help you rebuild the caches. The tool Drush seems to be able to handle these situations better and most of the time allows for a lot of the commands still being able to run. For completeness sake, I

[2017-03-08 15:59] jmolivas commented on #3214
@ohthehugemanatee can you try to update DrupalConsole using composer
[code]
Not sure why you have different version of the DR projects.

[2017-03-08 16:00] jmolivas commented on #3212
@yassintahtah are you using the Launcher aka global executable `drupal`?

If yes try updating that by executing `drupal self-update`

[2017-03-08 19:50] guiajlopes opened #3217 "Ask if user want to create config file on generate:form"
### Ask if user want to create config file on generate:form

[command:name] Short description
We should ask the user if they want to create a config file on generate:form command

### Problem/Motivation
Currently the generate:form just create the config file, sometimes we don't need it, so I think is a good idea ask the users if they want to create the file or not.

### Solution
Ask the user befor

[2017-03-09 00:41] miguel303 commented on #3217
PR sent at https://github.com/hechoendrupal/drupal-console/pull/3218

[2017-03-09 15:10] mikl commented on #3212
I'm seeing the same problem here.

[2017-03-09 16:26] mikl commented on #3212
After downgrading to 1.0.0-rc14, I can now use Drupal Console again. (Using Drupal 8.2.6).

[2017-03-09 21:37] neclimdul commented on #3179
Any chance of this fix getting fast tracked into a release? This isn't a warning in php 7.1 but actually a fatal error making those commands completely broken.

http://php.net/manual/en/migration71.incompatible.php

[2017-03-10 06:21] #3092 closed

[2017-03-10 07:36] Jelle-S commented on #2787
I have the same problem.

Drupal Core: 8.3.0-beta1
Drupal Console: 1.0.0-rc16

[code]
Adding `$this->container->get('module_handler')->loadAll();` as the first line in `Drupal\Console\Command\Site::execute` fixes the problem. PR will follow.

[2017-03-10 11:08] jchatard opened #3220 "[console] Using the logger service creates invalid location entries in watchdog"
### Problem/Motivation
I'm developing drupal console commands, which use the `$logger` to log some information. When inserting a new log message, warnings appear, but I can't see it properly because clicking the log entry from the watchdog listing, generate a exception.

[code]

The **location** entries when invoking the logger from a drupal console command are: `http://:/`, which generates the ex

[2017-03-10 13:15] mariano-dagostino opened #3221 "[console] There is no hostname available when running requests using drupal console"
### Problem/Motivation

I'm reviewing this patch: https://www.drupal.org/node/2755497 but I'm not really sure this is a drupal core issue or a console issue.

The relevant comment #12 says:

I tried with drush, and it uses 'default' as default hostname. Is drupal console using something similar?

[2017-03-10 14:37] darkdim commented on #2913
Hi!
I executed this command. This function is not in the list. How to fix it?

[2017-03-10 15:01] nvaken opened #3222 "(Unconfirmed critical) Base path messed up by Drupal console after cache rebuild"
**Steps to reproduce.**
_Note that database:dump is probably easily replaced by any other command, just as long as Drupal Console gets run right after the caches have been emptied._

1. `drupal cr all`
2. `drupal database:dump --file=test.sql`

Now check your Drupal install, most notably assets that are being loaded (images, CSS, JS, etc..). Probably all or just some assets will have your Drupal C

[2017-03-10 15:05] jchatard commented on #3220
As mentioned in the issue #3221  this might as well be a related issue: https://www.drupal.org/node/2755497

[2017-03-10 16:00] igasi opened #3223 "`config:import:single` not works"
### Problem/Motivation
I was running the command `drupal config:import:single config.name --file=path/to/config.name.yml` and I got the message

[code]

Apparently, the configuration has been imported, but

* The information about the config.name not appears.
* Importing or overwriting the configuration was not performed

**Details to include:**
- Why are we doing this? Above all, a summary should

[2017-03-11 06:27] dolfandringa commented on #1759
+1

[2017-03-11 14:27] petiar opened #3226 "The site:new command does not work as per documentation."
### [site:new] The site:new command does not work as per documentation.

### Problem/Motivation
I would like to install Drupal the most easiest way.

**Details to include:**
The documentation states:

`drupal site:new [arguments] [options]`, where arguments are directory and Drupal version.

I typed:

`drupal site:new . 8.2`

and got error saying:

`Too many arguments, expected arguments "command"

[2017-03-11 14:35] petiar commented on #3212
Same error here. With any command, including the self-update.

[2017-03-11 17:36] jmolivas commented on #3212
@mikl @petiar try that DrupalConsole on the site and the Launcher to share the same version.

[2017-03-12 23:42] anakinjay commented on #2019
+1 seeing this exact same thing.

[2017-03-12 23:42] anakinjay commented on #2019
`Drupal Console (0.11.3) | Supports Drupal (8.0.x) | Drupal is not installed
===========================================================================

Copy configuration files to user home directory.

[33m   drupal init --override[39m

Download, install and serve Drupal 8

[33m   drupal chain --file=~/.console/chain/quick-start.yml[39m

Create a new Drupal project

[33m   drupal site:new d

[2017-03-12 23:43] anakinjay commented on #2019
I've tried in CMD, Hyper, and Git Bash... all giving the same issue.

[2017-03-13 04:14] hussainweb commented on #3212
Just a tip: Running `drupal self-update` in your Drupal installation directory or even in the directory with composer.json results in the error. Try running it from a completely unrelated location, like your home directory. I also had to use `sudo` so that it gets permission to overwrite it in the `bin` directory.

[2017-03-13 15:20] geerlingguy commented on #3202
Note that @jmolivas posted a kind-of workaround for this issue, at least with Vagrant-based environments, using `vagrant-exec`: [Executing Drupal Console commands on a project with DrupalVM using vagrant-exec plugin](http://jmolivas.com/executing-drupal-console-commands-on-a-project-drupalvm-using-vagrant-exec-plugin).

However, this bug still means I can't execute Drupal Console commands on any o

[2017-03-13 15:24] jmolivas commented on #3202
@nvaken  @geerlingguy I will take a look to the remote command execution of DrupalConsole.

[2017-03-14 13:46] mvc1095 opened #3227 "[generate:module] use dashes not underscores in TWIG template name"
### Problem/Motivation

Throughout Drupal the standard is to use dashes twig template filenames, but generate:module creates a twig file with underscores and so it has to create a hook_theme() function which includes the optional `template` parameter:

[code]

This will load the file `templates/my_module.html.twig`. However, Drupal core currently contains 472 .html.twig files, and not counting uni

[2017-03-14 22:45] mariano-dagostino commented on #3221
I did some research, and drush specficy this value in

[code]

[2017-03-15 16:57] michaellenahan commented on #3197
Hello there! I met @enzolutions in the sprint room at Drupalcamp Iceland, and asked if there was somehow I could help to get started contributing to DrupalConsole.

He pointed me to this ticket. I'm saying this to warn you I'm a newbie to contributing here ...

I have cloned drupal-console to ~/workspace/drupal-console and the drupal site I am running it from is ~/workspace/drupal.template.

When

[2017-03-15 17:06] michaellenahan commented on #3197
I'm not sure why I'm getting:
[code]
After all I can see the multisite:new command in the Repo. (It was added with this PR https://github.com/hechoendrupal/drupal-console/pull/2335/files)

[2017-03-15 17:23] brandonratz commented on #3197
@michaellenahan Do you have a Drupal codebase you're running this against?

[code]

What happens when you run `~/workspace/drupal-console/bin/drupal list`

[2017-03-15 17:55] michaellenahan commented on #3197
Could it be that there is something missing in the service discovery?

If we look here: https://github.com/hechoendrupal/drupal-console/tree/master/config/services/drupal-console we can not find any multisite.yml --- maybe that is why I am getting the error "command does not exist" ?

[2017-03-15 17:58] michaellenahan commented on #3197
Hi, @brandonratz

"What happens when you run ~/workspace/drupal-console/bin/drupal list"

[code]

[2017-03-15 18:19] brandonratz commented on #3197
Ahh yes, this because you're _not_ running the command against an initialized Drupal codebase. Sorry some of this is out of my realm of experience but I'll do my best to explain.

Drupal console needs to run as a dependency in your Drupal project. Installation docs are here: https://github.com/hechoendrupal/drupal-console

The project scaffold should look something like this:

[code]

If you run `

[2017-03-15 18:26] freelock opened #3228 "[yaml:merge] command requires target file to exist before merging"
### Problem/Motivation
When using `drupal yaml:merge target.yml source1.yml source2.ytml`, target.yml is supposed to get the merged yaml from the remaining passed filenames.

This works fine if target.yml exists - e.g. if you touch it first.

If target.yml does not exist, Drupal Console throws an exception:

[code]

[2017-03-15 20:38] s-robertson opened #3229 "[template] Use short array syntax in all templates"
### Problem/Motivation
Currently the templates in Drupal Console use a combination of the short and long array syntax. Sometimes, different syntaxes are even used in the same file. For consistency, one syntax should be used across all templates.

Short syntax makes the most sense as the Drupal core contributors have already decided to switch to short syntax for their coding standards and, as of 8.

[2017-03-15 20:43] #2787 closed

[2017-03-16 09:09] back-2-95 commented on #3186
For me this prevents deployments where codebase is created and then artifact tar is created.
Tar will fail when it hits to these broken symlinks.

[2017-03-16 15:53] michaellenahan commented on #3197
Thank you @brandonratz - it was exactly as you said - there was something wrong with my drupal installation - I re-downloaded https://github.com/drupal-composer/drupal-project and was able to see multisite:new in my list.

I was thus able to reproduce the problem you reported in your original post.

The problem is in src/Utils/Site.php:200

    if (isset($sites[$uri]) && is_dir($this->appRoot . "/

[2017-03-16 15:54] #3229 closed

[2017-03-16 16:00] jmolivas commented on #3226
We are talking about discarding site:new, module:download, theme:download and promote to use composer instead.

[2017-03-16 16:05] michaellenahan commented on #3197
https://github.com/hechoendrupal/drupal-console/pull/3232

[2017-03-16 16:26] geerlingguy opened #3233 "Drupal Console installation fails frequently (at least on Drupal VM)"
### Issue title

[ *installation* ] Installation frequently fails with 500 server error

### Problem/Motivation

During routine CI tests for Drupal VM, as well as installations on individuals' computers quite frequently, I get a 500 error when calling https://drupalconsole.com/installer

### How to reproduce

  1. Kick off a few Drupal VM instance installations within a minute of each other.
  2.

[2017-03-16 17:19] andyalonzo commented on #1759
same here after site server migrate.

[2017-03-16 18:07] ruloweb commented on #3222
I was trying to reproduce the issue, and noticed that it only appends for anonymous users. To keep in mind.

[2017-03-16 19:21] mchelen commented on #2785
I'm running into this same error on a non-VM Ubuntu 16.04
Drupal is installed via https://github.com/drupal-composer/drupal-project and I tried running in the root dir, `web` and `web/sites/default`

I have the drupal.phar version 1.0.0-beta5 installed to my user's home dir, and run it from there.

I tried https://github.com/hechoendrupal/drupal-console/issues/2785#issuecomment-252827321 but it ca

[2017-03-16 21:31] jmolivas commented on #3233
@geerlingguy yes, we had issues with the github limit. I will investigate how to fix this issue.

[2017-03-16 21:35] jmolivas commented on #2785
@mchelen can you update to latest launcher ?

[2017-03-16 22:58] mchelen commented on #2785
@jmolivas It looks like the Drupal codebase I'm using has its own copy of DC, so even though I had 1.0.0-rc16 installed on my path, it was using the local 1.0.0-beta5 when I was in that dir. I updated with "composer up drupal/console" and now seem to have 1.0.0-rc11 but it has a different error when I run it:
[code]

This might all be due to the particular template I'm using:
https://github.com/he

[2017-03-16 23:04] jmolivas commented on #2785
I just sent a PR https://github.com/hechoendrupal/drupal-console-launcher/pull/90 to the Launcher repository to avoid this issues and add compatibility with any DC version.

[2017-03-16 23:05] jmolivas commented on #2785
@mchelen I just sent a PR https://github.com/hechoendrupal/drupal-console-launcher/pull/90 to the Launcher repository to avoid this issues and add compatibility with any DC version.

[2017-03-16 23:54] chriscalip commented on #2751
https://github.com/hechoendrupal/drupal-console/issues/2751#issuecomment-277716314
quote : "@tomasHegi try instead running drupal from your site root directory vendor/bin/drupal"

This suggestion does not work.
Screenshot attach.
![bug-drupal-root](https://cloud.githubusercontent.com/assets/479454/24023384/f9bdf64e-0a79-11e7-9d02-dd0040a5da4c.png)

[2017-03-17 01:16] mchelen commented on #2785
@jmolivas Ok great, thanks!

[2017-03-17 13:38] Geomage commented on #3121
Same issue.

[2017-03-17 15:46] nvaken opened #3234 "Regenerate cached services files"
When introducing new changes to your package `console.services.yml` file, you'll need to make sure the `extend.console.services.yml` is updated as well. As far as I know, composer install or composer update will regenerate. But, in favor of easy development of your package, it would be nice to regenerate the file on-the-fly.

[2017-03-17 18:17] FatherShawn commented on #3212
I just hit this error with `vendor/bin/drupal` directly, not with the launcher on RC16

[2017-03-17 21:43] neclimdul commented on #3184
I don't see any reason to assume `config_installer` in contrib is deprecated. Its actually being actively maintained. It does however currently work for drush only.

It has its own installer task which ends up not getting the form state setup by the SiteInstallCommand. Drush actually wouldn't work either but Alex pulls the values out of `drush_get_option()` directly to work around that. As far as

[2017-03-18 15:22] delister commented on #2852
Hi! I have same problem. I read comment to `DrupalApi::drupal_rebuild `method (Line 318):

I so understand that so it should be.

I use `drush cache-rebuild` command.

[2017-03-18 21:58] spideep commented on #3212
@hussainweb your answer worked in my case. Thanks

[2017-03-19 06:47] mh9 commented on #3198
@aangelinsf I also find your steps to reproduce are exactly correct.  I can update drupal console.

However, according to the just published https://www.drupal.org/docs/8/update/update-procedure-in-drupal-8  `drupal self-update` in the site root directory  should update the drupal version. (Today I would hope to update to 8.27.) However it returns `[ERROR] Command "self-update", is not a valid com

[2017-03-20 19:55] chriscalip opened #3237 "Please reconsider regression of globally available drupal console."
Latest updates on drupal console; made the globally available drupal console just a launcher tool to find and execute DrupalConsole. This change, effectively means it is now requirement for Drupal Console to be installed on a per-site basis.

This requirement puts in difficulties for devs doing local,dev,prod workflow. As it effectively requires us to diverge codebases (composer json, vendor/libra

[2017-03-21 17:53] bonrita commented on #3058
`PHP Fatal error:  Call to undefined function _drupal_error_handler_real() in /home/bona/php_projects/drupal8/core/includes/bootstrap.inc on line 542
PHP Stack trace:
PHP   1. {main}() /usr/local/bin/drupal:0
PHP   2. require() /usr/local/bin/drupal:10
PHP   3. require() phar:///usr/local/bin/drupal/bin/drupal:3
PHP   4. Drupal\Console\Launcher\Utils\Launcher->launch() phar:///usr/local/bin/drupal

[2017-03-21 18:34] khananayat commented on #3212
PHP Fatal error:  Call to undefined method Drupal\Console\Core\Utils\ConfigurationManager::loadExtendConfiguration() in /var/www/drupal-8261/vendor/drupal/console-core/src/Application.php on line 284

[2017-03-21 18:51] jmolivas commented on #3212
@yassintahtah @khananayat https://github.com/hechoendrupal/drupal-console/issues/3212#issuecomment-285883126

[2017-03-21 20:41] Chi-teck opened #3238 "Make sure Console files are not vulnerable when loading through web."
Drupal Console recently has changed the way of installation. Rather than installing as a global CLI executable it turned to a local composer package. Unfortunately Drupal vendor directory is situated inside document root which makes it public accessible through the web. Since those files was never meant to be started by web server I propose we inspect all of them to prevent possible security issue

[2017-03-21 21:00] mmwebaze commented on #3058
@bonrita this might be a path issue. Make sure you don't have multiple composer installations in your path. I had that as an issue and when I resolved that it worked.

[2017-03-22 12:31] bonrita commented on #3058
@mmwebaze Thanks for the reply.
The problem is fixed when l upgrade from drupal 8.0 to 8.2.

[2017-03-23 12:47] JPustkuchen commented on #2913
Perhaps drupal console was installed via composer and is executed from another directory than the Drupal directory? In which directory do you call the drupal console command?

[2017-03-23 12:54] darkdim commented on #2913
Thanks, understood.
Installed through the composer, the commands appeared

[2017-03-23 16:31] xaqrox commented on #3079
Is there an issue somewhere with more information on whatever bugs caused this command to be removed?

[2017-03-24 08:23] CRYX2 commented on #3237
when installing Drupal Console as a dependency of the project is really a pain.

 It makes no sense to my mind, first install a global executable and then EVEN a local executable.

Drush has been operating globally for years without problems.

[2017-03-24 08:52] Jelle-S commented on #3216
We had a similar issue with config that was messed up during one of our deploys (we're using DC to execute our db updates etc). There was a reference to a dependency (entity type or something similar, don't know exactly what it was anymore) that no longer existed. Because an exception was thrown during what I presume is DC bootstrap, none of the DC commands were loaded (no cache rebuild or db upda

[2017-03-25 18:56] jmolivas commented on #3237
#### Why we did this?
Managing dependencies per project make it easy to avoid conflict between them. Since DrupalConsole share same dependencies that Drupal and it also bootstraps to interact with the container and registered services.

#### Answering some of your questions and replying the comments:

This could be a huge task because in order to provide a global executable DrupalConsole must chan

[2017-03-25 19:06] jmolivas commented on #3238
@Chi-teck we should definitely pay attention to this. Having the vendor directory on the public web directory should be avoided by the project itself I mean for Drupal composer template.

This issue could be addressed by using a project template like [drupal-composer/drupal-project](https://github.com/drupal-composer/drupal-project) but a practice like this will take time to be adopted, but we for

[2017-03-25 19:07] jmolivas commented on #3233
@geerlingguy any hint how to avoid the github limit restriction? I will try to do some investigation this weekend and next week during MidCamp.

[2017-03-25 19:25] Chi-teck commented on #3237
So now Drush recommends local installation as well. The main reason is upcoming Symfony update.
https://www.drupal.org/node/2712647

[2017-03-25 19:49] geerlingguy commented on #3233
@jmolivas - If you don't currently use OAuth to authenticate to the API, I think the rate limit is very low, like 60 requests per hour. If you use OAuth, then the limit is bumped to 5000/hour:

  - https://developer.github.com/v3/rate_limit/
  - https://developer.github.com/guides/getting-started/#authentication

[2017-03-25 20:02] geerlingguy commented on #3233
It looks like you may need to make some changes to:

  - https://github.com/hechoendrupal/drupalconsole.com/blob/ef9648d5122e7d4aa143016eef7df2e23a0dab74/modules/custom/github_data/src/GitHubDataService.php
  - https://github.com/hechoendrupal/drupalconsole.com/blob/ef9648d5122e7d4aa143016eef7df2e23a0dab74/modules/custom/github_data/src/Controller/InstallerController.php

Specifically, right now,

[2017-03-25 20:04] cburschka-pwc commented on #3237
I don't know your workflow of course, but I don't see the need for that divergence. Even if you don't want DC on the production site (and it doesn't really do harm if left in), you can add it as a dev dependency and thus limit its installation to dev environments.

[2017-03-27 19:55] chriscalip commented on #3237
Thank you all for the response. I am closing this issue because from what I can tell drupalconsole now is effectively a per-drupal installation setup and will remain so.
My hesitation on the new requirement was because I was not aware that composer.json can accept "dev dependency".
Thank you for the information, this option on composer.json lets me move forward with my projects using drupal consol

[2017-03-27 19:55] #3237 closed

[2017-03-28 07:31] jmolivas commented on #3208
@taeyoun your DC version is really old, you  should update it
https://github.com/hechoendrupal/drupal-console#update-drupalconsole-launcher

If that does not work try installing latest version
https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher

Starting on RC releases DrupalConsole must be installer per site you can find instructions at
https://github.com/hechoendrupal

[2017-03-28 07:47] jmolivas commented on #3206
@nvaken you can use `composer validate` to check your composer file.

I added a message when drupal is not loaded but a `composer.json` file is found
https://github.com/hechoendrupal/drupal-console-launcher/pull/90

<img width="715" alt="drupal-launcher-composer-validate" src="https://cloud.githubusercontent.com/assets/366275/24394229/03099972-1350-11e7-83b1-816e165d6d7d.png">

I will try to do th

[2017-03-28 07:49] jmolivas commented on #3203
@PatrickBauer we changed because an issue with metatag. We did this to avoid Drupal trying to load DC services on sites where DrupalConsole is not installed.

[2017-03-28 07:49] #3203 closed

[2017-03-28 07:57] jmolivas commented on #3227
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3241

[2017-03-28 07:57] #3227 closed

[2017-03-28 07:58] jmolivas commented on #3227
@mvc1095 Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-03-28 07:59] jmolivas commented on #3223
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3224

Thanks @igasi

[2017-03-28 07:59] #3223 closed

[2017-03-28 08:00] jmolivas commented on #3217
@guiajlopes  PR merged thanks @miguel303

[2017-03-28 08:00] #3217 closed

[2017-03-28 08:18] nvaken commented on #3206
That feedback seems a bit confusing, does it execute the validation?

Line `Use composer to validate your composer.json file.` seems to suggest that you execute it yourself.
Line `Executing: composer validate` seems to suggest it is now being executed, in contrary with the first line.

Sorry for nitpicking :)

[2017-03-28 08:20] jmolivas commented on #3206
Worry not what would be a better message ?

Instead of
[code]
Use something like:
[code]

[2017-03-28 08:26] jmolivas commented on #3227
PR to make sure generated twig file uses `-` instead of `_` https://github.com/hechoendrupal/drupal-console/pull/3242

[2017-03-28 18:02] worthwhileindustries commented on #3109
I can't even seem to get that far....? What am I doing wrong here. Why is it asking about a module??

[code]

### Version info

Drupal version: 8.2.6
Console version: 1.0.0-rc16

[2017-03-28 19:39] colans commented on #3109
@worthwhileindustries : That's the module where you'd like the configuration housed.  So when you enable the module, this configuration gets imported.

[2017-03-28 20:25] worthwhileindustries commented on #3109
Thanks for clarifying that. I guess I can copy from a module. Not sure why there is no option to export to sync or other directory AFAIK. Your workaround seems to work.

[2017-03-30 12:09] csandanov opened #3249 "Compatibility with Drush 8 when installing via composer"
The latest RC version of drupal console (1.0.0-rc16) depends on symfony/var-dumper v3.2.6. However, the latest stable drush (8.1.0) requires ~2.7 of var-dumper. So, they are not compatible when installing via composer.

Drush is a de-facto standard tool and many contrib modules already integrated with it. What is your standing on this compatibility issue? What is the recommended workaround? Do not

[2017-03-30 23:53] acbramley commented on #2842
The same issue appears with `symfony/css-selector` due to `behat/mink` having the dependency on `symfony/css-selector (~2.1|~3.0)`

If you run the following commands in this order it'll fix it:
[code]

Is there any reason drupal/console couldn't be upgraded to use (~2.8|~3.0) of both of these libraries?

[2017-03-31 06:46] nvaken commented on #3206
Sounds good to me! 👍

[2017-03-31 06:50] nvaken commented on #3222
Probably because most caching functions are (by default) only available for anonymous users. Still, since most setups will have way more anonymous users then authenticated, this remains critical I think.

[2017-03-31 07:09] jmolivas commented on #3249
Drupal Console does not require `symfony/var-dumper`
[code]

What I see is `drush` and `drupal console` requires `psy/psysh` and `drush` and `psy/psysh` requires `symfony/var-dumper` and this may be causing the conflict.

[2017-03-31 07:38] Chi-teck commented on #3249
Per the above note both _drush_ and _psych_ can work with _var-damper_ ~2.7. I am not sure why composer fails to resolve this.

The workaround is installing these packages at once.
`composer require drupal/console:~1.0 drush/drush`

[2017-03-31 08:00] csandanov commented on #3249
@Chi-teck thanks, the workaround helped.

Just in case the output when I install drush separately after installing console rc-16:

[code]

[2017-03-31 08:00] #3249 closed

[2017-03-31 08:52] csandanov opened #3250 "DrupalConsole rc16 doesn't work"
When I  execute `drupal` command in the drupal 8 root directory (installed via composer template) I get:
[code]

When I try the same with drupal downloaded via drush:
[code]

Any suggestions?

[2017-03-31 13:41] pfrenssen commented on #3238
Why would you install Drupal console on a production server? It is a development tool.

[2017-03-31 14:34] Chi-teck commented on #3238
@pfrenssen Some commands like `cache:rebuild` or `site:status` make sense on production environment as well. The same is true for custom commands built on top of Drupal console API.

[2017-03-31 14:41] jmolivas commented on #3238
@pfrenssen totally agree with @Chi-teck most of the debug commands `router:debug` `container:debug` `config:debug` are useful on production.

My short term goal is to extract `generate:*` commands as an external project and define at the ` require-dev` since those commands should not be deployed to production.

[2017-03-31 15:01] pfrenssen commented on #3238
That sounds like a really good idea!

[2017-04-05 14:37] jmolivas commented on #3250
@csandanov  Is the DrupalConsole Launcher `drupal` same version as DrupalConsole on the site?

[2017-04-05 15:49] csandanov commented on #3250
How can I check it? I just installed drupal console via composer:

[code]

You can reproduce it as:
[code]

[2017-04-05 16:09] jmolivas commented on #3250
DrupalConsole must be installer per-site (composer global require is not allowed)
https://docs.drupalconsole.com/en/getting/composer.html

We still provide a global executable aka Launcher
https://docs.drupalconsole.com/en/getting/launcher.html

[2017-04-06 05:16] csandanov commented on #3250
Ok, thanks for the clarification. I installed the Launcher as described in the documentation but when I go to drupal root (downloaded via drush) and run `drupal` it gives me:

[code]

What am I doing wrong?

[2017-04-06 07:57] kgaut opened #3253 "Drupal console not working when composer file is in docroot"
I've kind of the same issue that #3250 but with a specific setup.

I've drupal laucher installer globally :

[code]

With many of my drupal website, console is working fine. But for a specific project, the composer.json file is in drupal docroot (not my choice).
[code]

Sample of my composer.json file :

[code]

when I cd in web directory and I try to use any console command here's the output :

[

[2017-04-06 10:49] kgaut commented on #3253
I've been digging a bit.

it seems that `Drupal\Console\Core\Bootstrap\DrupalConsoleCore::root` is returning the wrong path (it contains `web`)

And in `Drupal\Console\Bootstrap::__contruct` both `$this->root` and `$this->appRoot` cointain 'web' too.

[2017-04-06 12:15] cburschka-pwc opened #3254 "[module:install] does not check version dependencies"
To reproduce:

- create a module with this dependency: `- drupal:system (>=8.3.0)`
- install a Drupal 8.2.7 site.
- visit /admin/modules to verify that the module is not installable: `Requires: System (>=8.3.0) (incompatible with version 8.2.7)`
- run `drupal module:install` in the console

Expected:

- The module fails to install due to broken requirements.

Actual:

- The module is installed suc

[2017-04-07 07:37] jmolivas commented on #3253
@kgaut we are using the https://github.com/webflo/drupal-finder project to detect the drupal site.

[2017-04-07 07:38] jmolivas commented on #3250
@csandanov This is ok please read previous comment https://github.com/hechoendrupal/drupal-console/issues/3250#issuecomment-291912031

[2017-04-07 07:41] jmolivas commented on #3250
The launcher does not provide commands (still have some but those will go away on the next release) only `self-update` will be kept.

And DrupalConsole must be installer per site this is why you are getting this message:
[code]

We can probably improve the message to  something like:
[code]

[2017-04-07 07:48] csandanov commented on #3250
@jmolivas so what's the point of this launcher? just to show a message that drupal console must be installed per each site?

[2017-04-07 08:05] csandanov commented on #3250
Ok, I think I got it – launcher helps to execute `drupal` without specifying the full path to the per project's console. Thanks for your help, Jesus.

[2017-04-07 08:05] #3250 closed

[2017-04-07 08:10] jmolivas commented on #3250
Exactly @csandanov the idea of the launcher is to saving you time to figure out where are you located within the project and where is the `vendor/bin/drupal` binary and just type `drupal`.

[2017-04-07 09:31] nvaken commented on #3175
I've tried this a little while ago, though this did not seem to work. The following is a message I wrote a while back on Gitter, still applies for this issue:

Just changed my command tags in both drupal/console/extend.console.services.yml and my/package/console.services.yml from
[code]
to
[code]
That should suffice, right? Still, when renaming settings.php to make sure DC sees my install as unins

[2017-04-07 09:50] roman-yakimkin opened #3255 "Error upon trying to execute Drupal Console."
I installed Drupal 8 into on my localhost, working under Windows 7 with OpenServer.
After it I tried to install Drupal Console using Composer.
Namely, this way

`composer global require drupal/console:@stable
`
It installed without errors.
But when I'm trying to execute Drupal Console (with command "drupal"), there is an error on the console:

`Fatal error: Class 'Drupal\Console\Bootstrap\Drupal'

[2017-04-07 13:18] hanoii opened #3256 "[config:export] doesn't seem to be removing configurations when a content type is removed"
I removed the default Article content type and Tags vocabulary out of a normal install and drupal a `drupal ce` was not removing the config files. I was able to work around this by cleaning the sync dir first and then doing ci.

However, `drush cex` does remove them, which is odd, I thought the export was something out of drupal and the consoles were leveraging that, so that's why I think it could

[2017-04-07 14:45] jmolivas commented on #3255
@roman-yakimkin DrupalConsole must be installed per site. Install Drupal Console using `composer global require` is not supported.

More info at: https://docs.drupalconsole.com/en/getting/project.html

[2017-04-07 14:46] jmolivas commented on #3256
Thanks for reporting looking at this issue.

[2017-04-07 14:53] jmolivas commented on #3175
@nvaken can you remind me why adding commands on external libraries did not work for you?

[2017-04-08 14:39] tnfno commented on #2689
This is a real issue.  To remove and edit the files related to a custom entity can be done manually, a more difficult task is that the entity also leaves a lot of data in the database, some of it on BLOBS that are difficult to edit manually.  If this is not cleaned up, it causes all kinds of problems, one of them beeing that the module defining the entity can no longer be uninstalled (can be fixed

[2017-04-08 21:34] jmolivas commented on #3222
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3248

[2017-04-08 21:34] #3222 closed

[2017-04-08 21:36] jmolivas commented on #3255
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-04-08 21:36] #3255 closed

[2017-04-08 21:37] jmolivas commented on #3214
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-04-08 21:37] #3214 closed

[2017-04-08 21:40] jmolivas commented on #3197
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3232

[2017-04-08 21:40] #3197 closed

[2017-04-09 19:02] jmolivas commented on #3234
@nvaken The files can be re-generated by executing `drupal cr all` command.

[2017-04-09 19:06] cburschka-pwc commented on #3234
Note that an outdated service cache will block the bootstrap (and thus cr
all) in many cases. I'm not sure if there's any way to solve that within
DC, though.

[2017-04-09 19:12] jmolivas commented on #3234
I added some logic to read if command is `cr` `cache:rebuild`
https://github.com/hechoendrupal/drupal-console/blob/master/src/Bootstrap/Drupal.php#L63 and rebuild re-generate the file.

[2017-04-09 23:45] jmolivas commented on #3212
This issue will go away once we release new version since Launcher will not include commands other than self-update and will not depend on `drupal/console-core`

[2017-04-09 23:45] jmolivas commented on #3234
This PR addresses this issue https://github.com/hechoendrupal/drupal-console/pull/3263

[2017-04-09 23:49] jmolivas commented on #3234
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-04-09 23:49] #3234 closed

[2017-04-10 12:48] skvskv commented on #1759
+1

Same after server migrate. To me it somehow seems like D8 issue, though.

[2017-04-10 15:13] neclimdul commented on #1759
I think this issue is relevant, clearly there is something wrong with Console apart from the other install methods. There is a minor Drupal core issue in that it fails poorly when the site isn't setup correctly so the error message leaves you wondering "well... what is actually broken?" but Console left it that way so its worth fixing.

[2017-04-10 16:30] neclimdul commented on #3233
Not familiar with how DrupalVM works to install stuff but Composer already does several things to work around the rate limiting. You might use it to pull it down or look at how it works to work around the problem.

https://github.com/composer/composer/issues/4884

[2017-04-10 17:56] jmolivas commented on #2689
According to an slack comment

![slack](https://monosnap.com/file/1KKNQWhyE8Ec8tqIgxJ3uAx4vkkYic.png)

This link includes the fix
http://drupal.stackexchange.com/questions/187168/remove-entity-type-without-module-uninstall

Code to implement
[code]

[2017-04-10 18:49] AlexKomm opened #3264 "Drupal\Console\Bootstrap\Drupal::boot method causes 404 errors"
### [console] Drupal\Console\Bootstrap\Drupal::boot method causes 404 errors

Every console command causes 404 errors being logged in watchdog

In Drupal class there is a boot method where Request object is created
($request = Request::create($uri, 'GET', [], [], [], ['SCRIPT_NAME' => '/index.php']);).

Passing index.php as part of the uri string causes ResourceNotFoundException to be thrown in Ro

[2017-04-11 10:01] smith-stevan commented on #3212
Just try to run `drupal-self-update` in non drupal directory, it works for me.

[2017-04-11 19:56] jmolivas commented on #3212
@smith-stevan did you installed globally using the `launcher` or `composer global require`

[2017-04-11 23:51] codesmithsf opened #3266 "[generate:plugin] Use ModifiedResourceResponse instead of ResourceResponse"
For the [generate:plugin:rest:resource] command, the templated code has this line at the end of each of HTTP state/verb functions:

`return new ResourceResponse("Implement REST State HTTP_STATE!");`

I believe ResourceResponse should be ModifiedResourceResponse for the POST, PATCH and DELETE states. See

https://api.drupal.org/api/drupal/core!modules!rest!src!ModifiedResourceResponse.php/8.3.x

[2017-04-11 23:55] codesmithsf commented on #3266
And actually DELETE should be this

`return new ModifiedResourceResponse(NULL, 204);`

since no Body content is returned.

[2017-04-12 07:28] jmolivas commented on #3266
@codesmithsf are you planning to send a PR to have this fixed?

[2017-04-12 07:39] #3264 closed

[2017-04-12 07:39] jmolivas commented on #3264
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-04-12 09:26] smith-stevan commented on #3212
@jmolivas `composer global require`

[2017-04-12 15:37] jmolivas commented on #3212
did you follow instructions at => https://docs.drupalconsole.com/en/getting/project.html

[2017-04-12 18:58] codesmithsf commented on #3266
Sure, I can do that. Will get to it in the next day or two. Thanks.

[2017-04-14 06:14] nvaken commented on #3175
Hi @jmolivas! I've got a custom written library, containing three different commands. I would like to make these available when Drupal is not installed. So, I undertake the following steps to try out above:

1. I adjust my `console.services.yml` file and rename the `tags` attribute from:
[code]
To:
[code]
2. To make sure Drupal Console caches these new tags in it's own `vendor/drupal/console/exten

[2017-04-14 14:20] nvaken opened #3268 "Support multiple output formats"
Currently, processing any data from the output of DC is a cumbersome task. Nothing is formatted in a decent way, except for human reading. I'd expect a `--format` flag in which you're able to define which output format you're expecting.

For example, running `site:debug` could look like following:

[code]
Or:
[code]
# Suggested formats

- JSON
- var_export / php
- yaml

[2017-04-14 14:38] jmolivas commented on #3175
@nvaken The rebuild is on master and will be on next release.

[2017-04-14 14:45] nvaken commented on #3175
Ah, you mentioned in Gitter that it was already released in RC16, hence the confusion. I'll check it out in next release.

[2017-04-14 17:17] webflo commented on #3253
@kgaut Can you open an issues in https://github.com/webflo/drupal-finder? Do you have another composer.json file above the web folder?

[2017-04-14 17:37] webflo commented on #3253
I looked at the issue, and there is nothing wrong in Drupal Finder. Drupal Finder has drupalRoot (location of DRUPAL_ROOT) and composerRoot (the location of composer.json). Its both ``/private/tmp/drupal-project/web/`` in my test. This is correct. Drupal Console assumes that composerRoot + '/vendor' is the location of the vendor folder. But the location is configurable in composer.

[2017-04-14 18:41] webflo commented on #3253
https://github.com/webflo/drupal-finder/pull/16 will help to resolve this issue, but some refactoring in drupal console is required to make it work.

[2017-04-15 06:47] david-garcia-garcia opened #3269 "Fatal error when using opache.file_cache_only=1"
### Fatal error when using opache.file_cache_only=1

[ command:site-install] Short description

### Problem/Motivation
Still needs deeper investigation. Just reporting as-is for now.

In PHP 7.1, when using opcache.file_cache_only=1 site install will break with the following exception:

ArgumentCountError: Too few arguments to function Drupal\Console\Bootstrap\Drupal::boot(), 0 passed in C:\projec

[2017-04-15 06:52] david-garcia-garcia commented on #3269
Looks like a BC breaking change in PHP 7.1:

http://php.net/manual/en/migration71.incompatible.php

The weird thing is that it only shows up with some opcache filecache related ini setting...

[2017-04-15 07:01] david-garcia-garcia commented on #3269
This was fixed in head already:

https://github.com/hechoendrupal/drupal-console/commit/8d5a8a98c3eda4939f28a44f5bdcf4b597c13727

[2017-04-15 07:01] #3269 closed

[2017-04-15 12:50] anavarre opened #3270 "[create:terms] command isn't available even when the taxonomy module is enabled"
If I'm to believe #3159, the `create:terms` command is disabled when the taxonomy module is not installed. I just noticed this doesn't seem to work exactly as anticipated:

[code]

But

[code]
The expected behavior would be to have `create:terms` available when the taxonomy module is installed.

[code]

[2017-04-15 12:52] anavarre opened #3271 "[create:vocabularies] ArgumentCountError: Too few arguments to function Drupal\Component\Utility\Random::sentences()"
Tried creating vocabularies with 8.4.x but this didn't work:

[code]
I also tried other values than the default values, but this doesn't work any better. It always fail on `Enter the maximum number of words in vocabulary names`

[code]

[2017-04-15 13:05] cyberwolf opened #3272 "[console] less precise version requirement of doctrine/collections"
Currently exactly version 1.3.0 of doctrine/collections is required. Could this be expressed more loosely, e.g. ~.1.3, so if other libraries require e.g. ~1.4 this can still be installed?

[2017-04-18 04:29] csandanov commented on #3223
When I execute

[code]

I get ` [ERROR] Value can not be empty`, worked fine before with the stable version. Is this the same issue? Using RC-16 version of console. Should I use dev-master from composer to fix it?

[2017-04-18 04:50] csandanov commented on #3223
After upgrading to dev-master the command stopped working at all:

[code]

[2017-04-18 14:31] jmolivas commented on #3223
@csandanov can you try rebuild caches `drupal cr all`

[2017-04-18 15:36] jmolivas commented on #3271
@anavarre can you try `drupal cr all`

I tested on master and is fixed, make sure you test it with next release ETA this week.

[2017-04-18 15:37] jmolivas commented on #3270
I tested on master and is fixed, make sure you test it with next release ETA this week.

[2017-04-18 15:39] jmolivas commented on #3268
We implemented something like this on the `site:status` command
[code]

[2017-04-18 15:40] jmolivas commented on #3268
I am really interested on implement this feature globally.

[2017-04-18 16:40] csandanov commented on #3223
@jmolivas didn't help

[2017-04-18 21:51] jmolivas commented on #3223
@csandanov I will try and ping you back

[2017-04-19 06:34] csandanov commented on #3223
@jmolivas thank you, you can reproduce the error by running [Drupal 8 tests](https://github.com/wodby/docker4drupal/blob/master/test/8/7.1/test.sh) from docker4drupal project, just uncomment the tests and run `make test drupal=8 php=7.1` from the repository root. The image with Drupal code (installed via composer template) is wodby/drupal:8-7.1

[2017-04-19 10:33] Alluuu opened #3275 "[generate:entity:content] creates translation elements when no translation chosen"
I am not yet extremely familiar with how entities are supposed to work, but for my content entity I chose it to be non translatable, yes revisionable and have no bundles.

However the created files have some translations related content:
In CustomEntity.php preSave() function there's translations related code, and the Entity has langcode field.
It has created CustomEntityRevisionTranslationForm.ph

[2017-04-19 12:05] tdm4 commented on #3186
We have this problem too. We're using Atlassian Bamboo so broken symlinks basically prevents an artifact from being created. It appears these symlinks exist in the git repo itself. If you git clone it and look in bin, the symlinks are there and also broken because they link to a ../vendor directory that does not exist. Best thing to do would be to remove the symlinks from the git repo.

[2017-04-19 14:23] jmolivas commented on #3186
@tdm4 exactly, we need to remove those symlinks and also add `bin/php-parse` and `bin/psysh` to the `.gitignore` file.

[2017-04-19 19:40] jmolivas commented on #3186
PR sent https://github.com/hechoendrupal/drupal-console/pull/3276

[2017-04-19 19:42] jmolivas commented on #3186
I removed the symlinks, these will be created by composer once composer require `drupal/console` is executed.

[2017-04-19 20:16] #3186 closed

[2017-04-19 20:32] #3272 closed

[2017-04-20 13:02] nvaken commented on #3175
Okay, I just installed the latest HEAD from `master`. I now notice that my commands show up in `extend.console.uninstall.services.yml`, but still, these commands do not show up in `drupal list`?

[2017-04-20 13:54] nvaken commented on #3268
Just to add another use case (of many). We'd be interested in fetching the output from `user:login:url` to use after deployment simulation we run locally, so we allow our developers to quickly sign into the setup. But currently, the output shows:

[code]
Which is really awful to parse.

[2017-04-20 14:09] nvaken commented on #3234
Just downloaded the latest `master` but seems impossible for me to make sure `extend.console.*.services.yml` files are being regenerated.

[2017-04-20 18:20] jmolivas commented on #3234
We have some PRs on the composer plugin I will be reviewing and merging before DrupalCon.

[2017-04-20 18:21] jmolivas commented on #3234
@nvaken this is the repo where all this is happening => https://github.com/hechoendrupal/drupal-console-extend-plugin

[2017-04-20 18:22] jmolivas commented on #3175
@nvaken I will be testing this with latest dev-master of drupal/console and drupal/console-core and ping you  back.

[2017-04-20 20:52] jmolivas commented on #3268
@nvaken  This totally make sense to support `--format=json` for some of the commands we can probably create a list of the commands we want to have fixed and assigned them a priority.

[2017-04-21 06:52] nvaken commented on #3175
@jmolivas I just found out I should also update `drupal/console-core`. Which I should've realised in the first place. So, I managed to install the core to the latest version by adding the following to my `composer.json`:

[code]

The `bootstrap: uninstall` now seems to work but only if I run it directly from `vendor/bin/drupal`, using the launcher it won't work.

Also, I thought the command would

[2017-04-21 12:54] parijke opened #3277 "[ console ] drupal command gives no ouput"
### Problem/Motivation
I have two 8.3.1 D8 installations. Both are in a /web subdir and drush status gives the status report on the install. But when I run the (globally installed) drupal command, it executes (I think) but it end with no output at all.

### How to reproduce
composer global require drupal/console --prefer-dist --optimize-autoloader
add /.composer/vendor/drupal/console/bin to the pa

[2017-04-21 13:10] jmolivas commented on #3175
Lets make `uninstalled` work on both and by default only when installed.

[2017-04-21 14:06] nvaken commented on #3175
Sounds like a plan! And any idea why the launcher does not pick up the commands?

[2017-04-24 01:49] oxyc opened #3279 "[command:init] Current release is broken following install instructions"
### Problem/Motivation

Since a few hours ago [Drupal VM travis](https://travis-ci.org/geerlingguy/drupal-vm/builds/225003977) started failing with _Could not find Drupal in the current path._ on the following command

[code]

### How to reproduce

Follow the _Install Drupal Console Launcher_ steps.

[code]

[2017-04-24 01:53] geerlingguy opened #3280 "Something in rc17 release breaks Drupal VM's CI builds"
### Issue title

The issue title should comply with the following structure:

[ *console* ] Drupal VM's CI builds started failing a few hours ago on April 23, 2017 (seems to coincide with the Drupal Console rc17 release...).

### Problem/Motivation

Besides the dreaded 500 error that pops up from time to time (https://github.com/hechoendrupal/drupal-console/issues/3233), Drupal VM's CI tests are n

[2017-04-24 01:54] geerlingguy commented on #3280
Closing as a duplicate of https://github.com/hechoendrupal/drupal-console/issues/3279

[2017-04-24 01:54] #3280 closed

[2017-04-24 03:18] jmolivas commented on #3279
@oxyc `init` command is no longer valid.

[2017-04-24 03:56] oxyc commented on #3279
Thanks for the clarification!

[2017-04-24 03:56] #3279 closed

[2017-04-24 08:36] ismailcherri opened #3281 "[console] Error when running any command"
I'm getting the following error when I try to run any console command:
[code]

Console version: 1.0.0-rc17
Drupal version: 8.3.1
[code]

[2017-04-24 13:38] roman-yakimkin commented on #3255
Hello.
Sorry for troubling but I had to reopen this issue.
The reason of it in an error displaying when I'm trying to run the console.

`
TypeError: Argument 2 passed to Drupal\Console\Command\Config\ExportCommand::__construct() must implement interface Drupal\Core\Config\StorageInterface, none given in Drupal\Console\Command\Config\ExportCommand->__construct() (line 43 of D:\OpenServer\domains\my

[2017-04-24 13:40] roman-yakimkin opened #3282 "Error upon running Drupal Console after Drupal was updated."
Hello.
Sorry for troubling but I had to open this issue.
The reason of it in an error displaying when I'm trying to run the console.

`
TypeError: Argument 2 passed to Drupal\Console\Command\Config\ExportCommand::__construct() must implement interface Drupal\Core\Config\StorageInterface, none given in Drupal\Console\Command\Config\ExportCommand->__construct() (line 43 of D:\OpenServer\domains\mysi

[2017-04-24 13:57] n1ru4l opened #3283 "[console] Error "You have requested a non-existent service "console.configuration_manager" when running drupal command"
### Issue title

### Problem/Motivation
Every command I enter results in the following error:
[code]

**Details to include:**
[code]
### How to reproduce
Install composer-drupal-boilerplate, install dependencies and run:
[code]

[2017-04-24 14:32] n1ru4l commented on #3283
When I run the command in the drupal root I get teh following error:
[code]

[2017-04-24 16:25] geerlingguy commented on #3233
Hitting this a lot today as well (possibly due to people setting up dev environments at DrupalCon...): when I visit the installer page manually, I get:

[code]

[2017-04-24 16:55] oxyc commented on #3233
Another solution is to [enable caching for `\Github\Client`](https://github.com/KnpLabs/php-github-api#cache-usage). This [should add `If-Not-Modified-Since` headers](http://docs.php-http.org/en/latest/plugins/cache.html) to the requests and according to [this comments](https://github.com/KnpLabs/php-github-api/issues/541#issuecomment-287547407) 304 responses do not count against your rate limit.

[2017-04-24 23:06] AndyD328 commented on #3282
Having the exact same error here.

I tried removing vendor and re-installing everything as well as doing a self-update but it made no difference.
Rolling back to rc16 has worked as a temporary fix with d 8.3.1

`TypeError: Argument 2 passed to Drupal\Console\Command\Config\ExportCommand::__construct() must implement interface Drupal\Core\Config\StorageInterface, none given in /var/www/sites/d8/the

[2017-04-25 08:23] nvaken commented on #3175
Since this seems to have been released (partly?) can you let me know if with `rc17` they work in both states now?

[2017-04-25 10:10] Christofferberg commented on #3091
I suddenly can't use any drupal console commands either, getting a similar bug.

Error: Call to a member function getId() on null in /var/www/docroot/core/lib/Drupal/Core/Cache/Context/SessionCacheContext.php on line 25 #0 /var/www/docroot/core/lib/Drupal/Core/Cache/Context/CacheContextsManager.php(118): Drupal\Core\Cache\Context\SessionCacheContext->getContext(NULL)

Drupal core 8.3.1
Drupal Cons

[2017-04-25 10:46] Christofferberg opened #3284 "Sudden error: Call to member function"
I suddenly can't use any drupal console commands, and I don't understand what the issue is.
Work's perfectly on my other installations.

I'm on a Docksal Mac environment.

Error: Call to a member function getId() on null in
/var/www/docroot/core/lib/Drupal/Core/Cache/Context/SessionCacheContext.php on line 25 #0 /var/www/docroot/core/lib/Drupal/Core/Cache/Context/CacheContextsManager.php(118): Dru

[2017-04-25 11:12] ismailcherri commented on #3281
similar to https://github.com/hechoendrupal/drupal-console/issues/3282

[2017-04-25 13:03] xieyanxy9 commented on #3148
https://docs.drupalconsole.com/en/getting/launcher.html
**Install Drupal Console Launcher**
curl https://drupalconsole.com/installer -L -o drupal.phar
mv drupal.phar /usr/local/bin/drupal
chmod +x /usr/local/bin/drupal
**Update DrupalConsole Launcher**
drupal self-update

[2017-04-25 13:11] jmolivas commented on #3255
@roman-yakimkin which version of DrupalConsole are you using ? A re you using the Launcher aka global executable?

[2017-04-25 13:13] jmolivas commented on #3091
@Christofferberg Drupal Console `1.0.0-alpha1` is kinda outdated  could you update to latest version https://docs.drupalconsole.com/en/getting/project.html

[2017-04-25 13:14] jmolivas commented on #3148
@xieyanxy9 not sure about what was your comment ?

[2017-04-25 13:33] Christofferberg commented on #3091
@jmolivas Sorry, that was my local version, my containerized drupal console is running **version 1.0.0-rc16** and it's the same.

[2017-04-25 14:01] anavarre commented on #3271
Unfortunately I'm still seeing the issue even after upgrading (also rebuilt caches just in case)

[code]

[2017-04-25 14:02] anavarre commented on #3270
Confirmed upgrading fixes the issue.

[code]

[2017-04-25 14:02] #3270 closed

[2017-04-25 14:41] roman-yakimkin commented on #3255
I don't  know, which version I'm using.

Several times I press this command :
`
 drupal self-update
`

and each time I see the following:
`
Checking for updates from version: "1.0.0-rc16-2-g56546c5"
Updated from version "1.0.0-rc16-2-g56546c5" to version "1.0.0-rc17".
`

Size of the drupal.phar file is 157600 bytes.

Moreover, now the drupal command isn't executed correctly, but it writes
`
Could

[2017-04-25 19:06] kgaut commented on #3253
Thanks for your input !

I'll try your PR on the website and try to refactor Console.

[2017-04-26 09:34] peschee commented on #3281
Same issue here (same Drupal console and Drupal core versions).

[2017-04-26 16:22] jmolivas commented on #3255
@roman-yakimkin exactly that di not happened before, we are moving to a per-site installation, you must run this within a Drupal site I mean `cd /path/to/drupal` and the execute `drupal` from there or use `drupal --root=/path/to/site`

[2017-04-27 13:56] alexbarrett commented on #1916
This still seems to be an issue. I wanted to uninstall the core search module but was unable to do so with Drupal Console.

    $ drupal mou search

    [ERROR] Unable to uninstall modules "search" because are required by "standard"

Uninstalling via the admin/modules/uninstall page works fine.

[2017-04-27 18:25] jmolivas commented on #3284
@Christofferberg can you try update to latest RC-17 and after that execute `drupal cr` command to clear DrupalConsole cache.

[2017-04-27 18:27] jmolivas commented on #3283
@n1ru4l can you try update to latest RC-17 and after that execute `drupal cr` command to clear DrupalConsole cache.

[2017-04-27 18:41] mattwebdev commented on #3282
im having this issue as well, im on a per-site installation of drupal console. running self-update returns "command not found" - Drupal Console (1.0.0-rc17)

[2017-04-27 21:15] dgpalmer commented on #3277
I am getting this too. My drupal console was working fine when I was on 8.2.x but as soon as I updated to 8.3 it stopped producing output.

[2017-04-27 23:44] jmolivas commented on #3282
@mattwebdev `drupal self-updare` must be run outside of the drupal root.

[2017-04-28 07:20] ao2 commented on #3255
@roman-yakimkin does clearing the caches help?

I too was seeing the error about `ExportCommand` after updating to 1.0.0-rc-17 and I bisected it and found that it started from commit https://github.com/hechoendrupal/drupal-console/commit/580b60fdd2b72d2ab15d203c0d0cecda31530c7e i.e. when a new service gets used by a class.

However, after rebuilding the caches with `./vendor/bin/drupal cache:rebui

[2017-04-28 10:24] j3ll3nl commented on #3282
When i run self-update outside of the drupal root at the "Whereis drupal" location is says:
Checking for updates from version: "1.0.0-rc16-2-g56546c5"
Updated from version "1.0.0-rc16-2-g56546c5" to version "1.0.0-rc17".

But then it stays at the same version.

[2017-04-28 16:41] g3r4 opened #3287 "Remove previous config YAML files when exporting configuration."
### Remove previous config YAML files when exporting configuration.

[ console ] When you export files from a site using config:export the export command only adds files, it never removes them.

### Problem/Motivation
I noticed that whenever you remove a field or something that should remove a YAML file, it never gets removed when you export this config using Drupal console, I think that the recom

[2017-04-28 18:14] #3287 closed

[2017-04-28 20:12] dgpalmer commented on #3282
I am getting the same thing @j3ll3nl

[2017-04-28 20:43] jmolivas commented on #3283
@n1ru4l Make sure the launcher is updated as well.

[2017-04-29 01:54] #3174 closed

[2017-04-29 06:20] jmolivas commented on #3271
@anavarre can you change directory out of the drupal site and execute `drupal self-update`

[2017-04-29 20:58] JulienD commented on #3255
On an old project, I updated the Drupal console following the documentation using composer inside my project and got the same error.

Thanks to @ao2, the cache:rebuild all allowed me to use the console again

[code]

[2017-04-30 17:32] jmolivas commented on #3255
@ao2 DrupalConsole is caching commands that is why you need to execute `cr` command to rebuild cache with the new version of the commands included on the update.

[2017-04-30 19:52] jmolivas commented on #3281
Try updating to latest DrupalConsole, executing from the site root directory
[code]

Also try updating Launcher,  executing from the outside of site root directory:
[code]

And finally rebuild cache executing from your drupal site:
[code]

[2017-04-30 19:52] jmolivas commented on #3282
Try updating to latest DrupalConsole, executing from the site root directory
[code]

Also try updating Launcher,  executing from the outside of site root directory:
[code]

And finally rebuild cache executing from your drupal site:
[code]

[2017-04-30 19:56] jmolivas commented on #3282
@j3ll3nl and @dgpalmer hash was removed and will be fixed on next release RC18.

<img width="772" alt="drupal-self-update" src="https://cloud.githubusercontent.com/assets/366275/25567507/121b7890-2da4-11e7-9619-74f0efbc87da.png">

Also on RC18 you will be able to execute self-update from the site, it means no need to move outside of drupal root directory to execute the `self-update` command.

<img

[2017-04-30 20:01] jmolivas commented on #3284
@Christofferberg Do you have any special configuration for the modules?

[2017-04-30 20:03] jmolivas commented on #3277
Try updating to latest DrupalConsole, executing from the site root directory
[code]

If using the Launcher,  try updating it by executing from outside of site root directory:
[code]

And finally rebuild cache executing from your drupal site:
[code]

[2017-04-30 20:14] jmolivas commented on #3209
Fixed with #3207

[2017-04-30 20:14] #3209 closed

[2017-04-30 20:30] jmolivas commented on #3206
Fixed on RC17 current error message:

<img width="649" alt="drupal-list-broken-composer-1" src="https://cloud.githubusercontent.com/assets/366275/25567645/723612c8-2da7-11e7-8517-9a76b570923c.png">

I am planning to change the message on RC18 and will be like this:

<img width="781" alt="drupal-list-broken-composer-2" src="https://cloud.githubusercontent.com/assets/366275/25567728/22ca79f2-2da9-11

[2017-04-30 20:33] jmolivas commented on #3206
Fixed on RC17.

[2017-04-30 20:33] #3206 closed

[2017-04-30 20:35] jmolivas commented on #3205
@jchatard We can probably add a question to ask if you want to generate the owner code section.

[2017-05-01 08:29] Christofferberg commented on #3284
@jmolivas I have no special configuration for any modules. It is more or less a clean install.

I've created a paragraph type, with a webform field. I've then created a content type, with a paragraph field that references that paragraph type. As soon as I add that paragraph, with the webform to my page, I can't use any drupal-console commands.

![screen shot 2017-05-01 at 10 20 01](https://cloud.g

[2017-05-01 11:15] ao2 commented on #3255
@jmolivas thanks for the explanation.

[2017-05-02 01:54] wizonesolutions commented on #3282
@jmolivas Did all this, but the launcher won't stay updated (ran from outside of the site root), and it still fails to run in the Drupal directory.

[2017-05-02 01:55] wizonesolutions commented on #3282
Actually — cache clear did work.

[2017-05-02 08:27] ismailcherri commented on #3281
@jmolivas It worked!
I ran composer  update and drupal cr all from the site directory and it works now.
Console version now is <code>Drupal Console version 1.0.0-rc17</code>
Many thanks :)

[2017-05-02 13:58] jmolivas commented on #3281
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-02 13:58] #3281 closed

[2017-05-02 16:57] jgunawan commented on #3282
Do the: drupal cr all

[2017-05-02 20:40] anavarre opened #3293 "Drupal Console isn't compatible with Symfony components ~3.2"
[Update Symfony components to ~3.2](https://www.drupal.org/node/2712647) was committed and breaks installing Drupal Console (up to RC18) when chasing HEAD (8.4.x)

[code]
When reverting to Git commit hash [4d80891](http://cgit.drupalcode.org/drupal/commit/?id=4d80891f80409361c9b06fce5fbf98a8f2710b38) (that is, just before the Symfony components ~3.2 commit) it installs just fine.

[2017-05-02 21:04] anavarre commented on #3271
Tried updating to RC18 and ran `drupal self-update` but I'm still getting the same exact issue.

[code]

[2017-05-02 21:33] jmolivas commented on #3271
@anavarre I re-read you issue and find out you mentioned 8.4 so I did this:

[code]

![drupal-create-vocabularies](https://cloud.githubusercontent.com/assets/366275/25640349/19168e2c-2f44-11e7-8c5f-2d2ef0a8cf15.png)

[2017-05-02 21:35] jmolivas commented on #3271
@anavarre can you please:

 Change directory outside of drupal site root
[code]

* Try updating the Launcher
[code]

* Check launcher version:
[code]

[2017-05-02 21:38] jmolivas commented on #3271
@anavarre When executing `drupal --version`  outside of drupal site root you should see:

![drupal-version](https://cloud.githubusercontent.com/assets/366275/25640614/0805c30e-2f45-11e7-962e-7a19a70aacf0.png)

[2017-05-02 21:48] n1ru4l commented on #3283
I will try it this week

[2017-05-02 21:55] jmolivas commented on #3293
@anavarre do you know the ETA for when 8.4 will be out ?

[2017-05-02 22:00] anavarre commented on #3293
ETA is ~6 months from the day 8.3.0 was released, so around October 2017. See [core release cycle](https://www.drupal.org/core/release-cycle-overview).

That being said, chasing HEAD means 8.4.x is being used already by developers.

[2017-05-02 22:03] jmolivas commented on #3293
I will make `development` branch  compatible with latest drupal dev branch `8.4` in this case.

[2017-05-03 04:03] extravio opened #3294 "generate:entity:content - PHP Fatal error"
The drupal generate:entity:content command throws the following error

PHP Fatal error:  Call to a member function getPath() on null in [...]/vendor/drupal/console/src/Generator/EntityContentGenerator.php on line 84

Drupal 8.3.1
Drupal Console version 1.0.0-rc18

[2017-05-03 04:28] jmolivas commented on #3294
@extravio I just ran it and it works:

![drupal-generate-entity-content](https://cloud.githubusercontent.com/assets/366275/25648181/0bf42ab2-2f7e-11e7-8ded-729ec6fd615c.png)

Are you passing arguments/parameters when executing the command?

[2017-05-03 04:37] extravio commented on #3294
That's another issue: I have to specify --module, otherwise I get an error
[ERROR] Value "example" is invalid
![dc_error1](https://cloud.githubusercontent.com/assets/1171158/25648306/98908592-301e-11e7-84c0-b392c09bdeba.png)
here's the screenshot of the error
![dc_error2](https://cloud.githubusercontent.com/assets/1171158/25648316/ac029e76-301e-11e7-8448-20b1a269444e.png)
I tried on both an existi

[2017-05-03 04:43] jmolivas commented on #3294
Module should be generated before using it.

That is why `baba` is not valid.

When passing `--module example` is this `example` module a valid module?

We need to validate if the passed module is not valid and trigger an exception instead of continue execution and ask more questions.

[2017-05-03 04:54] extravio commented on #3294
Thanks! I thought the module would be created automatically as part of the entity generation.
All working now.

[2017-05-03 04:54] #3294 closed

[2017-05-03 07:45] anavarre commented on #3293
Sounds good. Let me know if you end up doing so, I will switch [drucker](https://github.com/anavarre/drucker) to use the dev branch, then.

[2017-05-04 08:26] anavarre commented on #3271
So, I've followed your step-by-step but keep running into the same issue. Not sure why.

[code]

Note that due to #3293 I had to install Drupal from [4d80891](https://www.drupal.org/commitlog/commit/2/4d80891f80409361c9b06fce5fbf98a8f2710b38) which is the latest commit against 8.4.x before Symfony components were upgraded to ~3.2 and made incompatible with Drupal Console.

[2017-05-04 16:06] benedikt-d commented on #3148
I'm having the same issue installing: https://drupalconsole.com/installer

[2017-05-04 16:21] jmolivas commented on #3148
@benedikt-d  I just tried and it works. I will send a fix to add a cache feature to avoid having issue with the github limit.

[2017-05-04 18:34] nvaken commented on #3175
Okay, I think I've been able to answer that last question, using the latest RC18 releases, I see only a `extend.console.uninstall.services.yml` file being created. Also, after running `drupal list` I only see the command in uninstalled state.

@jmolivas I'd be interested to try and fix this. Do you have any suggestions about how this should work? Do the services have to be listed in both `extend.c

[2017-05-05 06:11] nvaken commented on #3164
Above merged pull requests both fix this issue.

[2017-05-05 06:11] #3164 closed

[2017-05-06 02:17] jasonawant opened #3297 "[event:debug] Display event subscriber priority in output of event:debug"
### [command:event:debug] Display event subscriber priority in output of event:debug

### Problem/Motivation
It would be helpful to see the priority of all registered event subscribers when adding your own custom subscriber and setting its priority.

### Solution
TBD

[2017-05-06 13:23] webflo commented on #3253
@jmolivas I found https://github.com/mindplay-dk/composer-locator a few minutes ago. Maybe it helps with refactoring.

[2017-05-06 13:30] webflo commented on #3253
But maybe its overhead, because its relatively easy with the vendor path.

[2017-05-07 02:53] jmolivas commented on #3297
PR #3298 add this feature. This is the output

<img width="1414" alt="drupal-event-debug-1" src="https://cloud.githubusercontent.com/assets/366275/25777558/8d81a4c8-3295-11e7-9d9b-35d9890d19c8.png">

<img width="1414" alt="drupal-event-debug-2" src="https://cloud.githubusercontent.com/assets/366275/25777559/8d86b454-3295-11e7-9127-8b56c5e21e13.png">

[2017-05-07 02:54] jmolivas commented on #3297
@jasonawant PR #3298 add this feature. This is the output

<img width="1414" alt="drupal-event-debug-1" src="https://cloud.githubusercontent.com/assets/366275/25777558/8d81a4c8-3295-11e7-9d9b-35d9890d19c8.png">

<img width="1414" alt="drupal-event-debug-2" src="https://cloud.githubusercontent.com/assets/366275/25777559/8d86b454-3295-11e7-9127-8b56c5e21e13.png">

[2017-05-07 02:54] #3297 closed

[2017-05-07 03:13] socketwench commented on #3293
Running into the same thing here for Dropwhale.

[2017-05-07 03:14] jmolivas commented on #3293
@socketwench are you also using Drupal 8.4.x?

[2017-05-07 03:15] socketwench commented on #3293
Well yeah, since typically you're developing against Drupal HEAD for modules.

[2017-05-07 05:19] jmolivas commented on #3277
@parijke @dgpalmer did you updated to latest DC per site and global?

[2017-05-07 16:19] timmillwood commented on #3293
Same issue here too.

[2017-05-08 02:47] jasonawant commented on #3297
Nice, thanks!

[2017-05-08 03:53] #3228 closed

[2017-05-08 10:20] parijke commented on #3277
I will check later today.... I haven't got the chance before.​

2017-05-07 7:19 GMT+02:00 Jesus Manuel Olivas <notifications@github.com>:

--
[image: logo]

*Paul Rijke*
Drupal Frontend Developer / Investor

[image: Facebook] <https://facebook.com/paul.rijke> [image: LinkedIn]
<https://linkedin.com/in/prijke/>
Visit our beautiful apartment in Jávea at here <http://goo.gl/vMB0L9>

[2017-05-08 16:47] parijke commented on #3277
@jmolivas the update in de vendor dir did the trick. DC works as a charm again, thanks

[2017-05-09 08:58] csandanov opened #3301 "DrupalConsole Launcher: syntax error: unexpected redirection"
I have DrupalConsole launcher installed as `curl https://drupalconsole.com/installer -L -o drupal.phar`. When I execute the following command in a directory without Drupal (just to get version) I get:

[code]

Worked fine yesterday.

[2017-05-09 10:42] maznu commented on #3079
What help do you need to get site:mode working again?

[2017-05-09 15:03] welly opened #3302 "[console] Uncaught Error: Call to undefined method Drupal\Console\Core\Utils\DrupalFinder::getVendorDir()"
### Problem/Motivation
Running any drupal console commands results in the following error:

[code]

Running Drupal 8.3.2

It was working fine until running a recent composer update. Now getting this.

[2017-05-09 15:29] thom8 opened #3303 "Composer install failed"
[code]

This has come up a lot recently as there is no stable release and the [installation instructions](https://docs.drupalconsole.com/en/getting/composer.html) advise using --

[code]

Can I suggest either making a note about setting the `minimum-stability` otherwise use

[code]

However, this currently resolves the latest version as `1.0.0.0-beta5` as it seems that composer `RC` tags are case

[2017-05-09 18:25] jmenke commented on #3302
A similar thing happened to me. In my case, I reinstalled the DrupalConsole Launcher and it worked after that.

[2017-05-09 18:54] jmolivas commented on #3302
@welly @jmenke You can also try updating the `webflo/drupal-finder` package by executing
[code]

[2017-05-09 20:55] nvaken commented on #3302
Same problems here, running above command does not fix my situation @jmolivas. `Nothing to install or update`

[2017-05-09 22:09] colans commented on #3302
@nvaken What command did you use to downgrade?

@jmenke What command did you use to reinstall?

[2017-05-09 22:15] colans commented on #3302
Nevermind, I figured it out:
[code]

[2017-05-09 22:30] jmolivas commented on #3302
nvaken @colans  which version of `webflo/drupal-finder` do you have on the site?

[2017-05-09 23:08] colans commented on #3302
@jmolivas : 0.3.0

[2017-05-10 00:42] edwardaa commented on #3302
`composer require webflo/drupal-finder:^0.3.0` works for me, and https://github.com/drupal-composer/drupal-project/commit/4df8a592db3740a164f74a2036b42ea6b2b61e52 has updated

[2017-05-10 06:13] nvaken commented on #3302
@jmolivas `0.3.0`

[2017-05-10 07:51] webflo commented on #3302
Related to v

[2017-05-10 09:21] welly commented on #3302
Awesome to wake up in the morning with a fix for my issue! Thanks guys, working well again

[2017-05-10 09:52] nvaken commented on #3302
Hi @welly could you please elaborate which fix fixed your issue? This for documentation purposes.

[2017-05-10 09:58] welly commented on #3302
@nvaken apologies, I should have stated that. This worked:

`composer require webflo/drupal-finder:^0.3.0`

[2017-05-10 13:23] parijke commented on #3211
I have got the same...
Ubuntu 17.04
Drupal Console (0.11.2)

command:
[code]

[code]

[2017-05-10 15:07] michaellenahan commented on #3302
I can also confirm that it works for me.

[2017-05-10 17:40] Jesmaster commented on #2852
FYI, I just tested this again and it isn't happening anymore so maybe it was fixed in a newer update

[2017-05-10 21:37] dgpalmer commented on #3277
Thanks! It's working again.

[2017-05-10 21:44] jmolivas commented on #3277
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-10 21:44] #3277 closed

[2017-05-11 07:11] jchatard commented on #3205
@jmolivas this sounds reasonable.

Thanks.

[2017-05-11 10:45] ludal74 commented on #3302
Works great by updating webflo to ^0.3.0. Thx for the answer

[2017-05-11 12:10] nvaken opened #3305 "config:export:single: Error: Call to a member function getModule() on null"
Not sure if this is project specific, but I'm currently getting the following error on `drupal config:export:single` with RC17:

[code]

**Edit**: Just checked, this problem also exists with RC19:
[code]

**Edit 2**: For reproducibility, see following command with inline parameters and flags. Note that image.style.compact is simply a example, all configs fail. Also, it states that export was succe

[2017-05-11 14:16] nvaken commented on #3302
Just experienced same problem when updating a older project from RC17 to RC19, tried the suggested `composer require webflo/drupal-finder:^0.3.0` fix, but still nothing happens. The command returns:

[code]
It does add webflo/drupal-finder to my `composer.json`, but still nothing happens and DC is unresponsive. :/

[2017-05-11 14:19] nvaken commented on #3302
Oh, now I got it working, apparently you also need your launcher on the latest RC19. (I previously had RC18 installed) So, that means that my problems are resolved with:

[code]

[2017-05-11 14:32] ludal74 commented on #3302
Yes you need the **drupal/console:1.0.0-rc18** to work with **webflo/drupal-finder:^0.3.0**

[2017-05-11 15:11] nvaken commented on #3305
Above pull request fixes this issue.

[2017-05-12 05:29] nvaken commented on #3302
@ludal74 Well, yeah, otherwise you won't have experienced this error in the first place. 🙂What I'm saying is that you also need the drupal console _launcher_ at RC19 to fix this.

[2017-05-12 07:25] ludal74 commented on #3302
@nvaken Thx for the precison ! I didn't figured tere was this other module drupal console launcher. It's supposed to be an implicit dependency of an other module because I didn't have to upgrade it. But good to know. Thanks again

[2017-05-12 08:41] MatteoBorgognoni commented on #3281
@jmolivas this is still happening after the suggeseted steps after update to 1.0.0-rc19

[2017-05-12 10:06] sangeethg opened #3307 "drupal create:nodes [arguments] [options] throws a fatal error while attempting to create nodes"
drupal create:nodes throws a fatal error.

drupal create:nodes [arguments] [options] throws a fatal error while attempting to create nodes
drupal create:nodes

Trying to create a new node using drupal console and it throws an error.
Recoverable fatal error: Argument 2 passed to Drupal\Console\Core\Style\DrupalStyle::table() must be of the type array, null given, called in /var/www/html/drupal_eigh

[2017-05-12 10:07] sangeethg commented on #3307
I tried this solution and its working for me fine...

$nodes = $this->createNodeData->create(
$contentTypes,
$limit,
$titleWords,
$timeRange,
$language
);
$nodes = (array) $nodes;

[2017-05-12 14:19] nvaken opened #3308 "PHP Fatal error: Call to undefined function Drupal\Console\Launcher\Utils\pcntl_exec()"
A team member gets this error when upgrading the launcher to RC19. Not sure what this means a.t.m.

[code]

[2017-05-12 14:38] jmolivas commented on #3308
@nvaken can you try this patch https://patch-diff.githubusercontent.com/raw/hechoendrupal/drupal-console-launcher/pull/102.patch ?

[2017-05-12 14:41] jmolivas commented on #3281
@ismailcherri @peschee @MatteoBorgognoni please clear DrupalConsole cache by executing:

[code]

[2017-05-12 15:15] nvaken commented on #3308
Works! Thanks! 👍🏻

[2017-05-12 16:19] MatteoBorgognoni commented on #3281
@jmolivas I've already done that but the problem still there

[2017-05-13 01:54] jmolivas commented on #3281
@MatteoBorgognoni did you updated the Launcher as well?

[2017-05-13 16:50] #3305 closed

[2017-05-13 23:25] SOLUTIONS-AT commented on #3293
Same problem here...

[2017-05-14 14:14] xieyanxy9 commented on #3308
can't find 'Launcher.php',
it says can't find file to patch at input line 14

[2017-05-14 21:08] geolivero commented on #3058
Fatal error: Call to undefined function Drupal\Console\Launcher\Utils\pcntl_exec() in phar:///usr/local/bin/drupal/src/Utils/Launcher.php on line 34

Found out today that the command "drupal" doesn't work anymore after Drupal upgrade 8.3.2.
Thank for all your help.

Don't know what else todo. I tried:
- composer update drupal/console --with-dependencies
- drupal self-update
- also tried dowloading

[2017-05-14 21:14] geolivero opened #3312 "Call to undefined function Drupal console in phar:///usr/local/bin/drupal/src/Utils/Launcher.php"
Fatal error: Call to undefined function Drupal\Console\Launcher\Utils\pcntl_exec() in phar:///usr/local/bin/drupal/src/Utils/Launcher.php on line 34

Found out today that the command "drupal" doesn't work anymore after Drupal upgrade 8.3.2.
Thank for all your help.

Don't know what else todo. I tried:
- composer update drupal/console --with-dependencies
- drupal self-update
- also tried dowloading

[2017-05-14 23:06] jdleonard commented on #3308
I also encountered this and I am also not sure where Launcher.php is.

[2017-05-15 05:25] nvaken commented on #3308
Hi @xieyanxy9 and @jdleonard,

The patch is meant for Drupal Console Launcher. Drupal Console consists of a few separate packages of which the launcher makes sure you can enter the "drupal" command in your command line and then actually runs Drupal Console from your project. The launcher is installed globally on your system.

To apply this patch, you'll have to clone the launcher repository, then

[2017-05-15 09:03] MatteoBorgognoni commented on #3281
Perhaps I wasn't clear..

I followed this:

composer update drupal/console --with-dependencies

If using the Launcher, try updating it by executing from outside of site root directory:

drupal self-update

And finally rebuild cache executing from your drupal site:

drupal cr all

but the issue still happening

[2017-05-15 10:36] xieyanxy9 commented on #3308
@nvaken  I used [phar-composer](https://github.com/clue/phar-composer)  to recompiled the phar file, But there is so many packages, which one is correct？
![image](https://cloud.githubusercontent.com/assets/5346996/26053919/4a06ad88-399d-11e7-85f0-03e72107633c.png)

[2017-05-15 11:05] nvaken commented on #3308
I'm not really familiar with phar compiling, but does that not just compile a new phar based on a existing composer package? ( @jmolivas ?) If so, you're probably not able to apply the patch before compile time? Anyway, the package in question is `drupal/console-launcher`.

A temporary workaround which I use until a new release of the launcher is released is cloning the repository, patching that a

[2017-05-15 11:08] nvaken commented on #3312
Hi @geolivero, did you check out the following issue? Probably the same issue.

https://github.com/hechoendrupal/drupal-console/issues/3308

[2017-05-15 12:41] geolivero commented on #3312
Thanks I will try it later

[2017-05-15 15:49] jmolivas commented on #3308
@xieyanxy9  We use https://github.com/box-project/box2 for creating the phar

If you are planning to use this in you local machine you can probably skip the `phar` generation and only symlink it like:
[code]

[2017-05-15 17:24] lpeabody commented on #3293
Also running into this.

[2017-05-15 19:47] geolivero commented on #3308
Hey guys thanks for the help,
Symlink didn't work see screenshot http://pasteboard.co/6GAkXEP9r.png.
I made an alias in .zshrc(.bashrc) drupal="/path/tot/drupal-console-launcher/bin/drupal" that kinda worked but when i run the command, it keeps loading see screenshot http://pasteboard.co/6GjWxCANf.png

[2017-05-15 20:43] nvaken commented on #3308
Hi @geolivero, you might want to check if your `/usr/local/bin` is in your `$PATH`. Run `echo $PATH` to check.

Also, whats the output of `ls -l /usr/local/bin/drupal`?

- [ ]

[2017-05-15 20:45] geolivero commented on #3308
Thank you,
this is my output.
ls -l /usr/local/bin/drupal
-rwxr-xr-x+ 1 username  staff  158754 May 15 22:37 /usr/local/bin/drupal

[2017-05-15 20:47] nvaken commented on #3308
Looks like your old `phar` file is still in place. You could create a backup of that file if you'd like or just delete it (`rm /usr/local/bin/drupal`). Then, rerun the creating of the symlink from the repository, I suspect that you're all set after that.

[2017-05-15 20:57] geolivero commented on #3308
These are all the steps i took.

➜  drupal-console-launcher git:(6b711dd) git apply -v ./102.patch
Checking patch src/Utils/Launcher.php...
Applied patch src/Utils/Launcher.php cleanly.
➜  public git:(dev) ✗ rm /usr/local/bin/drupal
➜  public git:(dev) ✗ which drupal
drupal not found
➜  public git:(dev) ✗ ln -s ~/Desktop/drupal-console-launcher/bin/drupal /usr/local/bin/drupal
➜  public git:(dev)

[2017-05-15 20:59] jmolivas commented on #3308
@geolivero did you applied the patch https://patch-diff.githubusercontent.com/raw/hechoendrupal/drupal-console-launcher/pull/102.patch  ?

[2017-05-15 21:02] geolivero commented on #3308
@jmolivas  yes ;)
➜  drupal-console-launcher git:(6b711dd) ✗ patch -p1 < ~/Desktop/drupal-console-launcher/102.patch
patching file src/Utils/Launcher.php
Reversed (or previously applied) patch detected!  Assume -R? [n] y

[2017-05-15 21:25] geolivero commented on #3308
Ok I cleaned up everything and started all over again and now i get:

➜  public git:(dev) ✗ drupal generate:module
Warning: passthru(): Unable to fork [vendor/bin/drupal generate:module] in /Users/contact/Sites/projecten/web/partyyard/public/vendor/drupal/console-launcher/src/Utils/Launcher.php on line 46

[2017-05-15 21:32] nvaken commented on #3308
Erm... I'm lost on that error. Somehow the launcher seems to be installed in your project?

[2017-05-15 21:46] geolivero commented on #3308
➜  public git:(dev) ✗ composer remove drupal/console
Dependency "composer/installers" is also a root requirement, but is not explicitly whitelisted. Ignoring.
Dependency "doctrine/annotations" is also a root requirement, but is not explicitly whitelisted. Ignoring.
Dependency "guzzlehttp/guzzle" is also a root requirement, but is not explicitly whitelisted. Ignoring.
Dependency "symfony/css-select

[2017-05-15 21:53] nvaken commented on #3308
Yeah, probably better to wait for the release. For your information; drupal/console, drupal/console-core and drupal/console-en should be installed per project. drupal/console-launcher should be installed system wide.

[2017-05-16 06:43] ShaunDychko commented on #3308
Add `composer install` to @nvaken's instructions above, and then they're golden.

[2017-05-16 08:08] nvaken commented on #3308
Good one, I'll add it to my instructions

[2017-05-16 10:46] littlethoughts opened #3313 "[console] Add option for maintenance mode in certain commands"
### Problem/Motivation

It would be nice to have an option whether the site should be put into maintenance mode, like --maintenance-mode for example.

More control over the command and a faster execution should be the outcome

[2017-05-16 20:11] chrissnyder2337 commented on #3283
I am having the same issue as well but with RC19.

[code]

Error:

[code]

[2017-05-16 20:47] chrissnyder2337 commented on #3283
I posted too soon. I belive my error was that I was in the wrong directory. whoops

[2017-05-16 20:54] n1ru4l commented on #3283
I could not check this yet since I do not work with Drupal atm but will update when I am back on the project

[2017-05-16 22:50] hellozombiie commented on #3308
I'm trying to install Drupal Console for the first time and I'm getting the same pcntl_exec() error. Is there a reasonable way to get it to work, or should I wait until there's an update for the Launcher? If so, how long do you think it will take for an update?

[2017-05-17 06:32] joachim-n opened #3314 "[console] launcher says 'Could not find DrupalConsole in the current site'"
I have just downloaded Drupal Console Launcher version 1.0.0-rc19.

When I run it in my drupal site root, it says:

`
Could not find DrupalConsole in the current site (/Users/joachim/Sites/8-drupal).
Please execute: composer require drupal/console:~1.0
`

[2017-05-17 10:49] nvaken commented on #3314
Only installing the launcher is not enough, the launcher's functionality is only to make sure you can execute Drupal Console globally through a simple command. Please make sure you have executed the `composer require drupal/console:~1.0` as noted in the error.

[2017-05-17 10:53] nvaken commented on #3312
Seems like this one should be closed now. This has been continued in above stated issue.

[2017-05-17 15:14] joachim-n commented on #3314
The instructions here don't mention any of that: https://docs.drupalconsole.com/en/getting/launcher.html

Or at least, they don't explain what the launcher actually *is*. There's no mention that it's not the whole of Drupal Console.

[2017-05-17 18:59] kamalkech opened #3315 "Error Command line to generate module"
### Version Drupal console
Drupal Console version 0.11.3

### Version Drupal
Drupal 8

### Version
drupal generate:module

### Error message
  [Symfony\Component\Console\Exception\CommandNotFoundException]
  There are no commands defined in the "generate" namespace.

Any Idea ??

[2017-05-18 06:16] #2585 closed

[2017-05-18 09:42] dolebas commented on #3308
Same here, looking forward to a release that fixes this issue.

[2017-05-18 09:43] novia713 commented on #3172
_apart from me, i guess there isn't already these days anybody that still uses DC instead of Composer to install modules_

so, if it still worths the effort, @jmolivas i would change in `DrupalApi.php`
from

[code]

to

[code]

i'm ready to push a PR if it worths

[2017-05-18 10:05] carsonblack commented on #3314
I have created a new issue in the drupal-console-book repo to fix the wording of the launcher page to be more explanatory: https://github.com/hechoendrupal/drupal-console-book/issues/263

[2017-05-18 10:05] #3314 closed

[2017-05-18 10:24] carsonblack commented on #3226
There is also this issue in the drupal-console-book repo: https://github.com/hechoendrupal/drupal-console-book/issues/261
@jmolivas I think I would tend to agree with promoting the use of Composer for this task as well since in D8 it's now a valid (and probably the best) option.  I'm guessing that there was already some discussion on this anyway which is why the command was removed. But by the tim

[2017-05-18 10:42] nvaken commented on #3314
Hi @joachim-n, you're right, that specific page does not really explain anything. That's something we'll have to tackle in the issue @carsonblack created above.

For the time being, you might want to check out the main [chapter page](https://docs.drupalconsole.com/en/getting/project.html) of the launcher page, it explains why you'd need the launcher.

[2017-05-18 12:45] joachim-n commented on #3314
Thanks! :)

[2017-05-18 14:19] Dakwamine commented on #3283
I have had this issue today on Lightning when trying generate:module. The error vanished after doing a `composer update`. The updated packages were:

[code]

I am using RC19. I guess you have to update `psy/psysh` to get `drupal/console` working.

[2017-05-18 15:04] jmolivas commented on #3315
@kamalkech
- Are you executing from a Drupal site directory?
- Is Drupal installed ?
- Could you see the `generate:module` command when listing commands using `drupal list`?

[2017-05-18 18:01] nelovishk commented on #3091
I'm using version **1.0.0-rc18** and stumbled upon the same problem @Christofferberg had. I applied the `if (php_sapi_name() !== 'cli')` workaround as described by @ismailcherri and console is working again.

Additional info: this only happens when I have a particular mode enabled, a sub-module of Gesso. There isn't any relevant code in the theme, so it is probably related to the presence of custo

[2017-05-19 11:46] nvaken opened #3316 "update:execute - Be more verbose"
Currently, `update:execute` does not show any information about the updates being run but their update number and module name. Even in there is a `drupal_set_message()` in the update hook, it will not display the message.

I think `update:execute` should show:
* Comments above function name
* Feedback from the update (drupal_set_message())

[2017-05-19 12:47] csandanov commented on #3301
Seems to be fixed.

[2017-05-19 12:47] #3301 closed

[2017-05-19 16:19] aguasingas opened #3317 "[console] Composer fails with "Your requirements could not be resolved to an installable set of packages.""
### [console] Composer fails with "Your requirements could not be resolved to an installable set of packages."

Running `composer require drupal/console:~1.0` into my Drupal 8 projects leads to:

[code]
Based on this output alone I can't figure out what's the problem, could someone please point me in the right direction? Thanks!

[2017-05-20 09:00] drubb commented on #3277
For me, it's still an issue, which I can't resolve by updating console. Some details here:

I've installed the latest DC launcher. Runnig 'drupal' outside my project looks like this:
[code]
I've also a fresh install of Drupal 8.3. The project root is /var/www/html, the Drupal root is /var/www/html/web. DC is installed in /var/www/html/vendor, I'm able to use it this way:

[code]
Using DC without t

[2017-05-20 10:37] drubb commented on #3277
After deleting the project completely and reinstalling using composer-create-project, the problem was gone. So maybe it wasn't an issue with DC, but e.g. with DrupalFinder. This issue can be kept closed for now.

[2017-05-20 11:59] OnkelTem commented on #3133
Confirm

[2017-05-20 17:04] maryedith commented on #3308
agreed .  Please let us know when there is a simple fix so we can use composer with 8.3.2!  many thanks.

[2017-05-22 14:21] kubrt-d commented on #3302
Same here, updating to rc19 solves it. Thanks

[2017-05-22 17:24] pfrenssen opened #3318 "[console] Warning about missing "node_type" when node module is not enabled"
### Problem/Motivation
I get the following warning for any Console command on my website which doesn't have the `node` module enabled:

[code]

This is caused by `\Drupal\Console\Command\Create\NodesCommand` missing a dependency on the `node` module.

This is similar to https://github.com/hechoendrupal/drupal-console/pull/3159 which solved the same problem for sites that do not have the `taxonomy`

[2017-05-22 17:36] pfrenssen commented on #3318
Proposed fix in #3319.

[2017-05-22 19:51] brandonratz commented on #3308
Same `Warning: pcntl_exec()` for me. Updated from `rc16 -> rc19` and `Drupal 8.3.2`

[2017-05-22 22:07] tresero commented on #3302
Tried updating to rc19 and webflo/drupal-finder:^0.3.0 but no luck

[2017-05-23 07:51] seirerman commented on #3302
Had the same error.

`drupal self-update` gave me a timeout (possible firewall related), so I downloaded RC19 from https://drupalconsole.com/installer, put it in /usr/bin/, and it worked again.

[2017-05-23 14:58] sakonn commented on #3058
Hello guys,
I have similar issue. I tried instructions above but nothing is working for me.
When I run any drupal console command I get this:

`[23-May-2017 14:38:16 UTC] PHP Fatal error:  Uncaught Error: Call to undefined method Drupal\Console\Core\Utils\DrupalFinder::getVendorDir() in /var/www/html/docroot/vendor/drupal/console-core/src/Utils/DrupalFinder.php:24
Stack trace:
#0 /var/www/html/doc

[2017-05-24 09:24] betz commented on #3308
But how, the docs only show a global binary
https://hechoendrupal.gitbooks.io/drupal-console/content/en/getting/launcher.html

[2017-05-24 13:44] nvaken commented on #3308
Hi @betz, it has been noted that the docs are a bit vague on that subject and [a issue](https://github.com/hechoendrupal/drupal-console-book/issues/263) has been filed to address that problem. Though, if you check the main chapter of that page, you'll find a decent explanation:
https://hechoendrupal.gitbooks.io/drupal-console/content/en/getting/project.html

[2017-05-25 01:14] SOLUTIONS-AT commented on #3293
Is there an update on this?

[2017-05-25 06:14] james-nesbitt commented on #3091
Let's see if we can get a core d.org issue, to see if we can do some safe wrapping on that core context service.

[2017-05-25 10:24] pslcbs opened #3320 "[generate:module] with dependencies, Error: Call to undefined method Drupal\Console\Utils\Validator::trans()"
- Drupal console 1.0.0-rc19
- Drupal 8.3.2 - English (default) and Spanish
- Command generate:module

### Error message
PHP Fatal error:  Call to undefined method Drupal\Console\Utils\Validator::trans() in /home/user/public_html/site/vendor/drupal/console/src/Utils/Validator.php on line 280

### How to reproduce
I get that error only when:
- generate:module
- answer 'yes' when asked if you want to

[2017-05-25 11:49] sinyayadynya opened #3321 "[ *console* ] PHP Warning: pcntl_exec(): Error has occurred: (errno 2) No such file or directory in phar:///usr/local/bin/drupal/src/Utils/Launcher.php on line 34"
### Problem/Motivation
I not able to run the drupal console anymore on my mac.

### How to reproduce
While entering any drupal command from a site, I'm getting the following message:

PHP Warning:  pcntl_exec(): Error has occurred: (errno 2) No such file or directory in phar:///usr/local/bin/drupal/src/Utils/Launcher.php on line 34
PHP Stack trace:
PHP   1. {main}() /usr/local/bin/drupal:0
PHP   2

[2017-05-25 15:28] Gribnif commented on #3308
This is pretty ridiculous. First, I hit the bug #3302, which essentially says to reinstall the launcher. Now, when I try to reinstall the launcher, I hit the pcntl_exec() bug, and you're telling me the only good solution is to completely rebuild the launcher from source.

Isn't the whole point of using composer in the first place so that I don't have to waste my time doing this stuff? Drupal conso

[2017-05-25 22:32] grayside commented on #3317
I had much the same with `composer require drupal/console:^1.0@RC` just now.

[2017-05-26 08:26] #3129 closed

[2017-05-26 08:26] #3318 closed

[2017-05-26 08:50] jmolivas commented on #3321
@sinyayadynya Can you try updating to latest RC20 and validate is this still happening.

Make sure you update Launcher and Site installation.

[2017-05-26 08:51] jmolivas commented on #3320
@pslcbs Can you try updating to latest RC20 and validate is this still happening.

Make sure you update Launcher and Site installation.

[2017-05-26 08:52] jmolivas commented on #3312
@geolivero Can you try updating to latest RC20 and validate is this still happening.

Make sure you update Launcher and Site installation.

[2017-05-26 08:55] jmolivas commented on #3313
@littlethoughts can you elaborate more on this feature request?

[2017-05-26 08:56] jmolivas commented on #3308
Can you try updating to latest RC20 and validate is this still happening.

Make sure you update Launcher and Site installation.

[2017-05-26 08:58] jmolivas commented on #3302
DrupalConsole RC20 was tagged. Make sure you update Launcher and Site installation.

[2017-05-26 09:03] jmolivas commented on #3307
Fixed with #3310

[2017-05-26 09:03] #3307 closed

[2017-05-26 09:10] jmolivas commented on #3293
Yes development branch will updated the later next week early Aug.

[2017-05-26 14:46] Gribnif commented on #3308
The pcntl_exec() error is gone, and I can get Drupal Console to work in one setup. However, in another setup I'm getting:
[code]

[2017-05-26 15:38] jmolivas commented on #3308
@Gribnif try rebuilding cache `drupal cr all`

[2017-05-26 17:00] Gribnif commented on #3308
That worked, thanks. Apparently, "drupal cr all" is more thorough than "drush cr", because I did that several times today and still couldn't get console to work.

[2017-05-26 17:40] subru77 commented on #3308
It works 👍 Thank you

[2017-05-26 18:05] krisgraham commented on #3321
I'm having the same issue with updated console (1.0.0-rc20).

[2017-05-26 18:45] jmolivas commented on #3321
@krisgraham did you updated Launcher and Site installation ?

[2017-05-26 18:49] pslcbs commented on #3320
Hi @jmolivas,
Tried & worked ok with no errors
Thanks! ;-)

[2017-05-26 18:51] jmolivas commented on #3320
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-26 18:59] krisgraham commented on #3321
Yep, latest Launcher (re-installed today) and the site installation is up-to-date Lightning as of a few days ago. Also, when I remove the global Launcher and rely on the site's version of Console, I get the error from https://www.drupal.org/node/2825235
That is even after I update drupal-console for that site.

[2017-05-26 19:01] jmolivas commented on #3321
@krisgraham can you try a `composer show | grep drupal/console` ot confirm which version do you have on the site?

[2017-05-26 19:03] krisgraham commented on #3321
Yep:
drupal/console                        1.0.0-rc20          The Drupal CLI. A tool to generate boilerplate code, interact with an...
drupal/console-core                   1.0.0-rc20          Drupal Console Core
drupal/console-en                     1.0.0-rc20          Drupal Console English Language
drupal/console-extend-plugin          0.6.0               Drupal Console Extend Plugin

[2017-05-26 19:49] jdleonard commented on #3308
rc20 resolved this for me.

[2017-05-26 21:51] adamfchs commented on #3302
None of the above has worked for me.  Any drupal command gives:
Fatal error: Call to undefined method Drupal\Console\Core\Utils\DrupalFinder::getVendorDir() in /vendor/drupal/console-core/src/Utils/DrupalFinder.php on line 24

Any other ideas?  This is a completely fresh composer installed drupal 8.3.2 site installed an hour ago.

[2017-05-26 21:57] jmolivas commented on #3302
@adamfchs which version of `webflo/drupal-finder` is loaded on your siste?

Cn you confirm you have latest Launcher and DrupalConsole site installation rc20?

[2017-05-27 02:52] mark-schaal commented on #3321
Confirming that I had something similar happen today with a fresh installation of the Lightning profile. I didn't see the note from https://drupalconsole.com/articles/add-drupalconsole-to-a-project-using-acquia-lightning-distribution about using `--no-install` with Lightning, so I followed the second set of instructions and wound up with the following:

[code]

[2017-05-27 03:05] jmolivas commented on #3321
@mark-schaal it does work?

[2017-05-27 03:07] mark-schaal commented on #3321
No same error as above with @krisgraham of
[code]

Looking at this closer, it seems to be referencing as if I was using the global package installer, but I believe the latest Lightning composer-based install is following the local-project approach. Do I need to walk the drupal/composer package backwards to a different release perhaps?

[2017-05-27 03:07] jmolivas commented on #3321
@mark-schaal did you updated the Launcher as well ?

Try `drupal self-update`

[2017-05-27 03:11] mark-schaal commented on #3321
Yes, and saw:
[code]

[2017-05-27 03:13] mark-schaal commented on #3321
I followed that up with this:
[code]

[2017-05-27 03:20] mark-schaal commented on #3321
FWIW I do think that for all three users the situation is that the global launcher was removed in favor of local composer installations, and with lightning if you execute relative to the top level directory `bin/drupal` it seems to respond correctly without searching for the Launcher config.

[2017-05-27 16:08] jmolivas commented on #3321
@mark-schaal the Launcher is optional. Glad to read site installation `bin/drupal` works properly.

[2017-05-28 01:22] krisgraham commented on #3321
Confirmed that either with the global launcher installed or not, the only way this is working is by directly calling `bin/drupal` directly from within the lightning project.

[2017-05-28 06:04] manoj-apare commented on #3302
Did the following steps:

1. Update Drupal Console Launcher from RC19 to RC20 using command `drupal self-update`
2. Ran `composer require webflo/drupal-finder:^0.3.0`. Now webflo/drupal-finder is of version 0.3.0
3. Ran `composer update drupal/console --with-dependencies`. Now console-en, console-core and console are in RC20

Now I am getting below error:
[code]

[2017-05-28 17:36] jmolivas commented on #3302
@manoj-apare try rebuilding cache `drupal cr all`

[2017-05-28 17:38] jmolivas commented on #3321
@krisgraham I do have a couple of lightning installation where I am  using DrupalConsole Launcher without any issues.

Not sure what could be your issue, let me know if you want to debug this.

[2017-05-29 01:09] gnuget commented on #3176
I just create a pull request with a fix.

Thanks for report the problem.

- David.

[2017-05-29 07:49] manoj-apare commented on #3302
@jmolivas Great !!! Thanks. After clearing cache its working.

[2017-05-29 09:23] clucas1976 commented on #3315
I cannot see the generate:module commands when I do drupal list it is short menu and says for full menu install drupal. I have drupal installed and am running everything in the site route, using mamp for a local host installation. I have never used drupal before and want to build a custom multi page form

[2017-05-29 13:23] ergonlogic opened #3326 "[ console ] Cannot run any Console command after update to 1.0.0-rc20"
### Problem/Motivation
After upgrading to the latest release of Console, I can no longer run _any_ Console commands.

### How to reproduce

**Details:**
- Drupal version: 8.3.1
- Console version: 1.0.0-rc20
- Console Launcher version: 1.0.0-rc20
- Steps to reproduce:

Just try to run any Console command, whether in a site directory, or not:

[code]

### Solution

As far as I can tell, this is rela

[2017-05-29 15:25] jmolivas commented on #3315
@kamalkech you should update DrupalConsole you ins taller version is really outdated.

[2017-05-29 15:26] jmolivas commented on #3315
@clucas1976 which version of DrupalConsole do you have installed?

[2017-05-29 15:44] clucas1976 commented on #3315
I downloaded it from the link in the documentation I will check when I get
home thank you for the fast response 😊
On Mon, 29 May 2017 at 16:26, Jesus Manuel Olivas <notifications@github.com>
wrote:

[2017-05-29 16:22] clucas1976 commented on #3315
Composer version 1.4.2

Drupal Console (1.0.0-rc20)

On 29 May 2017 at 16:44, chris lucas <clucas1976@gmail.com> wrote:

[2017-05-29 16:31] clucas1976 commented on #3315
I followed the following steps

  1. create folder for new site

  2. Install Drupal in this folder

  3. navigate to site folder in terminal window

   1. Run $ curl https://drupalconsole.com/installer -L -o drupal.phar
   2. Run $ sudo mv drupal.phar /usr/local/bin/drupal
   3. Run $ chmod +x /usr/local/bin/drupal
   4. Run $ sudo chown -R $USER $HOME/.composer
   5. Run $ composer require drupa

[2017-05-29 17:00] psnc commented on #3326
The same probleme
Drupal version: 8.3.2
Console version: 1.0.0-rc20
Console Launcher version: 1.0.0-rc20

[2017-05-29 17:08] clucas1976 commented on #3315
using macOS Sierra v 10.12.5

On 29 May 2017 at 17:31, chris lucas <clucas1976@gmail.com> wrote:

[2017-05-29 17:28] psnc commented on #3326
Here it work

` Mon 29 Mai - 19:18  /var/www/html/local/demo/drupal/drupal-8/drupal/test/module/drupalsite 
 @patrick  sudo  composer update
[sudo] password for patrick:
Do not run Composer as root/super user! See https://getcomposer.org/root for details

Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 0 installs, 6 update

[2017-05-29 18:39] jmolivas commented on #3315
@clucas1976 can you follow the updated  instructions https://docs.drupalconsole.com/en/getting/project.html

[2017-05-29 18:41] jmolivas commented on #3326
@ergonlogic

Exactly this is how he symfony/console component works

[2017-05-29 18:42] jmolivas commented on #3326
@ergonlogic also make sure you execute `drupal cr all` after any update

[2017-05-29 18:45] ergonlogic commented on #3326
Aha! The Cache rebuild appears to have worked.

[2017-05-29 18:45] #3326 closed

[2017-05-29 18:48] jmolivas commented on #3312
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 18:48] #3312 closed

[2017-05-29 18:49] jmolivas commented on #3308
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 18:49] #3308 closed

[2017-05-29 18:50] jmolivas commented on #3321
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 18:50] jmolivas commented on #3302
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 18:50] #3302 closed

[2017-05-29 18:56] ergonlogic commented on #3326
A couple closing notes:

1. It might be worthwhile to document this in either or both of the install/update docs, or the FAQ/troubleshooting sections.
2. Composer supports a `post-update-cmd` hook that could run the cache-rebuild automaticlly whenever Drupal Console is updated. AFAICT, it'd have to be added manually to the top-level project `composer.json`, but this too could be added to https://d

[2017-05-29 18:58] #3176 closed

[2017-05-29 19:06] jmolivas commented on #3326
@ergonlogic That update to the docs could be done at this repo https://github.com/hechoendrupal/drupal-console-book

[2017-05-29 19:09] jmolivas commented on #3212
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:09] #3212 closed

[2017-05-29 19:11] jmolivas commented on #3256
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3288

Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:11] #3256 closed

[2017-05-29 19:15] jmolivas commented on #3208
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:15] #3208 closed

[2017-05-29 19:15] jmolivas commented on #2466
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:15] #2466 closed

[2017-05-29 19:15] jmolivas commented on #1895
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:15] #1895 closed

[2017-05-29 19:16] jmolivas commented on #2781
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-05-29 19:16] #2781 closed

[2017-05-29 19:49] clucas1976 commented on #3315
I really cannot follow the guide as nothing works and i end up in a mess
with the same issues, is there an idiots guide??

On 29 May 2017 at 19:39, Jesus Manuel Olivas <notifications@github.com>
wrote:

[2017-05-29 20:50] jmolivas commented on #3315
@clucas1976 this is the installation instruction https://docs.drupalconsole.com/en/getting/composer.html

Existing proyect
[code]

Starting a new project
[code]

[2017-05-30 13:48] ultimike commented on #3283
I'm getting the same error on my local (using Docksal). I just updated Console to rc20 and rebuilt the console cache...

[code]
I did notice that during the update psy/psysh was updated to v0.8.5, but I did not see anything about justinrainbow/json-schema - in fact, looking at my composer.lock, I don't see any mention of justinrainbow/json-schema.

-mike

[2017-05-30 16:47] mglaman commented on #3283
I have this same issue. Only on one project though (great on another.)

[code]

And

[code]

But I also get this line regardless in `web` docroot or not

[code]

[2017-05-31 15:25] albertski opened #3327 "Display messages during update execute"
### Display messages during update execute

The issue title should comply with the following structure:

[ *update:execute* ] Add ability to display messages during update

### Problem/Motivation
Some modules return messages in hook_update_N. For example:

[code]

If you run updates via update.php, these messages get displayed. If you run via Drupal Console, these messages don't get displayed.  It

[2017-05-31 18:00] nvaken commented on #3320
I'm still experiencing this issue after updating to RC20.

[code]

[2017-05-31 18:15] jmolivas commented on #3320
@nvaken  I saw the issue the problems is at https://github.com/hechoendrupal/drupal-console/blob/master/src/Utils/Validator.php#L280

We are trying to use `$this->trans` which does not exists

### This could be fixed by:
- Injecting the `TranslatorManager` object at https://github.com/hechoendrupal/drupal-console/blob/master/services.yml#L8
- Adding protected property $translatorManager
- Adding $

[2017-06-01 07:01] vorapoap opened #3328 "Drupal Console cache?.. does it share? It causes weird effect for several instance of Drupal8 installation"
### Drupal Console Cache of many drupal installation for single linux user

[ *console* ] Several drupal installation under same user causing weird effect?

### Problem/Motivation
I have a single 'dev' user for many developers.
but each developers have his/her instance of Drupal8 installation.
I believe that rebuilding cache of one installation affects others.
For example, a smaller set of custom

[2017-06-04 02:47] xmacinfo commented on #3326
PHP Fatal error:  Call to undefined method Drupal\Console\Core\Utils\DrupalFinder::getVendorDir() in /site/vendor/drupal/console-core/src/Utils/DrupalFinder.php on line 24

Composer installs :
  - Updating drupal/console-en (1.0.0-rc16 => 1.0.0-rc20): Downloading (100%)
  - Updating drupal/console-core (1.0.0-rc16 => 1.0.0-rc20): Downloading (100%)
  - Updating drupal/console (1.0.0-rc16 => 1.0.0-

[2017-06-04 04:15] hejiann commented on #3303
Same issue here

[2017-06-04 06:01] jmolivas commented on #3326
@xmacinfo which command are you executing? if using the launcher make sure you update it as well executing `drupal self-update`

[2017-06-04 07:48] TiMESPLiNTER opened #3330 "[console] General TypeErrors when running drupal console"
### Problem/Motivation
The problem is that I get generel TypeErrors once I try to execute the drupal console.

### How to reproduce
1. Run `composer require drupal/console ~1.0` in drupal project root
2. Run `vendor/bin/drupal help`

You get an error:

[code]

**Details to include:**
- Drupal version: 8.3.x
- Console version: 1.0.0-rc20
- Console Launcher version: 1.0.0-rc20
- PHP version: 7.1.0

[2017-06-04 09:49] ArtuGit commented on #3091
I have a similar issue:
`Fatal error: Call to a member function getId() on null in /var/www/drupalvm/mysite/web/core/lib/Drupal/Core/Cache/Context/SessionCacheContext.php on line 25`
on:

Drupal Console Launcher version 1.0.0-rc20
Drupal Console version 1.0.0-rc20
Drupal version 8.3.2

@nelovishk  Yes, it is the theme related issue. It happens only when my custom Bootstrap theme is activated.
it d

[2017-06-04 12:50] clemens-tolboom commented on #3283
My error message

with

Stack trace:

We may conclude the Drupal core autoload is not found.

I have

- git cloned DrupalConsole
- PHP 5.6.29 (cli) (built: Feb 28 2017 14:02:26)
- Drupal 8.4.x branch

Checking the Docs for this setup is see I'm doing it wrong. I could do https://docs.drupalconsole.com/en/getting/composer.html or other install by the other variants as listed on https://github.com/h

[2017-06-04 13:15] clemens-tolboom opened #3331 "[DOCS] Make the contributing workflow part of the docs."
### Problem/Motivation

I cannot make Drupal console run. I want to use the none existing stand alone __git clone__ variant.

**Details to include:**

I want to be able to contribute / debug the console so need it's code. I don't want the phar install and neither the https://docs.drupalconsole.com/en/getting/composer.html as that would mean I have to change every Drupal 8 project

I ran into #3283

[2017-06-04 13:16] clemens-tolboom commented on #3283
There is an old gist to 'contribute' which matches my __git clone__ approach but is old.

https://github.com/hechoendrupal/drupal-console/blob/master/CONTRIBUTING.md should cover this.

I created #3331 to get a better grasp of this puzzle.

[2017-06-04 23:34] jmolivas commented on #3330
@TiMESPLiNTER try rebuilding caches executing `drupal cr all`

[2017-06-05 16:03] sinyayadynya commented on #3321
Sorry to give late feedback, but it still do not work with the latest RC20 version.

My current project is a Commerce one, not lightning.

Also, I'm not sure to get what @mark-schaal pointed out about  top level directory. Could that be a work around? What should I do?

Thanks for help.

[2017-06-05 16:56] colans commented on #2263
@jmolivas Would you be able to at least point us to the code location where we could add a patch for this, for number 2 above?  Thanks.

[2017-06-05 17:33] jmolivas commented on #2263
@colans What will be the easies way to test this myself? I mean to have an Aegir setup locally?

[2017-06-05 17:43] colans commented on #2263
Folks traditionally use [Valkyrie](https://www.drupal.org/project/valkyrie), but I use a real Dev VM hosted somewhere.

@ergonlogic: Is there a newer/better way nowadays?

[2017-06-05 18:07] ergonlogic commented on #2263
Valkyrie should work, but also adds a number of components specific to local development. An alternative would be to launch a Vagrant VM from https://github.com/ergonlogic/ansible-role-aegir, which should be much closer to a stock Aegir install. There are also some Docker-based deployment options, but I'm not familiar enough with them to suggest whether they'd be helpful here.

[2017-06-06 14:20] rodrigoaguilera opened #3332 "Error after update to rc20 from rc19"
[ console ] Short description

### Problem/Motivation
I can't run drupal console after upgrading to rc20

**Details to include:**
I get the following error no matter what command or just "drupal"
[code]

I am using the drupal-project structure
https://github.com/drupal-composer/drupal-project

**Details to include:**
- Drupal version: 8.3.2
- PHP 7.1.4

### Solution
No idea

[2017-06-06 17:07] justinlevi commented on #3302
@jmolivas Still seeing this issue :

[code]

Drupal 8.3.2

$ `fin drupal cr all`

[code]

[2017-06-06 17:13] justinlevi opened #3333 "PHP Error : DrupalFinder::getVendorDir() -"
### Issue title

PHP Fatal error:  Uncaught Error: Call to undefined method Drupal\Console\Core\Utils\DrupalFinder::getVendorDir() in /var/www/docroot/vendor/drupal/console-core/src/Utils/DrupalFinder.php:24

[ *ISSUE-GROUP* ] Short description : Same issue as here: https://github.com/hechoendrupal/drupal-console/issues/3302#issuecomment-306553159

Reopening

The *ISSUE-GROUP* should be one of:

*

[2017-06-06 18:42] jmolivas commented on #3332
@rodrigoaguilera try rebuilding caches `drupal cr all`

[2017-06-06 19:23] flatline-studios commented on #3302
@justinlevi

This seems to be an issue with the Drupal Console **_Launcher_** not being the same version as Drupal Console itself.

To fix it:

`curl https://drupalconsole.com/installer -L -o drupal.phar`
`sudo mv drupal.phar /usr/local/bin/drupal`
`chmod +x /usr/local/bin/drupal`

Then you can run:

`drupal cr all`

And you should be up and running again.

[2017-06-06 19:30] justinlevi commented on #3302
Yes indeed, that fixed the glitch.

[2017-06-06 19:45] colans commented on #3302
Maybe this was suggested elsewhere, but we should add a check for that.

[2017-06-06 19:48] jmolivas commented on #3302
This is a issue related to a services file cached.

[2017-06-06 19:49] flatline-studios commented on #3302
A better way to handle this is probably to:

`cd /to/your/drupal/root/composer.json/directory`
`composer require drupal/console-launcher`

Then it should be updated when you run a general composer update.

[2017-06-06 19:49] jmolivas commented on #3302
My bad this was related tot a diff version of a dependency https://github.com/webflo/drupal-finder

[2017-06-06 19:50] jmolivas commented on #3302
@flatline-studios the launcher is installed globally not per-site.

At this point, we only share one dependency between projects.

[2017-06-06 19:58] flatline-studios commented on #3302
@jmolivas

`composer global require drupal/console-launcher`

I guess is more suitable then. It does just mean remembering to update global packages too though.

[2017-06-06 20:14] jmolivas commented on #3302
@flatline-studios the Launcher provides the `self-update` command to take care of downloading latest version.

[2017-06-06 20:15] jmolivas commented on #3333
@justinlevi Closing this one based on you comment at https://github.com/hechoendrupal/drupal-console/issues/3302#issuecomment-306592578

[2017-06-06 20:15] #3333 closed

[2017-06-06 21:36] ahmadhassankhalil commented on #2045
I'm having the same issue as @kkomelin . I believe the problem is that there is a dependency version conflict. Drush uses the latest version of dependencies from Symfony. For me, Drush is using Symfony packages with version v3.3.2 , and Drupal console's dependencies are for v2.8* max.

Currently, Drupal 8.4 uses Symfony v3.2 . Kinda surprised dependencies for Drupal Console have not been updated y

[2017-06-07 03:41] jmolivas commented on #3321
@sinyayadynya did you  updated to latest Launcher you can by executing `drupal self-update`

[2017-06-07 04:36] jmolivas commented on #3320
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3334

[2017-06-07 04:36] #3320 closed

[2017-06-07 06:23] jmolivas commented on #3327
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3335

[2017-06-07 06:23] #3327 closed

[2017-06-07 06:23] jmolivas commented on #3316
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3335

[2017-06-07 06:23] #3316 closed

[2017-06-07 06:25] jmolivas commented on #3253
@kgaut is this still happening using the latest DrupalConsole version?

[2017-06-07 06:28] jmolivas commented on #3315
@clucas1976 is this issue still happening?

[2017-06-07 06:45] jmolivas commented on #3198
@aangelinsf @mh9 `self-update` command output was updated can you please comment if this is less confusing.

<img width="843" alt="drupal-self-update" src="https://user-images.githubusercontent.com/366275/26865347-18939d58-4b11-11e7-86c0-40f8c3b753b0.png">

[2017-06-07 06:47] jmolivas commented on #3195
DrupalConsole must be installed per-site we still provide a global executable.

More information  at the docs => https://docs.drupalconsole.com/en/getting/project.html

Closing this one. Feel free to comment if still happening after following proposed instructions.

[2017-06-07 06:47] #3195 closed

[2017-06-07 06:49] jmolivas commented on #3181
Make sure you have the latest DrupalConsole and Launcher version.

Closing this one. Feel free to comment if still happening after updating to the latest version.

[2017-06-07 06:49] #3181 closed

[2017-06-07 06:50] jmolivas commented on #3179
Closing this one. Feel free to comment if still happening after updating to the latest version.

[2017-06-07 06:50] #3179 closed

[2017-06-07 06:51] jmolivas commented on #3177
Closing this one. Feel free to comment if still happening after updating to the latest version and following provided instructions.

[2017-06-07 06:51] #3177 closed

[2017-06-07 07:33] rodrigoaguilera commented on #3332
@jmolivas That fixed the issue but I really don't this to happen to other people.
Can the cache be invalidated by drupal console version?

[2017-06-07 09:26] clucas1976 commented on #3315
Yes unfortunately, I followed your instructions but cannot get it to work
at all, very frustrating.

On 7 June 2017 at 07:28, Jesus Manuel Olivas <notifications@github.com>
wrote:

[2017-06-07 10:19] W4U-TOURS commented on #3308
You save my day, thank you 👍

[2017-06-07 10:24] RishiKulshreshtha commented on #3321
@jmolivas, I'm getting the exact same issues mentioned by @mark-schaal and @krisgraham at https://github.com/hechoendrupal/drupal-console/issues/3321#issuecomment-304423647 and https://github.com/hechoendrupal/drupal-console/issues/3321#issuecomment-304486656 respectively.

FYI, I'm using

- [Lightning](https://www.drupal.org/project/lightning) distribution
- Drupal VM (details are mentioned below

[2017-06-07 12:27] dreamfony opened #3336 "[ console ] Command for renaming module"
Hi,

I was looking for an easier way to rename module.
Did anyone tried making command that would rename proper filenames and refactor hook implementation s in one swift move?

Thx

[2017-06-07 16:05] jmolivas commented on #3336
@dreamfony We do not have a command of a feature request about this before, but sounds like a nice feature, I may missing something else but the task to achieve will be at least:
* Duplicate files.
* Rename files, hooks and references at routes, services, configurations.

[2017-06-07 16:30] jmolivas commented on #3079
Fixed command is back on the latest rc21 release.

[2017-06-07 16:30] #3079 closed

[2017-06-07 16:44] #3049 closed

[2017-06-07 17:59] #551 closed

[2017-06-07 18:15] jmolivas commented on #3332
@rodrigoaguilera We can try to enable/disable cache generation via the `console/config.yml` file and make cache generation as command. This command could be included as part of your build process before deploying site.

[2017-06-07 19:35] jmolivas commented on #3315
@clucas1976 not sure why is not working for you, did you see my comment https://github.com/hechoendrupal/drupal-console/issues/3315#issuecomment-304686657

[2017-06-07 22:03] rodrigoaguilera commented on #3332
Muy case is different. After running componer udpdate drupal console stopped working without a many clues. I wonder if the cache can be tagged/namespaced depending on the version so in this example a cache generated by rc19 will never be used by rc20 and drupal cr all will also delete caches from old versions. I think this can save a lot of headaches.

[2017-06-07 22:11] jmolivas commented on #3332
Make sense either tagging ver version or just regenerated once DC is updated.

[2017-06-08 01:47] krisgraham commented on #3321
I still see this issue with lightning distribution (acquia/lightning-project) but not drupal-composer/drupal-project.

[2017-06-08 09:05] sinyayadynya commented on #3321
I'm not on lightning, but drupal/commerce

[2017-06-08 09:23] sinyayadynya commented on #3321
Actually the Drupal Console (1.0.0-rc21) update solved my issue. Big Thanks!

[2017-06-08 13:07] dreamfony commented on #3336
@jmolivas Maybe add generic refactoring tool. Everything that could be generated should be refactorable :)

**console refactor**

- module
- service
- entity

Maybe for simple start **console refactor:module -- [old_name new_name]** would rename

- files
- namespaces
- use statements
- hooks
- references at routes, services, configurations

[2017-06-09 02:32] jmolivas commented on #3330
@TiMESPLiNTER Closing this one. Feel free to comment if still happening after trying the suggested solution?

[2017-06-09 02:32] #3330 closed

[2017-06-09 02:38] jmolivas commented on #3332
Latest changes to the composer plugin removes the cache https://github.com/hechoendrupal/drupal-console-extend-plugin/blob/master/src/Extender.php#L131

[2017-06-09 02:39] jmolivas commented on #3321
Closing this one. Feel free to comment if still happening after updating to the latest version.

[2017-06-09 02:39] #3321 closed

[2017-06-09 02:40] jmolivas commented on #3282
Closing this one. Feel free to comment if still happening after updating to the latest version.

[2017-06-09 02:40] #3282 closed

[2017-06-09 02:41] #3332 closed

[2017-06-09 07:56] nvaken opened #3340 "TypeError: Argument 2 passed to Drupal\Console\Bootstrap\Drupal::__construct() must be an instance of Drupal\Console\Core\Utils\DrupalFinder, string given"
A colleague receives this error after a `site:install`. Using RC21 for both launcher as well as the core.

`TypeError: Argument 2 passed to Drupal\Console\Bootstrap\Drupal::__construct() must be an instance of Drupal\Console\Core\Utils\DrupalFinder, string given, called .../vendor/drupal/console/src/Command/Site/InstallCommand.php on line 445 in .../vendor/drupal/console/src/Bootstrap/Drupal.php o

[2017-06-09 10:58] kviolka commented on #3317
I have the same problem, I created my setup with Acquia BLT, and for some reason I have symfony/config 3.2.9 installed.

[2017-06-09 11:00] kviolka commented on #3317
https://github.com/hechoendrupal/drupal-console-core/blob/master/composer.json requires symfony/console < 3.0

[2017-06-09 11:17] flatline-studios commented on #3302
@jmolivas the only problem with that is when **ALL** `drupal <command>` throw an error, including the self-update. It's a chicken and egg situation really. Launcher is broken and needs updating, but the `self-update` command needs a working launcher.

[2017-06-09 11:20] flatline-studios commented on #3340
Please try from your drupal root directory:

`composer require webflo/drupal-finder:^0.3.0`

And then:

`drupal cr all`

[2017-06-09 13:03] mmwebaze commented on #3302
I had the same issue and updating the launcher resolved it. The launcher was initially rc16 while drupal console was rc21.

Thanks @flatline-studios

[2017-06-09 17:08] jmolivas commented on #3340
@nvaken wich version of `webflo/drupal-finder` is installed on then site?

You can check by executing `composer show webflo/drupal-finder`

You can check who is requiring the package `webflo/drupal-finder` by executing `composer why webflo/drupal-finder`

Since the pakage `webflo/drupal-finder` is not required directly you can update it by executing `composer update drupal/console --with-dependenc

[2017-06-09 17:10] jmolivas commented on #3317
@kviolka Are you using lightning distro? This may help => https://drupalconsole.com/articles/add-drupalconsole-to-a-project-using-acquia-lightning-distribution

[2017-06-09 17:28] brayfe commented on #3271
Found a fix for this.  Turns out there is an issue in /src/Utils/Create/VocabularyData.php on line 61.  The `sentences()` call needs arguments (`public function sentences($min_word_count, $capitalize = FALSE)`), but is blank.  Looking at the code:

[code]

I would suggest changing line 61 to:
`'description' => $this->getRandom()->sentences(mt_rand(1, $nameWords)),` or some other upper value thn `$

[2017-06-09 17:53] jmolivas commented on #3271
@brayfe thanks and nice catch, are you interested to send a Pull Request, with the code changes?

[2017-06-09 18:02] brayfe commented on #3271
Will do!

[2017-06-10 21:04] jmolivas commented on #3328
@vorapoap  Is the site re-installer on each instance ? or the DB imported ?

[2017-06-11 15:20] vorapoap commented on #3328
DB import.. if you are asking about site-id. They are using the same.

[2017-06-11 19:42] jmolivas commented on #3328
@vorapoap Yes that was my question about the site-uuid number.

DrupalConsole generates a cache file for commands, you can try including this cache on your repository by adding a `console/config.yml` to your repo and committing that file.

Example of the contents for the file.
[code]

You can generate that file by executing `drupal init` and selecting the path of your repo.

Also next DrupalConsol

[2017-06-12 04:04] vorapoap commented on #3328
Do u mean I can run drupal init for each drupal installation so each of them use different config.yml?

[2017-06-12 04:06] jmolivas commented on #3328
Exactly since we switch to per-site installation now DrupalConsole support loading a different config.yml file per-site as well.

[2017-06-12 07:49] kgaut commented on #3253
Hi,

Yep fantastic, it works fine now with 1.0.0-rc21 !

Thanks !

[2017-06-12 07:49] #3253 closed

[2017-06-13 09:02] tanc opened #3346 "[ console ] Silent failure when running any command within web root"
### [ console ] Silent failure when running any command within web root

### Problem/Motivation
When trying to run drupal console, using the drupal helper or directly running the command in venders/bin, the command silently fails, even when using the `--debug` or `--vvv` switches.

Ideally some form of output should help the developer understand why the command is failing.

### How to reproduce

-

[2017-06-13 09:07] bradjones1 opened #3347 "[site:install] Don't write database config to settings.php on reinstall"
https://github.com/hechoendrupal/drupal-console/issues/2269 allowed re-install/re-use of database credentials for site installation, however when re-installing, Console writes what is essentially an unnecessary database config to `settings.php`. Removing this duplicate db config is required to restore function of Drupal post-install.

### How to reproduce
Install Drupal with `site:install`, having

[2017-06-13 09:16] bradjones1 commented on #3347
I should also note that in the meantime, if settings.php isn't writeable, the add db connection code just exits without an error, so this is one way to get around this for the time being.

[2017-06-13 09:55] hejiann commented on #3317
Same issue here. Could not install drupal-console on drupal 8.4.x

[2017-06-13 10:49] #2446 closed

[2017-06-13 10:49] #2482 closed

[2017-06-13 10:51] #2548 closed

[2017-06-13 11:08] nvaken opened #3348 "PHP Fatal error: Class 'Novia713\Maginot\Maginot' not found in /vendor/drupal/console/src/Command/Site/ModeCommand.php on line 85"
Not entirely sure when this is triggered, I'm suspecting this is happening in non-launcher version. (using `vendor/bin/drupal`).

[code]

[2017-06-13 11:21] nvaken opened #3349 "Feature request: Make DC aware of site directory"
Before, when using Drush with Drupal 7, I've always liked the feature that when you're in a site folder (eg. `site/default`, `site/website2` etc.) it would operate all the commands in the corresponding database. I would love to see DC react the same way, to prevent us from typing `drupal --uri=website2 command` all of the time.

[2017-06-13 11:29] jkuma commented on #3340
@jmolivas I'm facing the same issue here. The version 0.3.0 of `webflo/drupal-finder` is shipped with RC21 of `drupal/console`.

Output of `composer show webflo/drupal-finder` is :
[code]

[2017-06-13 11:50] tanc commented on #3346
Output of `drupal generate:module --debug` while in a drupal web root:

[code]

But no other output or indication of failure reason

[2017-06-13 15:02] jmolivas commented on #3340
This is fixed with https://github.com/hechoendrupal/drupal-console/pull/3345

[2017-06-13 16:55] sattapuram commented on #3317
I have the same issue.

[2017-06-13 21:28] colans commented on #3320
Still getting this with the latest releases:

[code]

Backtrace:

[code]

[2017-06-13 23:01] jmolivas commented on #3320
@colans what is your site DrupalConsole version ?

[2017-06-14 11:49] LatinRickshaw opened #3352 "[console] console launcher rc21 fatal error"
### [console] console launcher rc21 fatal error

Since we have updated Drupal we can no longer run Drupal Console commands without a Fatal Error.

### Problem
The problem is a PHP Fatal Error notice when running Drupal Console: -

[code]

Coming from Symfony I am an advocate for Drupal Console and would love to see it working again.

### How to reproduce
Drupal Version: 8.3.1
Console Version: -
dr

[2017-06-15 01:18] hejiann commented on #3293
Is there any method for using drupal console on drupal 8.4.x?

[2017-06-16 09:12] Nicasso opened #3353 "[Console] Composer installation failure - requirements could not be resolved"
### [Console] Composer installation failure - requirements could not be resolved

I am trying to install the Drupal console using the Composer method, and it fails regardless. I just follow the given install documentation [this one](https://hechoendrupal.gitbooks.io/drupal-console/content/en/getting/composer.html) but no luck.

So the steps I have taken for this to happen:

1. I cloned the Drupal

[2017-06-19 09:11] petiar commented on #3308
I have the same error. How do I update to rc20?

[2017-06-19 09:35] cburschka-pwc opened #3354 "Fatal error after updating from rc18 to rc21."
After updating all three packages to 1.0.0-rc21, any command will trigger the following error:

  Type error: Too few arguments to function Drupal\Console\Command\Config\ExportSingleCommand::__construct(), 2 passed and exactly 3 expected

[2017-06-19 09:38] cburschka-pwc commented on #3354
I should add that deleting the `.console` folder (where the outdated service definition is cached) does not solve this error.

[2017-06-19 11:47] petiar commented on #3308
Too lazy to UTFG. :-) `drupal self-update` did the job.

[2017-06-19 11:57] anavarre commented on #3293
FYI there's an issue about ugprading to 3.3 https://www.drupal.org/node/2874909

[2017-06-19 12:17] cburschka-pwc commented on #3354
Update: By xdebug-stepping through the bootstrap, I managed to finally track down a second `.console` folder in the home directory, which was used even after the local project's `.console` folder had been deleted.

This is really painful to troubleshoot - I suggest automatically purging the caches if the container fails to bootstrap.

[2017-06-20 03:53] jmolivas commented on #3340
PR #3345 merged

[2017-06-20 03:53] #3340 closed

[2017-06-20 06:51] jmolivas commented on #3271
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3342

[2017-06-20 06:51] #3271 closed

[2017-06-20 06:52] jmolivas commented on #3348
@nvaken Which version of DrupalConsole is showing this error?

[2017-06-20 07:55] jmolivas commented on #3352
@LatinRickshaw  Try rebuilding cache `drupal cr all`

[2017-06-20 07:57] jmolivas commented on #3349
I use to like this drush feature of a lot.

Lets start the conversation about how to implement this.

[2017-06-20 07:58] jmolivas commented on #3347
@bradjones1 updating the settings file is a feature from Drupal not DrupalConsole, do you have the `hash_salt` value added to your settings file?

[2017-06-20 08:08] jmolivas commented on #3346
@tanc  can you try rebuilding cache using `drupal cr all`

[2017-06-20 08:14] tanc commented on #3346
Hmm... the drupal console is currently working. I'll keep my eye on it and if it this happens again I'll report back (after rebuilding caches). If its all fine I'll close this issue in a few days

[2017-06-20 09:36] cburschka-pwc commented on #3352
You can't run `drupal cr all` if DC can't even bootstrap due to bad service definitions. ;-)

I solved a similar issue in #3354 by deleting `./.console` and `~/.console/` and truncating all of the `cache_` tables in the database manually. (Only a subset of these might have been required.)

[2017-06-20 11:04] LatinRickshaw commented on #3352
@cburschka-pwc Absolutely spot on. Deleting my home directory .console folder and manually clearing the cache tables has brought drupal console back to life.

Thank you...

[2017-06-20 11:04] #3352 closed

[2017-06-20 13:16] paulmartin84 commented on #3275
Thanks, @Alluuu I ran into this issue as well, it also kills config translation when an incorrect  field_ui_base_route is set like that.

[2017-06-20 17:19] nvaken commented on #3348
I would think rc20, not entirely sure though. I'd have to check. I'll try looping back to this this week.

[2017-06-22 10:09] rakeshjames commented on #713
`
 [ERROR] SQLSTATE[HY000] [2002] Connection refused

Drupal Console version 1.0.0-rc21

Usage:
  command [options] [arguments]

Options:
  -h, --help             Display this help message
  -q, --quiet            Do not output any message
  -V, --version          Display this application version
      --ansi             Force ANSI output
      --no-ansi          Disable ANSI output
  -n, --no-int

[2017-06-22 20:14] GhostInTheMachines commented on #3282
Tried these directions from above:
Try updating to latest DrupalConsole, executing from the site root directory

composer update drupal/console --with-dependencies
If using the Launcher, try updating it by executing from outside of site root directory:

drupal self-update
And finally rebuild cache executing from your drupal site:

drupal cr all

My result was that I ran out of memory but when I go

[2017-06-22 20:16] GhostInTheMachines commented on #3282
drupal list also throws the error:
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 64 bytes) in /Users/kimbled/Sites/devdesktop/tsbvi-dev/docroot/vendor/symfony/dependency-injection/ParameterBag/ParameterBag.php on line 267

[2017-06-22 20:22] jmolivas commented on #3282
@GhostInTheMachines you need to increase that value on your `php.ini` file.

You can find which `php.ini` file is loaded via the CLI by executing `php --ini`

[2017-06-22 21:08] GhostInTheMachines commented on #3282
Does drupalconsole use the apache default on a Mac running Sierra or the one that Dev Desktop is using when I am in that docroot?

I ran the php --ini command and it reported the file to be in /etc but I only find example.php.ini when I look in this directory.

[2017-06-22 21:09] GhostInTheMachines commented on #3282
sorry that was php.ini.default .  I will try to increase the memory by a Meg in this file and see if it makes a difference.

[2017-06-22 21:15] GhostInTheMachines commented on #3282
changed the memory_limit to 256M from 128 and now it reports that it tried to allocate 32 bytes instead of 64.  Numbers don't seem accurate but it sounds like I am on the right track with the correct file being php.ini.default.
I'll just up it to 512M and see if that gets it.

[2017-06-22 21:17] jmolivas commented on #3282
can you try this ` php -i | grep memory_limit` and check the new value is applying ?

[2017-06-22 21:17] GhostInTheMachines commented on #3282
Weird, now the error states that it tried to allocate 75 bytes.  Looks like it is random

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 32 bytes) in /Users/kimbled/Sites/devdesktop/tsbvi-dev/docroot/vendor/symfony/dependency-injection/ParameterBag/ParameterBag.php on line 261
kilroy:docroot kimbled$ drupal list

Fatal error: Allowed memory size of 134217728 bytes

[2017-06-22 21:18] GhostInTheMachines commented on #3282
Sure thing: looks like I am in the wrong file

kilroy:docroot kimbled$ php -i | grep memory_limit
memory_limit => 128M => 128M

[2017-06-22 21:23] jmolivas commented on #3282
Try renaming `php.ini.default` as `php.ini`.

[2017-06-22 21:27] GhostInTheMachines commented on #3282
BINGO!  It worked.

Thank you

[2017-06-23 03:18] scott-taylor-fruition commented on #3302
@flatline-studios, ultimately I was running into the same issue you stated most recently.  This fixed it...

https://github.com/hechoendrupal/drupal-console/issues/3212#issuecomment-286011915

[2017-06-23 03:24] albertski commented on #3302
I'm running into the same issue with a project just created with: https://github.com/drupal-composer/drupal-project

If I run `composer update drupal/console --with-dependencies` I get the following:

[code]

[2017-06-23 03:54] jmolivas commented on #3302
@flatline-studios try re-installing the launcher again
[code]

[2017-06-23 03:57] albertski commented on #3302
Tried that but same error:

[code]

[2017-06-23 04:17] jmolivas commented on #3302
@albertski which version do you have of `drupal/console`  and `webflo/drupal-finder`? you can check using this:

DrupalConsole
[code]
DrupalFinder
[code]

[2017-06-23 04:18] albertski commented on #3302
[code]
[code]

[2017-06-23 04:20] jmolivas commented on #3302
You need  to update `drupal/console` and `webflo/drupal-finder` try:
[code]

[2017-06-23 04:24] albertski commented on #3302
Tried that but the issue remains:
[code]

FYI this is part of my composer.json:

[code]

Part of my composer.lock
[code]

[2017-06-23 04:45] jmolivas commented on #3302
You are enforcing `"webflo/drupal-finder": "^0.2.1",` and you need 0.3.x as you can see on the project repo https://github.com/drupal-composer/drupal-project/blob/8.x/composer.json#L25 try updating `"webflo/drupal-finder": "^0.3.0"` and then `composer update webflo/drupal-finder`

[2017-06-23 05:00] albertski commented on #3302
Hmm did that but still having the issue:

[code]

[2017-06-23 05:01] albertski commented on #3302
I'm using: PHP 7.1.4

[2017-06-23 05:03] jmolivas commented on #3302
What is the remaining issue?, can you share the error you are getting?

[2017-06-23 05:04] jmolivas commented on #3302
Can you check which version do you have now after the update?

following instructions at https://github.com/hechoendrupal/drupal-console/issues/3302#issuecomment-310567211

[2017-06-23 05:09] albertski commented on #3302
[code]

[code]

Here is the error:
[code]

[2017-06-23 05:15] jmolivas commented on #3302
How about the Launcher? which version do you have installed?

Try cd out of the drupal site and execute `drupal --version`

[2017-06-23 05:27] albertski commented on #3302
Turns out I was on Drupal Console Launcher version 1.0.0-rc16 and when I was running the commands:

[code]

It didn't work because I needed to be logged in as root.  I logged in as root and ran the commands and it fixed the issue.  Thanks a lot for your help!

[2017-06-23 05:49] jmolivas commented on #3302
Glad to read is working now

[2017-06-23 08:47] skvskv commented on #3091
Same nasty issue with 1.0.0-rc21

[2017-06-23 14:24] jmolivas commented on #3091
@skvskv We need a way to identify and replicate in order to have this fixed. Did the  workaround works for you?

[2017-06-23 15:05] ismailcherri commented on #3091
@jmolivas In order to reproduce you need the following:
1. Create a custom module (`drupal generate:module`)
2. Create a custom block in the module (`drupal generate:plugin:block`)
3. Place the block into any region of the active theme leaving its visibility to all pages
4. Use the following code:

[code]

5. run any drupal console command afterwards... 😄

[2017-06-25 18:44] mdrummond commented on #3293
Any updates on this? I ran into this at sprints at Twin Cities Drupal Camp and spent several hours trying to get Drupal Console working with 8.4.x to no avail. From everything I can see it's this discrepancy in symfony/console versions that is causing this problem.

Would really like to see this resolved as there are multiple issues opened with this same issue, and it can cause severe setbacks try

[2017-06-26 08:15] jeanfredrik commented on #3346
@jmolivas I have the same problem; silent failure since rc19. I solved it by explicitly requiring 1.0.0-rc18 and removing `.console` in my home dir. Rc18 works great now, but I can’t update beyond that.

[code]

[2017-06-27 07:37] jmolivas commented on #3353
@Nicasso version `8.4.4.` ?

[2017-06-27 07:42] jmolivas commented on #3331
@clemens-tolboom There is no global install for DrupalConsole you must install it per site.

[2017-06-27 07:43] jmolivas commented on #3331
And yes I do agree the docs need to reflect the contributing instructions.

[2017-06-27 10:10] clemens-tolboom commented on #3331
From https://github.com/hechoendrupal/drupal-console/blob/master/README.md

I'll retry :)

[2017-06-27 10:12] GoZOo opened #3364 "[generate:entity:content] Generate entity with Uppercase generate form id with uppercase"
### [ *generate:entity* ] Generate entity with Uppercase generate form id with uppercase

### Problem/Motivation
When generating a new entity with an uppercase, form id does not convert uppercase to lowercase which is not ok with coding standards.
Ex: Contact entity =>
[code]

### How to reproduce

**Details to include:**
- Drupal version 8.3.4.
- Drupal Console version 1.0.0-rc20.
- Steps to repr

[2017-06-27 14:46] jmolivas commented on #3331
The global executable is only a Launcher
https://docs.drupalconsole.com/en/getting/launcher.html

More info about the Launcher and per-site installation
https://docs.drupalconsole.com/en/getting/project.html

[2017-06-28 09:28] cburschka-pwc opened #3365 "Upgrading to rc23 requires downgrading doctrine/collections"
In #3272 (rc17), the version requirement for doctrine/collections was relaxed in order to allow using doctrine/collections 1.4.0. Then in #3362 (rc23), this was reverted to force 1.3.x again.

Given that between rc17-rc22, Drupal Console has been working fine with 1.4, I'm somewhat confused that in rc23 it was apparently necessary to downgrade back, even though 1.4 should be fully backward-compati

[2017-06-29 01:13] jmolivas commented on #3365
@cburschka we detected `1.4.0` requires php `^5.6 || ^7.0`

1.4.0
https://github.com/doctrine/collections/blob/v1.4.0/composer.json#L16

1.3.0
https://github.com/doctrine/collections/blob/v1.3.0/composer.json#L16

Since latest stable release if Drupal 8 still requires `>=5.5.9`
https://github.com/drupal/drupal/blob/8.3.4/core/composer.json#L7

We decided to switch back

[2017-06-29 13:57] cburschka-pwc commented on #3365
Sorry if I'm not understanding composer dependencies right, but wouldn't it be better to lock it to 1.3.0 in composer.lock, while leaving the requirement itself as ^1.3 to leave maximum flexibility? As it is, DC would be incompatible with any other package that requires 1.4, regardless of your PHP version.

DC itself doesn't require PHP 5.5.9 after all, and therefore I don't think it should force

[2017-06-29 15:50] blakehall commented on #3353
I can verify that 8.4.x results in similar issues, but 8.3.x works as expected.

[2017-06-29 20:09] jmolivas commented on #3354
I agree and will implement a cache clear deleting `.console` directory on bootstrap error.

[2017-06-29 21:34] tmli3b3rm4n commented on #3336
I have a console module:refactor I'm currently working on.  ETA 2 weeks.  If it's worthy i'll make PR.

[2017-06-29 21:44] tmli3b3rm4n opened #3366 "Feature Request - Add entity validation"
### Add entity validation
Add options to the `generate:entity:config` and `generate:entity:config` or create a `generate:entity:validation`

### Problem/Motivation
I'm having to validate entities and I feel this could be done better via script or far enough ahead that tightening the rest of it up would be quick.

### Solution
I'm working on this parallel to a module refactor command.  ETA two week

[2017-06-29 21:47] jmolivas commented on #3336
@tmli3b3rm4n Looking forward to test it.

[2017-06-30 07:27] jmolivas commented on #3226
The `site:new` command is back now.

[2017-06-30 07:29] jmolivas commented on #3226
You can use it like:
[code]

make sure you run `drupal init` to copy configuration files

[2017-06-30 07:31] jmolivas commented on #3226
As mentioned by @carsonblack we are promoting the usage of composer

This command is a chain command definition is at this file:
https://github.com/hechoendrupal/drupal-console-core/blob/master/config/dist/chain/site-new.yml

This file is copied when `drupal init` is executed:

This is the file content:
[code]

[2017-06-30 09:20] anrizal commented on #3353
+1
I can verify that 8.4.x results in similar issues, but 8.3.x works as expected.

To note:
This packaged is a requirement in https://github.com/drupal-composer/drupal-project
And to use drupal/core : ~8.4 you need to use drush/drush: "~9.0", maybe you can check with the drush package as well since Drush uses the latest version of dependencies from Symfony  and Drupal console's dependencies (at t

[2017-06-30 09:22] anrizal commented on #3317
+1
I can verify that 8.4.x results in similar issues, but 8.3.x works as expected.

To note:
This packaged is a requirement in https://github.com/drupal-composer/drupal-project
And to use drupal/core : ~8.4 you need to use drush/drush: "~9.0", maybe you can check with the drush package as well since Drush uses the latest version of dependencies from Symfony and Drupal console's dependencies (at th

[2017-06-30 09:22] anrizal commented on #3353
Similiar issue

    https://github.com/hechoendrupal/drupal-console/issues/3353
    https://github.com/hechoendrupal/drupal-console/issues/3317
    https://github.com/hechoendrupal/drupal-console/issues/3293

[2017-06-30 09:23] anrizal commented on #3293
+1
I can verify that 8.4.x results in similar issues, but 8.3.x works as expected.

To note:
This packaged is a requirement in https://github.com/drupal-composer/drupal-project
And to use drupal/core : ~8.4 you need to use drush/drush: "~9.0", maybe you can check with the drush package as well since Drush uses the latest version of dependencies from Symfony and Drupal console's dependencies (at th

[2017-07-01 15:27] ultimike commented on #3223
I am seeing this exact same behavior with 1.0.0-rc20.

![depanthconfig_ _-bash_ _120x48_and_local_development_and_notes](https://user-images.githubusercontent.com/1727889/27763355-3f4e196c-5e50-11e7-8dbc-7ff8163a315a.png)

[2017-07-01 22:13] jmolivas commented on #3223
@ultimike The `config:import:single` command file option is expecting a full file path

<img width="829" alt="drupal-config-import-single" src="https://user-images.githubusercontent.com/366275/27765733-a19d33aa-5e6e-11e7-8414-a6d5e8d18d21.png">

Same for inline mode
[code]
<img width="1115" alt="drupal-config-import-single-2" src="https://user-images.githubusercontent.com/366275/27765751-5c0d8e42-

[2017-07-01 22:35] jmolivas commented on #3223
@ultimike @csandanov @igasi  I think we can use only `file` option and remove `name` since we can obtain name from file ie:

`/Users/jmolivas/Desktop/block.block.default_block.yml` => `block.block.default_block`

[2017-07-02 05:45] jmolivas commented on #3223
I did some changes on the command removing the `name` option and be used like:

Interactive mode:
[code]
<img width="1105" alt="drupal-config-import-single-3" src="https://user-images.githubusercontent.com/366275/27767514-cd0b97f8-5eae-11e7-867f-9754572cf596.png">

Providing a `file` option using full path
[code]
Providing `file` and `directory` options
[code]
<img width="1180" alt="drupal-config-

[2017-07-03 09:38] cburschka-pwc opened #3373 "config:diff seemingly cannot be run non-interactively"
[code]

[code]

There *is* a default, you can just hit enter on the above prompt; why doesn't it use that in non-interactive mode?

[code]

I have no idea how to use this command now...

[2017-07-03 09:50] cburschka-pwc commented on #3373
There seem to be two separate bugs here - the first is that the interactive mode sets a default which is not used in non-interactive mode (`CONFIG_SYNC_DIRECTORY`), and the second is that the interactive mode prompts for a `$config_directories` key, but the CLI argument itself is expected to be a path.

My first approach would be adding something like this to `::execute`:

[code]

Which allows pas

[2017-07-03 13:12] jmolivas commented on #3364
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3370

[2017-07-03 15:09] ultimike commented on #3223
Excellent - thanks!

-mike

[2017-07-04 05:09] jmolivas opened #3378 "[console] Add command aliases to command classes."
### Problem/Motivation
Take advantage of symfony/console aliases and remove definition of alias on a external YAML file.

### Solution
- Select a command from the dupal/console-core [config/dist/aliases.yml](https://github.com/hechoendrupal/drupal-console-core/blob/master/config/dist/aliases.yml) file.
[code]
- Add alias to command class using the `->setAliases(['ALIAS_NAME']);` method.

Before
[c

[2017-07-04 07:07] jmolivas opened #3380 "Relocate *:debug commands to debug:*"
### Problem/Motivation
Relocate `*:debug` commands by grouping using the command namespace `debug:*`

### Benefits:
- Group similar commands on a common `debug` namespace.
- Make easier to find commands using `drupal list debug` instead of `drupal list | grep debug`.

This is an example of how symfony framework show commands using `bin/console list debug`

![symfony-console-list-debug](https://use

[2017-07-04 09:31] prineshaz opened #3381 "Environment variables broken > rc-21"
### [console] Environment variables in chain file not working

### Problem
Chaining a file with environment variables (via custom install yml file) may be broken in version 1.0.0-rc22 and 1.0.0-rc23.  We have a jenkins job which pulls in latest drupal/console & installs core drupal 8 via my custom install yml file. This implements the env variables approach defined [here](https://github.com/hechoe

[2017-07-04 16:05] jmolivas commented on #3381
Looking at this @prineshaz and ping you back.

[2017-07-04 20:46] jmolivas commented on #3378
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3386

[2017-07-04 20:53] jmolivas commented on #3378
@bonfil1 Thanks for your contribution, your PR was merged. This will be included on the next release.

[2017-07-04 20:53] #3378 closed

[2017-07-04 22:43] mauhg opened #3392 "[views:debug] Fatal error: Call to undefined method getViewDisplayManager()"
### [ views:debug] Fatal error: Call to undefined method _getViewDisplayManager()_

### Problem/Motivation
When running `drupal views:debug archive` or with any other `view-id` the console throws the following error:
`PHP Fatal error:  Call to undefined method Drupal\Console\Command\Debug\ViewsCommand::getViewDisplayManager() in /Users/mauhg/anexus/DrupalConsole/src/Command/Debug/ViewsCommand.php

[2017-07-05 06:25] bradjones1 commented on #3283
For anyone totally perplexed by this... I chased it for a long time and turned out to be an incorrect conclusion on the part of `DrupalFinder` as to the vendor directory's location. I had an empty `composer.json` file present in the web root, however my vendor directory is one level up, per the `drupal-project` pattern.

[2017-07-05 14:00] MPParsley commented on #3302
$ composer update drupal/console --with-dependencies

Dependency "composer/installers" is also a root requirement, but is not explicitly whitelisted. Ignoring.

$ composer show | grep drupal-finder
webflo/drupal-finder                         0.2.1               Helper class to locate a Drupal insta...

In composer.json:
    "webflo/drupal-finder": "^0.2.1",

[2017-07-05 15:20] jmolivas commented on #3373
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3388

I tested with:
[code]

[2017-07-05 21:10] chrisfromredfin commented on #3283
What fixed something like this for me was to rm -rf vendor/drupal/console and then re-run composer install. Then I immediately did a 'drupal --uri=SITE cr' and then all was well.

[2017-07-05 21:39] karimsmartica opened #3400 "[update:debug] not showing available updates for core and modules"
[update:debug] not showing available updates for core and modules

### Problem/Motivation
As an old user of Drush, I was thinking I could use DrupalConsole to see what updates were available with [update:debug] or an other DC command. But I was wrong...

At this time, there is no way to have a similar functionality as "drush ups" with DrupalConsole

Sure, we can use "composer show --outdated" but

[2017-07-06 00:58] tuag commented on #3091
@jmolivas I can verify that what @ismailcherri reported is still present in DC version RC-23 (and Drupal 8.3.4). I have pretty much the same conditions he has described.

Looking into PrivateTempStore::getOwner() a little closer, it's not testing for a null session.
To me that looks like a core bug. I think it makes sense to add the check here rather than checking for cli in some higher level cont

[2017-07-06 17:53] cburschka-pwc commented on #1916
Simple missing-line bug, looks like.

core:

[code]

UninstallCommand:

[code]

You can actually see the `$profile` variable get marked as undefined in the IDE.

[2017-07-06 18:14] jmolivas commented on #1916
Another option is to pass `--force`

[2017-07-06 18:15] jmolivas commented on #1916
[code]

[2017-07-06 20:11] colans commented on #3320
@jmolivas I believe I was using the latest.  Sorry, but I don't have it installed anymore, and worked around this by adding the dependency manually (skipping that step when running the command).

[2017-07-06 20:20] jmolivas commented on #3320
@colans is working now?

[2017-07-06 20:24] colans commented on #3320
No idea as I just used the workaround.

[2017-07-06 20:29] jmolivas commented on #3320
got it

[2017-07-06 22:27] albertski opened #3410 "The service "console.migrate_rollback" has a dependency on a non-existent service "plugin.manager.migration"."
### The service "console.migrate_rollback" has a dependency on a non-existent service "plugin.manager.migration".

### Problem/Motivation
After uninstalling the migrate module when I run `drupal init` I get the following error:

[code]

### How to reproduce
Migrate site
Uninstall migrate
Try to use drupal console

**Details to include:**
- Drupal version: `8.3.5`
- Console version:
[code]
- Consol

[2017-07-06 22:45] cburschka-pwc commented on #3410
I coincidentally ran into the same issue just this week. It seemed to be a
container-caching problem: The migrate commands are initially skipped if
the migrate module isn't installed, but if you install and remove it it
breaks the service container.

You could try the steps from #3354 to clear the cache...

On Jul 7, 2017 00:27, "Albert Jankowski" <notifications@github.com> wrote:

The service "co

[2017-07-07 03:07] jmolivas commented on #3410
@albertski try `drupal cr all`to rebuild dupal console caches, next DrupalConsole release will clear the caches once composer updates the project commands.

[2017-07-07 03:16] albertski commented on #3410
Thanks @cburschka-pwc ! Thanks @jmolivas `drupal cr all` fixed the issue.

[2017-07-07 03:16] #3410 closed

[2017-07-10 21:42] hanoii commented on #3365
I also think this is causing an odd behavior, if you run `composer update --with-dependencies` several times it seems that it's jumping back and forth between rc22 and rc23:

[code]

[2017-07-11 08:08] cburschka-pwc commented on #3365
Indeed, it seems that composer is as likely to downgrade drupal/console as to downgrade doctrine/collections here - it's not really built for a scenario where a new version of A depends on an older version of B than it used to.

Until this is fixed, most installations will either get weird updating behavior, or be stuck at rc22 if they don't use `--with-dependencies`.

[2017-07-11 13:41] hanoii commented on #3365
The way I sorted this is by forcing console to go >= rc23:

[code]

This at least sorts the odd issue. Also, without doing that, other composer updates were failing too.

[2017-07-11 14:34] JoeKersey commented on #3348
Upgrading to rc23 fixed this for me, now I have a different issue..

[2017-07-11 14:55] welly opened #3414 "Argument 3 passed to Drupal\Console\Command\Config\ExportSingleCommand::__construct() must be an instance of Drupal\Console\Extension\Manager, none given"
Just tried to run drupal router:rebuild and actually any console command and get the following errors:

[code]

I've tried deleting the vendor/drupal/console directory and running composer install and also running composer update drupal/console which both completed (although update didn't update anything) but no luck in resolving the issue.

console version is:

Cheers

[2017-07-11 17:06] jmolivas commented on #3414
@welly try rebuilding DrupalConsole caches executing `drupal cr all`

[2017-07-11 18:35] blasvicco opened #3415 "Error: Call to a member function discoverModules() on null"
### Error: Call to a member function discoverModules() on null

The issue title should comply with the following structure:

[ command:module:dependency:install ] discoverModules() on null in Command/Shared/ModuleTrait.php on line 29

### Problem/Motivation
Performing this command call in the console result in the next error:
Error: Call to a member function discoverModules() on null in ../drupal-

[2017-07-11 18:43] blasvicco opened #3416 "ArgumentCountError: Too few arguments for drupal site:statistics"
### ArgumentCountError: Too few arguments for drupal site:statistics

[ command:site:statistics ] 0 passed 1 expected

### Problem/Motivation
Performing this command call in the console result in the next error:
ArgumentCountError: Too few arguments to function Drupal\Console\Extension\Manager::getList(), 0 passed in /private/var/www/vhost/anexusit/drupal-console/src/Command/Site/StatisticsCommand

[2017-07-12 10:41] welly commented on #3414
@jmolivas alas no luck, running `drupal cr all` results in the following error:

[code]

I've manually deleted the .console directory and tried running console commands again but no luck still.

Seems strange as I've had this working fine before and I'm not aware of any updates.

The only thing I can think of is this is a system wide install of drupal console and I have a local install of console

[2017-07-12 12:41] DuaelFr opened #3418 "[generate:entity:bundle] only adds bundles to the node entity type"
### Problem/Motivation

When using generate:entity:bundle we hope to create an entity bundle, not a node type. It could be used to create any other entity bundle.

### How to reproduce

Launch the command, follow the steps, wait to be asked which entity type we want to extend.

- Drupal version 8.3.4
- Console version 1.0.0-rc23
- Console Launcher version 1.0.0-rc23

### Solution

Add one more ste

[2017-07-12 13:14] jmolivas commented on #3414
@welly  Can you check if you have a `console/cache` directory at your site root path or an empty `composer.json` at `web` or `docroot` directory?

[2017-07-12 19:46] blasvicco opened #3419 "Error: Call to a member function id() on null Taxonomy/DeleteTermCommand.php on line 94"
### Error: Call to a member function id() on null Taxonomy/DeleteTermCommand.php on line 94

[ command:taxonomy:term:delete ] If the vid is not valid then we get the error

### Problem/Motivation
We should handle the exception.

**Details to include:**
- If the vid is not valid we are calling $io->error("Invalid vid: {$item}."); but then we continue with $vocabulary = $vocabularies[$item]; and bec

[2017-07-12 20:00] blasvicco opened #3420 "Error: Call to a member function getPath() on null Theme/PathCommand.php on line 70"
### Error: Call to a member function getPath() on null Theme/PathCommand.php on line 70

[ command:theme:path ] If $this->extensionManager->getTheme($theme); return null then we get the error

### Problem/Motivation
We should handle the exception.

**Details to include:**
- We are doing $theme = $this->extensionManager->getTheme($theme); but if $theme is null then we get an exception because we ar

[2017-07-12 20:53] jepster opened #3421 "drupal quick:start + drupal site:new not available"
### drupal quick:start + drupal site:new not available `console`

### Problem/Motivation
I have installed Drupal Console via the instruction at https://drupalconsole.com/articles/how-to-install-drupal-console on Linux Mint 18.1 (based on Ubuntu 16.04 Linux). Afterwards I was able to start Drupal Console via the "drupal" command and use the "drupal list" command to see the possible command. But I w

[2017-07-12 21:11] jmolivas commented on #3421
@jepster we need to update the docs. In order to have those commands available you need to execute `drupal init` command first.

[2017-07-12 21:19] jepster commented on #3421
@jmolivas I have been executing `drupal init`.

But this didn't help.

[2017-07-13 06:59] jmolivas commented on #3419
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3426

[2017-07-13 07:14] jmolivas commented on #3420
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3425

[2017-07-13 08:34] jmolivas commented on #3421
@jepster which Launcher version you installed?

[2017-07-13 08:43] jepster commented on #3421
My Drupal Console version:

[2017-07-13 14:41] jmolivas commented on #3421
My bad try `drupal init` again and make sure you answer yes on `Copy chain files examples`

[2017-07-13 16:16] pslcbs opened #3432 "[generate:plugin:field] Missing my_module.schema.yml and missing module annotation"
- Drupal console 1.0.0-rc23
- Drupal 8.3.4 - English (default) and Spanish
- Command: generate:plugin:field

### Motivation

1. Generates all files but not /my_module/config/schema/my_module.schema.yml

2. Missing annotation  * module = "myModule" in field type class

Is there a reason to that?

### How to reproduce

Use command as normal

[2017-07-13 17:03] jepster commented on #3421
If I answer yes on `Copy chain files examples`, I am able to execute other commands. But this isn't intuitive. It should not be necessary to copy any examples, to be able to execute the commands. I consider this a bug.

[2017-07-13 17:16] jepster commented on #3421
Even with the `Copy chain files examples` option, the command seems not to work entirely properly. After I have executed `drupal quick:start` there come errors:

[code]
I also cannot generate an entity:

[2017-07-13 17:58] jmolivas commented on #3421
Does the `playground` exists?

[2017-07-13 18:02] #1916 closed

[2017-07-13 18:27] jepster commented on #3421
Aha, I need to generate a module first. After I have a module with the name `playground`, it works.

[2017-07-13 18:31] jmolivas commented on #3421
I think message should mention that instead of just fail with a random error message.

[2017-07-13 18:38] jepster commented on #3421
Yep, that would help.

[2017-07-13 19:22] jmolivas commented on #3421
I will check `quick:start` for now you can try `site:new` to download drupal and execute `drupal site:install` within the site directory.

[2017-07-14 04:26] miguel303 commented on #3416
@blasvicco I just ran this command: drupal site:statistics and I don't get any errors

[2017-07-14 05:40] jepster commented on #3421
Great, Drupal Console is doing a good job! :)

[2017-07-14 14:57] blasvicco commented on #3416
This is the full stack of the error when I run it:
ArgumentCountError: Too few arguments to function Drupal\Console\Extension\Manager::getList(), 0 passed in /private/var/www/vhost/anexusit/drupal-console/src/Command/Site/StatisticsCommand.php on line 190 and exactly 1 expected in /private/var/www/vhost/anexusit/drupal-console/src/Extension/Manager.php on line 104 #0 /private/var/www/vhost/anexusi

[2017-07-14 16:43] #3380 closed

[2017-07-14 19:41] jmolivas commented on #3421
@jepster I tried `quick:start` on latest release and it works fine, make sure you execute `drupal init --override` to copy new files to your local.

[2017-07-14 19:45] jmolivas commented on #3421
Based on your recommendation 'site:new' and `quick:start` commands are copied automatically  when `init` is executed. The rest of the chain files are optional and copied if yes is entered when `Copy chain files examples` is asked.

[2017-07-15 18:21] clrockwell79 opened #3438 "Space in `__con struct` in skeleton.php.twig"
There is a typo - an extra space - in the template within skeleton.php.twig

`template`

### Problem/Motivation
Using `drupal generate:plugin:skeleton` results in an extra space in the plugin's `__construct` method, which results in an error.

### How to reproduce
Use `drupal generate:plugin:skeleton`, e.g. `drupal generate:plugin:skeleton --module="commerce_form_customizations" --plugin-id="comme

[2017-07-15 22:23] betoquiroga opened #3440 "I can't run commands on RC24"
### I can't run commands on RC24

### Problem
With the last release (RC24) all commands return this error:

[Symfony\Component\Console\Exception\InvalidArgumentException]
  Command name "" is invalid.

In others projects with RC23 all is working

### How to reproduce
1.-  Execute
composer create-project drupal-composer/drupal-project:8.x-dev project.dev --prefer-dist --no-progress --no-interaction

[2017-07-16 04:54] jmolivas commented on #3440
@betoquiroga which OS and PHP version are you using?

[2017-07-16 12:12] betoquiroga commented on #3440
MacOS Sierra 10.12   & PHP 5.6.30

[2017-07-16 17:14] jmolivas commented on #3438
Fixed with https://github.com/hechoendrupal/drupal-console/pull/3439

[2017-07-16 17:35] #3438 closed

[2017-07-16 17:35] jmolivas commented on #3421
@jepster Closing this one. Feel free to re-open if happens again

[2017-07-16 17:35] #3421 closed

[2017-07-16 17:35] #3420 closed

[2017-07-16 17:36] #3419 closed

[2017-07-16 21:09] jmolivas commented on #3440
@betoquiroga  I tested rc24 on my local and it works fine

![Alt text](https://monosnap.com/file/JMh7XqSdj1uoXw437SqBdZaa9Xyri5.png)

[2017-07-17 01:19] jmolivas commented on #3440
I updated my OSX to `10.12.5`and rc24 works as expected
![Alt text](https://monosnap.com/file/Gck2jsvWdFocgNrgGqDbYTaMVH2doz.png)

[2017-07-17 01:20] jmolivas commented on #3440
I also tested on a new DrupalVM and test rc24 and it works fine
![Alt text](https://monosnap.com/file/u1s1Yy0JSfP5k2c8yY3jNJq52PqB40.png)

[2017-07-17 15:59] Narretz commented on #3440
Same here for me. I'm on Windows 10 with php 5.6.23 and I'm accessing drupal like this: `vendor/drupal/console/bin/drupal` Always gives me
[code]

Started with rc.24. .rc25 is broken, too. rc.23 works

[2017-07-17 17:35] jmolivas commented on #3440
@Narretz I was testing this with @betoquiroga and we found the fix try this:

[code]
To test change directory to your site and `drupal list`

If that does not work then try removing the global console directory (backup if you make changes to any of those files)
[code]
To test change directory to your site and `drupal list`

[2017-07-18 03:12] cjwills commented on #3440
Blowing away ~/.console fixed it for me (rc25, linux, php 7.0)

[2017-07-18 10:39] Narretz commented on #3348
I also had this in rc.17 with this cmd: `vendor/drupal/console/bin/drupal config:export --directory=config-backup`

updating to rc.23 works

[2017-07-18 10:52] Narretz commented on #3440
@jmolivas Thanks, I emptied .console in my user folder (on Windows) and now it works. I can't use `drupal` directly in my project folder, though (always have to use `vendor/drupal/console/bin/drupal` but I assume that's a different issue.

[2017-07-18 15:19] jmolivas commented on #3440
@Narretz Did you installed the Launcher?
https://docs.drupalconsole.com/en/getting/launcher.html

[2017-07-20 07:25] bigsony commented on #3440
It works for me after removing the global console directory. Thanks (rc25, PHP 7.0.15-0 ubuntu0.16.04.4 )

[2017-07-20 07:26] jmolivas commented on #3440
Closing this one. Feel free to re-open if still happening after applying the fix.

[2017-07-20 07:26] #3440 closed

[2017-07-20 07:31] jmolivas commented on #3331
@clemens-tolboom  Contribute instructions added to the docs https://docs.drupalconsole.com/en/contributing/running-the-project.html and readme updated https://github.com/hechoendrupal/drupal-console#contribute-to-drupal-console

[2017-07-20 07:31] #3331 closed

[2017-07-20 07:31] jmolivas commented on #3331
Closing this one. Feel free to re-open if still need some clarification.

[2017-07-20 07:32] jmolivas commented on #3348
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-07-20 07:32] #3348 closed

[2017-07-20 07:32] jmolivas commented on #3414
@welly try `cd path/to/drupal` and execute:

[code]

[2017-07-20 08:41] welly commented on #3414
Well, something seems to have fixed itself. I deleted the cache directory and had actually deployed some new code and it all seems to be working again, at least the local project version as opposed to the system wide version (that still doesn't work! But that's fine). I'm not entirely sure what resolved it but seems to be ok. Version is 1.0.0-rc25 on the project version. I'll close this. Thank you

[2017-07-20 08:41] #3414 closed

[2017-07-20 09:31] cburschka commented on #3293
As the first alpha of 8.4.0 is planned in about two weeks (https://groups.drupal.org/node/517148), the need for a compatible DC release will likely become more urgent for a lot of dev projects soon.

[2017-07-22 00:17] gapple commented on #3365
Console should specify its minimum requirement (`^1.30`, since it needs to support PHP 5.5), and then it's up to composer on the local system to resolve the correct version.

If a project needs to ensure that dependencies are resolved against a particular version of PHP, then there is [the `platform` config parameter](https://getcomposer.org/doc/06-config.md#platform) to force composer to act as i

[2017-07-22 05:49] gapple commented on #2872
Is there progress or ways to help?

I did the following:
[code]
and am met with

[code]

The previously referenced commits look like they were merged into the `develop` branch, but that branch no longer exists and it doesn't look like any of those changes are in the current `master` branch.

[2017-07-22 18:50] jmolivas commented on #2872
@gapple thanks for helping, we started fixing Tests on development and moved to `test-suite` but  been thinking to merging on them on master to continue working on those tests.

Do you think merging into master will make it easy to continue

[2017-07-23 12:58] chx opened #3448 "drush php is broken"
I am working on a project that has `"drupal/console": "~1.0"`, in the  requirements of its composer.json. According to composer.lock, this in turn requires `"psy/psysh": "0.6.* || ~0.8"` and has been satisfied with `"version": "v0.8.9"`.

After installing `drush.phar` from `http://files.drush.org/drush.phar` as `/usr/local/bin/drush` , `drush php` breaks with a crazy error message:

    "Error: Ca

[2017-07-23 15:14] bobthecow commented on #3448
This is more of an issue with drush than drupal console, so the issue should probably be raised there. If you're just interested in a quick fix for the issue, add an explicit dependency on `"psy/psysh": "~0.6"` to your project's `composer.json`.

[2017-07-24 01:10] chx commented on #3448
`"psy/psysh": "0.8.0"` solved this. The root cause of course is https://www.drupal.org/node/2391219 but no one listened to me then so I guess one can't expect sanity now either.

[2017-07-24 01:10] #3448 closed

[2017-07-24 06:45] Sutharsan commented on #2783
This issue was confimed three days ago during a long debug session with @jmolivas in the (current) RC25 release. Without a sites/default/settings.php a single and a multi-site will not work. A complete sites/sites.php is present in both cases.

[2017-07-25 00:51] greg-1-anderson commented on #3448
chx's problem was caused by using a global Drush install; see https://github.com/drush-ops/drush/pull/2853#issuecomment-317595718.

The broader problem of dependency mismatches is more of a Composer issue than anything that can be attributed to one dependency over another.

[2017-07-25 19:54] msypes commented on #3281
Same here. Followed the pattern of updating the console locally (core is rc21), self-updated launcher to rc25, `drush cr all` (drupal core is 8.3.5)
Just running `drupal --version` still getting
Argument 2 passed to Drupal\Console\Command\Config\ExportCommand::__construct() must implement interface Drupal\Core\Config\StorageInterface, none given in ...vendor/drupal/console/src/Command/Config/Expor

[2017-07-25 22:32] msypes commented on #3352
Thanks @cburschka-pwc
I was having similar issues (https://github.com/hechoendrupal/drupal-console/issues/3281#issuecomment-317853240) and your advice to delete `~/.console` really cleared it

[2017-07-26 15:25] CaioBianchi commented on #3091
@jmolivas This is still happening with the latest version of everything (Drupal core and console [rc-25])

`PrivateTempStore::getOwner()` error

[2017-07-28 08:07] #3365 closed

[2017-07-28 08:09] #3317 closed

[2017-07-28 08:09] #3353 closed

[2017-07-28 10:23] Aluquot commented on #3184
They are actually working on getting this kind functionality into core:

- [https://www.drupal.org/node/2897299](Draft for a changerecord)
- [https://www.drupal.org/node/2788777](The corresponding issue)

In that case it would be nice to have the above mentioned option `--config-directory`.
This would allow for the mentioned `config/sync` to not have to be in the webroot (in the profile dir).

It

[2017-07-28 16:48] jmolivas commented on #3283
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-07-28 16:48] #3283 closed

[2017-07-28 17:15] jmolivas commented on #3381
@prineshaz try updating to latest DC both Launcher and per-site installation

[2017-07-28 17:22] #3293 closed

[2017-07-28 21:41] jmolivas commented on #3373
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-07-28 21:41] #3373 closed

[2017-07-28 22:13] jmolivas commented on #953
Closing this one, since the `generate:plugin:skeleton` is included as part of the project

[2017-07-28 22:13] #953 closed

[2017-07-28 22:14] jmolivas commented on #1106
Closing this one, @phenaproxima thanks for the idea of separating the languages.

[2017-07-28 22:14] #1106 closed

[2017-07-28 22:15] jmolivas commented on #1121
Closing this one. It was fixed with #2440

[2017-07-28 22:15] #1121 closed

[2017-07-30 00:27] Jack2King commented on #3283
The first time using "../vendor/bin/drupal .." is ok, then the second time comes this issue and still on the next time.

[2017-07-31 03:00] jmolivas commented on #1519
Alias are shown now
![drupal-list-alias-1](https://user-images.githubusercontent.com/366275/28761183-ae97a522-7561-11e7-8a12-46e1b3b23bf4.png)
![drupal-list-alias-2](https://user-images.githubusercontent.com/366275/28761182-ae9701b2-7561-11e7-934a-594f33943637.png)

[2017-07-31 03:00] #1519 closed

[2017-07-31 03:02] jmolivas commented on #1359
The `shell` command provides this functionality
![drupal-shell-sandcamp](https://user-images.githubusercontent.com/366275/28761235-06ef29a2-7562-11e7-8b41-962571a65423.png)

[2017-07-31 03:02] #1359 closed

[2017-07-31 11:17] Aluquot commented on #3184
I did some testing and if the above mentioned patch makes it into core, supporting installation from existing config is as easy as adding something along the following lines to **runInstaller()**
[code]

[2017-08-01 09:15] lalop opened #3463 "[generate:command] extension instead of module"
### Problem/Motivation

While generating some classes for my module I was disapointed by the wording, the commands ask for a module for controller's generation and for an extension for command's generation
Is there a reason why the wording is different ?

**Details to include:**
- Drupal version 8.3.5
- Console version  1.0.0-rc25

### Solution
Change the wording in the command's generation comman

[2017-08-01 12:10] fede-green opened #3464 "Can't make Drupal Console work"
Hello,

i run the latest Ubuntu and am trying to get Drupal Console to work. Installed it with
`composer require drupal/console:~1.0 \
--prefer-dist \
--optimize-autoloader`

and added ~/.composer/vendot/bin to my $PATH. When i run `drupal` in a random dir i get the error "DrupalConsole must be executed within a Drupal Site". So i move into a dir where Drupal files are present and there i get the

[2017-08-01 13:25] horvan opened #3466 "Translations of Drupal Console on localize.drupal.org"
### Drupal Console on localize.drupal.org

[ *TRANSLATION* ] Make Drupal Consoole available on localize.drupal.org

### Problem/Motivation
Today I have seen That Drush is available for translation on loclaize.drupal.org. The Command Line Tool just has about 800 Strings to translate including all versions. Drupal console isn't translatable in that way yet. Among others I like to have the ability to

[2017-08-01 14:24] jmolivas commented on #3466
@horvan DrupalConsole is translatable but we use the [symfony/translation](http://symfony.com/doc/current/translation.html)

You can find the repos at github => https://github.com/hechoendrupal/drupal-console-[LANGUAGE_CODE]

Examples:
https://github.com/hechoendrupal/drupal-console-en
https://github.com/hechoendrupal/drupal-console-es
https://github.com/hechoendrupal/drupal-console-zh-hans

[2017-08-01 14:28] jmolivas commented on #3464
@fede-green DrupalConsole must be installed per-site not globally. You can find more info at the docs
https://docs.drupalconsole.com/en/getting/composer.html

You can still have a global executable we called launcher docs at
https://docs.drupalconsole.com/en/getting/launcher.html