[2016-10-19 16:31] nidble commented on #2812
Hi @jmolivas whats do you think about my PR? Is there something not correct or wrong?

[2016-10-19 16:41] marcusx opened #2831 "generate:entity:content with revision = yes results in Fatal Error"
`drupal generate:entity:content`
Answer `commands.generate.entity.content.questions.revisionable (yes/no) [yes]:` with yes

I get:

[code]

Using Console: (1.0.0-rc6)
And: Drupal Core 8.2.1

[2016-10-19 17:15] jmolivas commented on #2812
Thanks for the PR. I will be reviewing during BADCamp this week.

[2016-10-19 17:16] jmolivas commented on #2812
@nidble  Thanks for the PR. I will be reviewing during BADCamp this week.

[2016-10-19 17:43] betoquiroga commented on #2831
hi,   I have the same issue but with another error when I enable the module

`[ERROR] Drupal\test1\TestEntityStorage does not implement Drupal\Core\Entity\ContentEntityStorageInterface`

[2016-10-19 17:51] jmolivas commented on #2831
@marcusx @betoquiroga seems like the issue is this
https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Generator/EntityContentGenerator.php#L180-L211
We need to replace this
[code]
with
[code]

[2016-10-19 23:47] gergelypap commented on #2581
Same here. I love how every RC update causes a totally different bug. :confused:

[2016-10-19 23:53] marcusx commented on #2831
@jmolivas here a PR

[2016-10-20 07:43] georch commented on #2788
PR https://github.com/hechoendrupal/DrupalConsole/pull/2833 sent.

[2016-10-20 07:48] jmolivas commented on #2792
@Manjitsingh how did you installed?

[2016-10-20 07:48] jmolivas commented on #2766
This is included on RC6

[2016-10-20 07:48] #2766 closed

[2016-10-20 07:49] jmolivas commented on #2759
PR merged and included on RC6

[2016-10-20 07:49] #2759 closed

[2016-10-20 08:09] mickaelperrin commented on #2792
@Jmolivas Are you talking to me ?

I installed and upgraded it with composer.

[2016-10-20 19:38] jmolivas commented on #2829
PRs sent and merged:
https://github.com/hechoendrupal/DrupalConsole/pull/2836
https://github.com/hechoendrupal/drupal-console-core/pull/67
https://github.com/hechoendrupal/drupal-console-launcher/pull/42

[2016-10-20 19:46] #2788 closed

[2016-10-20 19:47] xmacinfo commented on #2825
Can we hide commands like "site" when they are not available? Or have those display a nice warning?

[2016-10-20 19:50] jmolivas commented on #2825
@xmacinfo when you  receive a

Is because is not listed
<img width="1128" alt="drupal-list-no-site" src="https://cloud.githubusercontent.com/assets/366275/19575505/a7f0d7de-96c3-11e6-8260-a4e863aa5de4.png">

We can probably catch the error and display a user friendly error message, could you please create a separated issue for that?

[2016-10-20 22:13] xmacinfo opened #2837 "Display a user-friendly error message when a command is not available"
For users reading the Available commands documentation [https://hechoendrupal.gitbooks.io/drupal-console/content/en/commands/available-commands.html], as they might try out commands not available, Drupal Console should display a user-friendly message when a command is not available.

Referencing: #2825

[2016-10-21 20:50] jamesmcb opened #2838 "When installing Drupal console in a site, I get files called multiple times, causing errors"
I installed the Drupal Console launcher (1.0.0-rc6) then installed it to my Drupal 8.2.1 site and then ran the 2 composer commands.   However when I try to execute "drupal" from my site root directory I get some errors (see below).  I surmise that the global drupal command is running and when it runs in vendor/bin/drupal, all the stuff has already been called from the first one.

PHP Notice:  Cons

[2016-10-22 02:09] clrockwell79 opened #2839 "Fatal Error when enabling module with entity type created via generate:entity:content"
This is my first real attempt at using DrupalConsole and I absolutely love it - coming from a project where I created custom entities and bundles in code this is such a breath of fresh air - thank you!

I am using 1.0.0-rc6 on a fresh Drupal install that was built using `composer create-project drupal-composer/drupal-project:8.x-dev celav2 --prefer-dist --no-progress --no-interaction`.

I generate

[2016-10-22 02:17] clrockwell79 commented on #2839
Hmm, also note that `use Drupal\Core\Entity\ContentEntityInterface;` isn't necessary in the generated file.  Line 111 in entity-content.php.twig has `implements {{ entity_class }}Interface` -- that generated Interface is what implements `ContentEntityInterface`.

[2016-10-22 02:41] clrockwell79 opened #2840 "Failed opening required error with entity generated via generate:entity:content"
Hello again! This is on rc6.  I have an error showing in my logs related to `$entityname.page.inc`: `Warning: include_once(): Failed opening '/some/web/modules/custom/projects/project_entity.page.inc`.  The generated file exists in `'/some/web/modules/custom/projects/src`.  I'm not sure if this is generator related _or_ if the generator is putting it where it should, and `entity-content.theme.php.

[2016-10-22 07:10] jclyons52 opened #2841 "[generate:permissions] incorrect description"
the "generate:permissions" command has the description "commands.generate.permission.description". I assume this is a broken configuration option

[2016-10-22 08:12] jclyons52 commented on #2841
same thing with module:dependency:install

[2016-10-22 09:47] ksicon opened #2842 "Console dependency from old symfony/dom-crawler"
For days I'm trying to install Drupal 8.2.1 with Drupal-Console -without any success.

Trying to install drupal/console:~1.0 leads to

[code]

Drupal-Console requires (composer.json):
`"symfony/dom-crawler": "~2.7|~2.8"``

What can I do to get an Console version functioning with symfony/dom-crawler": ">=2.7|~3.1" ?

[2016-10-22 10:28] ksicon commented on #2842
To get Console installed I tried
`composer require symfony/dom-crawler:2.8`
followed by
`composer require drupal/console:~1.0@rc --prefer-dist --optimize-autoloader`
That leads to
[code]
Why is ./vendor/drupal/console-core/ no requested in web subdir instead in the parent drupal dir?

[2016-10-22 17:39] jmolivas commented on #2842
@ksicon can try the solution at https://github.com/hechoendrupal/DrupalConsole/issues/2770#issuecomment-254130536 ?

[2016-10-22 17:45] jmolivas commented on #2840
@clrockwell79  feel free to send a PR.

[2016-10-22 17:47] jmolivas commented on #2839
Seems like this PR fix this issue https://github.com/hechoendrupal/DrupalConsole/pull/2834

[2016-10-22 19:56] clrockwell79 commented on #2839
Yep - sorry my github searching failed me :)

[2016-10-22 19:56] #2839 closed

[2016-10-23 02:33] sylus commented on #2590
I just gave this a go but still seem to have this issue, should I instead be using the console-launcher? Here is my full output.

[code]

[2016-10-23 02:54] rogical opened #2844 "[cache:rebuild] PHP Fatal error: Call to undefined method Symfony\Component\DependencyInjection\Definition::setShared()"
xyhuang@gitlab:~/projects/companyx$ drupal cache:rebuild all

 Rebuilding cache(s), wait a moment please.
PHP Fatal error:  Call to undefined method Symfony\Component\DependencyInjection\Definition::setShared() in /srv/home/xyhuang/projects/companyx/core/lib/Drupal/Core/DependencyInjection/YamlFileLoader.php on line 168
xyhuang@gitlab:~/projects/companyx$ php -v; drupal -v; drupal site:status
PHP

[2016-10-23 08:58] valthebald commented on #2769
Can it have something to do something with drupal 8.2? I.e. the issue happens only with 8.2.?

[2016-10-23 11:28] novia713 commented on #2821
already merged

[2016-10-23 11:28] #2821 closed

[2016-10-23 11:37] novia713 commented on #2822
for being clearer i'm having this problem:
[code]
actually, my `config.yml` is in
[code]

i would do some work on this if someone point me out which direction to take on this

[2016-10-23 16:25] novia713 opened #2845 "[module:download] choose a version for ..."
when downloading a module with composer (deprecated, but i still love it) it shows
`Please, choose a Packagist version`
this have no sense, because besides it's harcoded in code to grab the module from https://packagist.drupal-composer.org it is not relevant and the user would use another repo
(there was an option for that in  `config.yml`)

![seleccion_015](https://cloud.githubusercontent.com/ass

[2016-10-23 16:25] novia713 commented on #2845
i'm working on this, @jmolivas  if you don't see inappropiate

[2016-10-23 16:27] novia713 commented on #2845
also, another bug

Composer's infos (about using `composer require` instead and about `shellexec_output`) are shown ALSO when we are **not** using `--composer` option

[2016-10-23 19:21] novia713 commented on #2845
![seleccion_016](https://cloud.githubusercontent.com/assets/423279/19628820/a951ee88-9966-11e6-8d08-bb1c9348355b.png)

PR at #2846

[2016-10-23 19:23] novia713 commented on #2845
@jmolivas i don't see where these infos are fired up at `module:download` execution :disappointed:

![seleccion_017](https://cloud.githubusercontent.com/assets/423279/19628827/e38e3480-9966-11e6-9fcf-d08efa65ca42.png)

[2016-10-23 20:45] clrockwell79 commented on #2840
#2847

[2016-10-24 15:54] mickaelperrin commented on #2792
Just gave a look at the code and the `root` parameter seems to be broken by design as the script expects that `drupal` is launched from the drupal install dir before bootstrapping and reading the `root` parameter.

Is the solution proposed by @jerbob92 sufficient ? Should we provide a PR ?

[2016-10-24 17:40] andrade1379 opened #2848 "drupal site:mode dev broken?"
Hello, I have a fresh install of Drupal Console and I've read the documentation provided on the DC site and it doesn't seem to be updating the services.yml files when drupal site:mode dev is run.

I've attached screen shots of what I'm seeing. If it's something with how I set things up please let me know.

I cd > web and run drupal site:mode dev
![terminal-shot](https://cloud.githubusercontent.com

[2016-10-24 18:05] #2743 closed

[2016-10-24 18:06] jmolivas commented on #2792
@mickaelperrin a PR will be awesome.

[2016-10-25 09:13] mickaelperrin commented on #2783
Can confirm the issue, and related to #2002.

It looks like the support for `uri` has been dropped ? Can someone confirm this ?

[2016-10-25 10:40] mickaelperrin commented on #2792
@jmolivas a PR was provided to resolve this issue. Any return to quickly resolve this issue is welcome.

[2016-10-25 10:43] mickaelperrin commented on #2002
@jmolivas it looks like that since my latest comment, things have been totally reworked. I didn't find anymore the use of the `uri` option and tried to resolve this issue in the #2850 PR.

[2016-10-25 10:44] mickaelperrin commented on #2783
@bpresles just submitted a PR that should resolve the issue. #2850

[2016-10-25 11:18] jmolivas commented on #2845
@novia713 not sure I need to double-check where are those messages shown.

[2016-10-25 12:24] pfrenssen commented on #2829
Can we make a new release ASAP containing this important fix? I lost data due to this.

[2016-10-25 13:07] mickaelperrin commented on #2581
Can't get DrupalConsole working, I got a near similar error:

    [Doctrine\Common\Annotations\AnnotationException]
    [Semantical Error] The annotation "@Drupal\Console\Annotations\DrupalCommand" in class Drupal\Console\Command\Locale\TranslationStatusCommand does not exist, or cou
  ld not be auto-loaded.

[2016-10-25 13:33] pfrenssen commented on #2803
The latest 1.0.0-rc6 release works perfect for me on vanilla core 8.2.x-dev. The dependencies match perfectly with core.

Here's the output I get on a freshly reset D8 instance (`git reset --hard @{u} && rm -rf vendor && composer install`):

[code]

[2016-10-25 13:44] pfrenssen commented on #2803
I also just tested on core versions 8.1.x and 8.3.x and both work great. Thanks a lot for fixing this!

[2016-10-25 13:46] jmolivas commented on #2581
is @mickaelperrin did you saw this https://github.com/hechoendrupal/DrupalConsole/issues/2770#issuecomment-254130536 ?

[2016-10-25 13:48] jmolivas commented on #2848
@andrade1379 which version are you running?

[2016-10-25 13:50] jmolivas commented on #2829
@pfrenssen A new release will be tagged the later tomorrow Oct 26th.

[2016-10-25 13:50] pfrenssen commented on #2803
@RoySegall the reason you get 0.11.3 by default if you do not provide the `@rc` constraint is because the core `composer.json` contains the following directive:

[code]

Because of this Composer will use the latest stable version that is available. In this case it considers the 0.x branch stable, and the 1.x branch unstable (because it is still in RC phase).

We can override this by specifying tha

[2016-10-25 13:55] betoquiroga opened #2852 "Clear all cache - main menu broken [RC6]"
After running "drupal cache:rebuild all"  command, the main menu is broken. All link menus have /node as target.

If I run "Flush all caches" from UI  all menus are well.

Regards

[2016-10-25 14:16] jmolivas commented on #2581
@mickaelperrin

Are you running DrupalConsole on development mode (by git clone)?

If yes did you run composer install ?

[2016-10-25 14:23] mickaelperrin commented on #2581
My composer.json file had the entry `"drupal/console": "~1"`, and it broked on `composer update`.

I also regenerated explicitely the autoload file by running: `composer dump-autoload -o`.

I can see the class `DrupalCommand` in the `autoload_static.php` file :

    ./autoload_static.php:        'Drupal\\Console\\Annotations\\DrupalCommand' => __DIR__ . '/..' . '/drupal/console/src/Annotations/Dru

[2016-10-25 15:06] andrade1379 commented on #2848
Hey @jmolivas, thanks for getting back to me. I have DC version 1.0.0-rc5 and Drupal version 8.2.1.

I am also developing locally using MAMP
PHP: 5.6.25

If there is anymore info I can provide please let me know.

[2016-10-26 09:47] pfrenssen commented on #2829
Great news! Thanks!

[2016-10-26 17:13] Narretz opened #2853 "rc.6 doesn't work on Windows after fresh install with Composer"
I did a fresh install on Windows of 1.0.0.rc.6 with `composer global require drupal/console:1.0.0-rc.6`

and when running `drupal` I get the following error:

[code]
and Drupal\Console\Utils\ArgvInputReader is indeed not in the `drupal\console\src\Utils` folder, but it does exist in `drupal\console-core\src\Utils` so it should work.

edit: seems like it cannot resolve anything from this file. Same

[2016-10-26 18:01] Narretz commented on #2853
Ok, it looks like beginning with the rc drupal/console needs to be installed project wise

[2016-10-26 18:01] #2853 closed

[2016-10-26 18:23] Narretz commented on #2848
I am seeing this too.
1.0.0-rc.6
Drupal 8.2.0

[2016-10-26 20:54] mfernea commented on #1450
I had the same problem and it was generated by phpmd/phpmd which requires "pdepend/pdepend": "^2.0.4" which requires "symfony/dependency-injection": "^2.3.0|^3". If "phpmd/phpmd" is installed first, "symfony/dependency-injection" 3.x.x is installed and that conflicts with "symfony/dependency-injection": "~2.8" from "drupal/console-core".

[2016-10-26 21:07] mfernea commented on #1450
It also doesn't work if you install "drush/drush" 8.1.x first.

[2016-10-26 22:15] mfernea commented on #2842
How I fixed this:

- delete composer.lock
- check the symfony components that use the version 3 - run "composer show | grep symfony/"
- remove those from filesystem
- run composer require drupal/console:~1.0

Try it at your own risk :).

[2016-10-27 03:37] s3than commented on #2789
Confirmed resolved.

[2016-10-27 03:37] #2789 closed

[2016-10-27 07:15] RoySegall commented on #2803
The issue for the integration with merged. Thanks for the work everyone.  There is a list over [here](https://github.com/Gizra/og/issues/196) for future integrations with DrupalConsole.

Thanks again.

[2016-10-27 07:15] #2803 closed

[2016-10-27 13:26] milkovsky commented on #2754
I created a new Drupal project and drupal console did not work there.
I did everything which is mentioned in this channel. The problem is not fixed for me.
Now I have console installed both with phar and composer.

I am still getting
[code]

[2016-10-27 20:14] lmakarov opened #2854 "Provide drupal.phar download for releases on Github"
We are installing Drupal Console from Github (this allows us to control the version number).

Unfortunately the last release here on Github that had `drupal.phar` included as a downloadable artifact was [1.0.0-beta5](https://github.com/hechoendrupal/DrupalConsole/releases/tag/1.0.0-beta5).

Can you please upload `drupal.phar` for the recent releases as well?

[2016-10-28 04:27] jmolivas commented on #2854
@lmakarov you can get the latest release of the global executable aka DrupalConsole Launcher at this repo:
https://github.com/hechoendrupal/drupal-console-launcher/releases

As a note you should install DrupalConsole repo per site using:
[code]

[2016-10-28 18:42] novia713 commented on #2769
`generate:form` needs services to be inyected on it.
first attempt for it (not working at) #2855

[2016-10-29 05:37] psampaz opened #2857 "Error on config:export:content:type"
I have a clean installation of drupal 8.2.1 on PHP 7.0.12  and I installed drupal console 1.0.0-rc6 locally using composer  (console lives in drupal's vendor folder).

I have run **drupal init --override --no-interaction**  without any problems and **drupal list** works perfectly.

The problem is that whenever i try to run **config:export:content:type** I get the following message

Error: Call to

[2016-10-29 11:53] novia713 opened #2858 "Inject services in several commands"
Some commands still are not being injected the services, like
- site:new
- module:uninstall
- module:install
- database:client (i'm doing a special PR for this command)

[2016-10-29 11:57] novia713 opened #2859 "Pass «query» option to database:client to execute some determined query"
Use case:
imagine i would like to execute some query on my site like
`DELETE FROM key_value WHERE name like 'fontawesome';`

i would pass an option "query" to _database:client_ to avoid enter the mysql console and executing directly this query, like
`../vendor/bin/drupal database:client --query="DELETE FROM key_value WHERE name like 'fontawesome';"`

i know this is dangerous and output should be c

[2016-10-29 17:14] novia713 commented on #2858
1. regarding services injection, seems `site:new` command don't need any service :tada: :balloon:

2. regarding
  * module:install
  * module:uninstall

i'm trying to pass from `shellProcess` to `ProcessBuilder`
but `$appRoot`'s value in those commads is
`/home/leandro/public_html/secundario.dev/web`
instead of
`/home/leandro/public_html/secundario.dev/`
don't know why :(

[2016-10-29 23:49] jmolivas commented on #2858
@novia713 @igasi is taking care of `site:new` command.

[2016-10-30 10:26] novia713 opened #2861 "[print:message] Print command"
for chain commands execution and bash scripts, would be great if i could print messages, errors, infos from DrupalConsole.
i propose a `print` command:
- print:message
- print:error
- print:info
  that only prints a string (using DrupalStyle?) as argument

i can work on this if maintainers would consider it useful

[2016-10-30 10:29] novia713 opened #2862 "[database:dump] add --tar option"
would be great if `database:dump` would have a `--tar` option like `config:export`

i can work on this if the maintainers would consider it useful

[2016-10-31 13:53] PatrickBauer commented on #2783
@mickaelperrin Your PR works for the --uri, but the multisite:debug command still doesn't work.

[2016-10-31 20:40] sylus commented on #2590
Just pinging @jmolivas for above. I wonder if we should temporarily add to the readme that drupal console just doesn't work with composer require and that the only recommended way is to use the phar.

[2016-11-01 04:02] #2746 closed

[2016-11-01 04:40] jmolivas commented on #2859
@novia713 like the idea but probably this will fit better into a new command how about `database:query`

[2016-11-01 04:55] jmolivas commented on #2862
@novia713  I had been asked a few times about this feature.

[2016-11-01 11:22] novia713 commented on #2862
already merged

[2016-11-01 11:22] #2862 closed

[2016-11-01 12:04] novia713 opened #2866 "add global option for knowing if the command was executed successfully or gave error"
what i mean is in a scenario like we have an script in which we want to control a flow of given commands of DrupalConsole and we *need* to know if the command was executed cleanly or gave an error

so (for example) passing the command a _-b_(oolean) option, the command should return
 * 1 for success
 * 0 for error interruption

_no other info or output should be shown_

this way we could control t

[2016-11-02 00:01] greg-1-anderson commented on #2777
I had trouble with the installation instructions as listed above, and in the current README.  Instead of `drupal site:install`, I needed to run `drupal site:install --root=web`; otherwise, Drupal Console asked me what installation profile to install, but did not list any installation profiles, and did not accept any of my answers, instead saying `[ERROR] Value "" is invalid` for anything input.

*

[2016-11-02 00:17] jmolivas commented on #2777
@greg-1-anderson At this section on the instructions is where the root option is set.

Copy configuration files (make sure you answer yes to first question)

[code]

Do you think we should have a better o more detailed explanation?

[2016-11-02 00:29] greg-1-anderson commented on #2777
I think that the current instructions don't work quite right.  I ran `drupal init` again, and then inspected the configuration file it wrote.  I got:
[code]
That is greatly abbreviated, of course.  However, the `root: 'web'` option is there. This implies to me that I should be able to run `drupal list` from the project root (folder containing composer.json), and not need to specify --root=web. How

[2016-11-02 00:31] greg-1-anderson commented on #2777
I ran `settings:debug` and saw that the settings contained:
[code]

[2016-11-02 00:33] greg-1-anderson commented on #2777
I changed the 'root' item in config.yml to a full path. This was correctly reflected in `settings:debug`, but did not improve my results with `drupal list` or other commands (`--root=web` still required for correct operation).

[2016-11-02 00:36] jmolivas commented on #2777
@greg-1-anderson what is your configuration OS, PHP and MySQL (which versions)?, are you using a VM? could you share your `web/sites/default/settings.php` file?

[2016-11-02 00:42] greg-1-anderson commented on #2777
@jmolivas I am trying to get this to work in two environments:

1. Local, with drupal-composer/drupal-project
2. On Pantheon, in a project with a relocated document root

I am getting the same results in both environments. Also, on the local project, I got the same results when installing with Drush and when installing with Drupal Console.  My web/sites/default/settings.php file is simply the defa

[2016-11-02 00:43] greg-1-anderson commented on #2777
Skipping all of the boilerplate, my random hash salt, etc., my settings.php contains:
[code]

[2016-11-02 00:48] greg-1-anderson commented on #2777
Oh, also important: I have `./vendor/bin` in my `$PATH`, so I am running the correct instance of Drupal Console:
[code]

[2016-11-02 00:50] jmolivas commented on #2777
@greg-1-anderson did you installed the global executable using curl?

[2016-11-02 00:51] jmolivas commented on #2777
how was this `drupal` executable created?

[2016-11-02 00:57] greg-1-anderson commented on #2777
@jmolivas I don't want to use the global executable, because I'm trying to set up an environment similar to how I want it to work on Pantheon -- i.e. we have a site-local Drupal Console, there is one $HOME directory per site, and ~/.console/config.yml specifies the `root:` of the single Drupal site in that $HOME.  I tried with both the global and site-local config.yml, and I tried both relative an

[2016-11-02 00:59] greg-1-anderson commented on #2777
Sorry, I just realized that I failed to mention up-front that I started these instructions at step two. That's why I'm getting different results. Hope this configuration is supported; I'd rather not install the global launcher on Pantheon.

[2016-11-02 01:41] jmolivas commented on #2777
@greg-1-anderson Glad you mentioned that about no global executable.

I did a quick fix for this and it's working on my local.

Can you copy/paste this at your `bin/drupal.php` file at `vendor/drupal/console/bin/drupal.php`?

[code]

[2016-11-02 03:36] greg-1-anderson commented on #2777
That works perfectly on my local system -- thanks so much for the fix. I'll try it on Pantheon tomorrow; should work the same as local.

[2016-11-02 05:48] nahueldotme opened #2869 "crashes on config:export:content:type :("
When I run a: `drupal config:export:content:type` I'm getting:

[code]

[2016-11-02 06:23] enzolutions commented on #2869
Thanks @nahueldotme fixed in PR https://github.com/hechoendrupal/DrupalConsole/pull/2870

[2016-11-02 06:23] #2869 closed

[2016-11-02 17:53] dmouse opened #2872 "Enable Test"
# Proposal
In order to launch the first stable version, We need to update the test (List below) and create the base for more commands and classes within DrupalConsole.

# How can We do
The base class used in all test is `BaseTestCase` this class provide a lot of Mocks/Stubs that is common like `Translator` object. For each kind of commands, We need to create a base class like `GenerateCommandTest`

[2016-11-02 18:35] greg-1-anderson commented on #2777
Woot -- that works great. Would be cool to have [the fix](https://github.com/hechoendrupal/DrupalConsole/issues/2777#issuecomment-257749361) available in a tagged build.

[2016-11-02 18:42] jmolivas commented on #2777
@greg-1-anderson awesome, yes this will be included on rc7.

[2016-11-02 19:36] jmolivas commented on #2777
@greg-1-anderson New release tagged https://github.com/hechoendrupal/DrupalConsole/releases/tag/1.0.0-rc7 let me know if it works or if any new issues arises.

[2016-11-02 19:39] dsdobrzynski opened #2877 "Missing Argument Passed to Drupal\metatag\Command\GenerateGroupCommand::__construct()"
With a clean install of  the latest dev version of metatag (9d0ec8e682d9500ce5e4e7bb6f09d2d82e4c77b6), the latest dev version of config_split (97d238714286e59b1f9881d8164442c0f170599a), and DrupalConsole 1.0.0-beta5, I am getting the following error when running the command config_split:export:

[code]

Exporting all config through the core Config UI works fine.

[2016-11-02 20:02] psampaz commented on #2857
This is was fixed on 1.0.0-rc7 with  #2870

closing this, thanks

[2016-11-02 20:02] #2857 closed

[2016-11-02 20:08] jmolivas commented on #2877
@dsdobrzynski try updating to latest DrupalConsole and DrupalConsole Launcher (if installed) https://gist.github.com/jmolivas/a0970e1ea252ecb852fe8c7182d85d3e

[2016-11-02 20:14] jmolivas commented on #2829
@pfrenssen @esolitos @gergelypap New release tagged this should stop happening.

Update instructions at => https://gist.github.com/jmolivas/a0970e1ea252ecb852fe8c7182d85d3e

[2016-11-02 20:17] jmolivas commented on #2829
For the record The CLI output this message. (Something wrong with a YAML file, fix and new release by the end of the week)

[2016-11-02 20:45] greg-1-anderson commented on #2777
Great -- I'll build a brand new project and see if it works from the tagged build.

[2016-11-02 23:14] greg-1-anderson commented on #2777
Works, but seeing `commands.yaml.unset.key.yml Unable to parse at line 2 (near "  arguments:")` on every command, [as previously reported](https://github.com/hechoendrupal/DrupalConsole/issues/2829#issuecomment-257985854). Thanks!

[2016-11-03 00:17] jmolivas commented on #2777
@greg-1-anderson got that message fixed new RC soon.

[2016-11-03 09:01] ahoebeke commented on #2838
I had the same problem just now. I installed drupalconsole, ran drupal init (and chose the option "without root folder" or something similar).
Then went to my Drupal root folder and tried to run "drupal init" again out of curiosity. It told me to execute two composer commands, which I did. Now I get the same error message when running "drupal init" again.

[2016-11-03 11:31] powysm commented on #2019
I am seeing this also. Any update?

[2016-11-03 16:14] aztech-dev commented on #2584
The issue has been fixed in alchemy/zippy. You will need to use version 0.4.3 or greater to get the fix. The major version bump is due to a change in the minimum required PHP version, and should not cause any issues (though you never know).

[2016-11-04 00:33] showards opened #2881 "exception 'ReflectionException' with message 'Class \Drupal\testmodule\Controller\TestModuleEntityController does not exist' with generate:entity:content and revisions enabled"
It looks like when revision capabilities are utilized in generate:entity:content an exception is thrown.  I don't know enough to help with it, but the generation code lives in templates/module/src/entity-content-route-provider.php.twig and was introduced in 0dc8f715.  The offending Class code is not generated when revisions are disabled.  I've attached a rundown of the setup including the exact st

[2016-11-04 07:22] novia713 commented on #2845
hi @jmolivas any idea on where to search for these messages?

[2016-11-04 11:45] SchnWalter commented on #2866
For checking the flow you should probably use the program exit codes.

For bash scripts you might want to read this http://www.tldp.org/LDP/abs/html/exit-status.html

Or you could instruct bash to exit on first error using `set -o errexit` (or it's alias `-e`). See `man bash`

Here's an example script
[code]

[2016-11-04 18:02] novia713 commented on #2866
oh, very cool! thanks, @SchnWalter

[2016-11-04 18:18] smalot commented on #2825
Hi all,
Resurect the "site:install" or "site:new" is a very good idea.
Is there an issue already opened about that ?
Do you need help ?
BR

[2016-11-04 18:19] smalot commented on #2825
note: I'll be happy to work on it if necessary

[2016-11-04 18:20] jmolivas commented on #2825
@smalot I know @igasi was working on this not sure how is this going?

[2016-11-04 22:48] smalot commented on #2778
Sorry but what does it mean ?

[2016-11-05 06:06] jmolivas commented on #2837
Fixed at DrupalConsoleCore repo https://github.com/hechoendrupal/drupal-console-core/pull/71

[2016-11-05 07:22] jmolivas commented on #2777
Message

Fixed with rc8

[2016-11-05 14:19] smalot commented on #2825
@igasi, $jmolivas: I made changes on those PR:

- https://github.com/hechoendrupal/drupal-console-core/pull/75
- https://github.com/hechoendrupal/drupal-console-launcher/pull/46
- https://github.com/hechoendrupal/DrupalConsole/issues/2887

[2016-11-05 15:02] smalot opened #2888 "[site:status] Remove any html markup"
`strip_tags` should be applied on any value displayed:

[code]

to generate such result:

[code]

[2016-11-05 16:48] bradjones1 commented on #2269
The PR above was closed without explanation; any further thoughts on this?

[2016-11-05 17:35] oadaeh commented on #2842
I'm having the same problem as originally posted by @ksicon.

It seems that Drupal Console does not work with `symfony/dom-crawler:~3.1`, but my installation of Drupal 8.2.x does not work with `symfony/dom-crawler:~2.8`.

The solution @jmolivas pointed to in #2770 does not apply to my installation.
I tired what @mfernea recommended, but that did not work for me.

When I try @mfernea's recommendati

[2016-11-05 17:40] jmolivas commented on #2842
@oadaeh did you tried this ?
https://github.com/hechoendrupal/DrupalConsole/issues/2754#issuecomment-251361912

[2016-11-05 18:21] novia713 commented on #2861
closing because i can't find good usecases

[2016-11-05 18:32] novia713 commented on #2859
`database:query "my-sql-statement"` working

[2016-11-05 18:41] bradjones1 commented on #2269
In Drush, you may reinstall but it appears Drupal must be first able to bootstrap. I have a workflow where it would be nice to have the installer determine the database config from the existing `settings.php` file, while not requiring the database have any data/tables.

[2016-11-05 18:45] jmolivas commented on #2269
@bradjones1 this is a must have feature for the project I can test what @Saphyel was working on and resurrect the PR.

[2016-11-05 19:05] oadaeh commented on #2842
Yes, I did. I did those steps, and Drupal Console does install. After that however, is when I get the errors I posted (one of which has some similarity to #2881).

(I also now see that I should have posted in one of the other two issues, but they didn't show up in my search.)

[2016-11-05 20:14] Saphyel commented on #2269
Well I closed it myself because I'm not longer working on it... If you have an idea @bradjones1 feel free to overtake it.

[2016-11-06 18:14] novia713 opened #2892 "[database:dump] --optimize"
i think it would be nice if `database:dump` would perform some optimizing actions *before* doing the dump:
 * executing cron (optional)
 * rebuild cache
 * clearing logs
 * `mysqlcheck -u myuser -p --auto-repair --optimize ${db}`
 * perhaps `TRUNCATE` some tables

additionally i would add a `--no-data` option for dumping only the structure ....

i'm ok to work on this if it were of interest ...

[2016-11-07 13:15] PatrickBauer opened #2893 "DrupalStyle spaces before message output"
Hi guys,
whats the idea behind the space in every DrupalStyle output?

$io->info(), $io->comment(), $io->simple() and $io->text() echo the message with a preceding space.

Example:
`$message = sprintf('<info> %s</info>', $message);`

Now every time I use writeln() at the OutputInterface (without using DrupalStyle) I have to remember the space or get non-consistent output.

[2016-11-07 17:37] jmolivas commented on #2893
@PatrickBauer This is by design since `DrupalStyle` extends the `SymfonyStyle` class.

To avoid appending the space use instead the `simple` method added to `DrupalStyle`.

[code]

[2016-11-07 18:30] dsdobrzynski commented on #2877
@jmolivas Thanks for the fast response and sorry for the delay.

I tried using `1.0.0-rc8`, `master`, and `develop`. After modifying the version in `composer.json`, I ran:
[code]
All versions resulted in the error:
`[ERROR] Command "config_split:export", is not a valid command name.`

[2016-11-07 20:03] edutrul opened #2895 "[permission:debug]"
# Motivation

When working permissions you need to know the exact machine name instead of the label that is being displayed in /admin/people/permissions. So a new command is suggestable to display all permissions
(same functionality as $ plugin:debug ) it should:

1. Get all permission machine name and labels
2. If we pass a parameter it should display machine name, label and also roles that use t

[2016-11-07 20:03] edutrul commented on #2895
I am going to be working on it as per conversation with @enzolutions
WIP PR in a few minutes coming

[2016-11-07 20:10] edutrul commented on #2895
PR in WIP
https://github.com/hechoendrupal/DrupalConsole/pull/2896

[2016-11-07 20:16] greg-1-anderson commented on #2594
FYI, drush master and drush 8.x branches now ignore `console.command`, and only load services tagged `drush.command`.

[2016-11-07 20:18] jmolivas commented on #2893
@PatrickBauer Also The idea behind the `SymfonyStyle` and `DrupalStyle` is to provide helpers and shortcuts to standardize the output avoiding using the `$output` object by itself and customizing each time

[2016-11-07 23:17] darol100 commented on #2662
@jmolivas I think this can be handle with Chain command + deployment process in your site. @DuaelFr Execute install and uninstall base on the environment.

[2016-11-08 08:25] novia713 commented on #2866
so i will use the excellent answer of @SchnWalter here.
closing.

[2016-11-08 08:25] #2866 closed

[2016-11-08 08:28] novia713 commented on #2861
i've just found an usecase, @jmolivas
imagine, you're coding a chain file for DrupalConsole and you want to print a Welcome message,
(usecase for `print:message`)
even you need to ask the user if he wants to perform an optional action
(usecase for `ask`)

i would do all this in drupal-core

[2016-11-08 17:17] miguel0294 opened #2901 "[Rename:ControllerCommandTest]"

[2016-11-08 18:26] YoSaucedo opened #2903 "[WIP] Test EntityCommanTest"

[2016-11-09 03:36] nathan-zhu commented on #2754
great thanks, save my time, hope new version fix dependencies problem.

[2016-11-09 04:17] jmolivas commented on #2754
@milkovsky did you tried this https://github.com/hechoendrupal/DrupalConsole#download-as-new-dependency ?

[2016-11-09 08:18] nathan-zhu opened #2904 "services.yml files can't overwritten by drupal console"
Hi,

I'm use drupal console to set my website to dev

`drupal site:mode dev`

but i got error like below:

`Services files "/private/var/www/d8/sites/default/services.yml" was overwritten`

it seems not permission problem. i set to 777 for that files but still get error.

i don't know where is wrong , please let me know how to fix it thanks.

[2016-11-09 15:04] anavarre commented on #2854
The **Download phar file** section should probably be updated to reflect that at https://docs.drupalconsole.com/en/getting/download.html

[2016-11-09 16:25] novia713 commented on #2624
already merged

[2016-11-09 16:25] #2624 closed

[2016-11-09 18:17] dinarcon commented on #2904
Hi @nathan-zhu, your issue has been reported already. See https://github.com/hechoendrupal/DrupalConsole/issues/2848 for details.

[2016-11-09 22:20] grasmash opened #2905 "Installing Drupal is required for running YAML commands"
In order to run a command like `yaml:diff`, Drupal console requires me to first install Drupal. As a developer, I would expect to be able to compare and modify yaml files without the involvement of Drupal core. Is this really a requirement?

[2016-11-10 01:49] jmolivas commented on #2905
@grasmash This will be fixed. We are moving more command to the DrupalConsole Core project.

[2016-11-10 09:05] syamvilakudy opened #2906 "[generate:entity:content] Twig_Error_Loader: Template is not defined"
**Problem**
After created custom entity by using command generate:entity:content , can't load the View route. Edit and Delete working perfectly.

**How to reproduce**
Drupal version : 8.2.2
Console Version : v1.0.0-rc8
Steps to reproduce:

1. Run command drupal generate:entity:content
2. Run command drush updatedb --entity-updates
3. Go to the corrsponding route ( eg: /admin/structure/book )

-  /

[2016-11-10 10:21] BrizzleRocker commented on #2751
This is very unclear in the install instructions and throughout the documentation. I suspect that many people (like me) will assume this utility is similar to drush or composer in that you install once and use everywhere.

[2016-11-10 11:02] BrizzleRocker commented on #2754
Note: for anyone reading this as a solution check the version numbers.

As of November 2016 its `composer require symfony/dom-crawler:2.8.13`

[2016-11-10 14:56] jmolivas commented on #2751
@BrizzleRocker Yes totally agree we need to make docs more clear. Any suggestions are more than welcome.

[2016-11-10 15:06] novia713 commented on #2858
`install` and `uninstall` already have constructor with services injected

[2016-11-10 15:06] #2858 closed

[2016-11-10 15:27] gone3uo6 commented on #2881
Controller is not generated using generate:entity:content

[2016-11-10 19:02] plopesc commented on #2881
I'm having the same issue with Console 1.0.0-rc8 & Drupal 8.2.2

Thanks

[2016-11-10 19:29] gone3uo6 commented on #2881
I think "getControllerPath()" in line 208 in EntityContentGenerator.php...
`$this->extensionManager->getModule($module)->getControllerPath() .'/'.$entity_class.'Controller.php',`
should be "getControllerDirectory()"
which is what is used in ControllerGenerator.php

[2016-11-10 20:17] gone3uo6 commented on #2881
I modded getControllerDirectory() and renamed it to getControllerPath(). Also modded ControllerGenerator.php to use the renamed function. I'll push the changes.

[2016-11-10 22:18] edutrul commented on #2895
PRs have been merged:

PR [permission:debug] new command #2895
https://github.com/hechoendrupal/DrupalConsole/pull/2896
PR [permission:debug] Add English translation
https://github.com/hechoendrupal/drupal-console-en/pull/30
PR [permission:debug] Add Spanish translation
https://github.com/hechoendrupal/drupal-console-es/pull/7

Please feel free to ask any questions(I'll get back to you asap) or ma

[2016-11-10 22:30] enzolutions commented on #2895
Thanks @edutrul for your contribution

[2016-11-10 22:30] #2895 closed

[2016-11-10 22:33] edutrul opened #2911 "[rest:disable] Does not disable as expected"
# Problem/Motivation

I was trying to disable a REST, but when I wanted to check it out in /admin/config/services/rest it doesn't disable as expected, it stays in enabled state.

# How to reproduce

Steps:
1. Make sure you have restui contrib module install https://www.drupal.org/project/restui
2. Go to /admin/config/services/rest) install a entity resource like for instance "content" which name i

[2016-11-10 22:41] edutrul opened #2912 "[rest:enable] Does not enable as expected"
# Problem/Motivation

I was trying to enable a REST, but when I wanted to check it out in /admin/config/services/rest it doesn't enable as expected, it stays in disabled state.

# How to reproduce

Steps:
1. Make sure you have restui contrib module install https://www.drupal.org/project/restui
2. Go to /admin/config/services/rest) enable an entity resource like for instance "content" which name is

[2016-11-11 00:06] liquidcms opened #2913 "[ERROR] Command "generate:module", is not a valid command name."
New to DrupalConsole and wasn't getting anywhere with installing it (hadn't used composer in a while although it was installed). Finally i think i got DC installed.

I already had a working D8 install and in that folder i ran
`  vendor/bin/drupal init (need the full path)`
which seemed to do something.

Now, when i try to generate a new module from this:
`vendor/bin/drupal vendor/bin/generate:modu

[2016-11-11 11:19] luenemam opened #2914 "Drupal Console Launcher crashes on Windows / bin-compat full"
Drupal Console Launcher fails to include project local drupal-console on

- Windows
- composer config bin-compat full

How to reproduce:
[code]

Result:
[code]

see hechoendrupal/drupal-console-launcher#48

[2016-11-11 12:55] andrewbelcher opened #2915 "YAML indentation"
`\Symfony\Component\Yaml\Dumper` uses a default indentation of 4, but Drupal standards are 2.

There is a `Dumper::setIndentation` method, which I propose we call whenever we create a dumper (this may only be needed in 2 places in `ExportTrait`).

[2016-11-11 13:30] thijsvdanker commented on #2824
@nbunney Just getting up and running but ran into the same issue.
There are basically two ways to set Drupal console up:

1. globally on your system
2. per project

The default settings when running `drupal init` place the config.yml file in the /console/ folder. This is useful when running drupal init from a project.

When setting up Drupal console globally to create Drupal installs, you have to

[2016-11-11 16:25] jmolivas commented on #2915
We should use the Drupal Yaml dumper instead.

[2016-11-11 20:20] #2881 closed

[2016-11-11 20:35] edutrul commented on #2912
I did initial attempt
PR https://github.com/hechoendrupal/DrupalConsole/pull/2919
I'll keep working on it!

[2016-11-12 09:53] jepster opened #2927 "DrupalConsole not usable in a project which is not installed by DrupalConsole"
Hi,

if I am installing Drupal 8, then I am downloading it via Drush and then installing it via "drupal site-install". It seems that by this approach, DrupalConsole is unusable. I have switched between PHP 5.6 and 7.0 in the CLI to check, but it behaves always the same:

Has anyone a clue?

[2016-11-12 11:08] jepster commented on #2927
I have downloaded a fresh copy of latest stable Drupal 8. Afterwards I am getting this output, in the root folder of the Drupal 8 project:

[2016-11-12 15:04] jmolivas commented on #2927
@jepster try editing your `~/.console/config.yml` an removing the line containing `--shellexec_output`

[2016-11-12 15:06] jmolivas commented on #2798
@pfrenssen this is currently taking care at https://github.com/hechoendrupal/DrupalConsole/issues/2872

[2016-11-12 21:50] jameswilson commented on #2515
I'm still getting this issue where my global DrupalConsole version `1.0.0-beta5` is installed fresh today in `~/.console` but my project (drupal-project) installed version `1.0.0-rc8`, but was installed exactly the same way:

[code]

~/.console/composer.json:
[code]

How could it be that running the same command from two different folders could result in two different versions being installed?

My

[2016-11-12 22:41] nahueldotme opened #2928 "generate:entity:content missing "Revision" methods on template"
Looks like generate:entity:content is missing the "revision" methods on its template.

Steps to reproduce it:
1. Create a new virgin module with generate:module
2. Create a new generate:entity:content and be sure to make commands.generate.entity.content.questions.revisionable to yes.
3. You wont be able to install the module (trough module:install or web admin), because the revision methods are ad

[2016-11-12 23:59] jmolivas commented on #2515
@jameswilson You should install DrupalConsole per site executing this composer command from your site root.
[code]

If you want to have a global executable you can install the DrupalConsole Launcher using curl.
[code]

[2016-11-13 00:18] jameswilson commented on #2515
@jmolivas thanks.  Is there a way for console to somehow check for this kinds of condition where a global console is being run from one place but files from a different project-specific vendor folder load a different version, to give a more intelligent error message?

[2016-11-13 14:15] luenemam commented on #2914
New PR: hechoendrupal/drupal-console-launcher#51

[2016-11-13 16:22] jmolivas commented on #2913
@liquidcms is Drupal installed?

[2016-11-13 18:07] liquidcms commented on #2913
yes..

i think the bottom line is that most "linux" style tools that are command line based and require numerous dependencies be met are extremely tricky to get working in Windows. I have set up drupalvm and will try getting DC working there.

[2016-11-14 03:12] fosterinteractive commented on #2810
I had the exact same error on OSX 10.10.5. (Yosemite)
[code]

[2016-11-14 08:03] mickaelperrin commented on #2581
@jmolivas I would love to get some hints to resolve this. Drupal console is still broken on my setup due to this error, even with latest RC9.

[2016-11-14 11:50] Saphyel commented on #2515
Seems more sensible use priorities in this case local > global, anyway I encourage to stop using composer global, I hope this issue change your mind ... https://github.com/composer/composer/issues/5390

[2016-11-14 13:45] Julien-Marcou opened #2936 "DrupalFinder dependency is not included in the composer.json"
DrupalFinder is not included in the composer.json, but is required since the rc9, therefore I got a fatal error when using DrupalConsole if I don't install DrupalFinder myself.

[2016-11-14 15:00] jmolivas commented on #2581
@mickaelperrin what is the error after updating to rc-9?

[2016-11-14 16:03] jmolivas commented on #2936
@Julien-Marcou Yes is not included on this repo because is defined on the drupal-console-core repository https://github.com/hechoendrupal/drupal-console-core/blob/master/composer.json#L53

Try updating DrupalConsole following instructions at the repo readme file https://github.com/hechoendrupal/DrupalConsole#update-drupalconsole

[2016-11-14 16:16] YoSaucedo opened #2937 "[WIP] Test FormCommandTest"

[2016-11-14 16:17] YoSaucedo opened #2938 "[WIP] Test ModuleCommandTest"
Change the actual ModuleCommandTest to have the same sintax that the others test, using Phophecy.

[2016-11-14 17:37] edutrul opened #2939 "[permission_debug] Add role column"
# Motivation
when executing $ drupal permisison:debug
you get "Permission name" (which is permission machine name) and "Permission Label" (which is the heuman name permission also displayed in /admin/people/permission)

But we need to display as well user roles that belong to each permission
for example "access content"permission is owned by roles: "anonymous", "authenticated and "administrator" s

[2016-11-14 17:52] edutrul commented on #2939
It is going to have as well a sort by RID

[2016-11-14 18:29] jmolivas commented on #2914
@luenemam did you have a chance to test this? can we close this issue?

[2016-11-14 20:00] edutrul commented on #2939
Actually it is sorted by weight
![user_roles_by_weight_not_by_rid](https://cloud.githubusercontent.com/assets/1582129/20280594/18c6a8c4-aa7b-11e6-83a7-aeea42acb74b.png)

[2016-11-14 20:00] edutrul commented on #2939
PR: PR: https://github.com/hechoendrupal/DrupalConsole/pull/2940

[2016-11-14 20:05] edutrul commented on #2939
and also PR for languages
English https://github.com/hechoendrupal/drupal-console-es/pull/8
Spanish https://github.com/hechoendrupal/drupal-console-en/pull/35

[2016-11-14 20:48] jepster commented on #2927
Thanks, it seems that this setting has figured out my issue.

[2016-11-14 20:49] #2927 closed

[2016-11-14 20:57] jepster opened #2943 "Indent error on generated views plugin"
I have generated a views plugin:

[code]
Afterwards I got this error:

The indent which has been added to

has been wrong. I have fixed it manually. The needed indent has been 4 spaces. Not 2.

[2016-11-14 21:07] jepster opened #2944 "Views filter plugin is never invoked by Drupal"
I have generated a Views filter plugin:

Afterwards I have cleared all caches and set Xdebug breakpoints in the methods at modules/permissions_by_term/src/ViewsFilterPluginManager.php. The debugger never halts in any method - because it's just not invoked. The "permissions_by_term" module is definitely enabled.

What am I doing wrong?

[2016-11-14 21:15] ultimike opened #2945 "[generate:controller] (1.0.0-rc9) Command not working properly"
When running the generate:controller command on a new module (immediately after running generate:module), and going through all the prompts, Drupal Console returns an exception:

[ReflectionException]
  Class \Drupal\hello_world\Controller\HelloController does not exist

The controller and routing file are created, and are correct except that the controller file name is incorrect. For example, whe

[2016-11-15 07:33] mickaelperrin commented on #2581
@jmolivas always the same.

    [Doctrine\Common\Annotations\AnnotationException]
    [Semantical Error] The annotation "@Drupal\Console\Annotations\DrupalCommand" in class Drupal\Console\Command\Locale\TranslationStatusCommand does not exist, or could not be auto-loaded.

I dig into this yesterday and discovered that the AnnotationRegistry config in Bootstrap/Drupal.php

    AnnotationRegistry::r

[2016-11-15 07:42] jmolivas commented on #2581
@mickaelperrin how did you installed DrupalConsole and the DrupalConsole Launcher?

Did you follow instructions at https://github.com/hechoendrupal/DrupalConsole/#download-as-new-dependency

Which versions of DrupalConsole (on ten site) and DrupalConsole Launcher (global executable) do you have on your machine?

Which OS and PHP versions do you have on your system?

[2016-11-15 07:50] mickaelperrin commented on #2581
@jmolivas Thx for trying to help.

I didn't change the way to install DrupalConsole, it is a requirement of my `composer.json` file.

    "drupal/console": "^1.0.0",

I use DrupalConsole in a docker environment on a Mac host. I run drupal console by providing an absolute path to `vendor/bin/drupal` with the `root` and `uri` parameters. I don't use the global DrupalConsole Launcher.

I run PHP 7.0.

[2016-11-15 07:52] mickaelperrin commented on #2581
Here is the stack trace:

     [Doctrine\Common\Annotations\AnnotationException]
      [Semantical Error] The annotation "@Drupal\Console\Annotations\DrupalCommand" in class Drupal\Console\Command\Locale\TranslationStatusCommand does not exist, or could not be auto-loaded.

    Exception trace:
     () at /src/vendor/doctrine/annotations/lib/Doctrine/Common/Annotations/AnnotationException.php:54

[2016-11-15 08:06] jmolivas commented on #2581
Not sure what does this mean?

[2016-11-15 08:08] jmolivas commented on #2581
DrupalConsole must be installed per site. You need to execute for your drupal site root directory.

[code]

Yuo did this?

[2016-11-15 08:19] mickaelperrin commented on #2581
To be clear.

My host is a Mac.
I use Docker (for Mac) to setup my development environment.

I just rerun the composer require command you told me.

    composer require drupal/console:~1.0 \
    --prefer-dist \
    --optimize-autoloader \
    --sort-packages

In my PHP-FPM (7.x) docker container, I switch to my drupal directory root:

    cd /src/web

Then I run my drupalconsole command:

    /sr

[2016-11-15 08:31] mickaelperrin commented on #2581
If it can help, I successfully got the `list` command working by adding:

   AnnotationRegistry::registerLoader([\Drupal::service('class_loader'), "loadClass"]);

in the registerCommands function loop.

[2016-11-15 08:32] jmolivas commented on #2581
@mickaelperrin do this works?

[code]

[2016-11-15 08:34] mickaelperrin commented on #2581
No, my `vendor` directory is on the same level of the `web` directory.

[2016-11-15 08:35] jmolivas commented on #2581
Is your site based on drupal-composer project ?

[2016-11-15 08:36] jmolivas commented on #2581
then try :
[code]

[2016-11-15 08:38] jmolivas commented on #2581
Starting on RC-9 having a configuration file containing `root: web` on the site is no longer required.

You can keep the file but is required to remove that value from your `drupal-site/console/config.yml`

[2016-11-15 08:47] jmolivas commented on #2581
@mickaelperrin can you try both

[code]

[code]

[2016-11-15 08:52] mickaelperrin commented on #2581
Yes, my site structure is inspired from `drupal-composer` and acquia `blt` project.

Both commands lead to the same error with the `list` or `init` argument.

[2016-11-15 08:55] jmolivas commented on #2581
@mickaelperrin  I can see what you did on the PR make it work. But still not sure why do not work out of the box.

Can you try executing from your site root directory (the `src` where your `composer.json` file is)
[code]

[2016-11-15 08:58] mickaelperrin commented on #2581
Result:

     drupal/console
     drupal/console-core
     drupal/console-en

[2016-11-15 08:58] jmolivas commented on #2581
which versions?

[2016-11-15 09:00] mickaelperrin commented on #2581
drupal/console                             1.0.0-rc9           The Drupal CLI. A tool to generate boilerplate code, interact with and debug Drupal.
    drupal/console-core                        1.0.0-rc9           Drupal Console Core
    drupal/console-en                          1.0.0-rc8           Drupal Console English Language

[2016-11-15 09:01] jmolivas commented on #2581
I will test your PR with an standard installation and to make sure does not introduces any issues.

[2016-11-15 09:01] mickaelperrin commented on #2581
Do you want me to provide a true PR ?

[2016-11-15 09:04] jmolivas commented on #2581
A true PR?

I can see you already update your PR https://github.com/hechoendrupal/DrupalConsole/pull/2851

[2016-11-15 09:12] mickaelperrin commented on #2581
@jmolivas PR #2851 is for adding support for the `root` parameter.

I just added #2946 for this issue.

[2016-11-15 09:15] jmolivas commented on #2581
@mickaelperrin since you mentioned

There is a chance I can replicate on my local?
Having access to the repo, docker files to build the machine or the composer.json file.

[2016-11-15 09:15] jmolivas commented on #2581
@mickaelperrin Thanks for the PRs.

[2016-11-15 09:25] mickaelperrin commented on #2581
@jmolivas My setup use multiple git repositories with   use of docker overrides. I also thought about sharing with you a minimal docker setup to reproduce the issue.

But I am currently abroad without wifi connection and use my limited 3G data bandwidth to work. I will try to provide you this as soon as I get an unlimited internet access point.

[2016-11-15 15:12] Julien-Marcou commented on #2936
Running `composer update drupal/console --with-dependencies` did the trick, thanks !

[2016-11-15 15:12] #2936 closed

[2016-11-15 16:54] MatteoBorgognoni opened #2947 "[ERROR] Command "site:new", is not a valid command name."
Hi,
I've installed drupal console 1.0.0-rc9 on a virtual machine using vagrant on an ubuntu virtualbox with php7
but I'm unable to run site:new or site:install and What I get is:
 [ERROR] Command "site:new", is not a valid command name.

I searched online but I haven't found any answer to this.
I'd appreciate any help.

[2016-11-15 17:00] marcelovani commented on #2947
See https://github.com/hechoendrupal/DrupalConsole/issues/2825
To use site:new you need to use drupal console 1.0.0-beta5

[2016-11-15 17:12] #2947 closed

[2016-11-15 17:46] jmolivas commented on #2945
@ultimike Nice catch. Fixed on this PR https://github.com/hechoendrupal/DrupalConsole/pull/2948

[2016-11-15 17:51] marcelovani opened #2949 "site:new should provide an option to choose the project template to use. Currently hard coded drupal-composer/drupal-project"
I would like to use my fork of drupal-composer/drupal-project
For that, we need a new option on site:new command
i.e. `drupal site:new /var/www/new --composer --template=dennisdigital/drupal-project`

[2016-11-15 17:56] marcelovani commented on #2949
#2950

[2016-11-15 22:45] smalot commented on #2949
+1
however, an PR is already opened to migrate this command to the drupal-console-launcher

[2016-11-15 22:47] smalot commented on #2825
I'm available if needed to work on it

[2016-11-16 10:10] marcelovani commented on #2949
Can you point me to the issue?
I can add this once the PR is accepted.

[2016-11-16 10:58] medis commented on #2838
same problem....

[2016-11-16 17:26] jmolivas commented on #2581
@mickaelperrin did you have a chance to have your docker configuration in a place so I can get it and have it tested

[2016-11-16 18:52] mickaelperrin commented on #2581
@jmolivas I tried to reproduce the error with a minimal Drupal install, but as you stated before I was unable to reproduce the error outside my current and first project (new drupaler here :).

My project is localized in French uses multi site with multi domains access, was installed from existing configuration through the config-installer profile, uses nginx fpm and postgresql as services.

I tri

[2016-11-16 19:05] #2939 closed

[2016-11-16 19:17] enzolutions commented on #2943
Hi @jepster

Thank you for your report, I tried to reproduce the error mentioned, but all works as expected, this is what I did

[code]

This is the content of file permissions_by_term.services.yml

[code]

Could you, provide more information about how and where do you get this error?

Meanwhile I will if is required 4 spaces indentation.

[2016-11-16 19:29] enzolutions commented on #2944
Hi @jepster

After following the instruction provided at [#2943]  in my local machine, I could say that you are doing an incorrect approach.

Using Drupal Console project I can get a list of plugin available, what you did was create a new plugin type YAML with a class named ViewFilter, not there is not related with views itself.

You could do that in your machine executing the command

[code]
You

[2016-11-16 19:40] novia713 commented on #2845
* deleted tip about «shell_exec» at the following PRs:
https://github.com/hechoendrupal/drupal-console-en/pull/37
https://github.com/hechoendrupal/drupal-console-es/pull/10

 * the tip about using composer instead of `--composer` i'm unable to find where is it

[2016-11-16 19:45] novia713 commented on #2822
time has passed and this is working. closing.

[2016-11-16 19:45] #2822 closed

[2016-11-16 19:46] enzolutions commented on #2888
Thanks @smalot for your report

Fixed in PR https://github.com/hechoendrupal/DrupalConsole/pull/2954

[2016-11-16 19:46] #2888 closed

[2016-11-16 19:49] novia713 commented on #2351
this no longer makes sense

[2016-11-16 19:49] #2351 closed

[2016-11-16 19:49] #2911 closed

[2016-11-16 19:53] novia713 commented on #2892
I've been deeply thinking about this and i concluded the best solution for this is using **chain files**.
Focusing on using chain files lead us to develop short, concise & efficient commands.
Then chain them in chain files, for example like i do in https://paste.fedoraproject.org/476610/87292591/

A lateral idea of all of this would be to create a **repository of recipes** like https://deployer.or

[2016-11-16 20:36] jmolivas commented on #1898
This PR https://github.com/hechoendrupal/DrupalConsole/pull/2953 from @marcelovani address this.

[2016-11-16 20:48] ultimike opened #2957 "generate:permissions (1.0.0-rc9) not working"
Hmm - generate:permissions doesn't seem to be working, it prompts me for all the information correctly, but doesn't result in a modulename.permissions.yml file.

No errors are reported, and the resulting file is not displayed (as it is with generate:module, for example). I tried running it with -vvv, no additional information was provided.

I've tested this with some students, and none of us can g

[2016-11-16 23:24] edutrul commented on #2912
PR implementation:
https://github.com/hechoendrupal/DrupalConsole/pull/2919

PR languages:
English: https://github.com/hechoendrupal/drupal-console-en/pull/39
Spanish: https://github.com/hechoendrupal/drupal-console-es/pull/11

[2016-11-17 05:52] jmolivas commented on #2957
@ultimike Nice catch. Fixed on this PR #2959

This can be applied as patch using
https://patch-diff.githubusercontent.com/raw/hechoendrupal/DrupalConsole/pull/2959.patch

[2016-11-17 13:04] luenemam commented on #2914
Works on my machine - tests still missing...
Have it on my list.
Feel free to close the issue.

[2016-11-17 14:03] ultimike commented on #2957
Sweet. Thanks!

-mike

[2016-11-17 14:03] #2957 closed

[2016-11-17 15:11] #2914 closed

[2016-11-17 15:11] #2945 closed

[2016-11-17 16:21] jmolivas commented on #2915
I send and merge a PR using `Drupal\Component\Serialization\Yaml;` at `ExportTrait `

https://github.com/hechoendrupal/DrupalConsole/pull/2960

[2016-11-17 16:21] #2915 closed

[2016-11-17 16:23] jmolivas commented on #1133
Fixed

[2016-11-17 16:23] #1133 closed

[2016-11-17 18:36] vacho opened #2962 "[any command], is not a valid command name."
First. The commands were working fine.
After a while they all started to fail. None works.

Example:
[ERROR] Command "cr", is not a valid command name.
[ERROR] Command "route:rebuild", is not a valid command name.
...

Version:
Drupal Console (1.0.0-rc9)
Ubuntu 16.04
Php 7
Drupal 8.2.3

[2016-11-18 02:07] jmolivas commented on #2962
@vacho can you see if any error files logged at `site/console/log` ?

[2016-11-18 10:36] MPParsley commented on #2770
Experienced the same issue, deleting the composer.json & composer.lock files in de web dir solved the issue.

[2016-11-18 17:03] marcelovani opened #2964 "Chain commands are not working when passing one placeholder and --no-interaction"
I have a custom chain command, which has some default values and a required value.
When I execute the chain with --no-interaction it is complaining about missing placeholders.
example.

chain-db.yml
[code]
When I run
`drupal chain --file=chain-db.yml --placeholder="name:site" --no-interaction`
it complains:

Ideally it should take name from the provided placeholder and use the default values for t

[2016-11-18 21:16] enzolutions commented on #2322
Hi @drubb

Thank you for your proposal. But after checking the issue https://www.drupal.org/node/2527126, looks like this setting if not related with dev mode or prod.

This option is more related with the kind of CND or reverse proxy are you using.

Please let me know if you are agree and we could close this issue, or maybe provide more support for your proposal.

[2016-11-18 21:18] enzolutions commented on #2356
Fixed

[2016-11-18 21:18] #2356 closed

[2016-11-18 21:21] sarahjean commented on #2905
@jmolivas any update on this?

[2016-11-19 08:23] drubb commented on #2322
Hi @enzolutions,

the issue on d.o. is very long, but basically it says two things:

- We'd prefer to disable those headers, because the create very long headers and impose a security risk, telling to much details about the site
- In case the cacheability headers are used  by a cdn or reverse proxy for invalidation, we can't disable them.

I'd consider the second one a special case. Normally, no c

[2016-11-19 22:45] enzolutions commented on #2322
Hi @drubb

Thank you for your clarification, I just add a PR https://github.com/hechoendrupal/DrupalConsole/pull/2968 to resolve your feature request and will be included in 1.0.0-rc10

[2016-11-19 22:45] #2322 closed

[2016-11-19 22:48] enzolutions commented on #2848
@Narretz I just send a PR https://github.com/hechoendrupal/DrupalConsole/pull/2968 to resolve issues with site:mode, please test again after release 1.0.0-rc10 to confirm that is working

[2016-11-19 22:49] enzolutions commented on #2904
@nathan-zhu

Actually, this is not an error, is just a warning that before you used to have services.yml file and was changed by the command you just executed.

I will close this issue becuase works as expected.

[2016-11-19 22:49] #2904 closed

[2016-11-20 01:05] miromichalicka commented on #2770
I'm experiencing same issue with the latest RC. Removing composer files works but imho isn't solution.

[2016-11-20 01:55] jmolivas commented on #2770
@miromichalicka Which version are you using?. Make sure you have the RC-9 on the site and also the Launcher (the global executable)

I Just tried with RC-9, create a `composer.json` file and it works as expected
![drupal](https://monosnap.com/file/foJ46MWhCz0PZAq9VREFvi2caNOwou.png)

[2016-11-20 05:11] miromichalicka commented on #2770
@jmolivas I'm using rc9. I have installed also the Launcher.
Now, when running the Launcher, I'm getting following error: [ERROR] Drupal Console is not installed at, it's installed in composer file one level up (installation through drupal-composer/drupal-project).

[2016-11-20 21:00] novia713 commented on #2350
new clean PR at https://github.com/hechoendrupal/DrupalConsole/pull/2969

[2016-11-20 21:20] marcelovani commented on #2861
Can't you use echo?
i.e.
[code]

[2016-11-20 21:34] marcelovani commented on #2267
I have another use for this
I have a chain to build a site, which will:

- Checkout the repo (parameters: site-name, branch, destination-directory)
- Run composer install (parameters: destination-directory)

I would like to use a function to pull the repo url and the available branches when I enter the site name.
i.e.
[code]

[2016-11-21 10:52] marcelovani commented on #2825
This could possibly replace site:new by using it as a chain
https://github.com/hechoendrupal/DrupalConsole/pull/2961

[2016-11-21 12:20] vacho commented on #2962
@jmolivas I can't find this path

[2016-11-21 16:12] enzolutions commented on #2270
Hi @amouro

Thanks for your contribution, this improvement was included in PR https://github.com/hechoendrupal/DrupalConsole/pull/2971 and https://github.com/hechoendrupal/drupal-console-en/pull/41

[2016-11-21 16:12] #2270 closed

[2016-11-21 16:15] enzolutions commented on #2389
Command will be restored at release 1.0.0-rc10

[2016-11-21 16:15] #2389 closed

[2016-11-21 17:15] jmolivas commented on #2962
@vacho can you look into your php system error log files?

[2016-11-21 17:51] enzolutions commented on #2449
Teste in latest version of Drupal Console 1.0.0-rc9 dev version , this behavior is not happening any more.

[2016-11-21 17:51] #2449 closed

[2016-11-21 17:53] enzolutions commented on #2452
Solved in 1.0.0-beta4

[2016-11-21 17:53] #2452 closed

[2016-11-21 17:57] enzolutions commented on #2542
Solved in 1.0.0-rc6

[2016-11-21 17:57] #2542 closed

[2016-11-21 19:01] vacho commented on #2962
OK,
at /var/log/apache2/error.log doesn't apeear anything.

I have detected that this is starting to happen after enabling certain modules in my project. It is very strange, this did not happen before upgrading the version.

[2016-11-21 20:35] alexey-kuznetsov opened #2973 "Undefined index: commands"
Just installed Drupal Console. It ssems to be working, but when I run any command I see the following warnings in terminal:
`PHP Notice:  Undefined index: commands in phar:///usr/local/bin/drupal/vendor/drupal/console-core/src/Utils/ConfigurationManager.php on line 273
PHP Stack trace:
PHP   1. {main}() /usr/local/bin/drupal:0
PHP   2. require() /usr/local/bin/drupal:10
PHP   3. require() phar:///

[2016-11-21 20:43] liquidcms opened #2974 "generate:entity:content base-path for the content entity routes does not work"
At least from the interactive prompt when i enter a value of /admin/structure/reservation for the base-path for the content entity routes, i still get the routes being at admin/structure.

this leads to:
- /admin/structure/Reservation settings
- /admin/structure/Reservation list

unless, this is due to my entering the path as simply /admin/structure the first time and DC not being able to update w

[2016-11-21 20:52] liquidcms commented on #2974
hmm... no, it seems as though DC simply can't edit/delete anything that has been added to a custom module. I think (so far) only option to edit an entity added to a module is to delete the entire module and start from scratch.

[2016-11-21 21:03] darol100 commented on #2452
Great work guys...

[2016-11-21 21:08] liquidcms commented on #2974
Nope, even if i redo module from scratch and enter base path at command line; it still hard codes it to the wrong place

[2016-11-21 21:25] liquidcms commented on #1813
is this the same as issue #2974 which i just opened?

i am not very D8 happy but is it possible this is due to no routing.yml file being created

[2016-11-22 02:22] enzolutions commented on #2544
@jmolivas I just implemented as default, because is the same reason why we don't export state

Thanks @mariano-dagostino for your feedback.

Resolved and merged at https://github.com/hechoendrupal/DrupalConsole/pull/2975

[2016-11-22 02:22] #2544 closed

[2016-11-22 05:55] jmolivas commented on #2962
@vacho can you share which modules are causing this?

[2016-11-22 13:12] enzolutions commented on #2480
@tea-time

I tried the code you share , and I could install via UI the module, could you double check the instructions.

To test, I generate a module with the following instructions

[code]

After that I modified the .module file as you said, check the content

[code]

[2016-11-22 13:15] #2593 closed

[2016-11-22 14:54] enzolutions commented on #2621
@allgood2386 @Saphyel we agree.

The config:export:single already had that option and was included in config:export at PR https://github.com/hechoendrupal/DrupalConsole/pull/2977

Thanks for your feedback.

[2016-11-22 14:54] #2621 closed

[2016-11-22 14:55] #2679 closed

[2016-11-22 14:57] enzolutions commented on #2769
The command was restored in previous releases

[2016-11-22 14:57] #2769 closed

[2016-11-22 15:24] enzolutions commented on #2775
This issue was solved

[2016-11-22 15:24] #2775 closed

[2016-11-22 20:47] Cyborg572 commented on #2973
I started seeing this after an update. I didn't have anything custom in my `~/.console` folder, so on a hunch I deleted it and re-ran `drupal init`, and now the error's gone.
(EL Capitan, php 5.5.30, Drupal Console 1.0.0-rc9)

[2016-11-23 04:33] gsalgadotoledo opened #2978 "[ERROR] Command "site:install", is not a valid command name."
I'm just downloaded and installed drupal console and everithing was ok in the installation proccess but when I try to create my first project to generate bolearpleates, this errors is comming up:

[ERROR] Command "site:install", is not a valid command name.

![captura de pantalla 2016-11-22 a las 11 26 58 p m](https://cloud.githubusercontent.com/assets/1288502/20551205/7634b776-b10b-11e6-98a8-a4e6

[2016-11-23 10:46] marcelovani commented on #2949
With this PR, site:new could be done as a chain
https://github.com/hechoendrupal/DrupalConsole/pull/2961

[2016-11-23 22:14] jmolivas commented on #2778
@smalot @clrockwell79 we are discussing the possibility to remove this command and provide a YML file to use it via the `chain` command.

[2016-11-23 22:18] jmolivas commented on #2978
@gsalgadotoledo you need to be inside a drupal site in order to run the `site:install` command.

Try cd `path/to/drupal-site` and then execute the command

Make sure you install DrupalConsole on the site you can find instructions at
https://github.com/hechoendrupal/DrupalConsole/#download-as-new-dependency

[2016-11-23 22:21] jmolivas commented on #2974
@liquidcms You are right, code generation only creates files

Can you clarify what is the proper path to work on a PR to have this issue fixed.

[2016-11-23 22:22] jmolivas commented on #2973
This will be fixed on RC-10. But yes as mentioned by @Cyborg572 executing `drupal init` is a way to have this fixed.

[2016-11-24 00:44] gsalgadotoledo commented on #2978
Great! I had composer installed and I just run into of path/to/my/mynewdrupalproyect:

composer create-project \
drupal-composer/drupal-project:8.x-dev \
drupal8.dev \
--prefer-dist \
--no-progress \
--no-interaction

[2016-11-24 03:07] #2978 closed

[2016-11-24 04:36] liquidcms commented on #2974
good question and i think it is going to be different for each case.

but in general i don't think you want to clutter up items at the main Drupal admin parents such as admin/structure, etc.

also, main point of my post was i don't think it was possible to set the routing path with the option.

as it turned out i was creating 2 entities for my module; which give 4 menu items. Ideally they shouldnt

[2016-11-24 06:03] #2777 closed

[2016-11-24 06:04] #2893 closed

[2016-11-24 06:04] jmolivas commented on #2912
PR merged.

[2016-11-24 06:04] #2912 closed

[2016-11-24 09:44] annared opened #2981 "Acquia blt + drupal vm + drupal console"
I created a project with acquia blt + drupal vm.

i installed drupal console but it seems i can't make it works correcly:
if i use the `drupal list` command i get this error even if i am inside the drupal root directory:

`[WARNING] In order to list all of the available commands, you should run this inside a drupal root directory. `

[2016-11-24 10:05] smalot commented on #2778
No problem.

[2016-11-24 20:26] jmolivas commented on #2981
@annared: Can you share your VM?

Can you confirm you have DrupalConsole installed on the site by executing from the site root:
[code]

[2016-11-26 19:21] jmolivas commented on #2859
PR https://github.com/hechoendrupal/DrupalConsole/pull/2860 merged

[2016-11-26 19:21] #2859 closed

[2016-11-27 15:23] jmolivas commented on #2973
@Cyborg572 can you try updating to latest RC-10 version. This should be fixed now.

[2016-11-27 18:17] alexey-kuznetsov commented on #2973
Thanks, it's fixed now.

[2016-11-27 18:17] #2973 closed

[2016-11-28 03:50] joelpittet commented on #2770
I ran into this as well and deleting the composer stuff in the web root was the solution.

[2016-11-28 10:10] cscmalaga opened #2982 "Update from 0.11.3 to 1.0.0-rc10"
Hi,

I'm using drupal-composer/drupal-project for our development that started with Drupal 8.0. This morning I updated composer.json to get latest Drupal version and Drupal Console was updated from 0.11.3 to 1.0.0-rc10.

Now Drupal Console takes more time to start up:
[code]
[code]
And the other issue is that this command is creating a new directory into my project root: `console/log` Don't this m

[2016-11-28 11:25] twerthmueller commented on #2785
I've the same problem that drush works but drupal console not.
<img width="837" alt="fullscreen_28_11_16__12_19" src="https://cloud.githubusercontent.com/assets/6920143/20666545/00dc931e-b565-11e6-95a2-ed9f435d4234.png">

I tried all mentioned comments above but this does not help.

I use the command directly in the VM. The project structure:
![fullscreen_28_11_16__12_21](https://cloud.githubuserc

[2016-11-28 14:18] twerthmueller commented on #2913
Maybe this is also related to the following tasks:

https://github.com/geerlingguy/drupal-vm/issues/1011
https://github.com/hechoendrupal/DrupalConsole/issues/2785

[2016-11-28 15:23] jmolivas commented on #2785
@twerthmueller was this project created using `acquia/lightning` ?

[2016-11-28 15:29] jmolivas commented on #2913
@liquidcms Starting on RC releases DC must be installed per site.

You can still install the global executable now named Launcher to help you find the drupal installation and DC on that particular site.

Try `drupal list` instead to show the available commands.

[2016-11-28 15:30] twerthmueller commented on #2785
Yes, for this project we use acquia/lightning.

[2016-11-28 16:07] jmolivas commented on #2785
@twerthmueller I do have some projects with `acquia/lightning` and DC is working properly.

Probably something change on latest releases and DC is not finding the site as Drupal. I created a new issue on the `drupal-finder` project https://github.com/webflo/drupal-finder/issues/9 the project used to find Drupal and another at `acquia/lightning` https://github.com/acquia/lightning-project/issues/23

[2016-11-28 16:14] twerthmueller commented on #2785
Thank you @jmolivas!! I will follow the issues.

[2016-11-28 17:10] twerthmueller commented on #2785
@jmolivas I added the core requirement to the root composer.json file in case of your comment in https://github.com/webflo/drupal-finder/issues/9.

![fullscreen_28_11_16__18_06](https://cloud.githubusercontent.com/assets/6920143/20678078/ba6c2080-b595-11e6-8215-a7cecbc6d299.png)

Now, DC can recognize the drupal install directory!

[2016-11-28 17:19] jmolivas commented on #2785
@twerthmueller Also a patch with a diff like can solve the issue:
[code]

[2016-11-28 17:21] enzolutions commented on #2797
Hi @tensor146

Thanks for you report, the rest commands where fixed for Drupal 8.2 since rc9

About your idea about new command rest:config:create could you provide more specific instructions about what that command will do?

[2016-11-28 17:25] twerthmueller commented on #2785
@jmolivas Thank you! Now I can use DC with my lightning based project. Great!!

[2016-11-28 18:55] webflo commented on #2785
Tagged 0.2.1 for webflo/drupal-finder

[2016-11-28 19:43] jmolivas commented on #2785
Awesome @webflo

[2016-11-29 03:21] acha5066 commented on #2466
Even though it might be fixed in one of the 1.x releases when you run php -r "readfile('https://drupalconsole.com/installer');" > drupal.phar you are given the 0.11.3 release which has this bug. And as a lot of people will be downloading that way, they will be getting this bug too. So maybe update the phar to a newer release?

[2016-11-29 16:31] jmolivas commented on #2982
@cmsmalaga  I did the same example with the following results
[code]

Latest version is slower that previous since DrupalConsole now is reading and parsing YML files when registering services and compiling the container to register new services.

* https://github.com/hechoendrupal/DrupalConsole/tree/master/config/services/drupal-console
* https://github.com/hechoendrupal/DrupalConsole/tree/master/

[2016-12-01 00:36] darol100 commented on #1707
@jmolivas Do you still have this PR ? If so can you upload it so I can look at it and maybe even work on it.

[2016-12-01 03:42] jmolivas commented on #1707
@darol100 seems could coordinate with @bpresles tha is working on a similar feature https://github.com/hechoendrupal/DrupalConsole/pull/2965

[2016-12-01 09:22] jmolivas commented on #2269
@bradjones1 @Saphyel this is done and will be included on upcoming release.

This should be executed as
[code]

![drupal-site-install-force](https://cloud.githubusercontent.com/assets/366275/20788200/9b337e40-b764-11e6-847e-8e62c951cef5.png)

[2016-12-01 10:47] jmolivas commented on #2269
PR => https://github.com/hechoendrupal/DrupalConsole/pull/2984

[2016-12-01 14:43] davidbarratt opened #2987 "Drupal Console can no longer be installed on Drupal 8.3.x"
I'm trying to install Console on Drupal 8.3.x and I get this error:
[code]

It looks like this is caused by https://www.drupal.org/node/2743809

[2016-12-01 17:14] naveenvalecha commented on #2987
Confirming that this is caused by https://www.drupal.org/node/2743809

[2016-12-01 18:54] jmolivas commented on #2987
@davidbarratt & @naveenvalecha correct my if I am wrong. Updating DrupalConsole dependencies to `"~2.8|~3.0"` should fix this?

[2016-12-01 19:00] davidbarratt commented on #2987
@jmolivas,

Assuming Drupal console works with Symfony 3.1 components, then yes, I believe that should resolve the issue. :)

[2016-12-01 20:24] jmolivas commented on #2180
Fixed @Schnitzel @marcvangend

[2016-12-01 20:24] #2180 closed

[2016-12-01 20:24] jmolivas commented on #2180
@Schnitzel How can I test using amazee.io ?

[2016-12-01 20:26] marcvangend commented on #2180
Nice, thanks!

[2016-12-01 20:55] jmolivas commented on #2982
I ran other test with the following results

![Alt text](https://monosnap.com/file/74leCAsNrkwvlC3kOIyjZN9lAoi1eL.png)

I will investigate how to improve the global launcher code

[2016-12-01 20:59] jmolivas commented on #2981
@annared can you try executing `composer update drupal/console`

There was an issue with https://github.com/webflo/drupal-finder a DC dependency and  https://github.com/acquia/lightning-project but was fixed already

[2016-12-02 03:06] jmolivas commented on #2987
Related PRs
https://github.com/hechoendrupal/DrupalConsole/pull/2988
https://github.com/hechoendrupal/drupal-console-core/pull/96

[2016-12-02 07:02] cscmalaga commented on #2982
I know that the new version do more things at startup, becase we have some code to authenticate users (a class implementing _AuthenticationProviderInterface_ interface), that now, with the rc10, it's runnning when drupal console is executed.

I'll do more test if I have time.

Thanks for your reply.

[2016-12-02 13:48] michaellenahan commented on #2913
I got this error for a very basic reason: drupal was not installed yet - the settings.php and the database did not exist yet. Obvious I know, but adding the comment anyway for any other newbies out there.

[2016-12-02 16:18] jmolivas commented on #2225
Yay completed thank you all the participants on this issue

[2016-12-02 16:18] #2225 closed

[2016-12-02 16:22] jmolivas commented on #1898
Completed with this other PR
https://github.com/hechoendrupal/drupal-console-core/pull/97
https://github.com/hechoendrupal/DrupalConsole/pull/2989
https://github.com/hechoendrupal/DrupalConsole/pull/2990

To make a chain file automatically registered as command a new block of meta-data should be added on to the file.
[code]

Complete file
[code]

[2016-12-02 16:22] #1898 closed

[2016-12-02 16:39] jmolivas commented on #1898
cc: @darol100 @kenneth-bolivar-castro @novia713

[2016-12-02 17:43] darol100 commented on #1898
w00T... Good work guys...

[2016-12-02 18:30] GDrupal commented on #2544
Some extra tweaks related to this on https://github.com/hechoendrupal/DrupalConsole/pull/2991

[2016-12-03 03:00] uberhacker opened #2992 "Cannot execute drupal site:install"
After following the [Contribution setup instructions](https://gist.github.com/jmolivas/97bbd07f328217be3564a434c5bd2618), I was unable to execute `drupal site:install` from within `drupal.dev`.  The following error occurred as shown below:
[code]
System specs:
[code]

[2016-12-03 06:13] jmolivas commented on #2992
@uberhacker  Drupal Console version 0.10.12 pretty old version we are currently on 1.0.0-rc10

[2016-12-03 06:13] jmolivas commented on #2992
Try updating to latest DrupalConsole release.

[2016-12-03 20:25] uberhacker commented on #2992
@jmolivas:  That's interesting since I just performed a self update and I received the response below:
[code]
I guess the older version of self-update doesn't work as advertised.  In any event, after updating to the latest version, now I'm getting another error as shown below:
[code]
[code]

[2016-12-05 01:42] jmolivas commented on #2992
@uberhacker did you also installed the DC installed on the site ?

[2016-12-05 04:35] uberhacker commented on #2992
The `composer.json` file has `"drupal/console" : "*",` in the `require` section.  Is this what you mean?

[2016-12-05 06:54] nilanjanray commented on #2981
Hi @jmolivas,

Same error for me as well, I have updated the beta-5 version to rc-10 using the composer update
currently new dependency added i.e. console-core & console-en. Now once try to execute ```drupal list``` from drupal root same as warning is showing as ```[WARNING] In order to list all of the available commands, you should run this inside a drupal root directory.```

Regards,
nilanjan

[2016-12-05 15:45] grasmash commented on #2905
I'd be willing to submit a PR to effect this change if you can provide some general instructions.

[2016-12-05 15:57] littlethoughts commented on #2962
Same here, I also checked in my error logs but couldn't see anything.
I was using the global phar installation first, but removed it to make sure there are no mix-ups. I installed it in the project with composer after that.

Versions:
drupal/console 1.0.0-rc10
Drupal 8.1.10
PHP 7.0.7
Mac OS X El Capitan

[2016-12-05 16:04] jmolivas commented on #2962
@littlethoughts is your drupal installer?

try executing the `site:install` command

[2016-12-05 16:04] jmolivas commented on #2962
@vacho @littlethoughts you can always try the `list` command to see the available commands.

[2016-12-05 16:14] littlethoughts commented on #2962
@jmolivas thank you for your fast response (as always). I was being too fast with thinking there is an issue, my database wasn't running because of an update I had done earlier.

[2016-12-05 17:22] nilanjanray commented on #2981
Also there may have some break with dependency as if I try to run ```composer require drupal/console:1.0.0-rc10``` doesn't resolve the composer dependency with ```drupal/console-core & drupal/console-en```

[2016-12-05 17:31] jmolivas commented on #2981
@nilanjanray for updating dependencies of dependencies try:

[code]

[2016-12-05 20:24] jmolivas commented on #2905
@grasmash we are looking at splitting the repo using  the mono-repo technique that why we are holding this, to avoid duplicating work.

[2016-12-05 20:40] jmolivas commented on #2992
I mean actually run the installer via GUI, or using the `site:install` command?

[2016-12-06 03:37] nilanjanray commented on #2981
@jmolivas Thanks for your reply! I have tried with same, but unable to resolve the dependency ,
please take a look the attachment

![console](https://cloud.githubusercontent.com/assets/1309170/20912105/37c631f8-bb93-11e6-9fc6-376915980d95.png)

[2016-12-06 10:54] pfrenssen opened #2996 "`setRevisionAuthorID()` etc. are deprecated, don't include them when generating entity code"
The best practice for revisionable entities is to extend `RevisionLogInterface` and use `RevisionLogEntityTrait` to provide the logic for working with revisions.

When a new entity is generated with the current version of DrupalConsole it includes methods such as `setRevisionAuthorId()` which are now deprecated (ref. [Issue #2718583: Remove deprecated usages of Node::setRevisionAuthorId() and Node

[2016-12-06 14:32] heyyoyo commented on #2214
Hi, I also have this bug, did you find a way to insert this parameter **--force-local** in all calls to tar ?

[2016-12-06 17:50] novia713 commented on #1309
i did a PR for this at https://github.com/hechoendrupal/DrupalConsole/pull/2998

[2016-12-07 19:10] divined commented on #2214
Use Drupal Scaffold v.2+

[2016-12-08 20:41] ArtuGit commented on #260
Hello.
I do
`composer global require drupal/console:@stable`
and I still have v0.5.1 which has the limited set of commands.

How to get the latest version wich has *generate* and *self-update* commands?

[2016-12-08 20:45] jmolivas commented on #260
@ArtuGit try installing it again

As a note starting on RC releases DC should be installed per site, you should do:
https://github.com/hechoendrupal/DrupalConsole/#download-as-new-dependency

You can still have the global executable but that is only a Launcher tool for DC
https://github.com/hechoendrupal/DrupalConsole/#install-drupal-console-launcher

[2016-12-09 14:45] ArtuGit commented on #260
Thank you, jmolivas.

[2016-12-09 22:19] wturrell opened #3001 "Command "self-update", is not a valid command name"
This is Drupal 8.2.4, the standard version (41 modules enabled) installed via Acquia Dev Desktop on MacOS 10.11.6 running PHP 7.0.4.  Drupal Console is version 1.0.0-rc10.

Most other console commands seem fine, except `drupal self-update`

Thanks,
William

[2016-12-11 16:24] twhiston opened #3003 "generate:controller requires missing trait"
Current master branch command generate:controller includes `use Drupal\Console\Command\Shared\InputTrait;` but this trait doesn't exist in the repo at the moment

[2016-12-12 00:21] jmolivas commented on #3003
@twhiston this is an issue with master since got relocated to drupal-console-core this will be fixed on the upcoming release.

[2016-12-12 00:38] jmolivas commented on #3001
@wturrell  Since RC releases the DC must be installer per project and therefore managed via composer (require and update)

The `self-update` command is now part of another project the https://github.com/hechoendrupal/drupal-console-launcher this is a global executable command plus some extra features.

[2016-12-12 00:46] jmolivas commented on #2981
@annared @nilanjanray  Try instead

[code]

[2016-12-12 13:28] ternary-Operator opened #3010 "Translations for custom commands"
(Asked twice via gitter.im) Hoping for a reply now.

How and where is it possible to add translation files for custom commands?

The CommandGeneratorCommand adds a file to {module}/console/translation/en/xyz.yml, which seems to be wrong.

I've tried to use the "translation:" tasks with no outcome. I still get only the key back from the translation method.

[2016-12-12 16:53] ergonlogic commented on #3010
I'm seeing the same behaviour on a newly generated command.

[2016-12-12 17:31] ergonlogic commented on #3010
AFAICT, no CommandTrait::translator is being set, so we're just being returned the key as per: https://github.com/hechoendrupal/drupal-console-core/blob/master/src/Command/Shared/CommandTrait.php#L38.

[2016-12-12 18:20] jmolivas commented on #3010
@ergonlogic I will take a look at this.

[2016-12-13 06:23] rpsu opened #3013 "[database:dump] Don't duplicate .gz file extension"
Currently passing both `--file=[FILE]` and `--gz` -options work fine. However, when using a [FILE] name ending in .gz extension the end result file name gets the `.gz` extension duplicated.

Would it make sense  to not duplicate the file extension? I'm not sure if it breaks some automated workflows.
Currently
`drupal database:dump --file=/vagrant/db_dumps/myfile.sql.gz --gz`
results to
`/vagrant/d

[2016-12-13 06:30] rpsu commented on #3013
#3014

[2016-12-13 06:39] jmolivas commented on #2581
@mickaelperrin still having this issue?

[2016-12-13 17:23] cburschka-pwc opened #3015 "console rc11 should depend on console-core rc11."
A lot of stuff seems to have been refactored out from this repository and into drupal/console-core. That means the latest of this package requires the latest version of that package.

Unfortunately, console still only depends on console-core ~1.0. If the upgrade of console-core is denied for any reason (in this case it was the dependency on dflydev/dot-access-configuration at dev-master), composer

[2016-12-13 17:39] cburschka-pwc commented on #3015
It's actually even worse than that, because even removing and reinstalling doesn't seem to work correctly right now.

    $ composer require drupal/console:^1

results in drupal/console:1.0.0rc11, drupal/console-core:1.0.0rc10 and drupal/console-en:1.0.0rc9.

[2016-12-13 18:04] vacho commented on #2962
I solve my problem.

At some place of my code, had this:
\Drupal::configFactory()->getEditable('system.site')
    ->set('page.404', 'not-found')
    ->save();

I replace it by this

\Drupal::configFactory()->getEditable('system.site')
    ->set('page.404', '/not-found')
    ->save();

And it solve!!

All comands of drupal console fail when some code fail and doesn't show any report why fail.

[2016-12-13 21:16] oknate commented on #2770
I ran into this as well and deleting an empty composer.json in the web directory fixed it.

[2016-12-14 01:51] jmolivas commented on #3015
try
[code]

[code]

[2016-12-14 01:52] jmolivas commented on #3015
@cburschka-pwc  I will make this change starting on RC-12 make dependencies forced to current version.

[2016-12-14 01:53] jmolivas commented on #3003
@twhiston this should be fixed try updating your project dependencies.

[2016-12-14 15:26] carsten-propeople commented on #1842
Same here.
Suggestions are very welcome....

Ubuntu 14.04.5 LTS and PHP7

`vagrant@vagrant-ubuntu-trusty-64:~$ drupal
Segmentation fault (core dumped)
vagrant@vagrant-ubuntu-trusty-64:~$ php -v
PHP 7.0.14-2+deb.sury.org~trusty+1 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.14-2+deb.sury.org~trusty+1, Co

[2016-12-14 21:42] damienmckenna opened #3016 "generate:module argument inconsistencies"
I'm going through the effort to finish porting all of Metatag's tags from D7 to D8 and using DrupalConsole to create the boilerplate files. However, I've noticed that some of the command line arguments don't work well:

- There's no way of passing an argument to say 'no' to several options, specifically "Define module as feature", "Do you want to add a composer.json file to your module", "Do you w

[2016-12-14 21:52] damienmckenna commented on #3016
I removed this one as it does actually work, it's just confusing.

[2016-12-15 10:35] bpresles opened #3017 "Exception with Drupal Console RC 11"
I've the following exception when using Drupal Console RC 11:
[code]
I installed it from scratch using the follwing command:
[code]
Also I tried to do:
composer update --with-dependencies

This didn't work.

Also I checked that the drupal/console-core and drupal/console-en dependencies are also 1.0.0-rc11 versions, which is the case.

Note that rc10 work fine (even though I need to force console-c

[2016-12-15 13:55] Jelle-S opened #3019 "list, self-update and --version shouldn't require running within a Drupal site"
Following commands all throw the

error:

[code]

While these should be able to run perfectly outside of a Drupal site.

EDIT running drupal/console 1.0.0-rc11

[2016-12-15 15:51] skippednote commented on #2064
I'm facing the same issue. After installing using Composer `composer global require drupal/console:@stable`, I still don't see any `drupal` binary in my `~/.composer/vendor/bin`.

[2016-12-15 16:58] jmolivas commented on #3019
@Jelle-S Those commands `list` `self-update` and check the current installed version do not require a Drupal site to run.

If you install the Launcher aka global executable you will be able to see this:

![drupal-list-launcher](https://cloud.githubusercontent.com/assets/366275/21233564/6b134fd8-c2a4-11e6-82d5-be0b08be1cc9.png)

Instructions to download the Launcher
https://github.com/hechoendrupal

[2016-12-15 17:01] jmolivas commented on #3017
@bpresles Are you using the Launcher aka global executable? if yes make sure you update it to latest RC-11 as well

[2016-12-15 17:14] jmolivas commented on #3016
@damienmckenna
* There's no way of passing an argument to say 'no' to several options, specifically "Define module as feature", "Do you want to add a composer.json file to your module", "Do you want to generate a unit test class", "Do you want to generate a .module file" and "Do you confirm generation".

You can pass the options as inline add also `--no-interaction` to avoid optional questions.

[

[2016-12-15 19:51] jmolivas commented on #2964
Fixed

[2016-12-15 19:51] #2964 closed

[2016-12-15 19:57] jmolivas commented on #2829
Fixed

[2016-12-15 19:57] #2829 closed

[2016-12-15 20:32] damienmckenna commented on #3016
Yes, I know I can pass all of the options like that, but if I want to do some arguments via the command line and others via interaction I cannot control several options.

[2016-12-15 21:17] jmolivas commented on #3016
@damienmckenna what do you think could be a good approach for this?

[2016-12-16 10:21] wturrell commented on #3001
@jmolivas Thanks. I'd installed the launcher etc, but I'll just ignore the `self-update` command from now on and update DC the same way [drupal-project](https://github.com/drupal-composer/drupal-project) does.

(Btw, thanks for your advice elsewhere on composer commands as it helped me fix a problem with symfony components.)

[2016-12-16 10:21] #3001 closed

[2016-12-16 10:43] mohankumargupta opened #3020 "Warning "should install drupal first" even though drupal installed"
NOOB obstacle with Drupal Console.
Drupal Console version 1.0.0-rc11

I'm trying to follow this:
https://www.drupal.org/node/2718229

So I wrote a script called installdrupal8.sh as follows:

[code]
All went well, I was even able to do

[code]

However, when I try, any of the following
[code]
I get the famous **"[WARNING] In order to list all of the available commands you should install

[2016-12-16 11:49] hansfn commented on #2987
Observation: Drupal core 8.2.4 installs 2.8.15 Symfony components and Drupal Console reuses these (if you don't install globally), and then adds some 3.1.8 Symfony components. I guess it is thanks to Symfony that this mixing of versions works?

[2016-12-16 15:16] jmolivas commented on #2987
You should not install DrupalConsole that can have unexpected behavior.

What you install global is the Launcher aka global executable.

[2016-12-16 15:19] jmolivas commented on #3020
Is your site installed?

The following message is just telling you Drupal is not yet installed.

[2016-12-16 15:21] jmolivas commented on #3020
If using the Launcher try

Download a new Drupal project
[code]
Download, install and serve a new Drupal project
[code]

[2016-12-16 15:25] hansfn commented on #2987
I'm using drupal-composer/drupal-project which includes Drupal Console (and I have installed the launcher globally). I just assumed that you also could have a global non-launcher installation ...

Anyway, the purpose of my comment was to get some feedback on the mixing of Symfony versions. Is it safe because the Symfony people is ensuring that? I would have expected Drupal core and Drupal Console

[2016-12-16 15:33] jmolivas commented on #2987
I tested Drupal + Drupal Console with a mix of 2.8.x & 3.1.x while using `drupal-composer/drupal-project` and `acquia/lightning` and the sites works fine. Once I updated some components to 3.2.x then things start to break.

[2016-12-16 15:54] hansfn commented on #2987
Which is why I wonder if Drupal Console shouldn't follow Drupal core? Anyway, your testing indicates that such mixing doesn't work in general.

[2016-12-16 16:20] jmolivas commented on #2987
We are trying to follow Drupal core and sometimes mostly at the beginning of the release cycle used to feel like feels like this:

![alt tag](http://cdn.smosh.com/sites/default/files/2015/03/costume-run.gif)

DrupalConsole master and our release are in sync with Drupal core stable releases to try avoiding api breaks on every release.

I am planning to use the DrupalConsole development branch to sy

[2016-12-16 19:45] raspberrypisig commented on #3020
Yes I installed Drupal, but not through Drupal Console, instead using Acquia Dev Desktop to serve and create db, because that is normally how I install drupal. I will do what you recommended.

[2016-12-16 23:51] tea-time commented on #2480
Hi @enzolutions -

I believe you were still able to install because you have the `hook_requirements()` implementation in the .module file, but it needs to be in the .install file (per docs - https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Extension%21module.api.php/function/hook_requirements/8.1.x)

[2016-12-17 22:21] jmolivas commented on #2825
@nbunney @xmacinfo @smalot @marcelovani Starting on RC-11 chain files could be registered as commands.

This mean of you update to latest version and execute the init command the site:new will be available.

[2016-12-17 22:21] #2825 closed

[2016-12-17 22:35] jmolivas commented on #2848
PR https://github.com/hechoendrupal/DrupalConsole/pull/2968 was merged and included on RC-10.

Fee free to re-open if still failing.

[2016-12-17 22:35] #2848 closed

[2016-12-17 23:37] jmolivas commented on #3020
@raspberrypisig if you prefer installing using the UI is fine you can use the CLI to for speed reasons and click less using the `site:install` command.

[2016-12-17 23:40] jmolivas commented on #2784
Test added by https://github.com/hechoendrupal/DrupalConsole/pull/2807

[2016-12-17 23:40] #2784 closed

[2016-12-17 23:40] jmolivas commented on #3013
PR https://github.com/hechoendrupal/DrupalConsole/pull/3014 merged

[2016-12-17 23:40] #3013 closed

[2016-12-17 23:44] jmolivas commented on #2982
Closing this. Feel free to re-open it you think is needed.

[2016-12-17 23:54] #2982 closed

[2016-12-17 23:55] jmolivas commented on #2992
The issue was fixed on RC-11

[code]

[2016-12-17 23:55] #2992 closed

[2016-12-18 00:28] jmolivas commented on #3019
Closing this. Feel free to -re-open if think is required.

[2016-12-18 00:28] #3019 closed

[2016-12-18 00:41] #2962 closed

[2016-12-18 00:43] jmolivas commented on #3003
This will be fixed one you update to latest drupal-console-core

[2016-12-18 00:43] #3003 closed

[2016-12-18 13:59] mohankumargupta commented on #3020
Thanks for your help. I was able to get my opinionated Drupal 8 install script working for my environment.

[code]
Needed to disable aggregating css and js, otherwise admin theme and website theme would break.
Goodbye drush and drush make!

[2016-12-18 13:59] #3020 closed

[2016-12-18 17:36] jmolivas commented on #3020
@mohankumargupta  Awesome, you can probable make that script using chain files, you can find examples at https://github.com/hechoendrupal/drupal-console-core/tree/master/config/dist/chain all those examples should be at your `~/.console/chain` after running `init` command.

[2016-12-18 17:51] jmolivas commented on #2949
@marcelovani  Closing this because the `site:new` was mode to console-core as chain command.

[2016-12-18 17:51] #2949 closed

[2016-12-19 13:50] daften commented on #3019
I've traced this a bit further. The general launcher works indeed. What @Jelle-S is talking about is a project in which drupal/console is included, but not drupal itself. We got to that point, because we're creating a wrapper around drupal/console for robo.li. Now we can't write a decent test for this, because the output is always `DrupalConsole must be executed within a Drupal Site.`

I'm wonderi

[2016-12-19 17:12] GDrupal commented on #2996
Investigating this I think that we also need to update entity and entity interface creation templates with RevisionLogInterface:
https://www.drupal.org/node/2705433
I will be workign on this I hope I can submit a Pr soon.

[2016-12-19 20:06] jepster commented on #2944
I have created the filter in the following way:

 // Welcome to the Drupal Plugin Type generator
 Enter the module name [permissions_by_term]:

 Plugin type class name [ExamplePlugin]:

 Plugin type machine name [views_filter]:

 Plugin file name [views.filter]:

Generated or updated files

 1 - modules/permissions_by_term/src/ViewsFilterManager.php
 2 - modules/permissions_by_term/src/ViewsFilter

[2016-12-20 06:39] rpsu opened #3029 "[multisite:new] Q: --site-uri and --uri params work differently"
Executing `drupal multisite:new sitefolder.domain --uri="my.domain" ` "works", ie. does not throw errors nor notices, creates site-folder `sitefolder.domain` but fails to write sites.php -file.

Would it make sense to use `--uri` -parameter, either replace `--site-uri` -parameter or simply as fallback if `--site-uri` is not set?
I'm not sure if the collision with drupal console's `--uri` -paramete

[2016-12-20 08:32] jmolivas commented on #3029
@rpsu: Like the idea to use `--uri` to replace `--site-uri`, but not sure if this could be confusing since we used `--uri` to interact with multisite and will be using the same to provide a different behavior.

For now lets keep the same `--site-uri` but we need to:

* Force the `--site-uri` as `VALUE_REQUIRED`.

* Rename `--copy-install` as `--copy-default`

[2016-12-20 17:22] jmolivas commented on #3029
@rpsu I will take care of this since we are planing to tag a new release today.

[2016-12-20 19:35] jmolivas commented on #3029
Fixed with https://github.com/hechoendrupal/DrupalConsole/pull/3031

[2016-12-20 19:35] #3029 closed

[2016-12-21 13:51] GDrupal commented on #2928
This could be covered by https://github.com/hechoendrupal/DrupalConsole/pull/3030 since it adds the RevisionLogInterface class.

[2016-12-21 13:52] ao2 opened #3035 "[generate:profile] Call to undefined method when passing the profile name on the command line"
Hi,

when passing profile or machine-name on the command line like that:
[code]

drupal console (1.0.0-rc11 but also master) gives an error:

[code]

I am going to send a pull request to fix that.

Thanks,
   Antonio

[2016-12-22 02:27] #3035 closed

[2016-12-22 19:43] geerlingguy commented on #2905
@jmolivas - I've encountered a couple issues using Drupal Console with BLT in the past week, and I was wondering how progress is coming on splitting up the repo, and where I/we could focus efforts to try to get this working (BLT reallllly needs to update the Console version—it's still on beta5, I think).

[2016-12-22 19:55] jmolivas commented on #2905
@geerlingguy @grasmash our plans are:
* Tag a new RC-12 this week (today or tomorrow)
* Split the project will start next immediately and should be completed for later next week.

We are going to use this project for the split part => https://github.com/splitsh/lite

[2016-12-23 02:37] jmolivas commented on #3017
@bpresles RC-12 was tagged and now including forcing dependencies to latest version.
https://github.com/hechoendrupal/DrupalConsole/blob/1.0.0-rc12/composer.json#L40

[2016-12-23 02:39] jmolivas commented on #3015
@cburschka-pwc  RC-12 was tagged and now are forcing dependencies to latest version.
https://github.com/hechoendrupal/DrupalConsole/blob/1.0.0-rc12/composer.json#L40

[2016-12-23 02:40] jmolivas commented on #2996
PR merged https://github.com/hechoendrupal/DrupalConsole/pull/3030

[2016-12-23 02:40] #2996 closed

[2016-12-23 02:44] jmolivas commented on #3017
@bpresles can you confirm this issue continue to happening you after updating to RC12 ?

[2016-12-23 02:44] jmolivas commented on #3015
@cburschka-pwc can you confirm this issue continue to happening you after updating to RC12 ?

[2016-12-23 02:49] jmolivas commented on #2981
This must be related to this https://github.com/hechoendrupal/DrupalConsole/issues/2905

[2016-12-23 02:50] jmolivas commented on #2943
@jepster closing this since looks like works as expected feel free to re-open if issue still happening after updating to latest version of DrupalConsole.

[2016-12-23 02:50] #2943 closed

[2016-12-23 02:52] jmolivas commented on #2906
@syamvilakudy This issue was fixed. Feel free to re-open if still happening you after updating to latest version.

[2016-12-23 02:52] #2906 closed

[2016-12-23 02:59] jmolivas commented on #2913
@liquidcms @michaellenahan you can execute a `drupal list` to see the available list of commands.

Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2016-12-23 02:59] #2913 closed

[2016-12-23 08:57] cburschka-pwc commented on #3015
That fixed it! 👍

Updating drupal/console on its own via `composer update drupal/console` is blocked now, since you need to either add `--with-dependencies` (which also makes non-required updates, like updating the symfony packages to 3.*) or explicitly specify `drupal/console-en` and `drupal/console-core` to update too. But that is much better than installing incompatible versions and then having

[2016-12-23 10:16] bpresles commented on #3017
On RC-12 I have a different Exception on Drupal\Console\Command\Site\DebugCommand::_construct() of console-core.

$ drupal list
TypeError: Argument 1 passed to Drupal\Console\Command\Site\DebugCommand::__construct() must be an instance of Drupal\Console\Utils\ConfigurationManager, instance of Drupal\Console\Utils\Site given in /srv/www/drupal/src/vendor/drupal/console-core/src/Command/Site/DebugCo

[2016-12-23 10:21] jmolivas commented on #3017
@bpresles did you update the Launcher to the latest RC-12. You can do this by executing outside of your drupal site directory.

[code]

[2016-12-23 10:23] #3015 closed

[2016-12-23 18:32] pfrenssen commented on #2996
Great, thanks @GDrupal!

[2016-12-23 18:43] GDrupal commented on #2996
You are welcome! :)

[2016-12-24 10:58] bpresles commented on #3017
I'm not using the launcher. I just installed Drupal Console through composer adding the following line to my composer.json require section and with the vendor/.bin folder in my PATH:

"drupal/console": "1.0.0-rc12"

Than running "composer update --with-dependencies"

Also I tried removing the vendor/ folder completely and running the "composer update --with-dependencies" again.
In both cases I get

[2016-12-24 17:54] jmolivas commented on #3017
@bpresles you installed using `composer global require`? how did you got the drupal outside of a `drupal` site if you do not used the Launcer aka the global installer?

[2016-12-24 23:14] cburschka opened #3041 "config:validate and generate:module have a parameter mismatch"
1.0.0-rc12 is installed (both core and console).

I'm getting this exception:

[code]

The most likely cause seems to me to be that config:validate declares no arguments in yaml:

    console.config_validate:
      class: Drupal\Console\Command\Config\ValidateCommand
      tags:
        - { name: drupal.command }

ValidateCommand has a constructor that expects an untyped `$name` argument.

[code]

[2016-12-25 00:21] cburschka commented on #3041
This seems to be trivially fixable by removing the __construct stub, since it overrides the parent where $name is optional.

generate:module has a similar bug, in that it asks for an 8th argument named simply $twigTemplate, which is not declared in generate.yml where the service only has seven arguments.

[2016-12-25 14:53] cburschka-pwc opened #3042 "MySQL connection errors could be reported more clearly"
If I run [list] while the database server is down or not responding for some other reason, I only get a warning saying that Drupal is not installed, and if I attempt to run a command that requires a site, it returns an "invalid command" error. This seems to be part of a very large try-catch block in Bootstrap\Drupal::boot that simply swallows all exceptions and continues with a fallback bootstrap.

[2016-12-25 15:50] sinasalek opened #3043 "module:download a specific version and separating dev and unstable"
I'm using Drupal Console to download modules but it does not work property for modules with both beta/alpha and dev release. for example if use the following command it downloads 8.1.0

If i use --unstable switch it downloads dev-8.x-3.x
However what it should download is 8.3.0-beta1
It's not possible to indicate which version like in Drush. something like migrate_tools-8.x
Also i think unable and

[2016-12-27 01:54] jmolivas commented on #3041
@cburschka Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3044

Thanks for the PR by the way ;)

[2016-12-27 01:54] #3041 closed

[2016-12-27 09:00] snize opened #3047 "add support specifying language code for create:nodes"
Add a option for specifying language code like
[code]

[2016-12-27 09:08] jmolivas commented on #2928
PR merged

[2016-12-27 09:08] #2928 closed

[2016-12-27 16:15] jmolivas commented on #2905
@grasmash @geerlingguy I am currently working on fixing this issue.

[2016-12-27 16:31] jmolivas commented on #2594
Fixed

[2016-12-27 16:31] #2594 closed

[2016-12-28 07:22] jmolivas opened #3048 "[console] Rename console-core namespace references."
* CommandTrait
[code]
* ContainerAwareCommandTrait
[code]
* DrupalStyle
[code]
* ChainQueue
[code]
* ShellProcess
[code]
* StringConverter
[code]
* InputTrait
[code]
* ConfigurationManager
[code]
* TranslatorManager
[code]
* TwigRenderer
[code]
* NestedArray
[code]
*  ArgvInputReader
[code]
* DrupalConsoleCore
[code]

[2016-12-28 07:26] jmolivas opened #3049 "[contrib] Rename console-core namespace references on contrib modules."
In preparation for the stable release. We required to change the project namespaces for the split repositories.

This is the latest API change that will break integrations and the main reasons we have not yet tagged an stable release.

## What those changes are:
### Drupal Console Core
https://github.com/hechoendrupal/drupal-console-core/blob/master/composer.json#L63

### Drupal Console Launcher (

[2016-12-28 17:38] jmolivas commented on #3048
Fixed with #3049

[2016-12-28 17:38] #3048 closed

[2016-12-28 18:38] jurgenhaas commented on #3049
[Drupal Remote Dashboard](https://www.drupal.org/project/drd) also provides quite a few commands and I'm planning a release candidate the next couple of days. I may hold off if I got a better understanding on you timeframe for your RC-13.

[2016-12-28 18:43] jmolivas commented on #3049
@jurgenhaas thanks for letting us now, we will update the issue.

Next release RC-13 is scheduled for Jan 3rd 2017.

[2016-12-29 03:46] jmolivas commented on #2905
@grasmash @geerlingguy done yaml:* commands relocated to console-core

https://github.com/hechoendrupal/drupal-console-core/tree/master/src/Command/Yaml

[2016-12-29 14:43] grasmash commented on #2905
@jmolivas Yeeesssss!

[2016-12-31 19:32] jmolivas commented on #3049
I wrote an script to have this fixed, code is at this gist:
https://gist.github.com/jmolivas/96e842a7c598ee0df262ee3ac50fd9c9

Instructions to use:
[code]

NOTE: Enter path of module to process ex: `web/modules/contrib/metatag/`

<img width="910" alt="fix-rc13" src="https://cloud.githubusercontent.com/assets/366275/21578969/102ea99c-cf4b-11e6-8057-85dccd66f6b8.png">

[2017-01-01 04:03] #2584 closed

[2017-01-01 10:40] ArtuGit opened #3058 "Does not work with Drupal Composer Project"
I use 'drupal-composer/drupal-project'.

I perform 'drupal' inside a website folder and I have:

[code]

What is the problem?

[2017-01-02 02:04] arnoldbird opened #3059 "Invalid version string exception when installing with composer"
When I run...
`composer require drupal/console:~1.0 --prefer-dist`

...I get...
[code]
I am able to use the drupal command in some parts of my file system, such as /root and /var, but not in /var/www

[2017-01-02 02:05] arnoldbird opened #3060 "The "--optimize-autoloader" option does not exist."
When I run...

`composer require drupal/console:~1.0 --prefer-dist --optimize-autoloader`

...I get...
[code]

[2017-01-02 15:06] beltofte commented on #3010
Any updates to this issue? Facing the same issue with custom console commands.

[2017-01-02 18:02] jmolivas commented on #3060
@arnoldbird  Which `composer` version do you have ?

Try `composer --version` to find out and ` composer self-update` to update to latest version.

[2017-01-02 20:34] jmolivas commented on #3058
@ArtuGit which version of the project do you have installed?

[2017-01-02 21:50] jmolivas commented on #3058
@ArtuGit can you confirm  you have RC12 on the site and the launcher?

[2017-01-02 22:12] ArtuGit commented on #3058
@jmolivas
Yes,
Drupal Console Launcher version 1.0.0-rc12

[2017-01-02 22:15] ArtuGit commented on #3058
And "drupal/console": "~1.0" in the composer.json (of the Drupal Composer Project)

[2017-01-02 22:26] jmolivas commented on #3058
try executing within your site then copy/paste results please
[code]

[2017-01-02 22:33] ArtuGit commented on #3058
_drupal/console                        1.0.0-rc10      The Drupal CLI. A tool to generate b...
drupal/console-core                   1.0.0-rc10      Drupal Console Core
drupal/console-en                     1.0.0-rc9       Drupal Console English Language_

[2017-01-02 22:43] jmolivas commented on #3058
Try updating executing:
[code]

[2017-01-02 23:19] arnoldbird commented on #3060
root@ryandw-desktop:~# composer --version
Composer version @package_branch_alias_version@ (@package_version@) @release_date@
root@ryandw-desktop:~# cd /var/www/d8/public_html/
root@ryandw-desktop:/var/www/d8/public_html# composer self-update
  [InvalidArgumentException]
  Command "self-update" is not defined.
root@ryandw-desktop:/var/www/d8/public_html# cd ~
root@ryandw-desktop:~# composer self-up

[2017-01-02 23:20] jmolivas commented on #3060
@arnoldbird can you try re-installing composer?

[2017-01-02 23:41] arnoldbird commented on #3060
Thanks.  Re-installing composer fixed it.

To remove composer, I looked for composer.phar on my system with the find command and could not find it.  So I deleted the /root/.composer directory and re-installed as shown at https://getcomposer.org/download/

I then moved the composer.phar to /usr/local/bin/composer

Logged out of root account and then...
sudo /usr/local/bin/composer require drupal/co

[2017-01-02 23:41] #3060 closed

[2017-01-02 23:42] jmolivas commented on #3059
Is this related to https://github.com/hechoendrupal/drupal-console/issues/3060 ?

[2017-01-02 23:43] jmolivas commented on #3059
@arnoldbird  Is this related to https://github.com/hechoendrupal/drupal-console/issues/3060 ?

[2017-01-02 23:44] arnoldbird commented on #3059
Yes.  I will close it.

[2017-01-02 23:44] #3059 closed

[2017-01-03 00:53] jmolivas commented on #3010
@ternary-Operator @ergonlogic @beltofte This is fixed and will be released on next version RC-13.

[2017-01-03 09:12] bpresles commented on #3017
@jmolivas
I installer using composer require (locally to my project, not globally), then I added the vendor/bin directory to my PATH environment variable, nothing more, just that.

[2017-01-03 10:38] ArtuGit commented on #3058
Now I have _drupal/console 1.0.0-rc11_  and a message:

[code]

[2017-01-03 14:33] vacho opened #3067 "[generate:entity:content] generated code doesn't show fields for administrate"
### [generate:entity:content] generated code doesn't show fields for administrate

### Problem/Motivation
Sometimes we need since drupal UI to administrate fields: edit, add, delete.

### How to reproduce
Review that the fields generated like 'name' doesn't show at admin/structure/{entity_name}/settings path

### Solution
Review the code of node or others content entities at core, an contrast with

[2017-01-03 14:45] cristinallamas opened #3068 "Errors when installing drupalConsole"
I've installed drupal with the drupal-project template available in github. then I tried installing drupal console with
[code]

I've got an error about *PHP Fatal error:  Maximum function nesting level of '100' reached*, but after modifying php.ini this keeps on happening. Not sure how to make Drupal Console work

The error is

[code]

[2017-01-03 14:50] jmolivas commented on #3068
@cristinallamas Did you change the php.ini for the CLI?

You can confirm which php is loading when using the CLI by executing:
[code]

[2017-01-03 14:53] jmolivas commented on #3010
Since you mentioned you have custom commands you may want to take a look at this breaking change on the `drupal/console-core` namespace project. https://github.com/hechoendrupal/drupal-console/issues/3049 The how-to-fix is also included on the link.

[2017-01-03 14:57] cristinallamas commented on #3068
Hi, I've updated that file as well, but it still throws the same error.

[2017-01-03 15:16] grasmash commented on #2905
@jmolivas It looks like the issue persists, though it is slightly altered.

[code]

Is it possible to execute a console command outside the context of a Drupal site?

[2017-01-03 15:27] grasmash commented on #2905
Furthermore, if I do download a full copy of Drupal core and I attempt to use this command from a directory above the docroot, console is unable to locate the yaml file:

[code]

[2017-01-03 15:28] grasmash commented on #2905
Would it make sense to completely remove the yaml commands from Drupal console and create a new standalone tool that provides yaml file manipulation via a Symfony command?

[2017-01-03 15:47] jmolivas commented on #2905
@grasmash that make total sense we should extract that functionality as separated commands.

Can we have a call I like to have this fixed.

[2017-01-03 15:57] beltofte commented on #3010
@jmolivas Thanks for the heads up. When are you planning to release RC13?

[2017-01-03 18:07] jmolivas commented on #3049
The DrupalConsole RC-13 is out.

[2017-01-03 18:08] jmolivas commented on #3058
@ArtuGit can you try updating to latest RC-13?

[2017-01-03 18:33] grasmash commented on #2905
@jmolivas Sure, I'd be happy to chat. I'll join your Gitter channel too.

I've created this project in the meantime: https://github.com/grasmash/yaml-cli

It doesn't really use any code from Drupal Console, which is intentional. This seems useful as a standalone, lightweight utility.

I can introduce the other commands like update:key, unset:key, etc.

[2017-01-03 20:29] ArtuGit commented on #3058
How can I do it correctly (for the both)?

[2017-01-03 20:53] jmolivas commented on #3058
@ArtuGit https://gist.github.com/jmolivas/a0970e1ea252ecb852fe8c7182d85d3e

[2017-01-03 22:38] ArtuGit commented on #3058
@jmolivas, thanks.

After 'drupal self-update' I have:
_[OK] Updated from version "1.0.0-rc12" to version "1.0.0-rc13"_.

When I perform 'drupal' inside the website folder I have:
_PHP Fatal error:  Trait 'Drupal\Console\Command\Shared\InputTrait' not found in /var/www/drupalvm//vendor/drupal/console/src/Command/Generate/ControllerCommand.php on line 32
Fatal error: Trait 'Drupal\Console\Command\S

[2017-01-04 01:05] jmolivas commented on #3058
@ArtuGit did you updated DC within the site too? execute this form the site root
[code]

[2017-01-04 03:26] arnoldbird opened #3073 "[console] Packages "conflict with your requirements or minimum-stability""
### Problem/Motivation

I'm not able to install console in an existing project.

ryan@ryandw-desktop:/var/www/issues/public_html$ sudo /usr/local/bin/composer require drupal/console:~1.0 --prefer-dist --optimize-autoloader
[sudo] password for ryan:
Do not run Composer as root/super user! See https://getcomposer.org/root for details
./composer.json has been created
Loading composer repositories wit

[2017-01-04 03:30] jmolivas commented on #3073
@arnoldbird there is currently a site at `/var/www/issues/public_html` ?

[2017-01-04 03:51] arnoldbird commented on #3073
Yes.  The problem has been resolved.  I'm not quite sure how.

At one point I did this...
composer clearcache
composer global require drupal/console:@stable

And then some time later I did...
sudo composer require drupal/console:~1.0 --prefer-dist --optimize-autoloader --sort-packages

...and now it works.

[2017-01-04 03:51] #3073 closed

[2017-01-04 10:09] ArtuGit commented on #3058
@jmolivas
There was  'Nothing to install or update".
Currently, I still have:

_drupal/console                        1.0.0-rc11      The Drupal CLI. A tool to generate boilerplate code...
drupal/console-core                   1.0.0-rc10      Drupal Console Core
drupal/console-en                     1.0.0-rc9       Drupal Console English Language_

[2017-01-04 11:05] jmolivas commented on #3058
@ArtuGit Latest release is RC-13 not sure why executing form your site root `composer update drupal/console` or `composer update drupal/console --with-dependencies` does not update your site. Maybe you have a fixed version presented at your `composer.json` file

[2017-01-04 11:19] ArtuGit commented on #3058
`update drupal/console --with-dependencies` works and now `drupal` works too!
Thank you a lot. ))

[2017-01-04 11:19] #3058 closed

[2017-01-04 16:39] recidive opened #3074 "[generate:content:entity] Make creating admin routes/forms optional"
Sometimes, specially when using Drupal as headless backend server, you don't need anything related to entity administration.

The routes for configuring entity fields, display settings, etc could be optional. This would help a lot when using Drupal entities only through services since you end up having to remove a lot of code that you are not going to need.

We could ask some questions like:

Do y

[2017-01-04 19:30] jmolivas commented on #3010
Fixed with https://github.com/hechoendrupal/drupal-console/releases/tag/1.0.0-rc13

Make sure your translation file is for a module named demo ie:
* File name and location `demo/console/translations/en/demo.default.yml`
* Content
[code]
* Command class code:
[code]

[2017-01-04 19:30] #3010 closed

[2017-01-04 19:32] jmolivas commented on #3074
Like the idea. We just need to investigate which pieces we do not require to render.

[2017-01-05 13:36] PatrickBauer opened #3077 "Command on all sites simultaneously (drush's @sites)"
I'd like to propose a feature where in a multisite environment, a command can be called on all sites at the same time.

Drush has the "@sites" alias, which works like this:

[code]

Is that possible with Drupal Console?

[2017-01-05 16:53] jmolivas commented on #3077
@PatrickBauer This is doable.

[2017-01-06 14:59] adubovskoy opened #3079 "site:mode doesn'e exists"
### site:mode doesn'e exists

Two different environments - local docker (docker4drupal.org) and digital ocean centos. The same thing - after installing drupal console, everithing works fine but drupal site:mode doesn't exist.

[code]

[code]

[2017-01-06 15:55] jmolivas commented on #3079
@adubovskoy it was disabled because it had some bugs, will be back in 1 or 2 releases.

[2017-01-07 10:21] adubovskoy commented on #3079
tnx!

[2017-01-07 15:34] jhmnieuwenhuis opened #3081 "Problem with site:install after composer install of drupal 8.2"
[ site:install ] [ERROR] The specified database connection is not defined: default

when using drupal site:install after composer create-project drupal-composer/drupal-project:8.x-dev
I get an error about the database connection.
The install runs fine after that and everything works.

    --langcode="en" \
    --db-type="pgsql" \
    --db-host="cstest.jhmnlocal" \
    --db-name="dr8templ" \
    --

[2017-01-08 05:59] ww7 opened #3082 "[console] Error SQLSTATE with fresh install in docker container"
[ERROR] SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: nodename nor servname provided, or not known

Please help with this

[2017-01-08 09:59] ahoebeke commented on #3001
Instead of throwing an error, could the launcher not print a message (or in addition to the error) specifying an answer such as yours?
Things that are often so obvious for some are not documented, causing thousands of developers to waste valuable time because "error" will make you google-search for a solution, right?

[2017-01-09 12:32] cburschka opened #3083 "[config:import] set exit status on failure."
### Problem/Motivation

For non-interactive usage, it would be useful to allow scripts to react to the exit status of a drupal-console command.

For example if `drupal config:import` fails for any reason, the command will output an error message but otherwise give no indication to the caller that the import failed and (for example) a setup script should be aborted.

### Solution

This might be sol

[2017-01-09 12:55] cburschka commented on #3083
Update: Actually, the Symfony console already has exit codes - it's the return value of any function overriding `Symfony\Component\Console\Command::execute()`. So the only fix needed would be to check that all core commands that have their own error handling return 1 if they fail.

Back to the config:import example, this is related to an apparent bug in which the line `$io->success($this->trans('c

[2017-01-09 13:03] cburschka commented on #3083
(I see that the support for this was added very recently in #3078, which is great!)

[2017-01-10 18:39] danielslcdevshop opened #3089 "Error running drupal console command: ContainerAwareCommandTrait not found"
### Cannot Execute Drupal Command

Error while executing drupal command for a custom Command.

[code]

#### Drupal Console Installation

https://drupalconsole.com/articles/how-to-install-drupal-console

#### My Class:

[code]

#### Registration (custom_module.services.yml)

[code]

#### Composer

[code]

#### Versions

* Drupal 8.2.5
* PHP 7.0.8-0ubuntu0.16.04.3
* Drupal Console version 1.0.0-rc14

[2017-01-10 19:44] danielslcdevshop commented on #3089
It works on 1.0.0-rc8

[2017-01-12 08:36] jmolivas commented on #3089
@danielslcdevshop you can find the fix at https://github.com/hechoendrupal/drupal-console/issues/3049

[2017-01-12 17:10] danielslcdevshop commented on #3089
Thank you!

[2017-01-12 17:10] #3089 closed

[2017-01-13 09:34] ismailcherri opened #3091 "[Console] PHP Fatal error: Call to a member function getId() on null"
`[ERROR] PHP Fatal error:  Call to a member function getId() on null in /core/modules/user/src/PrivateTempStore.php on line 204`

Hi, I get this error when I try to execute any Console command with a custom block enabled on every page of my Drupal 8.2.5 installation.
The block in question try to extract variable from the user private temp store using class \Drupal\user\PrivateTempStoreFactory
The

[2017-01-13 17:34] ao2 opened #3092 "[generate:profile] add an option to specify enabled themes"
The `--dependencies` option tells what modules put as dependencies in the profile .info.yml file.

However this is not enough to have a profile which installs cleanly in the case where configuration has also been exported, because the config files also refer to themes.

Steps to reproduce:

* get the list of the enabled modules with:
[code]

* generate a profile with `generate:profile --dependenci

[2017-01-13 19:44] alvar0hurtad0 opened #3093 "Dependency problem with drupal 8.2.5"
### Problem/Motivation
Package symfony/dom-crawler is locked at v3.2.2 (http://cgit.drupalcode.org/drupal/tree/composer.lock#n4161) and dependency is   `"symfony/dom-crawler": ">=2.7 <3.2"`,

### How to reproduce
Install drupal 8.2.5

composer require --dev drupal/console:~1.0@rc

### Solution
Change dependencies to:
"symfony/dom-crawler": ">=2.7 <3.3"

[2017-01-13 20:06] adriangordon1231 commented on #2838
Any resolutions to this issue?

[2017-01-14 06:13] kevinquillen opened #3095 ""zsh: command not found: drupal""
### zsh: command not found: drupal

### Problem/Motivation
I have the latest version of composer, and using the docs, installed Drupal Console as such:

`composer global require drupal/console:@stable`

Which installed fine.

When I type `drupal` at the terminal, I get:

`zsh: command not found: drupal`

The following had zero effect, even after reloading the profiles and restarting terminal:

[co

[2017-01-14 06:57] kevinquillen commented on #3095
Okay, nevermind. I nuked my global .composer folder and started over, as there wasn't much of note in there. Now it works.

[2017-01-14 06:57] #3095 closed

[2017-01-14 07:10] kevinquillen opened #3096 "Cannot get to work remotely with Drupal VM instance."
### Cannot get to work remotely with Drupal VM instance.

### Problem/Motivation

I followed the docs for setting up Drupal Console with a remote vm. When I run site:debug, I see my local site listed, but I cannot run any commands.

[code]

It apparently is complaining about a lack of `passphrase.txt` in my `.ssh` directory. What do I do?

[2017-01-15 18:22] adriangordon1231 commented on #2838
I was experiencing the issue because I ran composer commands using super user privileges. Once I ran them again, everything was fixed.

[2017-01-16 16:33] jmolivas commented on #3096
@kevinquillen can you execute on your host `drupal init` and select you user home directory as destination.

The remote section of your `~/.console/ocnfig.yml` file:
[code]
You probably have the old format:
[code]

[2017-01-16 17:10] kevinquillen commented on #3096
Okay, I made that change. My site file looks like this:

[code]

My generating config.yml - now with your suggested change, looks like this:

[code]

However, I still get this when running a command:

[code]

[2017-01-16 17:27] jmolivas commented on #3096
@kevinquillen which version of DrupalConsole version Launcher do you have installed?

[2017-01-16 17:28] kevinquillen commented on #3096
Drupal Console version 0.11.3

[2017-01-16 17:32] jmolivas commented on #3096
@kevinquillen that is pretty old. Can you update to RC-14?

Starting on RC releases DC should be install per site. (In your case this was done by DrupalVM).

If you like to use the remote features you need to install the global executable now named Launcher
[code]

[2017-01-16 17:36] kevinquillen commented on #3096
Thats odd, I installed it with:

`composer global require drupal/console`

If I remove it with composer, and do

`composer global require drupal/console@stable`

Then I get version 0.2.6.

[2017-01-16 17:39] kevinquillen commented on #3096
Oh, okay, I was following the documentation. Let me try it that way.

[2017-01-16 17:39] jmolivas commented on #3096
@kevinquillen As mentioned, starting on RC releases DC should be install per site.

[code]

The `composer global require` installation is discouraged to avoid conflict between dependencies.

You can still have a global executable by using the Launcher
[code]

[2017-01-16 17:53] kevinquillen commented on #3096
Alright, now RC-14 is installed locally to the project, and I did `drupal init`. Now my config.yml looks better, and I created a new site file based on the drupalvm.yml file.

Output of `site:debug`:

[code]

The path on the remote machine is correct.

The output of `drupal list` or `drupal --target=d8.local list` prints a list of basic commands, followed with:

`[WARNING] In order to list all of

[2017-01-16 18:46] jmolivas commented on #3096
@kevinquillen Can you copy/paste the result of executing `drupal site:debug drupalvm.dev` ?

[2017-01-16 18:47] kevinquillen commented on #3096
[code]

[2017-01-16 19:04] jmolivas commented on #3096
Not sure why are you getting this error:

I am updating DrupalVM on my local system to the latest version ping you back once is updated.

[2017-01-16 19:15] jmolivas commented on #3096
I see two issues:

1) This is happening on the host machine, since you are executing this form the host.

2) Is your site on the Vm installed?

[2017-01-16 19:15] kevinquillen commented on #3096
Yes, the site is installed.

[2017-01-16 21:03] s-robertson commented on #2166
It seems that a number of the standards errors have been fixed, however some new ones have popped up. Using the latest version of Drupal Console, I ran `drupal generate:entity:content` with the default options. I then ran PHP Coder Sniffer using the standards defined by the Coder module and got the following results:

[code]

They all seem like they would be fairly straightforward to fix, but I'm

[2017-01-16 22:23] jmolivas commented on #3096
@kevinquillen Not sure what is wrong in your host machine. I just cloned DrupalVM and execute `vagrant up`

This is the content of my site file:

[code]

This is the output of the `site:debug` command
[code]

I can execute `drupal --target=drupalvm.dev site:status`
[code]

[2017-01-16 22:27] kevinquillen commented on #3096
Could it be because Acquia BLT has a different process for setting up DrupalVM than just cloning it straight to your project? Here is the config.yml that it generates for me. The only line I changed, I believe, is enabling xdebug.

[code]

[2017-01-16 22:31] jmolivas commented on #3096
How can I test this?

Copy/paste previous content to my `config.yml` ?

How do I rebuild it?

[2017-01-16 22:34] kevinquillen commented on #3096
A clean way to do it would be:

`composer create-project --no-interaction acquia/blt-project d8`

I edited the project.yml for BLT to use the standard profile instead of lightning, and changed the project name to 'd8'.

Then,

`blt vm`
`blt local:setup`

I started my project using the [BLT guide here](http://blt.readthedocs.io/en/stable/readme/creating-new-project/).

[2017-01-16 23:01] jmolivas commented on #3096
@kevinquillen can you please copy/paste your site file the one at `~/.console/sites/d8.yml` ?

[2017-01-16 23:34] jmolivas commented on #3096
@kevinquillen should this `blt local:setup` execute from host or via ssh into the VM?

[2017-01-17 00:30] rbayliss opened #3097 "[database:add] Unable to run install related commands without a database"
### Problem/Motivation
Attempting to run any of the database:* commands on a site that does not have a fully installed database (either no $databases entry in settings.php, or a $databases entry, but no tables) triggers a fatal error.

### How to reproduce

1. Install a fresh Drupal site
2. Drop the database (drupal database:drop)
3. Try running database:add or database:restore

### Solution
I wou

[2017-01-17 10:07] francescopersico commented on #3081
I can just say it is not critical. Your site will be installed properly.

[2017-01-17 18:25] kevinquillen commented on #3096
I've been doing the commands from the host machine.

[2017-01-17 19:51] jmolivas commented on #3096
@kevinquillen I did that, follow those instructions  and it works for me:

[code]
I created my site file `~/.console/sites/d8.yml`
[code]
After that execute `drupal --target=d8.local site:status` with this result:
[code]

[2017-01-17 22:21] ao2 commented on #3092
OK, I am looking at adding the `--themes` option myself, by generalizing the `checkDependencies()` mechanism into a more generic `checkExtensions()` and reusing it to validate the arguments to the new option.

I'll post an update when I got something working.

Ciao,
   Antonio

[2017-01-18 00:34] kevinquillen commented on #3096
Thats so weird... I can't tell what the difference is.

`../vendor/bin/drupal site:debug d8.local `

[code]

[code]

[2017-01-18 00:40] jmolivas commented on #3096
Result of executing `drupal site:debug d8.local` on my local
[code]

[2017-01-18 00:40] jmolivas commented on #3096
@kevinquillen you need to use the Launcher aka global executable to use the remote command execution features of DrupalConsole

Can you try:  [Install Drupal Console Launcher](https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher)

And then `drupal --target=d8.local site:status`

[2017-01-18 00:46] kevinquillen commented on #3096
That worked after installing that.

[2017-01-18 00:57] kevinquillen commented on #3096
As a test, I ran the `generate:module` command:

`drupal --target=d8.local generate:module test`

[code]

Leaving off the 'test' part:

[code]

[2017-01-18 02:16] jmolivas commented on #3096
@kevinquillen now is executing commands remotely.

The issue you are having is, the Drupal Console remote command execute (via ssh) does not allows to use the interactive mode.

You must pass the options and arguments like this example:
[code]

You can find about command options and arguments by passing the `--help` option:
[code]

[2017-01-18 02:51] jmolivas commented on #3096
@kevinquillen to confirm you can try other commands:
[code]

[2017-01-18 14:49] joshirohit100 opened #3098 "[generate:cache:context] New command to generate cache context"
### Problem/Motivation
To make it easy for users to create/generate new/custom cache context.

PR - https://github.com/hechoendrupal/drupal-console/pull/3099

[2017-01-18 19:08] FabricioBedoya opened #3100 "[site:install] After the last version update error in escapeTrailingBackslash"
### Issue title
Call to undefined method Symfony\Component\Console\Formatter\OutputFormatter::escapeTrailingBackslash()
The issue title should comply with the following structure:

[ *ISSUE-GROUP* ] Short description

The *ISSUE-GROUP* should be one of:

* `site:install`
* `generate:controller`

### Problem/Motivation
When I try to launch site:install command an error occur, for almost all command

[2017-01-18 19:12] ao2 commented on #3092
Hi,

during the refactoring I am considering moving the `checkExtension` function into `ExtensionManager` and that would mean make the latter depend on `http_client'; I tried this approach:

[code]

But it fails here with this error (drupal console master + drupal 8.2.5):

[code]

Any idea of what is going on?

Thanks,
   Antonio

[2017-01-18 23:02] kevinquillen commented on #3096
Yes, those commands worked.

This time, I tried:

`drupal --target=d8.local --module=test --machine-name=test`

I did not get any further prompts, and `test` was dumped to the docroot. Would it just be better to ssh in and use Drupal Console from inside the machine for interactive mode?

[2017-01-19 00:51] vasi opened #3102 "[console] Deleting sites/default/files/php directory is not always possible"
### Problem/Motivation

As of #3090 , we delete the entire PhpStorage directory (`sites/default/files/php`) on every run of Drupal console.  On some systems, permissions may prevent this, which causes Console to die.

This occurs in particular with Acquia Dev Desktop on Windows.

### How to reproduce

* Install Dev Desktop (I used the current version, 2016-09-06) on Windows 10
* Install a Drupal s

[2017-01-19 06:41] jmolivas commented on #3102
@vasi Fixed with https://github.com/hechoendrupal/drupal-console/pull/3103 thanks for reporting.

[2017-01-19 07:22] jmolivas commented on #3096
Yes. Drupal Console remote command execution, do not allows to use the interactive mode.

Closing this one. Feel free to re-open if still happening or you may have more questions.

[2017-01-19 07:22] #3096 closed

[2017-01-19 07:22] jmolivas commented on #3102
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-01-19 07:22] #3102 closed

[2017-01-19 07:22] jmolivas commented on #3093
PR merged

[2017-01-19 07:22] #3093 closed

[2017-01-19 07:24] vasi commented on #3102
Thanks!

[2017-01-19 07:57] jmolivas commented on #3100
This PR https://github.com/hechoendrupal/drupal-console-launcher/pull/82 should fix this.

[2017-01-19 08:45] PatrickBauer commented on #3100
Is there a way to test this without waiting for another console-launcher release?

[2017-01-19 09:22] rogierbom1 commented on #2842
This issue is still keeping me from installing Drupal Console with Drupal 8.2.5. Any Progress on this?

I'm surprised that not more people are having trouble with this. Do most people install Console without composer?

[2017-01-19 14:12] jmolivas commented on #3100
@PatrickBauer you can try by
1) cloning the repo https://github.com/hechoendrupal/drupal-console-launcher
2) using composer to install dependencies
3) building the phar using https://github.com/box-project/box2

[2017-01-19 14:39] PatrickBauer commented on #3100
Thank you. tried it and the PR fixes the problem 👍

[2017-01-19 16:17] arnoldbird opened #3107 "[module:install] Call to undefined method Symfony\Component\Console\Formatter\OutputFormatter::escapeTrailingBackslash()"
I was not able to install a module with console.  This is in a fresh install of Drupal 8.2.5.

root@ryandw-desktop:/var/www/issues/public_html# /usr/local/bin/drupal module:install devel
 One or more modules "devel" are not available, running download process to get those modules
 Getting releases for module "devel"

PHP Fatal error:  Call to undefined method Symfony\Component\Console\Formatter\Ou

[2017-01-19 16:19] arnoldbird commented on #3107
Actually this looks to be a duplicate of https://github.com/symfony/symfony/issues/21337
I'm reading that thread now.

[2017-01-19 16:20] arnoldbird commented on #3107
And this:  https://github.com/hechoendrupal/drupal-console/issues/3100

[2017-01-19 16:26] arnoldbird commented on #3107
I will close this because it's a duplicate : )

[2017-01-19 16:26] #3107 closed

[2017-01-19 16:37] arnoldbird commented on #3100
@FabricioBedoya
Can you provide more detail on this:
"using composer to install dependencies"

I know it's documented elsewhere, but I'm not sure how to do it in a way that will pull the latest dev code.  I tried this in my composer.json require but it was rejected by composer:
` "drupal/console": "dev-master",`

[2017-01-19 16:56] PatrickBauer commented on #3100
@arnoldbird

Follow these steps:
[code]

For the last step you have should change the path to your current drupal console launcher.

[2017-01-19 17:22] cburschka-pwc opened #3108 "[update:execute] ignores <module> argument"
There's some broken logic in the Command\Update\ExecuteCommand - the module argument is required, but the command always prints the error that no updates exist for the given module, and then runs all updates for all modules anyway.

As the execute() function seems to show, there isn't actually any code that would filter the updates by module:

        $this->module = $input->getArgument('module');

[2017-01-19 17:38] arnoldbird commented on #3100
Thanks!

For the first step, I needed to do...
`git clone https://github.com/hechoendrupal/drupal-console-launcher.git`

When I ran 'box build', I got...
[code]

I resolved that by setting **phar.readonly = Off** in /etc/php5/apache2/php.ini
It seems that phar.readonly defaults to On.

Now I can install modules with console.

[2017-01-19 21:58] cburschka commented on #3108
Bug's actually been in here since July - 036aa15ee376f4a45c2c17949f8f932eb35bc32e

So I guess everyone is just using the `drupal update:execute all` syntax? ;)

[2017-01-19 22:35] colans opened #3109 "[config:export:content:type] Title field label setting not exported"
### Problem/Motivation
On running the `drupal config:export:content:type` command, deleting the content type, and then importing exported content type configuration, the title field label gets set to the default "Title" even though it was set to something else before export.

### How to reproduce
1. Create a content type from the Web UI.
1. On the Edit form, change the *Title field label* setting

[2017-01-20 09:59] kmajzlik opened #3111 "Use StorageInterface in config commands?"
Use StorageInterface in config commands instead of FileStorage

### Problem/Motivation
config_split module do not work with Console

**Details to include:**
That module creates own implementation of that interface and we have TypeError

### How to reproduce
Current config_split + https://www.drupal.org/node/2830660

### Solution
vendor/drupal/console/src/Command/Config/DeleteCommand.php line 52
[c

[2017-01-20 16:07] joshirohit100 opened #3113 "[ generate:cache:context ] [Bug] Missing required dependecy/service"
In this new command, Extension manager dependency/service was missing which is kind of required to execute/run the command.

[2017-01-20 16:10] joshirohit100 commented on #3113
PR - https://github.com/hechoendrupal/drupal-console/pull/3114

[2017-01-20 16:23] siolfyr commented on #2751
What was the benefit that made you decide to require Drupal Console to be installed on a per-site basis?  This is going to cause more difficulties for people when installing, especially if they have conflicting packages.

[2017-01-20 16:32] joshirohit100 commented on #3113
PR - https://github.com/hechoendrupal/drupal-console/pull/3114

[2017-01-20 16:39] jmolivas commented on #2751
@siolfyr you will find an answer to this question at this comment I did on a similar reported issue:

https://github.com/hechoendrupal/DrupalConsole/issues/2754#issuecomment-251361912

[2017-01-20 22:24] daften commented on #3081
Since the latest version of drupal 8.2 and drupal console, I have the same problem, but site:install doesn't actually run for me.
[code]

It does work if --no-interaction is used, but that means there is still something wrong/faulty in the command. The fact the error is thrown in getting the kernel messes with the interaction. It will always fail if it tries to get an option interactively and cras

[2017-01-21 07:42] jmolivas commented on #3113
PR merged

[2017-01-21 07:42] #3113 closed

[2017-01-21 15:29] joshirohit100 opened #3115 "[generate:plugin:migrate:process] New Command to generate migrate process plugin"
We have command for generating source plugin of migrate but not process plugin.

[2017-01-21 15:31] joshirohit100 commented on #3115
PR - https://github.com/hechoendrupal/drupal-console/pull/3116

[2017-01-21 19:34] jeremypeter commented on #3068
Ran into this same error all of the sudden. I believe it could be related to Xdebug. I was able to fix it by increasing the `xdebug.max_nesting_level` setting to something more than 100. I added this line to my `php.ini` file:
[code]

[2017-01-22 06:35] jmolivas commented on #3115
PR merged

[2017-01-22 06:35] #3115 closed

[2017-01-22 09:02] jmolivas commented on #3111
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3118

[2017-01-22 20:50] daften commented on #3100
I had problems with generate functions, the mentioned PR fixed that for me too.

[2017-01-22 23:48] jmolivas commented on #3083
Closing this one. Since PR #3078 merged.

[2017-01-22 23:48] #3083 closed

[2017-01-23 00:33] daften opened #3121 "`console` Any drupal console commands for site in maintenance mode fails"
### Problem/Motivation
When a site is in maintenance mode, I get this error message for every command, including site:status and site:maintenance off
[code]

**Details to include:**
- Drupal version: 8.2.5
- Console version: 1.0.0-rc14
- Console Launcher version: 1.0.0-rc14 (latest version manually installed)

### Solution
No clue to be honest.

[2017-01-23 16:20] ao2 commented on #3092
@jmolivas, ping. Any chance you can give an advice?

Thanks,
   Antonio

[2017-01-23 16:22] jmolivas commented on #3092
@ao2 are you on the gitter channel https://gitter.im/hechoendrupal/DrupalConsole ?

[2017-01-23 18:28] jmolivas commented on #3111
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-01-23 18:28] #3111 closed

[2017-01-23 18:28] jmolivas commented on #3100
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-01-23 18:28] #3100 closed

[2017-01-23 18:30] jmolivas commented on #3091
@ismailcherri  Can you try with latest DC versionRC-15 and comment back if still happening.

[2017-01-23 18:31] jmolivas commented on #3068
@jeremypeter glad to read that fixed for you

@cristinallamas are you still having the issue?

[2017-01-23 19:05] jover commented on #3081
Same here (with or without --no-interaction):
[code]

[2017-01-23 19:53] jmolivas commented on #3081
I just test with latest  RC-15 and it works properly

[code]

[2017-01-23 19:54] twhiston opened #3126 "cron:execute - why is the all key required?"
Why is the all key required in the cron:execute command? It seems slightly strange to me that the default behavior (with no argument) is just to fail and not run all the cron, which to me would be the expected behavior (and analogous to hitting the run cron button in the interface)

### How to reproduce
run `drupal cron:execute` and it will fail saying no module was specified

### Solution
Its ver

[2017-01-23 19:54] jmolivas commented on #3081
@jhmnieuwenhuis @francescopersico @daften @jover

I just tested with latest  RC-15 and it works properly

[code]

[2017-01-24 08:18] jover commented on #3081
I checked my version, and apparently I was using RC-14.
Updated to RC-15 and now it seems to work just fine.

[2017-01-24 09:22] ao2 commented on #3092
@jmolivas I am not and I don't plan to be, but I am on IRC on Freenode.net, where the official Drupal channels are.

[2017-01-24 10:18] daften commented on #3081
Yes, it works with --no-interaction specified. But please try it without --no-interaction ;)

[2017-01-24 11:20] ismailcherri commented on #3091
Hi,
I updated DC to rc-15 and I get the same error.
This is a very specific situation I know, but it happens if the front page has anything that uses \Drupal\user\PrivateTempStore class.
In my case, I'm starting a session for anonymous user and storing some data which I get in a block on the home page which triggers the error with Drupal Console.

So let me rephrase my original question, is what I

[2017-01-24 13:02] tahirm opened #3129 "[generate:entity:content] Missing view_builder handler for custom entity with bundles"
### Problem
When creating a custom entity with bundles support, you are not able to access entities through REST api.

### How to reproduce
- Drupal version: 8.2.5.
- Console version: 1.0.0-rc14
- Console Launcher version (using [drupal-composer](https://github.com/drupal-composer/drupal-project) project).

**Steps to reproduce**

- Create a custom content entity `Music` using `generate:entity:con

[2017-01-24 16:18] michael-wojcik commented on #2770
+1 Ran into this issue and fixed by deleting empty composer.json and composer.locl in web/ root of a drupal-composer/drupal-project repo.

[2017-01-24 16:22] messageagency opened #3130 "How to install alongside terminus?"
I'm hoping someone who is better at composer can walk me through this.

<a href="https://github.com/pantheon-systems/terminus">Terminus</a> requires symfony/finder (~2.7|^3.1) , which means composer hates me and I can't install drupal console, which requires symfony/finder 2.4

How do I install drupal console and terminus on the same machine?

[2017-01-24 16:31] jmolivas commented on #3081
@jover your error seems related to this https://github.com/hechoendrupal/drupal-console/issues/2770 can you confirm if the fix help you?

[2017-01-24 16:35] messageagency commented on #3130
FYI for anyone else who comes across, you will want to replace composer's "require global" command:
https://pantheon.io/blog/fixing-composer-global-command

[2017-01-24 16:35] #3130 closed

[2017-01-24 22:24] damienmckenna commented on #1306
Given that layouts are going into core in 8.3, it might be worth pulling this into DrupalConsole.

[2017-01-24 23:21] jmolivas commented on #1306
@damienmckenna or push DrupalConsole into core ... wait ... that ain't going to happen, lets better move those commands to DrupalConsole cc: @fmann

[2017-01-25 13:27] joshirohit100 commented on #3121
This looks like token module issue because no check is there if route object or not

`$route = $request->attributes->get(RouteObjectInterface::ROUTE_OBJECT);
 $title = \Drupal::service('title_resolver')->getTitle($request, $route);`

here looks like culprit

[2017-01-25 16:10] lachezarvalchev opened #3131 "'generate:module' Missing <?php tag in .module file some cases"
### 'generate:module' Missing <?php tag in .module file some cases

### Problem/Motivation
When the .module file is generated because of the need to implement hooks it does not have <?php

### How to reproduce
I have used 'generate:module' command to generate my custom module.
On the question about do I want .module file I replied no.
However on the question do I want themable template I answered

[2017-01-26 09:14] derhasi opened #3132 "[console] console.create_terms - The "taxonomy_vocabulary" entity type does not exist."
### Problem/Motivation
When the `taxonomy` module is not installed, the following message appears at every console command run:
[code]
The message can confuse users and clutters up the logs. Therefore it should not be displayed when _taxonomy_ module is not enabled.

### How to reproduce

* Drupal: 8.2.5
* Drupal Console: 1.0.0-rc15
* Local Drupal Console in `../vendor/bin/drupal` added via compos

[2017-01-26 09:19] derhasi commented on #2787
I am getting the same error for Drupal: 8.2.5, Drupal Console: 1.0.0-rc15 and run from local `../vendor/bin/drupal`.

@jmolivas what information do you need to figure out the reason for this.

[2017-01-26 09:31] derhasi opened #3133 "[queue:debug / queue:run] Fatal errors on queue commands"
### Problem/Motivation
Both queue commands fail for me with a fatal error at the moment. I _drupal/console_ want to implement these commands those should be fixed or removed instead in favour of _drush/drush_.

### How to reproduce

* Drupal: 8.2.5
* Drupal Console: 1.0.0-rc15
* Local Drupal Console in ../vendor/bin/drupal added via composer

#### queue:debug

Run `../vendor/bin/drupal queue:debug

[2017-01-26 14:18] FabricioBedoya commented on #2852
Same problem here!

[2017-01-26 16:30] ao2 commented on #3092
Following the message trace from above, the issue with `@http_client` seems to be about this snippet in Drupal `core/core.services.yml`:

[code]

here only one argument is passed, while in `core/lib/Drupal/Core/Http/HandlerStackConfigurator.php` the constructor actually expects two arguments:
[code]

The following patch to Drupal core fixes the problem shown in one of my previous comments:
[code]

[2017-01-26 19:55] ashrafmhd commented on #2842
Hello,

If any one installed DrupalConsole for Drupal-8.2.5 using Composer.
The solution is not the best one but it works "php vendor/drupal/console/bin/drupal.php list".
You can still symlink that file and use it locally.

Thanks

[2017-01-27 06:24] joshirohit100 commented on #3131
Here is PR - https://github.com/hechoendrupal/drupal-console/pull/3135

[2017-01-27 07:11] joshirohit100 commented on #3132
Lets see if https://github.com/hechoendrupal/drupal-console/pull/3136 helps

[2017-01-27 13:13] jorissteyn commented on #3132
I believe the expected behaviour is that no error is shown to the user: if a site doesn't provide specific functionality, drupal console should simply not activate the corresponding commands. For example, if you don't have features installed, you won't get an error about features not being installed.

The same logic should apply to the node and taxonomy modules:

    console.create_nodes - The "no

[2017-01-27 13:19] joshirohit100 commented on #3132
@jorissteyn what I feel is that showing no error/message is also not good UX. If no error/message is shown, user will be in impression that there is something wrong with the setup.

[2017-01-27 13:27] jorissteyn commented on #3132
I agree we should show an error if the user executes a command that needs the module enabled, like "create:nodes", but not at every invocation of the drupal console. Currently, even this produces the messages:

    $ vendor/bin/drupal --help

It is perfectly valid to have a site without taxonomy or even node enabled, so why bother the user with the messages while there is nothing wrong?

[2017-01-27 14:37] ao2 commented on #3092
After further analysis, it looks that trying to use `http_client` **too early** creates problems because the core service container is not fully initialized, for instance the missing argument in Drupal `core.services.yml` I was referring to in the previous comment is actually added by Drupal in `core/lib/Drupal/Core/DependencyInjection/Compiler/GuzzleMiddlewarePass.php`, called by `CoreServiceProv

[2017-01-27 15:36] derhasi commented on #3132
I'd expect that those commands won't show up, if the dependencies are not installed. And therefore I would expect to not see any message related to those commands.

I do not know if there is any mechanism for defining dependencies for commands. If it does not exists, maybe that is something to add to the services definitions. That way `drupal list` could distinguish commands with and without suffi

[2017-01-27 16:04] cburschka-pwc opened #3137 "[update:execute] Module updates are applied repeatedly"
If a module has multiple pending schema updates, then each of them will be applied multiple times.

- `module` has pending updates numbered 8200, 8201, 8202, 8203.

`drupal update:execute module` applies:

- 8200
- 8200, 8201
- 8200, 8201, 8202
- 8200, 8201, 8202, 8203

This is because of bad logic in the update execution function. For each pending update, the code iterates from the initial schema

[2017-01-27 16:42] cburschka-pwc commented on #3137
The post updates have the same bug, except it's made hilariously worse by the... creative way PHP handles for loops over string keys, apparently.

[code]

(Aside from that, post updates do not respect the `<module>` argument, but that's a separate issue.)

[2017-01-28 18:18] jmolivas commented on #3126
@twhiston I tested the PR and it works as expected and agree about the analogous to hitting the run cron button in the interface.

[2017-01-28 18:57] jmolivas commented on #3126
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-01-28 18:57] #3126 closed

[2017-01-30 13:05] anavarre opened #3140 "[create:nodes] should offer to create revisions"
With 8.2.x+ now having revisions enabled by default, it'd make sense to generate revisions for created nodes as well.

[2017-01-30 14:14] Jelle-S opened #3141 "[database:dump] add options"
### [database:dump] add options

### Problem/Motivation
The database dump command should have options to exclude data (for all or only certain tables), like the drush sql-dump command has. Some options probably won't apply to d8, but here's the list of options for the drush command:

[code]

### How to reproduce
No real steps to reproduce... Looking at the code and [documentation](https://hechoend

[2017-01-30 18:24] jmolivas commented on #3132
@derhasi  We can hide command from showing  as an example the features:* commands. This is accomplished by using annotations.

In this same features command example this looks somethinkg like this
[code]

https://github.com/hechoendrupal/drupal-console/blob/master/src/Command/Features/DebugCommand.php#L19-L24

[2017-01-30 18:35] jmolivas commented on #3141
@Jelle-S Actually the command only support

[code]

We should decide which option we want to support for this command

[2017-01-31 04:26] queenielow commented on #2751
Hi Guys,

I have this error message too.. Was wondering has this resolve? or any solutions?

Thanks,
Queenie

[2017-01-31 06:18] jmolivas commented on #2751
@queenielow what is the error you are getting?

[2017-01-31 06:33] queenielow commented on #2751
Hi Jmolivas,

My error are the same as robertloo.

Thanks

[2017-01-31 06:43] jmolivas commented on #2751
@queenielow can you try download DrupalConsole by executing
[code]
By using the  `--no-update` flag we are disabling the automatic update of the dependencies.

Finally just execute the following composer command to update project dependencies.

[code]

[2017-01-31 10:15] queenielow commented on #2751
Thanks alot @jmolivas .. It work!

[2017-01-31 10:51] jorissteyn opened #3143 "Better support for no-tty mode in the server command"
On master, there seems to be regression introduced in https://github.com/hechoendrupal/drupal-console/pull/3088. When running the server command in tty-mode, I expect lines such as:

    [Tue Jan 31 09:58:08 2017] 127.0.0.1:37598 [200]: /user

But they do not show up anymore.

Furthermore, and perhaps this should be a separate issue in the issue tracker, I believe it is very valuable to support di

[2017-01-31 12:15] guardiola86 opened #3144 "[console] Error when running Drupal console inside the site folder"
**[console] Error when running Drupal console inside the site folder**

I can't run Drupal console inside the site folder (I've tried in /vagrant/repos/drupal8 and /vagrant/repos/drupal8/web).

- Drupal version: 8.2.5
- Console version: 1.0.0-rc15
- Console Launcher version: 1.0.0-rc14
- Steps to reproduce:
1) Run composer require drupal/console:~1.0 --prefer-dist --optimize-autoloader --sort-pack

[2017-01-31 14:20] joshirohit100 commented on #3047
PR - https://github.com/hechoendrupal/drupal-console/pull/3145

[2017-01-31 17:15] bruvers commented on #3144
Hey guardiola86, I had the exact same error with the same project versions you had except Console launcher version was 1.0.0-rc12. The following steps helped get rid of the error:

1. Outside of the web root run `drupal self-update` to update console launcher to the latest rc15 version.
2. Again outside of the web root  run `drupal init`.

After that I was able to run `drupal list` in the web root

[2017-01-31 21:19] boesbo opened #3147 "It's not working after composer update"
It's not working after composer update, It happens for example after getting Done composer remove / supplier / pack

Never in console:
`project -> vendor/bin/drupal cache:rebuild all`
`project ->`

Drupal 8.2.5, Drupal Console RC15
Scaffolding with Drupal composer

[2017-02-01 00:19] jmolivas commented on #3144
@bruvers thanks for the reply ;)

[2017-02-01 00:21] jmolivas commented on #3143
@jorissteyn you can also try `server  -vvv`

[2017-02-01 00:25] jmolivas commented on #3143
We can probably add something like that code you propose to the ShellProcess service https://github.com/hechoendrupal/drupal-console-core/blob/master/src/Utils/ShellProcess.php

[2017-02-01 13:57] joshirohit100 commented on #3147
@boesbo - What you see when you run it ?

[2017-02-01 16:11] badrange commented on #2770
Me too, for the second time. Baah :( Time to call it a day!

What if drupal console would give a warning message about the empty composer.json?

[2017-02-01 16:49] jmolivas commented on #2770
@badrange we can probably send a PR to the drupal-finder project https://github.com/webflo/drupal-finder this is the one detecting the drupal site

[2017-02-01 18:42] Jesmaster commented on #2852
I have some more information on this one. Looks like "drupal cr all" and using the Clear all caches in the drupal 8 admin backend have differing effects in the menu_tree table.

If you have pages in the menu that are created using Views, the route_param_key and route_parameters columns should be blank. This is the correct functionality, see the screenshot below:

![dc_clear_all_caches_menu_tree](h

[2017-02-01 20:14] lukejoliat opened #3148 "Error when trying to run Drupal Console in local site."
I get these errors when trying to run any Drupal Console command in the root folder of my local Drupal site:

/usr/local/bin/drupal: line 1: syntax error near unexpected token `<'
/usr/local/bin/drupal: line 1: `The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">Github\Exception\RuntimeException</em>: You have reached GitHub hour limit! Actual lim

[2017-02-02 06:23] pierregermain commented on #3082
Does Drupal work on this container ?

[2017-02-02 06:23] boesbo commented on #3147
➜  recensioni_tech vendor/bin/drupal cache:rebuild
<div class="view view-frontpage view-id-frontpage view-display-id-page_1 js-view-dom-id-689690f006b2ce3dd8db81538157778ceae5d7f2a02d09aeb3a1d0c6de98e9ee">

      <div class="view-content">
          <div class="views-row">
    %

[2017-02-02 07:22] Chi-teck opened #3149 "Bad performance"
I've installed the latest console version (1.0.0-rc15) and discovered that it works quite slow. On fresh site installation (Drupal v8.4.x, PHP 7.0) it takes about 2.5 seconds (!) to execute a simple command like `site:status`.

[code]

The benchmark above suggests that Drupal console spends at least 1.5 second on something not related to Drupal bootstrapping.

Note that this happens on any command

[2017-02-02 16:13] cburschka-pwc opened #3150 "[generate:module] outputs bad .module file in some conditions"
### How to reproduce

* Run `drupal generate:module`
* Deselect the .module file generation
* Enable the template generation later

A header-less .module file is created that *only* contains hook_theme() without a PHP tag or PHPdoc header.

Instead we could either error, printing no .module, or force the .module option back on.

[2017-02-02 16:15] joshirohit100 commented on #3150
Fixed in https://github.com/hechoendrupal/drupal-console/issues/3131

[2017-02-02 16:26] jover opened #3151 "[site:install] The ".../drivers/lib/Drupal/Driver/Database" directory does not exist."
### Problem/Motivation
Installing a Drupal 8 website using Drupal Console `site:install` throws the following error:
[code]

### How to reproduce
- Drupal 8.2.6
- Console version: 1.0.0-rc15

### Solution
[code]

Removing the line with `->in($this->appRoot . '/drivers/lib/Drupal/Driver/Database')` works for me.

[2017-02-02 17:28] jmolivas commented on #3150
Fixed and merged

[2017-02-02 19:06] jmolivas commented on #3149
@Chi-teck thanks for reporting this is a known issue we like to address before the stable release. DO you know which tools we can use to detect why and where is this happening?

You can try `drupal --debug` so see which process is being executed

![Alt text](https://monosnap.com/file/M4iZpU5KjL6wnTtM5RzB3pymypw8nm.png)

[2017-02-02 19:07] jmolivas commented on #3148
@lukejoliat try downloading again the Launcher aka global executable
https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher

[2017-02-02 19:57] Chi-teck commented on #3149
I walked through the code with _xdebug_ and found that `Drupal::boot()` takes about 75 % of the request time.
https://github.com/hechoendrupal/drupal-console/blob/master/bin/drupal.php#L49

I think it can be related to how service container is compiled and cached but am not certain.

I also noticed that the older Console version works quite well even a bit faster than Drush.

[2017-02-03 00:38] carsonblack opened #3152 "[config:export:single] does not generate .yml file"
When I run the config:export:single command it will ask me questions for the following:
- config type
- name
- remove the uuid (I answer yes)
- remove the site hash (I answer yes)

It then displays the message "Configuration(s) exported sucessfully" (side note: sucessfully is misspelled, should be successfully) and exists.

No config is generated anywhere. I also tried to add the --directory flag

[2017-02-03 12:38] nvaken commented on #2725
Not entirely sure what this means. I'm searching for a possibility to add `yml` project-specific for a project. So ideally, I would like to add targets into a file in `/path/to/composer/project-folder/console/`, is this possible?

Additionally, I see the flag `--composer` mentioned to define if it's a composer project, I have not yet found where this flag is being defined. Could you elaborate? Tha

[2017-02-03 14:29] ndf commented on #3107
It helped me to not use the global executable, but run the version that is in your drupal installation.

`cd <your-drupal-path>`
`vendor/bin/drupal module:install devel`

[2017-02-03 15:22] jmolivas commented on #2725
@nvaken when you mentioned `/path/to/composer/project-folder/console/` it does mean the path where drupal was downloaded ?

The `--composer`is no longer valid as global option.

[2017-02-03 15:29] nvaken commented on #2725
Hi @jmolivas, thanks for your quick reply. I meant a composer directory, like:

[code]

A few ago I managed to get this working, it seems that is does indeed work, without configuration. I only needed to create a `console/sites` folder to add the `.yml` files to.

[2017-02-03 16:01] nvaken opened #3154 "Library project-wide custom commands"
### Library project-wide custom commands

### Problem/Motivation
To package custom, project specific, commands into a project the only solution at this point is to create a Drupal module and enable it in Drupal itself to provide the commands. To create development workflow related commands, you will be forced to clutter your Drupal workspace and enable a module. This results in the following probl

[2017-02-04 15:34] jmolivas commented on #3151
Fixed with PR https://github.com/hechoendrupal/drupal-console/pull/3125

[2017-02-04 19:15] jmolivas commented on #3149
I sent a PR https://github.com/hechoendrupal/drupal-console/pull/3155 to compile all of the YAML files where services are registered and create a single file.

As you can see the results the first execution is the one that takes long because it creates the compiled-services file the rest of the executions only load one file to register console services.

![drupal-list-time](https://cloud.githubuse

[2017-02-04 19:16] jmolivas commented on #3149
@Chi-teck  I sent a PR https://github.com/hechoendrupal/drupal-console/pull/3155 to compile all of the YAML files where services are registered and create a single file.

As you can see the results the first execution is the one that takes long because it creates the compiled-services file the rest of the executions only load one file to register console services.

![drupal-list-time](https://clou

[2017-02-05 08:01] jmolivas commented on #3154
PR to load commands from libraries https://github.com/hechoendrupal/drupal-console/pull/3157

Project must be `drupal-console-library` example:
[code]

Commands provided by the library must be registered as services on a file named `console.services.yml`

[2017-02-05 08:02] jmolivas commented on #3154
@nvaken PR to load commands from libraries https://github.com/hechoendrupal/drupal-console/pull/3157

Project must be `drupal-console-library` example:
[code]

Commands provided by the library must be registered as services on a file named `console.services.yml`

[2017-02-05 11:22] cburschka opened #3158 "[create:terms] startup warning without taxonomy installed"
To reproduce: Install Drupal 8 with the minimal profile (which doesn't include taxonomy), then use any console command (tested with generate:module, site:status, server and cache:rebuild).

On startup, the following warning will appear:

    console.create_terms - The "taxonomy_vocabulary" entity type does not exist.

In a related issue, `drupal list` will still show the `create:vocabularies` comm

[2017-02-05 19:23] jmolivas commented on #3158
This PR https://github.com/hechoendrupal/drupal-console/pull/3159 fix this issue

[2017-02-05 19:24] jmolivas commented on #3132
This PR https://github.com/hechoendrupal/drupal-console/pull/3159 fix this issue

[2017-02-05 21:33] #3098 closed

[2017-02-05 21:33] #3108 closed

[2017-02-05 21:33] #3131 closed

[2017-02-05 21:33] #3132 closed

[2017-02-05 21:33] #3150 closed

[2017-02-05 21:33] #3154 closed

[2017-02-05 21:33] #3158 closed

[2017-02-05 22:55] marcvangend opened #3162 "[console] default options in config.yml seem to be ignored"
### Problem

The default value for the --uri option, as set in `myproject/console/config.yml`, seems to be ignored. This  may have to do with the fact that I used to have a global `/home/marc/.console/config.yml`.

### Situation

I'm running a Drupal 8.2.6 site with Drupal Console 1.0.0-rc15 (both local and launcher) on my development machine. The codebase is set up using a fork of https://github.

[2017-02-06 10:08] tomasHegi commented on #2751
@jmolivas your solution is not working for me in Drupal VM. After I installed drupal/console via composer I get following error:
PHP Fatal error:  Cannot use Drupal\Console\Core\Bootstrap\DrupalConsoleCore as DrupalConsoleCore because the name is already in use in /vendor/drupal/console/src/Bootstrap/Drupal.php on line 11

Anyway, I still didn't get it, why it's needed to install console on per-si

[2017-02-06 13:09] lblissett opened #3163 "[console config:import] Importing not working anymore after smtp module got removed"
When i run `config:import` i get the following error:
[code]

### Details:

I installed the drupal/smtp module via composer and enabled it with drush. After i messed a bit around with it, i decided not to use it anymore. So i removed the smtp module again via composer.

AFTER this i saved my site configuration with config:export.

But the config:import of this new generated settings always fail wi

[2017-02-06 13:36] joshirohit100 commented on #3163
Check if core.extensions.yml contains smtp refernce

[2017-02-06 14:44] lblissett commented on #3163
Yes, there was one entry: `smtp: 0` in `core.extensions.yml` which i deleted .. and there was also a  `smtp.settings.yml` file which i deleted, too.

Now, it is working again! Thanks a lot for your help.

[2017-02-06 15:05] jmolivas commented on #2751
@tomasHegi

This was done to try to minimize dependency conflicts and support multiple releases of Drupal.

Not sure what your error I am currently using DrupalVM in some project without any issues.

[2017-02-06 15:27] jmolivas commented on #2751
@tomasHegi try instead running `drupal` from your site root directory `vendor/bin/drupal`

[2017-02-06 15:39] kentr commented on #2751
The line in @tomasHegi error report is [just a `use` statement](https://github.com/hechoendrupal/drupal-console/blob/master/src/Bootstrap/Drupal.php#L11).

[code]

I wonder if it's due to [this PHP bug](https://bugs.php.net/bug.php?id=66773)

Original mention here: http://stackoverflow.com/questions/17746481/cannot-use-x-as-y-because-the-name-is-already-in-use-even-though-its-not

[2017-02-06 15:41] nvaken opened #3164 "Give version numbers for Drupal Console Launcher and Drupal Console"
When running `drupal --version` I see:
[code]
I expect to see both the launcher and the local instance version, something like:
[code]

This clears up possible confusion about if we're seeing the local `Drupal Console` version of the launcher's.

I might be wrong by expecting this, then please discard this issue.

[2017-02-06 15:58] jmolivas commented on #2751
@tomasHegi how did you installed the Launcher aka global executable?

[2017-02-07 09:17] nvaken commented on #3154
Works like a charm after following up instructions and analysing the following example project from @jmolivas.

https://github.com/hechoendrupal/drupal-console-extend-example

[2017-02-07 11:51] tomasHegi commented on #2751
@jmolivas thanks, using vendor/bin/drupal console works

[2017-02-07 16:16] jmolivas commented on #2751
@tomasHegi try reinstalling the global executable https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher

[2017-02-08 12:08] badrange commented on #2770
Thanks for that @jmolivas - the issue is here:
https://github.com/webflo/drupal-finder/issues/12

[2017-02-08 17:34] ao2 commented on #3092
@jmolivas the recent work about consolidating the compilation of services files (in particular #3155) seems to have fixed the problem I was having about using the `http_client` service in `ExtensionManager`.

I'll take a better look in the next days and hopefully I'll be able to send a pull request to close this issue.

Thanks,
   Antonio

[2017-02-08 18:09] jmolivas commented on #3092
@ao2 Glad to read that, I will tag a new release soon, ping you once is tagged so you can test and close issue if fixed.

[2017-02-09 16:08] 999omben opened #3166 "site:mode not available"
I have installed Drupal console with the [drupal-composer/drupal-project](https://github.com/drupal-composer/drupal-project) (1.0.0-rc15) and i don't have the **site:mode**.
what im doing wrong?
![capture d ecran 2017-02-09 a 11 02 13](https://cloud.githubusercontent.com/assets/25667307/22791630/0e22c782-eeb8-11e6-85ab-0b9ded260a88.png)
`[ERROR] Command "site:mode", is not a valid command name.`

[2017-02-09 18:03] jmolivas commented on #3166
Duplicated issue https://github.com/hechoendrupal/drupal-console/issues/3079

[2017-02-09 18:03] #3166 closed

[2017-02-09 18:03] jmolivas commented on #3166
@999omben Duplicated issue https://github.com/hechoendrupal/drupal-console/issues/3079

[2017-02-09 18:14] 999omben commented on #3166
Thx you !

[2017-02-09 19:42] jmolivas commented on #3151
@jover Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-02-09 19:42] #3151 closed

[2017-02-09 19:42] jmolivas commented on #3148
Closing this one. Feel free to re-open if still happening after updating to the latest version.

[2017-02-09 19:42] #3148 closed

[2017-02-09 19:43] jmolivas commented on #3147
@boesbo  Closing this one. Since you mentioned is solved. Feel free to re-open if still happening

[2017-02-09 19:43] #3147 closed

[2017-02-09 19:45] jmolivas commented on #3137
Fix included on RC-16.

[2017-02-09 19:45] #3137 closed

[2017-02-09 21:37] frederickjh commented on #3079
Is this in the RC-16 release? I ask since this was closed but no mention of a commit that fixed it.

[2017-02-09 21:41] jmolivas commented on #3079
This should not be closed

[2017-02-10 03:31] joshirohit100 opened #3170 "[generate:cache:context] Tag name is wrong for command"
Service tag name is wrong for the cache:context command

[2017-02-10 03:43] joshirohit100 commented on #3170
PR - https://github.com/hechoendrupal/drupal-console/pull/3171

[2017-02-10 09:45] novia713 opened #3172 "[module:download] some enhancementes when using `--composer` needed"
### Some enhancementes when using `--composer` needed

### Problem/Motivation
 - Drupal Packagist is deprecated as composer repo
 - At least, it should check if Drupal Packagist is already setted before setting it by default

### Solution
we should use d.o composer repo

[2017-02-10 12:49] ao2 opened #3174 "[console] review the usage of Command::addOption()"
Hi,

when working on #3092 I noticed that in some cases `false` is passed as the second argument of `Command::addOption()`, and sometimes an empty string is passed.

This made me wonder that some reader might naively end up thinking that this second argument could be the default value of the option in case the option mode is `InputOption::VALUE_OPTIONAL` (for a moment I did), but that would be wro

[2017-02-10 21:52] nvaken opened #3175 "Allow external libraries to inject non-installed Drupal commands"
Currently packages with commands that will be installed in the `vendor` folder will not be able to inject commands for non-installed Drupal setups. The commands are only injected when Drupal installed.

# Reproduction

1. Install a Drupal project with https://github.com/drupal-composer/drupal-project
2. Make sure you install a Drupal console command library (eg. https://github.com/hechoendrupal/dr

[2017-02-11 17:22] jmolivas commented on #3174
@ao2 Totally agree on the idea of standardize this argument, and using `null` sounds like a good option.

[2017-02-12 13:37] khgoldberg opened #3176 "[generate:entity:content] buildRow function uses deprecated l() function"
The `buildRow()` code that is generated from `generate:entity:content` uses the `l()` function which is deprecated (as I'm sure you know).

To replicate, I executed `generate:entity:content`, selected the custom module I'd created using `drupal generate:module --learning`.  Detailed execution is below.

Drupal version:  8.2.6
Console version: 1.0.0-rc16 Drupal Console English Language
drupal/conso

[2017-02-12 17:24] brokenmachine commented on #2842
I had this same issue and ended up installing using via the Drupal Console Launcher: https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher

Followed the instructions there and it worked.

[2017-02-12 20:16] jmolivas commented on #2842
Try requiring using the `--no-update` flag to disable automatic upding dependencies.
[code]
And then  execute the following composer command to update project dependencies.
[code]

[2017-02-13 03:21] viniciusgava opened #3177 "[command:server] Problems to start drupal server"
### Problems to start drupal server

### Problem/Motivation
I cannot run the drupal using comand `./vendor/bin/drupal server localhost:8888` after already has installed using php -S command.

**Details to include:**
**Error when try to open the drupal**

I trying to use drupal console server just because I cannot edit a field of a. content type using `php -S` , I received a error:

The requested r

[2017-02-13 16:19] ao2 commented on #3174
@jmolivas can you do it, or should I?

Thanks,
   Antonio

[2017-02-13 16:39] jmolivas commented on #3174
@ao2 Feel free to take this task.

[2017-02-13 19:53] jmolivas commented on #3175
@nvaken  We all know naming things is hard. For this task we need to break one file into two files.

Actually DrupalConsole discover packages and reads a file named `console.services.yml` we need to read two files now what would be good name for the files?

[2017-02-14 00:19] jmolivas commented on #3175
After thinking this a little using tagged services could be good alternative as well.

Something like this:
[code]

The tag name suggested is `drupal.bootstrap.installed` just in case we need to add more bootstrap level validation in the future.

This means we keep using only one file `console.services.yml` for registering services and the Composer Plugin => https://github.com/hechoendrupal/drupal

[2017-02-14 03:03] jmolivas commented on #3175
I tried the option `b - Add an attribute on the tag ` and after making some changes on the plugin I have this working like this.

![drupal-composer-plugin](https://cloud.githubusercontent.com/assets/366275/22913262/862fa47a-f21e-11e6-8e1d-f7b009bb8ab0.png)

The only missing piece is to update the DC compiler pass to read each file depending of the bootstrap executed process.

[2017-02-14 07:29] belaustegui commented on #3177
Same bug happening here. Using the `drush runserver` command works fine though.

[2017-02-14 15:10] jmolivas commented on #3177
@viniciusgava @belaustegui  The missing fie is the `router.php` file included on the project you need to copy to your system by executing the `init` command and select your home directory as destination.

[2017-02-15 08:19] belaustegui commented on #3177
@jmolivas I can confirm that the problem is gone after running `drupal init`.

[2017-02-15 09:59] ao2 commented on #3174
OK, I'll look into it after #3173 gets processed, to minimize possible merge conflicts.

Thanks,
   Antonio

[2017-02-15 10:34] nvaken opened #3179 "Warning: Missing argument 1 for Drupal\Console\Bootstrap\Drupal::boot()"
I'm seeing the following warnings in `database:log:debug` after a simple `site:install`. Also, tailing this warning are a few undefined variable notices for the `$debug` variable.

[code]

I think this is a bug that has been introduced in the following commit: 9e6ba52b84d6b70bd6bebd1edefabf62418a82e1. Probably best to make the `$debug` parameter optional and `FALSE` by default in `Drupal->boot()`?

[2017-02-15 10:35] nvaken commented on #3179
Wrong paste on the title, sorry 'bout that.

[2017-02-15 10:41] nvaken commented on #3175
Sounds a lot better then two files, thumbs up!

[2017-02-15 13:25] nvaken opened #3180 "Allow config_directories key to be used in config:export"
Same functionality exists in Drush. When you have a `$config_directory['foo'] = 'bar/';` setup in your settings.php, it will allow to export to that specific bar directory by using:

[code]

In Drupal Console there could be a same approach:

[code]

Edit: Might even be nice to make this interactive? Selecting the `$config_directories` interactively.

[2017-02-15 13:46] nvaken commented on #3079
Is there any workaround to still be able to set the site mode?

[2017-02-15 14:56] jmolivas commented on #3179
@nvaken yes debug parameter must be set to false as default at the method

[2017-02-15 16:38] hatuhay opened #3181 "PHP Fatal error: Cannot use Drupal\Console\Core\Bootstrap\DrupalConsoleCore as DrupalConsoleCore because the name is already in use in /var/www/public_html/vendor/drupal/console/src/Bootstrap/Drupal.php on line 11"
I execute a `composer update`

After command completed, I run the `drupal` command and got following error:

`PHP Fatal error:  Cannot use Drupal\Console\Core\Bootstrap\DrupalConsoleCore as DrupalConsoleCore because the name is already in use in /var/www/public_html/vendor/drupal/console/src/Bootstrap/Drupal.php on line 11`

Tried running directly ` vendor/bin/drupal` and got this error:

`Uncaugh

[2017-02-15 16:39] hatuhay commented on #2751
@jmolivas openned this issue https://github.com/hechoendrupal/drupal-console/issues/3181 regarding @tomasHegi issue...

[2017-02-15 23:28] frederickjh commented on #3079
Maybe something like [this](https://github.com/AmazeeLabs/d8-starter-composer/blob/dev/web/sites/default/settings.php#L105-L109) in your **settings.php** to load the service file(s) you want for each environment.

[2017-02-15 23:30] frederickjh commented on #3079
@nvaken They are using an environmental variable in the example I pointed to to set the environment but you can also do this with a custom option in a Drush Site Alias file.

[2017-02-16 08:30] dstorozhuk commented on #3100
It still doesn't work. I trien php 7.0, php 5.6.

[2017-02-16 09:11] PatrickBauer commented on #3100
@dstorozhuk There were two updates already in the meantime. Just use drupal self-update outside of a drupal project (e.g. your home folder) and it should work again.

[2017-02-16 09:19] dstorozhuk commented on #3100
Yes, looks like it works.
I updated the global console to  from version 1.0.0-alpha2 to version 1.0.0-rc16.
However, I was nod able  to add it to the project with command:
[code]
Because of requirements problem.
[code]
So I added the the line  `"drupal/console": "~1.0",` to my project composer.json.
And then run  `composer update`
Now it works.

[2017-02-16 12:50] cburschka-pwc opened #3182 "[config:export] misses the config translation entities"
When exporting the configuration via the site, the translated objects and entities are exported as `language/XY/ID.yml` files.

drupal config:export must export these as well - if it doesn't, they will get lost on subsequent imports.

[2017-02-16 14:41] suresh-kumara-gist opened #3183 "drupal generate:plugin:views:field overriding custom_modules.views.inc file every time I generate new field."
drupal generate:plugin:views:field  overriding custom_modules.views.inc file every time I generate new field.
I have created 2 views custom field using drupal generate:plugin:views:field   2 times, both field classes are generated  src/Plugin/views/field/fieldclassName . But problem with custom_modules.views.inc file the second filed data is overriding first one. Instead both field information sho

[2017-02-16 16:30] nvaken commented on #2269
This seems merged? Is it not? Close?

[2017-02-16 16:37] nvaken opened #3184 "Support config on `site:install`"
Currently it's impossible to install a new environment with existing configuration. Possible workarounds are:

1. Use the [config_installer](https://www.drupal.org/project/config_installer) installation profile
2. Make a dump of the original database and import it firstly into the new environment.

If `site:install` would support a `--config-directory` option, that would make the install a lot eas

[2017-02-16 21:16] cburschka-pwc commented on #3182
Some investigation shows that the code I'm adding was actually in the class until removed by 186db04dc7b983b27ad0a4188564ec689a7a9b56 in November '15. The only indication I can find in the commit message is "removing unused code". Was that intentional?

The above change adds the collection export back, and it's definitely required for the config_translation strings to get properly exported.

(I ha

[2017-02-16 21:59] hatuhay commented on #3181
Reinstalling the global executable https://github.com/hechoendrupal/drupal-console#install-drupal-console-launcher, solved the problem.

[2017-02-16 22:40] bradjones1 commented on #2269
@nvaken Yes it is and I've been using it per above, though I don't have permissions to close. Looks done.

[2017-02-17 08:36] #2528 closed

[2017-02-17 08:45] twhiston opened #3186 "Console: dangling symlinks in bin"
### Issue

Drupal console contains some dangling symlinks in the /bin folder

During our build process we see the following errors because of these symlinks

[code]

and if you check the /bin folder you can see that this is true.

Are these symlinks in the project /bin actually needed as they are from third party libraries and a composer install of drupal console should actually link these into /v

[2017-02-17 09:03] twhiston commented on #3172
I would suggest that this is better dealt with via parsing the project composer file and using anything listed in the repositories section as a potential download source rather than hard coding a url into the command, as it is currently.
This would allow some significant advantages as you could require a module from a private location via drupal console as well.
If @jmolivas agrees with this appro

[2017-02-17 09:58] #2269 closed

[2017-02-17 11:11] novia713 commented on #3172
yeah, i meant to _add to already existing repos_ the d.o composer repo, given Composer fully supports several repos

[2017-02-17 11:17] #2861 closed

[2017-02-17 12:25] nvaken commented on #3184
Alright, that issue is like a black hole. I'm still not sure where that stands today.

It seems that config_installer should support installs with Drush and a config sync folder setup in settings.php. Though, Drupal Console is not mentioned in that issue. I'm not sure if that solution is Drush specific or if this is just a config_installer thing and automatically supported by DC?

Still, using con

[2017-02-17 13:50] nvaken opened #3187 "Allow database:add to be used even when Drupal is not installed"
Currently you need Drupal to be installed to add database entries to settings.php. This makes it in most use-cases a bit useless; only in a multisite setup where you already have one database setup you're able to use this command for other databases.

It would be great to use this command when Drupal is not installed.

[2017-02-17 14:24] nvaken opened #3188 "Symlinked packages do not get services cache files"
Not really critical, just noting this down. When using a composer `path`-type repository and use the option `symlink: true`, service cache files do not get created, which causes commands from `drupal-console-library` packages not being picked up.

[2017-02-19 20:58] arpitr commented on #2810
Could be an issue with with MAMP libraries if you are using MAMP, in case you are workaround would be to use system curl
/usr/bin/curl https://drupalconsole.com/installer -L -o drupal.phar
Follow https://github.com/hechoendrupal/drupal-console/issues/2533

[2017-02-19 21:37] viniciusgava commented on #3177
@jmolivas Thank you, It's work. I did not know that I had to run `drupal init`.

[2017-02-20 13:50] nvaken opened #3189 "Database arguments should be quoted"
When using `database:dump` with a special character like `)` it will fail. The arguments should be surrounded by quotes to prevent these characters screwing up the command. I'll create a pull request soon.

[2017-02-21 09:15] nvaken commented on #1522
Just to add, I'd love to see a port of `sql-sanitize`, not really sure how this port should be approached though. The command makes use of special Drush module hooks (`hook_drush_sql_sync_sanitize()`). The naming convention of this hook suggest we should not use this for console. Though, I'm wondering if this hook should be generalised, allowing both drush, drupal and others to implement this hook

[2017-02-21 09:22] nvaken opened #3191 "Translations for drupal-console-library"
I'm not sure if this is already possible, but I'm unable to find out how to package translations to my `drupal-console-library` package. I tried using the instructions on [Symfony docs](http://symfony.com/doc/current/translation.html), but that did not seem to do the trick. This might be a support request or a feature request, not sure.

[2017-02-21 09:26] jmolivas commented on #1522
@nvaken create a new issue will be great to address this as new feature.

[2017-02-21 10:05] nvaken opened #3192 "Port drush sql-sanitize"
As suggested in issue #1522 in the following comment https://github.com/hechoendrupal/drupal-console/issues/1522#issuecomment-281286791.

This issue's goal is to port `drush sql-sanitize` to Drupal Console.

# Implementation concerns
Currently, Drush provides a drush-specific hook to make sure modules can implement their sanitisation logic, this hook is: `[hook_sql_sync_sanitize()](http://www.drup

[2017-02-21 10:06] nvaken commented on #1522
@jmolivas Done! See #3192

[2017-02-21 10:32] DuaelFr opened #3193 "[plugin:debug] add specific plugin type informations"
### Problem/Motivation

Some plugin types may offer more useful details than the extraction of their definition. For example: field types could provide their properties list, widgets and formatters their default settings, etc.

### Solution

I don't know what would be the best way to inject specificity inside that very generic command. Tell me and I could try to implement it.

[2017-02-21 10:44] cburschka opened #3195 "Globally installed console can't bootstrap"
To reproduce:

- Install in ~/.composer using `composer global require drupal/console`.
- Go into a Drupal directory that is fully installed, but doesn't have the drupal/console package in its vendor folder.
- Try to run a console command.

      Fatal error: Uncaught InvalidArgumentException:
      The file ".../vendor/drupal/console-core//services.yml" does not exist.
      in /home/cburschka/.c

[2017-02-21 11:14] dagomar commented on #3195
I have the exact same issue right now. How to solve...

[2017-02-21 12:12] cburschka commented on #3195
Update: Even installing the same version of drupal/console locally won't allow the global command to work. You need to explicitly call the local script with `./vendor/bin/drupal`.

The relevant error is

[code]

[2017-02-21 12:27] ao2 commented on #3184
The `config_installer` profile is deprecated AFAIK, it was an experiment, but now `drush` can do what's needed.

There are basically two use cases of reusing an existing configuration for a new site:

1. Use the config as a **template** for similar but distinct sites, that is ignoring the UUIDs.

   This can be done by creating  a new profile with drupal console like this:
[code]

   And export th

[2017-02-21 12:44] nvaken commented on #3184
Hi @ao2! Thanks for the thorough explanation, clears up a lot! 👍  We're looking for option 2, where we are instantiating new environments for specific projects on the fly. I'll try to find some time soon to try out your instructions above.

[2017-02-21 13:15] nvaken opened #3196 "--root option does not seem to have effect on non-launcher version"
When executing drupal console from the `vendor/bin/drupal` executable, the `--help` docs still define that you should be able to use `--root`, though this does not seem to work for this binary. When using the launcher, this seems to work just fine. Probably because the launcher [executes a `chdir()` on `launch()`](https://github.com/hechoendrupal/drupal-console-launcher/blob/aa5f4a2620c5bb1acae5d5

[2017-02-21 13:49] nvaken commented on #3179
@jmolivas See above PR.

[2017-02-21 13:54] nvaken commented on #3175
@jmolivas I'm trying to clean my issues up a bit, or at least structure them a bit. Does your above prototype also apply to drupal console native commands? If so, this is related to #3187.

[2017-02-21 20:37] brandonratz opened #3197 "[chain] - [multisite:new] [site:install] - Executing chain fails"
**Version:** Drupal Console (1.0.0-rc16)

# Problem
Using command: 'multisite:new' followed by 'site:install' via chain command fails.

# Expected behavior
1. Creates multisite directory
2. Installs site via multisite uri

# Actual Behavior

1. Creates multisite directory
2. ERROR: Invalid multisite error

## Console Output

[code]

## Chain file example

[code]

[2017-02-22 00:11] aangelinsf commented on #3181
Thanks you, just hit the same problem and your solution did the trick.

[2017-02-22 00:31] aangelinsf opened #3198 "[documentation] Self-update is now confusing"
### Problem/Motivation
I am just trying Drupal console, thus I am a newbie to it. After installation, as a test, I attempted to run a self-update because it showed me that was a possible command. It failed with it not being a valid command name. But why does `drupal` on its own show:
[code]
After some googling I discovered:
https://github.com/hechoendrupal/drupal-console/issues/3001

Which informe