[2015-10-20 06:21] jmolivas commented on #1075
We currently do not have this generator, but this feature can be added.

[2015-10-20 18:28] stevenspasbo opened #1080 "Installing Drupal Console with PHP 5.6"
I was having issues installing with PHP 5.6, but was pointed in the direction of [this](http://stackoverflow.com/questions/6146362/readfile-fails-because-of-ssl) stackoverflow answer.

In the installer (which I didn't see in the repo or I would have sent a PR), you need to set the SSL options `verify_peer` and `verify_peer_name`.

On line 145 I added

    $arrContextOptions=array(
        "ssl"=>a

[2015-10-20 20:18] jmolivas commented on #1074
@wizonesolutions thanks for notifying this we take care and have it fox on the next release.

[2015-10-20 20:19] jmolivas commented on #1080
@stevenspasbo: Thanks for the issue, this is a duplicated and already reported at https://github.com/hechoendrupal/DrupalConsole/issues/1063 and fixed with https://github.com/hechoendrupal/DrupalConsole/pull/1065 and then rewrote with https://github.com/hechoendrupal/DrupalConsole/pull/1077

This fix will be included on the next release.

[2015-10-20 20:37] jmolivas commented on #1055
Fixed with https://github.com/hechoendrupal/DrupalConsole/pull/1081 and will be included on next release.

[2015-10-20 21:44] damienmckenna commented on #1055
Thanks!

[2015-10-20 21:44] #1055 closed

[2015-10-21 05:56] VasquezPonte opened #1082 "[site:status] PHP Fatal error: Call to a member function render() on string in src/Command/SiteStatusCommand.php on line 94"
PHP version: 5.6
Drupal Console version: 0.9.4
Drupal version: 8.0.0-rc1

Getting the following fatal error when executing

**drupal site:status**

PHP Fatal error:  Call to a member function render() on string in src/Command/SiteStatusCommand.php on line 94

[2015-10-21 07:22] favrik commented on #1082
I'm unable to reproduce on my environment (using same versions).  When looking at the code, my first suspicion would be  that you have installed a module that is not behaving properly.

In my case, this is the list of installed modules indirectly loaded by the `[site:status]` command:

[code]

I got the list by doing:
[code]

If you can get that output, and there's a difference in the list, that c

[2015-10-21 07:41] jmolivas commented on #1082
I test on my local without any issues.

You can also get list the modules on the drupal installation by executing ` drupal module:debug`

[code]

[2015-10-21 07:49] VasquezPonte commented on #1082
My list:
[code]

[2015-10-21 07:59] VasquezPonte commented on #1082
**drupal module:debug**
[code]

**drupal**
[code]

[2015-10-21 08:13] VasquezPonte commented on #1082
If I change line 94 as shown below, then it works
[code]
[code]

[2015-10-21 08:16] jmolivas commented on #1082
can you paste the result of `site:status` command after changing this line?

[2015-10-21 08:21] favrik commented on #1082
Thanks! @VasquezPonte the only difference in the module list is that I didn't had enabled the `language` and `locale` modules, I've enabled them, but still could not reproduce.

However, after adding the German language, I was able to reproduce!

Looking into it.

[2015-10-21 08:26] VasquezPonte commented on #1082
@jmolivas : after changing line 94 I get this output:

***drupal site:status**
[code]

I only use Drupal in German language.

[2015-10-21 09:22] favrik commented on #1082
Added PR that should fix this issue.  Thanks!! :smiley:

[2015-10-21 10:54] VasquezPonte commented on #968
PHP version: 5.6
Drupal Console version: 0.9.4
Drupal version: 8.0.0-rc1

After removing the files
* core.entity_view_mode.node.teaser.yml
* field.storage.node.body.yml
I could install the module.

The new content type has already a **Body** and **Teaser** field, so we don't need to generate both YML files.

I'd propose to remove both files from the generator.

[2015-10-21 12:34] joshuataylor opened #1085 "[console] Missing descriptions for commands"
The following are missing description translations for console commands:

[code]

[2015-10-21 15:39] sgtsaughter opened #1086 "When trying to download a module I get DialogHelper is deprecated error"
When I try to run the command "drupal module:download [module name]" I receive the following error:

Symfony\Component\Console\Helper\DialogHelper" is deprecated since version 2.5 and will be removed in 3.0. Use "Symfony\Component\Console\Helper\QuestionHelper" instead

This prevents me from downloading the module.

[2015-10-21 16:40] jmolivas commented on #1086
Is this an exception not a warning?

Should be a warning message not a exception, let me know if you can help me test a temporary fix. Until we replace `DialogHelper` with `QuestionHelper`.

[2015-10-21 16:50] sgtsaughter commented on #1086
I'm not too familiar with Symphony or the code for the console module, but I am available to help test a fix if you let me know what needs to be done.

[2015-10-21 17:46] jmolivas commented on #1086
Do you have git?
Did you fork and clone the project?
May using the support channel is easy for this communication: https://gitter.im/hechoendrupal/DrupalConsole

[2015-10-21 20:35] danielrose28 commented on #1079
@tsvenson I love PhpStorm as well as DrupalConsole, so anything I can do to help with integration testing, let me know and I'd be happy to. I'm somewhat of a newbie with D8 and its code but I'm always willing to learn and help whenever I can.

[2015-10-21 23:32] tsvenson commented on #1079
@danielrose28, thanks for showing interest in this idea. I'm a newbie too, however we can certainly work something out together.

Some is already working, try the following:

1. Open Settings/Tools/Command Line Tool Support
2. Click the + to add a new tool
3. ![selection_004](https://cloud.githubusercontent.com/assets/444455/10652901/87f3f93a-785a-11e5-85cd-0eb83ba54abf.png)
4. ![selection_005](ht

[2015-10-21 23:57] tsvenson commented on #1079
Oh, and Drupal Console does work just fine from the integrated terminal, including generating code and stuff, without any special configuration needs. Just as in a OS shell.

At least on my Ubuntu 14.04 desktop.

[2015-10-22 03:28] danielrose28 commented on #1079
Sounds good. I'll try this out and see how it works on my Mac. I'm running El Capitan.

[2015-10-22 13:56] bojanz opened #1087 "Can't run tests"
When running test:debug or test:run I get
[code]
Simpletest is already enabled.

Maybe it's expecting an argument and not telling me?

[2015-10-22 14:01] bojanz commented on #653
Yeah, I find drupal much more odd than console (which is a bit too generic).

dcli? Too bad the "drush" name is taken :P

[2015-10-22 14:10] bojanz opened #1088 "Move generated entity interfaces from src/ to src/Entity"
I've had a number of conversations in Barcelona and elsewhere about correct namespacing.
One of the ideas that came out of them is to move the entity interfaces from src/ to src/Entity.
It's much more logical to have the interface next to the implementing class, and it follows alexpott's idea that src/ should have as little files as possible.

Commerce, Address, Profile already do this. Making Con

[2015-10-22 14:28] bojanz opened #1089 "generate:event:subscriber is in very bad shape"
Here's what the command gave me:

[code]

We need to fix the indentation, and the usage of old array syntax while we're at it.
getSubscribedEvents() should use inheritdoc since the method is defined by the interface.
And typehinting GetResponseEvent will crash most event subscribers, it's just the wrong class.

[2015-10-22 14:29] bojanz commented on #1089
It's also odd that it wanted the displayMessage method to be named as my module, the suggestion is just wrong.

[2015-10-22 15:02] omero commented on #1088
:+1: :D

[2015-10-22 15:02] jmolivas commented on #1088
:+1:  I Like the idea of grouping classes on a common `src/Entity` namespace.

[2015-10-23 10:28] favrik commented on #1074
@jmolivas so the fix would involve updating these files https://gist.github.com/favrik/86ef2b29af1353a77622 ?

[2015-10-23 11:05] bojanz commented on #1086
Seeing this on several machines today (we're doing a mini-training). Seems to stop the process, nothing gets downloaded.

[2015-10-23 11:23] #1089 closed

[2015-10-23 11:24] enzolutions commented on #1089
@bojanz your PR https://github.com/hechoendrupal/DrupalConsole/pull/1090 was merged, please let us if you want to re-open this ticket to fix anything else.

[2015-10-23 17:50] darol100 opened #1092 "Drupal Console Analyzer"
## Problem/ Motivation
A nice feature for Drupal console can be adding the functionality to scan your Drupal 7 code an provide you a list of recommendation on how to rewrite this things with Drupal Console commands.

## Similar Project
[Drupal Module Upgrader](https://www.drupal.org/project/drupalmoduleupgrader) have an analyzer that provide already the ability of scan your D7 code and provide you

[2015-10-23 18:45] darol100 opened #1093 "[generate:controller] Check if the route exist"
## Problem / Motivation

Drupal 8 Development training we was discussing Drupal console. An as right now, we do not have away to see if there is another route with the same name.

## Solution
We should add a validation once we type `Enter router` and this will check if the route exists or not.

[2015-10-23 18:49] darol100 opened #1094 "[Meta] Using Drupal Console as learning tool"
We can integrate others projects into Drupal Console to facilitate learning tools within Drupal Console. This is meta issue meaning that we can use this issue as parent issue to track other issues related to learning.

Here is a list of issues that are targeting the improvement on using Drupal Console as learning tools:
1. **Add hook/function finder?** #662
2. **Drupal Console Analyzer** #1092

[2015-10-23 18:55] darol100 opened #1095 "Aliases Discussion"
## Problem / Motivation
We should provide aliases (shortcuts) to simplify the Drupal Console commands.

## Solution
We should provide a list of recommend aliases and discuss them.

[2015-10-23 19:10] dmouse commented on #1095
You can execute each command only with the initial(s) letters, for example

console g:c
console gen:cont

[2015-10-23 20:45] darol100 opened #1096 "[generate:form:config] Renaming "Update routing file [yes] ?" to a better description."
## Problem / Motivation
When the user type `drupal generate:form:config` at some point is going to be ask  **Update routing file [yes] ?** I feel like "Update route file [yes] ?" does not provide enough information of what is going to happen next.

## Propose solution
I think is going to be better if we said something like ..

**Would you like to create a route ?**  - This will give you the assump

[2015-10-23 21:31] darol100 commented on #1079
I think this issue should be part of phpStorm forum ? So they might be able to support DrupalConsole out-box ?

[2015-10-23 21:45] darol100 opened #1097 "[generate:plugin:block] - Place block into region"
## Problem / Motivation
While we creating a block we usually want to adding directly into a block regions.

## Solution
After entering all the data from the block fields, we should add the functionality of placing a block into a region.

[2015-10-23 21:48] tsvenson commented on #1079
@darol100 Have been thinking about that too and down the line I'm sure they are open for making that happen.

However, that does also puts some constraints on the development to maintain compatibility with the code needed in PhpStorm to make Drupal Console integration simplified for users. Thus that call is @jmolivas to make.

[2015-10-23 21:50] darol100 commented on #1095
@dmouse but we should provide a list of different types commands that we can improve. g:c is a good start but we can create more aliases.

[2015-10-23 21:57] tsvenson commented on #1079
@darol100 @jmolivas

I did have a look over at the Jetbrains devnet community and found [Command Line Tools Support](https://devnet.jetbrains.com/docs/DOC-1230) with lots of interesting information, however the doc is from 2011 so I can't really tell how current it is.

I'm going to spend a little tile later to research their resources and see what I can come up with. My main goal is to find infor

[2015-10-23 22:19] darol100 opened #1098 "[generate:service] - Adding Path of your service"
## Problem / Motivation:
`drupal generate:service` Does not provide you path where you are going to store the services.

## Solution
- We should add the ability of moving our services into a custom directory.
- The console should ask your if you want to generating a new path for the services.

[2015-10-23 22:37] tsvenson commented on #1079
FYI: I've created [Improve Drupal Console integration with PhpStorm Command Line Tool](https://devnet.jetbrains.com/thread/473800) over at Jetbrains discussion forum asking for pointers to documentation and tutorials for how to develop Command Line Tool integration, specifically for how to give Drupal Console the current project path.

[2015-10-24 00:26] tsvenson commented on #1079
Done some digging, but can only find bits and pieces so it will take some time for a n00b like me to get the full picture.

I did stumble on [PhpStormSupportBundle](https://github.com/marphi/PhpStormSupportBundle] and in [GenerateCommandToolsConfigCommand.php](https://github.com/marphi/PhpStormSupportBundle/blob/master/Command/GenerateCommandToolsConfigCommand.php) there are some code that might h

[2015-10-24 01:26] danielrose28 commented on #1079
@tsvenson Just wanted to clarify, I'm able to run Drupal Console from within the built-in terminal in PhpStorm. I ran 'drupal generate:module' and created a test module. After module was created I was able to see the new directory and files in the project tree. I'm assuming that there is some more configuration that you are trying to set up, other than just being able to run DrupalConsole from the

[2015-10-24 01:59] tsvenson commented on #1079
@danielrose28 Saw that, replied too.

From what I learned so far the built-in terminal and CLT are to very different things, the terminal in practice being an embedded shell.

[2015-10-24 02:05] danielrose28 commented on #1079
Hope that was ok to post there as well? I might not keep posting to both places though. Just wanted it to get some traffic to see if others would chime in as well.

That makes sense. I guess I hadn't thought of that.

[2015-10-24 02:08] tsvenson commented on #1079
@danielrose28 Sure, I don't mind. If fact, I enjoy the collaboration as it is nice to know you're keen on getting this working too.

For two newbies like us, this is a great learning experience as well :)

[2015-10-24 02:10] danielrose28 commented on #1079
@tsvenson My apologies, I just realized you had already confirmed this in an earlier comment:

"Oh, and Drupal Console does work just fine from the integrated terminal, including generating code and stuff, without any special configuration needs. Just as in a OS shell."

[2015-10-24 08:37] jepster opened #1100 "Mac Yosemite Bash: Autocompletion does not work"
Hi,

if I follow your instructions and type "drupal TABULATOR-KEY" I get the following output:

drupal -bash: _get_comp_words_by_ref: command not found
-bash: __ltrim_colon_completions: command not found

How I can fix that?

[2015-10-24 08:57] omero commented on #1100
You need to have `bash-completion` installed, is needed for the dependency used (https://github.com/stecman/symfony-console-completion/issues/36) , i promise make the update in the README file ... or you can send a PR with the information :smile:

[2015-10-24 23:08] kepford commented on #1100
Thanks@omero. I just updated the README in this PR. https://github.com/hechoendrupal/DrupalConsole/pull/1102

[2015-10-24 23:15] omero commented on #1100
Thank you @kepford :smile:

[2015-10-24 23:15] #1100 closed

[2015-10-25 04:21] greg-1-anderson opened #1104 "[console] Use your Drush @aliases to call Drupal Console"
If you source something like the script below in a .bashrc or .bash_profile, then you can use `drupal @drushalias console:command` to run Drupal Console commands using Drush aliases.  Also works for remote site aliases.

[code]

[2015-10-25 16:27] jmolivas commented on #1095
The idea of this issue, is to specify the aliases instead of letting the component suggest.

[2015-10-25 20:29] jepster commented on #1100
Thanks

[2015-10-25 23:47] darol100 opened #1106 "[translate] Drupal Console into Samuel Jackson Language"
## Problem / Motivation

We should translate Drupal Console to Samuel Jackson language. This will help us to demonstrate how easy can be to translate languages in Drupal console.
## Solution

We should use http://slipsum.com/ to use some of his common sentences and  translate console.

We can also use this video as part of the translation https://www.youtube.com/watch?v=c0LBi1MHoaU

[2015-10-26 16:11] #1082 closed

[2015-10-26 18:47] omero commented on #1106
jajaja it will be awesome :+1: XD

[2015-10-26 20:43] darol100 commented on #1106
@omero I started working on it, on a fork https://github.com/darol100/drupalconsole

[2015-10-26 20:48] seanr commented on #1106
+1 for "I am sick of these motherfucking modules in this motherfucking application"  ROFL!

[2015-10-26 21:51] phenaproxima commented on #1106
Thank you! That's one of mine :)

[2015-10-26 21:55] phenaproxima commented on #1106
So, serious point for a sec -- the problem with using slipsum.com is that a) those are pretty much completely random sentences that SLJ has said in his various movies and cannot be meaningfully connected to Drupal Console, and b) slipsum.com only generates about 4 distinct paragraphs, yet Console has a LOT more text than that.

Personally, I think that Console should still be useful, if hopped-up

[2015-10-28 17:25] sshrestha-navarts opened #1113 "[site:new] Fails if Drupal version is specified"
# Problem/Motivation

Trying to install a new Drupal 8  site (specific version) from the command line using DrupalConsole

# How to reproduce

`drupal site:new test 8.0.0-rc2` fails as it tries to download drupal-8.x-8.0.0-rc2.tar.gz

Drupal Console version 0.9.4

![screen shot 2015-10-28 at 1 25 11 pm](https://cloud.githubusercontent.com/assets/13104494/10797084/598b8b2c-7d77-11e5-927b-58f076441b

[2015-10-29 09:59] wizonesolutions opened #1120 "[generate:entity:content] Ask if entity forms are needed for entity"
I just made an entity that is more of an internal entity than one the end user needs to administer. I noticed that Drupal Console generated entity forms and permissions automatically, so I needed to remove those manually in order not to use them.

Would be great if there was a "Generate entity forms? [Yes/No]" step, default could still be yes.

[2015-10-29 10:34] wizonesolutions opened #1121 "[generate:entity:content] Default user_id field has unnecessary default value callback"
I see this (I removed the form stuff):

[code]

But we also have this:

[code]

And it does the same thing `\Drupal\node\Entity\Node::getCurrentUserId()` does anyway.

Using a Node function for this has the consequence of adding a dependency on the Node module. If you must have a default value callback, it's probably better just to generate one, or find a different one that is fit for purpose.

[2015-10-29 15:28] VasquezPonte commented on #1113
PHP version: 5.6
Drupal Console version: **0.9.5**

I cannot reproduce the issue on my environment.

`drupal  site:new  test  8.0.0-rc2`

[code]

[2015-10-29 15:37] sauravshrestha commented on #1113
@VasquezPonte thanks!

It seems I was on *0.9.4* and doing a `drupal self-update` fixed it for me.

[2015-10-29 16:03] jmolivas commented on #1049
@pjcdawkins: I did apply your hacky solution at the slef-update command.

[2015-10-29 16:40] jmolivas commented on #1113
This must be fixed on v0.9.5 https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.5 we replace Buzz library with Guzzle to solve the issue.

[2015-10-29 16:42] sauravshrestha commented on #1113
Its fixed now. The problem I was seeing has been addressed by this commit https://github.com/jmolivas/DrupalAppConsole/commit/5b3531b32991d6823307e8493e8b66c0e2b4c12a

[2015-10-29 18:57] jastraat commented on #713
I'm having this same issue with the latest release of DrupalConsole + RC2. The generate commands are not present.

    $ drush8 status

    Drupal version                  :  8.0.0-rc2
    Site URI                            :  http://dev
    Database driver                :  mysql
    Database hostname         :  localhost
    Database port                   :  3306
    Drupal bootstrap

[2015-10-29 19:22] jmolivas commented on #713
@jastraat: you must install drupal 8 to see the full list of available commands, you can use `drupal site:install` to install drupal 8.

If you run `drupal` without any command, you will see the message:

I will send a PRT to show the same message when executing the list command.

[2015-10-29 19:26] jmolivas commented on #1113
Fixed on v0.9.5 https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.5

[2015-10-29 19:26] #1113 closed

[2015-10-29 19:27] jmolivas commented on #1080
Fixed and included on v0.9.5 https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.5

[2015-10-29 19:27] #1080 closed

[2015-10-29 19:29] jmolivas commented on #1063
Fixed on v0.9.5 https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.5

[2015-10-29 19:29] #1063 closed

[2015-10-29 19:34] jastraat commented on #713
@jmolivas I have drupal 8 installed; I'm running RC2. Is Drupal Console only compatible with drupal installations that were installed using Drupal Console?

[2015-10-29 19:41] jmolivas commented on #713
@jastraat: DrupalConsole supports any Drupal 8 site, installed via DC, drush or GUI.

Do you mind to share the output of executing `drupal` ?

[2015-10-29 19:47] jastraat commented on #713
Not at all!

    $ drupal
    The Drupal Console is a suite of tools that you run on the CLI to:
      Learn Drupal 8.
      Generate boilerplate code.
      Interact with a Drupal 8 installation.

    Drupal Console version 0.9.5

    Drupal supported version Drupal 8 RC-1

    Project landing page http://drupalconsole.com
    Project change log at http://bit.ly/console-releases
    Drupal Consol

[2015-10-29 20:00] jmolivas commented on #713
Multi-site installation that is the issue, we still have no support for this but is a priority, do you have this site on a repo I can clone to play around.

[2015-10-29 20:20] laradevitt commented on #713
Are we on 0.9.3 already? :) For what it's worth, Drupal Console 0.8.3 is still working nicely for me on 8.0.0 HEAD (downloaded today).

[2015-10-29 20:34] jmolivas commented on #713
@laradevitt: We are at v0.9.5 now

[2015-10-29 20:49] jastraat commented on #713
@jmolivas  Thank you for clarifying; extremely good to know that it's a multi-site issue. There isn't much to the D8 site I have installed, so I don't think it would be worth downloading. I just wanted to have at least two sites to try out the new configuration management import/export functionality, so for the sake of testing, I set up a 'dev' site and a 'test' site within the same installation.

[2015-10-29 22:05] jmolivas commented on #713
@jastraat : You can work with multiple sites on your local system or at a remote server machine by using:
### The `--root` option (only for local sites)
[code]
![drupal-root](https://cloud.githubusercontent.com/assets/366275/10833297/18304794-7e4e-11e5-83fd-f215491a57fc.png)

### Site alias support (for local and/or remote sites)
[code]
![site-remote](https://cloud.githubusercontent.com/assets/366

[2015-10-29 22:19] jastraat commented on #713
Unfortunately, using the 'root' option did not make the generate command available to my multi-site sites. If it's anything like drush, once I'm in a drupal installation directory, root is assumed to be that directory. In drush, you might use the --uri= option to specify the site within an installation. Is there something similar in Drupal Console?

I tried the drupal init command, but I'm afraid

[2015-10-29 22:22] jmolivas commented on #713
No multi-site is not yet supported. I meaning you can use `--root` or `--target` to work with sites on different directories but must be regular sites no multi-sites.

[2015-10-29 22:23] jastraat commented on #713
Ah - thank you. I misunderstood your comment then.

[2015-10-30 00:19] jmolivas commented on #713
@laradevitt:

- Can you please confirm v0.9.5 is functional on WinOS?

- Do you have a VPN or remote server you can connect using WinOS to test the remote site command execution?

[2015-10-30 07:26] omero opened #1125 "[generate:theme] Improve theme generation"
## Problem/Motivation

This @jameswilson tweet: https://twitter.com/jwilson3/status/656927236151451649

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/drupalconsole">@drupalconsole</a> can a theme have a console plugin to download and configure various dependencies (e.g. bootstrap sass, grunt, npm, bundler)?</p>&mdash; James Wilson (@jwilson3) <a hr

[2015-10-30 14:51] jameswilson commented on #1125
I think you mis interpreted what I was actually asking for.

What I want is the way to package a script wiht my theme that is Drupal console-aware php or yaml file that can provide custom instructions or commands to console that could be useful to do various tasks such as installing theme dependencies.

The workflow would be:

1) download the module (via drush or maybe Drupal console can do this?)

[2015-10-30 16:13] laradevitt commented on #713
@jmolivas

Sure, as soon as I have a moment. I'll have to set up remote; I'm still "just playing" with D8 so all of my remote sites are D7.

[2015-10-31 06:09] #1074 closed

[2015-10-31 08:55] jmolivas commented on #1095
I sent a PR https://github.com/hechoendrupal/DrupalConsole/pull/1128 to add command alias via user configuration file `~/.console/config.yml`

* Configuration of command alias: https://github.com/jmolivas/DrupalAppConsole/blob/1095-console-command-alias-implementation/config/dist/config.yml#L26-L29

* Discovery of aliases: https://github.com/jmolivas/DrupalAppConsole/blob/1095-console-command-alia

[2015-10-31 17:55] enzolutions opened #1129 "[Symfony\Component\DependencyInjection\Exception\InvalidArgumentException]"
Sometimes when a Drupal Core function is called I got the following error

[code]

Specifically stating in Drupal 8 RC2 in command *migrate:execute* when I tried to create EntityQuery for migration entity storage I got the following error

[code]

The reason internally the core load services using a static method for instance in **\Drupal\Core\Entity\EntityStorageBase**

[code]

To avoid this prob

[2015-10-31 19:17] #1085 closed

[2015-10-31 20:26] tsvenson commented on #1079
Sorry for being quiet about progress on this issue, just that there is so much I still have to learn to comprehend everything. Some of the "magic" is beginning to make sense and I have a proposal plan for how to address this.

After going over the source code in PhpStormSupportBundle linked to in [this comment](https://github.com/hechoendrupal/DrupalConsole/issues/1079#issuecomment-150727237) I'm

[2015-11-01 05:15] darol100 opened #1132 "Drupal Cache Rebuild Watcher"
## Problem / Motivation
When someone is building a Drupal theme and it require to work with templates the user will need to rebuild (drupal cache:rebuild) almost every time and this is an manual step and is very annoying.

## Solution
I think we should add the a functionality of watching the templates files and if there is any changes on the template will cache rebuild.

What you guys thinks about

[2015-11-01 05:27] darol100 opened #1133 "Separation of the project and the language"
## Problem / Motivation

At Drupal Badcamp @jmolivas , @phenaproxima and myself we were discussing on how we are going to implement the Samuel Jack Language (#1106) into this project without been committed in the main project because does not look professional. This brings some interesting point because as today this project ships with all languages, which it should not it IMO because I'm not goin

[2015-11-01 09:21] jepster commented on #1087
I confirm. Having the same problem.

[2015-11-01 09:51] jepster opened #1134 "Generated Controller Test uses wrong assertion method"
Method testAcceptanceTestsController() uses $this->assertEqual() and not $this->assertEquals() (mind the "s" at the end), which isn't part of the PHPUnit framework.

[2015-11-01 15:40] jmolivas commented on #1087
@bojanz @jepster This was fixed on latest release v.0.9.5

NOTE: Make sure you install simpletest module `drupal module:install simpletest`

May you confirm which version of DC are you using

[2015-11-01 15:44] bojanz commented on #1087
I was on 0.9.4, confirming that updating fixed it.

[2015-11-01 15:44] #1087 closed

[2015-11-02 15:43] kevinquillen opened #1139 "Unable to create fieldable bundles on config entities"
Cross post: http://drupal.stackexchange.com/questions/179525/create-fieldable-bundle-types-for-an-entity-with-drupal-console

Basically I want to go beyond the generic object creation and spawn custom data structures that can have fielded bundle types, the same way nodes work in that regard.

[2015-11-02 15:56] jmolivas commented on #1139
@kevinquillen: I will take a look at

[2015-11-02 15:58] kevinquillen commented on #1139
Just posting some follow ups... I am learning btw so apologies if this has been covered.

So, out of the box DC generates a config and content entity. I followed the blog post here to begin learning how to enable types to be fieldable: http://www.agoradesign.at/blog/how-create-custom-entities-bundle-support-drupal-8

But it also seems to require this change in the Foo entity, which I did not see m

[2015-11-02 16:31] kevinquillen commented on #1139
Continuing that... if you implement your own theme for foo_add_list, where Foo is your entity, and add the callback with hook_theme (just like node) the entity type page takes shape.

You also need to add $description property to your FooType schema, and FooType form, and getDescription() method to your FooTypeInterface and FooType implementation.

Also, altering your routing so that admin/foo poi

[2015-11-02 16:37] kevinquillen commented on #1139
I *think* that out of the box, the console should generate a config/content entity (or prompt you) that acts like this, even if you only plan on having one entity type ever, or not adding fields on it. Would save a super amount of time.

[2015-11-03 14:25] jmolivas commented on #1095
After a reviewing the PR https://github.com/hechoendrupal/DrupalConsole/pull/1128 the following changes:
- Define aliases on a separated file `aliases.yml` instead of `config.yml`
- Use this YAML structure:
[code]

[2015-11-03 16:21] jmolivas commented on #1095
PR https://github.com/hechoendrupal/DrupalConsole/pull/1128 was merged

We should start a discussion about best alias names for commands we will use,

These alias will be a recommendation and user can override by updating the copied file `~/.console/aliases.yml`

[2015-11-03 17:11] jmolivas commented on #1134
Fixed PR with https://github.com/hechoendrupal/DrupalConsole/pull/1142

[2015-11-03 17:11] #1134 closed

[2015-11-03 20:59] sgtsaughter opened #1146 "Create a generate:form command that will generate scaffolding for basic forms extending the FormBase class"
I've noticed there's a generate:form:config which will generate an admin config form, but there isn't a way to generate a basic form extending the FormBase class.  I've been following this documentation https://www.drupal.org/node/2117411 and have successfully built a basic form using it.  It could be used to help with generating the scaffolding.  It would also be nice if this command can function

[2015-11-04 01:12] darol100 opened #1148 "Enable theme_debug with Drupal Console"
## Problem/ Motivation
Drupal 8 ships with a twig debugger out-the-box that allows you to see the suggestion templates into html. It will be nice if we can have a command in Drupal Console that will enable that quickly instead of manually editing that file.

## Solution
According to the twig/drupal8 documentation in order to enable the debug...

How to enable debugging
 - Locate your site's servic

[2015-11-04 02:35] darol100 opened #1149 "Adding Drupal Console as Development Tool in D.O"
## Problem / Motivation
D.o have really good information about Drupal tools. A informative page is the "Development Tool" page in D.o https://www.drupal.org/node/147789.

## Solution
I think we should write a descriptive paragraph about Drupal Console and edit this page in D.o.

[2015-11-04 06:08] jmolivas commented on #1148
You can enable/disable Twig debug by using `site:mode` command
[code]
![site-mode-twig](https://cloud.githubusercontent.com/assets/366275/10930862/46bd3e78-8277-11e5-96a5-56080022d4e1.png)

[2015-11-04 06:24] jmolivas commented on #1149
Love the idea, we can probably use text from the documentation https://hechoendrupal.gitbooks.io/drupal-console/content/

[2015-11-04 06:34] jmolivas commented on #1146
@sgtsaughter: There is a PR for that https://github.com/hechoendrupal/DrupalConsole/pull/1122

You may want to help testing the PR and adding some comments.

[2015-11-05 19:55] darol100 commented on #1149
@jmolivas , the text from the link that you provide me does not have a lot good informative information about Drupal Console. The target of this text is not for developer, is mainly for people that are starting into Drupal and they are looking into new tools.

Here are two good examples of command line tools descriptions:

**Drush**

**Git**

[2015-11-05 19:56] darol100 commented on #1148
I'm closing this issue since this have been already implemented.

[2015-11-05 19:56] #1148 closed

[2015-11-05 20:03] darol100 commented on #1095
@jmolivas is this implementation going to have the aliases display in the drupal list  command?

For instance `drupal cache:build (cr)`. This will make user to easily learn the aliases.

[2015-11-06 02:46] darol100 commented on #1095
Here are my suggestion for the new aliases.

### I do not think we need aliases for these
_completion
about
chain
complete
drush
help
init
list
self-update

 Cache
==========================

  cache:rebuild                    = cr

 Config
==========================

config:debug                     = cde
config:edit                      = cedit
config:export                    = ce
config:export

[2015-11-06 16:03] jepster opened #1154 ""drupal generate:form:alter" asks for form id, but isn't using it."
After "drupal generate:form:alter" asks for the form id. After execution there's no code with this form ID generated.

[2015-11-06 16:39] jmolivas commented on #1154
@jepster: The form-id is used on at
https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Command/GeneratorFormAlterCommand.php#L93

[2015-11-06 22:02] LightGuard opened #1155 "[module:install] Installing rest modules via DrupalConsole is missing something"
When I enable all the rest modules via drupalconsole then try to post to it use DHC I get a 404 on /entity/node.

I'm using docker, which I don't think is causing the problem, but I'll give you the setup files: https://github.com/LightGuard/drupal8-docker-test

[2015-11-06 22:54] LightGuard commented on #1155
Looks like rebuilding the routes fixes it.

[2015-11-07 23:26] LightGuard commented on #1155
I'm not sure if there's any way to determine if routes need to be rebuilt or not on a module install, but it's probably something worth doing every time, just like rebuilding the cache.

[2015-11-08 13:44] FatherShawn opened #1161 "[site:install] Support database config for socket"
When settings.php is edited directly host can be set to "localhost" and port omitted - PDO will attempt to connect to unix_socket if it is set.

*Solution:*
Refactor `\Drupal\Console\Command\SiteInstallCommand` to allow `socket` as a port value, and omit the port property if host is localhost

[2015-11-08 15:48] FatherShawn commented on #1161
Well there is no way forward for this without this core issue fixed: https://www.drupal.org/node/793200

[2015-11-08 15:49] #1161 closed

[2015-11-08 20:50] enzolutions commented on #1155
Hi @LightGuard

Thanks for your report, cache rebuild was included in PR https://github.com/hechoendrupal/DrupalConsole/pull/1163 and will be part of release 0.9.7

[2015-11-08 20:50] #1155 closed

[2015-11-09 02:28] kenneth-bolivar-castro commented on #814
@jmolivas; I pushed new command to create an entity user based on three main fields:
* Username
* Password
* Email address

However I haven't create a new PR until I finish command to cancel user account. I realize that command to update won't be useful but a command to retrieve is more likely *debug* reason why I will work on that also.

[2015-11-09 10:23] bojanz opened #1167 "ContainerAwareCommand needs a getEntityTypeManager() method"
The entity manager has been deprecated and split into 11 different services: https://www.drupal.org/node/2549139
The class that holds the getStorage() method is now the EntityTypeManager.

ContainerAwareCommand should have a getEntityTypeManager() method (core is introducing the same change to ControllerBase, forms, etc) and it should use it instead of getEntityManager().
getEntityManager() should

[2015-11-09 11:02] viteksafronov opened #1168 "Drupal Console doesn't work if the ioncube extension is enabled"
There is the php extension named ionCube Loader, which is needed to run encoded php files. This extension prevents normal working of any phar files with require/include calls. So you can't run drupal console because it is requiring 'console.php' (you'll get 'not found' error).
ioncube team already knows about the problem and even (maybe) will try to fix it.
The issue is left here to make the probl

[2015-11-09 17:06] bojanz opened #1171 "The base url isn't setup"
Generating a link:
$link = $container->get('url_generator')->generate('entity.commerce_store.edit_form', ['commerce_store' => $store->id()], TRUE);
gives me a relative url because for some reason the $base_url isn't known when running inside Console.

The same thing works fine in the web UI.

[2015-11-09 17:46] bojanz commented on #1086
I've created a command that uses the [new helper](http://symfony.com/doc/current/components/console/helpers/questionhelper.html), it works fine, but the output is black&white, no colors:
https://github.com/commerceguys/commerce/commit/30cc62ea6ca7c71a5237af91bdaa578d47010042

[2015-11-09 19:14] twang4turner opened #1176 "Generated checkAccess() method in MyEntityControlHandler throw error"
I use drupal generate:entity:content to create a Video entity, and one generated class is MyEntityControlHandler with two methods: checkAccess and checkCreateAccess. Without modifying any code, I am able to create and save a video. However, when I tried to access to the video list, it keeps throwing following error:

Fatal error: Call to a member function hasPermission() on a non-object in /Users/

[2015-11-10 16:10] VasquezPonte commented on #968
PR https://github.com/hechoendrupal/DrupalConsole/pull/1105

[2015-11-10 16:10] #968 closed

[2015-11-10 19:20] claymullis opened #1180 "Generation of Install Files"
Looking for a way to generate a skeleton module.install file, perhaps even as an option in the initial generation of a module using 'drupal generate:module'.

For example, I am trying to convert a module from drupal 7 to drupal 8.  The module.install looks like this - https://gist.github.com/claymullis/bfbedebfcccc16799f4e.

Using drupalmoduleupgrader, I can get that converted pretty quickly to a

[2015-11-10 20:31] charginghawk opened #1182 "[template] generate:plugin:field - using deprecated classes"
When you use generate:plugin:field, the "use" sections have some deprecated classes.

Drupal v8.0.0-rc3
Drupal Console version 0.9.6

`use Drupal\Component\Utility\SafeMarkup;`
[Deprecation notice](https://api.drupal.org/api/drupal/core!lib!Drupal!Component!Utility!SafeMarkup.php/class/SafeMarkup/8)
[Location in repo](https://github.com/hechoendrupal/DrupalConsole/blob/139912eb3c453af30403e6c68b2d

[2015-11-10 20:37] darol100 commented on #1182
@charginghawk, Pull request are always welcome.

[2015-11-10 20:39] darol100 commented on #1180
@claymullis , Couple weeks ago, I open an similar issue to use Drupal Console as an analyzer. Similar to what drupalmoduleupgrader  does. You can check it out at - https://github.com/hechoendrupal/DrupalConsole/issues/1092

[2015-11-10 20:43] darol100 commented on #1154
@jepster , Should we close this issue sine this been solve already ?

[2015-11-10 20:45] darol100 commented on #1168
:+1:  Even thought we cant do anything about it because this is an ionCube issue.

[2015-11-10 21:36] jmolivas commented on #1154
:+1: on close this one

[2015-11-11 00:20] tsvenson commented on #1121
Just noticed this too. Is the callback needed at all if the proCreate function accomplishes the same thing?

[2015-11-11 07:24] subhojit777 opened #1185 "Error while executing yaml:merge command"
I was syncing translation with the latest commands using `yaml:merge` command, and I was getting this error:

I discussed this with @enzolutions, he asked me execute `composer update`, on doing that the error got fixed. Looks like the composer packages are out of date with the new Drupal console code.

[2015-11-11 12:07] jepster commented on #1154
Yep, found out how it works.

Jesus Manuel Olivas <notifications@github.com> schrieb am Di., 10. Nov.
2015 22:36:

[2015-11-11 12:07] #1154 closed

[2015-11-11 13:14] enzolutions commented on #1185
@subhojit777 did you got that problem with latest version 0.9.7?

[2015-11-11 13:20] subhojit777 commented on #1185
No 😄

[2015-11-11 13:21] subhojit777 commented on #1185
I have also raised a PR with the new `composer.lock` 😉

[2015-11-11 13:25] enzolutions commented on #1185
Please check with 0.9.7 it's normal to run componser update or install if you are working in  a dev version, but that is not possible with release version, please check to confirm it's a problem.

[2015-11-11 13:27] subhojit777 commented on #1185
I meant "no, I am not getting that error" :) Should I try the command on a fresh Drupal Console checkout?

[2015-11-11 13:29] enzolutions commented on #1185
If running 0.9.7 error is gone, just close this ticket.

Checkout is dev version again is normal among Drupal Console develoepr, if something fail just run componser install to update your dependencies.

[2015-11-11 13:34] subhojit777 commented on #1185
yeah it seems the error is gone :)

[2015-11-11 13:34] #1185 closed

[2015-11-11 22:50] darol100 commented on #679
@jmolivas , Do we still have some work done in order to finished this issue or should we close it ?

[2015-11-12 02:17] jmolivas commented on #679
@omero did you know the status of this issue?. Is autocomplete fully functional?

[2015-11-12 06:44] swim commented on #1125
Really like the idea of providing a package detection mechanism.

Instead of providing a predefined theme skeleton such as vanilla; it would be nice if theme's could define their own packages. Drupal console could then define the standard in which to enable/ install them.

[2015-11-13 13:51] GoZOo opened #1232 "[module:install] Can't install module if previous configuration still exists"
# Problem / Motivation

In case a module has not been uninstalled properly, the next time i want to install it, i can't and have this message:

[code]

Module stay disabled. The only way to enable it is to delete old configuration or use drush.

module:install should at least ask to override and lose previous configuration instead of doing nothing.

[2015-11-13 22:51] frob opened #1241 "How to use with vagrant box"
How would I use this with a vagrant box. I am using the popular drupal-vm development vagrant environment. If I am in the shared drupal directory locally I get this error:

[code]

However, if I am in a non-drupal directory then drupal console will allow me to generate things.

Will I have to log into the vagrant box and install drupal console to run commands there?

[2015-11-13 23:05] frob opened #1243 "attempting to pass drush commands through drupal console removes underscores"
I generated a module with drupal console and everything went well. I then attempted to install that module by running ```drupal drush en module_name``` however drush thought that I was attempting to enable ```modulename`` and not ```module_name```. I then ran the same command and didn't wrap the drush command in drupal console and it ran just fine. Below is the console i/o.

[code]

[2015-11-14 01:44] jmolivas commented on #1243
@frob: Thanks for reporting, I will be looking at the issue.

In the meantime you can try installing the module by using drupal console `module:install `
 `drupal module:install module_name`

[2015-11-14 02:23] jmolivas commented on #1241
@frob: You can take advantage of Drupal Console remote command execution feature, I will try to write some docs during the weekend in the meantime this is an overview about the steps.

* Execute `drupal init` to copy configuration files
![drupal-init](https://cloud.githubusercontent.com/assets/366275/11161449/96cdaf8a-8a31-11e5-9f4f-2e8e56f496a9.png)

* Edit global configuration related to remote

[2015-11-16 18:12] claymullis opened #1273 ""Unable to open /tmp/*tar.gz using mode r+: fopen(*tar.gz)" on use of "drupal site:new 8""
An error of style:

 Unable to open /tmp/drupal.0COilCtar.gz using mode r+: fopen(/tmp/drupal.0COilCtar.gz): failed to open stream: No such file or directory

Occurs whenever trying to install a new drupal installation on a host which doesn't have the php5-curl module enabled.  This error doesn't tell you much about the actual issue at hand (that you're missing a necessary dependency, namely php5-

[2015-11-16 18:33] claymullis commented on #1092
This featureset would be an outstanding way to learn how to use Drupal 8.

[2015-11-16 18:34] #1180 closed

[2015-11-16 18:34] claymullis commented on #1180
Closed as issue #1092 sufficiently covers this use case.

[2015-11-17 13:24] mglaman opened #1275 "drupal:install Doesn't respect existing db connection information if present"
I have my own local development runner which predefines connection information to my Docker containers. However, if I run drupal:install within the Drupal directory, it does not read settings.php and prompts me through the configuration process.

It would be great if Console could mimic Drush and read that file first instead of trying to recreate it.

[2015-11-17 19:18] Saphyel commented on #1273
this also affects to module:download

[2015-11-17 19:46] darol100 opened #1286 "[docs] Theme debugging in Drupal.org"
## Problem/Motivation
Drupal.org have documentation about debugging twig theme at [Debugging compiled Twig templates](https://www.drupal.org/node/1903374). However, this seem like a lot steps to do manually and in theory we should be able to run `drupal site:mode dev`

## Solution

We should verify that everything on that page is supported [Debugging compiled Twig templates](https://www.drupal.org

[2015-11-17 20:09] jmolivas commented on #1286
Those values are switch by `drupal site:mode dev`

[code]
![drupal-site-mode](https://cloud.githubusercontent.com/assets/366275/11223187/89edca58-8d23-11e5-99fb-bb0a1b5aebbe.png)

Totally agree on the need to to start documenting DrupalConsole functionality

[2015-11-17 20:31] darol100 commented on #1286
@jmolivas, what about the [Drupal Render cache](https://www.drupal.org/node/1903374#drupal-render-cache) ? Its that been supported as well ? If not, should we open an issue for that ?

[2015-11-17 21:07] darol100 opened #1288 "[docs] Drupal 8 Console - page outdate"
## Problem / Motivation
This page seem a little bit outdate, it have not been update since Feb 2015 - https://www.drupal.org/node/2361869.

## Solution
 - We need to update the installation instructions as well as the available command.
 - We need to add a disclaimer that said... "Drupal Console is on a very active development, meaning that this page might be outdate by the time you are reading it

[2015-11-17 21:07] darol100 commented on #1288
I will take care of the first two bullet points.

[2015-11-17 21:27] darol100 opened #1290 "Create an APC autoloader clear command"
## Problem/Motivation

It would be great to have a way of updating the class autoloader cache so that if a module gets moved or classes are re-arranged inside a module there is an easy way of clearing the APC cache.
Possibly useful: https://github.com/Smart-Core/AcceleratorCacheBundle

---

This was original been report by [@tanc](https://www.drupal.org/u/tanc) at [Create an APC autoloader clear c

[2015-11-17 21:42] darol100 opened #1292 "For contentEntity add also bundles and revisions"
## Problem/ Motivation

If you want to add bundles and revisions it required you have to do a lot of work.

## Solution
It will be useful to have an option to add bundles and revisions to content entities.

---
This was original been report by [marcel66](https://www.drupal.org/u/marcel66) at [For contentEntity add also bundles and revisions](https://www.drupal.org/node/2562575)

[2015-11-19 02:04] jmolivas commented on #1286
@darol100 Drupal Render cache toggle not yet supported, and yes we should open en issue for that.

[2015-11-19 15:28] nikathone opened #1303 "validating entity machine name before generation(32 characters)"
I was recently generating a en entity and I did use more than the 32 letters which is of course not allowed. Is there a way to add a validation for this before the generation? Keep the good work.
Thanks

[2015-11-19 17:51] darol100 opened #1306 "Layout Plugin Integration"
## Problem/Motivation
Layout Plugin is the future of layouts in Drupal 8. Meaning that if you want to work with any type of layout module like Display Suite or Panels that are going to be using layout_plugins module as center API, so they can both take advantage of layouts without need it to re-invent the wheel in their own way. They are currently using Drush to generate this boilerplate code inst

[2015-11-19 21:15] enzolutions commented on #356
Hi @mpdonadio

Sorry for this late response.

I analyze your request and the problem is that function internaly call [Entity::toUrl](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21Entity.php/function/Entity%3A%3AtoUrl/8) and that function only works under a real entity.

Because routing does'nt work with real entities is not possible to get that information.

My suggestion

[2015-11-19 21:32] enzolutions commented on #411
@dmouse PR https://github.com/hechoendrupal/DrupalConsole/pull/499 resolve this problem or is a WIP work?

[2015-11-19 21:36] enzolutions commented on #471
@mikeyp do you have any progress for this feature maybe somethign WIP the rest of the Drupal Console  team could complete?

[2015-11-19 21:37] enzolutions commented on #480
@lussoluca do you have any second though about this request?

[2015-11-19 21:41] enzolutions commented on #695
@mikeker could you confirm if command generate:plugin:views:field resolve your request?

[2015-11-19 22:01] enzolutions commented on #697
Hi folks

in **\Drupal\comment\CommentForm** I found a URL field implementation.

[code]

But is not a valid [FAPI](https://api.drupal.org/api/drupal/developer!topics!forms_api_reference.html/8)  field yet.it's easy to include but I don't feel comfortable adding something not official, or maybe the documentation is behind?

[2015-11-19 22:06] mikeker commented on #695
@enzolutions, Sorry, I didn't see the notification of your earlier comment. `generate:plugin:views:field` gets us part of the way there. That might be a good starting point. I'll try to look into this in the next week.

[2015-11-19 22:10] #755 closed

[2015-11-19 22:11] enzolutions commented on #781
@heddn could yo confirm if generate:plugin:field is now working for you?

[2015-11-19 22:15] enzolutions commented on #695
@mikeker perfect, check and let me know if maybe the command require an enhancement or a siblling command.

[2015-11-19 22:21] enzolutions commented on #810
@jmolivas I guess @cosmicdreams was right we could close this ticket. What do you think

[2015-11-19 22:30] jmolivas commented on #810
yes @enzolutions, @cosmicdreams sent a PR related to this issue and is already merged.

[2015-11-19 22:34] #810 closed

[2015-11-19 22:52] enzolutions commented on #953
@jmolivas maybe something like generate:command:plugin ?

[2015-11-19 22:57] enzolutions commented on #1067
@allgood2386 could you try enabling your module with latest version of Drupal console

[code]

To check what error you get if you get an error.

[2015-11-19 23:01] enzolutions commented on #1079
@tsvenson that will be awesome when you acomplish this goal

[2015-11-19 23:03] enzolutions commented on #1088
@jmolivas this is different to the work I did moving all command to their own namespace?

[2015-11-19 23:04] enzolutions commented on #1093
@darol100 this validator must be included in what command?

[2015-11-19 23:14] enzolutions commented on #1273
@claymullis did you remember how do you resolved this issue?

[2015-11-20 01:22] darol100 opened #1309 "Drupal Render Cache"
## Problem/ Motivation

[Drupal Render cache](https://www.drupal.org/node/1903374#drupal-render-cache) should be an option for `drupal site:mode dev`.  We want make sure that DrupalConsole align with Drupal best practices and this seem to be part of the debugging documentation.
## Solution

For more information about the implementation please visit - https://www.drupal.org/node/1903374#drupal-rend

[2015-11-20 01:40] darol100 commented on #1286
@jmolivas , I created a new issue for the Drupal Render Cache.  #1309

I have also update the documentation in Drupal.org on how to enable debugging with Drupal Console. You can see the [revision in here](https://www.drupal.org/node/1903374/revisions/view/9122064/9128298).

In addition, I added a disclaimer that Drupal Console does not supported yet "Drupal Render Cache is not been supported by Dr

[2015-11-20 01:41] darol100 commented on #1309
Whenever this is been implemented we need to remove the disclaimer of that this is not been implemented in Drupal Console at https://www.drupal.org/node/1903374.

[2015-11-20 01:44] darol100 commented on #1286
This issue it was mainly to solve the lack of documentation on the debugging page in Drupal.org. Drupal Render Cache is not technically part of debugging (it just make it faster). That been said, we can close this issue.

For anyone interested on the new section of the Drupal Console in the debugging page visit - https://www.drupal.org/node/1903374#enable-with-drupal-console

[2015-11-20 03:15] heddn commented on #781
It was a few weeks ago.

[2015-11-20 03:15] #781 closed

[2015-11-20 08:31] lussoluca commented on #480
At this point I don't know if worth to implement more data analysis directly into webprofiler/console. So at the moment I don't need expression-language anymore.

[2015-11-20 11:32] tsvenson commented on #1079
@enzolutions Think I took on more than I could chew here. Am still working hard on learning OOP, D8 API and more gaps in coding skills I have to overcome.

If anyone want to jump in and help out/take over to make this feature happen feel free :)

[2015-11-20 12:19] enzolutions commented on #480
OK I am goint to close this ticket, thanks for your feedback

[2015-11-20 12:19] #480 closed

[2015-11-20 12:21] enzolutions commented on #1079
@tsvenson don't worry I guess that is the current situation for any Drupal developer nowadays. in order to find more colaborators for this task. Do you think you can document and share the current status of this task?

[2015-11-20 13:16] pektinasen commented on #1273
@enzolutions solved it by installing php5-curl:

    sudo apt-get install php5-curl

[2015-11-20 13:46] tsvenson commented on #1079
@enzolutions Sure, give me the weekend to go over my findings. Should I update the OP or in a comment like this?

[2015-11-20 15:25] enzolutions commented on #1273
Great just installing php5-culr is a nice cathup

[code]

[2015-11-20 15:25] #1273 closed

[2015-11-20 15:26] enzolutions commented on #1079
Hi @tsvenson is this comment is OK, I don't understand what you mean with OP.

[2015-11-20 16:24] tsvenson commented on #1079
@enzolutions Oh, I suppose OP is a drupal.org thing. It stands for Original Post. Basically I wonder if I should update the initial issue text (the OP) at the top with the current information or in a comment to it like this one.

[2015-11-20 16:29] enzolutions commented on #1079
Just is a comment, I will try to help you from your latest status

[2015-11-20 16:30] tsvenson commented on #1079
Great stuff, I'll get something up Monday latest as I got a few things going on in the weekend. Thanks.

[2015-11-20 16:46] enzolutions commented on #1182
@charginghawk Thanks for your report , clases were replaced at PR https://github.com/hechoendrupal/DrupalConsole/pull/1311

[2015-11-20 16:46] #1182 closed

[2015-11-20 21:51] Jaesin opened #1313 "[config:import:single] Config importers should use the config importer service"
I notices when trying to import field storage and fields with the console `config:import:single` the DB tables don't get created. There must be some missing steps that aren't getting executed when config is imported so I started looking at the batch for importing config from the UI.

Relevant code from the form based importer that uses the drupal batch API:

[code]

Repro instructions.

1. Create

[2015-11-21 09:41] #1286 closed

[2015-11-22 12:50] enzolutions commented on #1097
Thanks @darol100 for recommend us this idea, this was implemtente at https://github.com/hechoendrupal/DrupalConsole/pull/1312

[2015-11-22 12:50] #1097 closed

[2015-11-23 15:48] enzolutions commented on #826
Hi @jygastaud your suggestion was implemented in https://github.com/hechoendrupal/DrupalConsole/pull/1327

[2015-11-23 15:48] #826 closed

[2015-11-23 18:56] enzolutions commented on #1275
Fixed in PR https://github.com/hechoendrupal/DrupalConsole/pull/1330

[2015-11-23 18:56] #1275 closed

[2015-11-23 19:34] jmolivas commented on #1275
Is this what you asked for @mglaman ?

[2015-11-23 22:52] mglaman commented on #1275
Looks like it! I'll try it out tomorrow!

[2015-11-23 23:03] enzolutions commented on #1275
This is what you get and will be available in next release 0.9.8

<img width="896" alt="console_install_validator" src="https://cloud.githubusercontent.com/assets/907914/11352760/e4413f14-9203-11e5-92e4-da24326c1ab8.png">

[2015-11-24 02:56] jmolivas commented on #1303
We can probably add some code to truncate the machine name generation at `StringHelper` class
https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Helper/StringHelper.php#L30

[2015-11-24 02:59] jmolivas commented on #1288
Do still have plans to taking care and you need any help on this issue?

[2015-11-24 05:55] mglaman commented on #1275
@enzolutions amazing. hopefully next time I have an idea I can actually contribute the PR :)

[2015-11-24 05:59] jmolivas commented on #1275
@mglaman You just need to ping us via an issue or the support channel at: https://gitter.im/hechoendrupal/DrupalConsole and we can guide you on how to contribute with code.

Because testing and adding issues is a great way to contribute.

[2015-11-24 12:46] almare opened #1340 "generate:entity:content generates wrong form folder structure for entities"
The default form folder for entities should be modulename/src/Form and not modulename/src/Entity/Form.

Have a look at the node module for example the class Node here https://api.drupal.org/api/drupal/core!modules!node!src!Entity!Node.php/class/Node/8

[2015-11-24 12:48] frega commented on #1340
The generator for config entities already use this folder-structure so this only applies to the content entity generator.

[2015-11-24 21:56] krlucas opened #1345 "Errors and notices with examples.settings.local.php"
I'm testing Drupal Console 0.9.8 with a copy of the example.settings.local.php that ships with Drupal 8.0.0.

Drupal Console is throwing fatal errors when it hits this line of settings.local.php:
``\Drupal\Component\Assertion\Handle::register();``

``PHP Fatal error:  Class 'Drupal\Component\Assertion\Handle' not found in XXXXXX/sites/default/settings.local.php on line 13``

Commenting out that li

[2015-11-25 02:57] mdrummond commented on #1125
What would be particularly useful is if a theme could register whatever would be necessary to scaffold one or more subthemes. A theme might want to provide the option to generate a subtheme that uses Grunt OR Gulp (but probably not both in the same subtheme). This would be a considerable time saver, because while a theme can include a STARTERKIT folder that can be copied to create a subtheme, the

[2015-11-25 07:37] mmenavas opened #1348 "[console] Set environmental variable"
I think it'd be useful if the console set an environmental variable when bootstrapping drupal. This would allow us to identify who is bootstrapping (web server vs cli).

My specific use case is to execute code on settings.php only when the console is bootstrapping drupal.

[2015-11-25 21:40] jmolivas commented on #1340
Related PR https://github.com/hechoendrupal/DrupalConsole/pull/1344 by @frega about to get merged.

[2015-11-26 15:19] jmolivas commented on #1348
Like the idea :+1:

[2015-11-26 18:10] #1340 closed

[2015-11-26 19:27] g3r4 opened #1359 "[php:interactive] PHP interactive session"
Dear drupal console team:

Is is possible to have a command that would allow us to run an interactive session with our Drupal 8 site bootstrapped ?

Thanks

[2015-11-27 00:48] darol100 commented on #1288
![screen shot 2015-11-26 at 4 46 15 pm](https://cloud.githubusercontent.com/assets/6808460/11432172/468af524-945d-11e5-96c3-1ad9dae77bec.png)

I have update with the page with the new commands, and I added the disclaimer. Since @jmolivas already edit this and he remove the project goal, I'm assuming that the goals are not longer going to be part of this page for this reason I'm closing this issue.

[2015-11-27 00:48] #1288 closed

[2015-11-27 00:56] darol100 commented on #1093
@enzolutions , In the perfect world in any place where the route is been generate it.

However, If I'm not wrong when I open this it was for `drupal generate:controller`

![screen shot 2015-11-26 at 4 53 07 pm](https://cloud.githubusercontent.com/assets/6808460/11432242/80c1afac-945e-11e5-83c7-91d9326091d6.png)

[2015-11-27 19:39] heddn opened #1366 "New Command: Delete Config Entity"
Similar to https://gist.github.com/heddn/20f917b49d27bb2208b5

Would definitely need to autocomplete the config entity names.

Suggested command names:
config:delete <= My preference
configuration:delete
yaml:configuration:delete
yaml:delete:configuration

[2015-11-28 01:45] jmolivas commented on #894
Updated output when executing  `drupal`

[code]

[2015-11-28 08:33] darol100 opened #1373 "[generate:breakpoints] Command to generate breakpoints"
## Problem/Motivation
Drupal 8 comes with breakpoints module in core. We should add the ability of generating breakpoints with a command.

## Solution
We should provide a `generate:breakpoints` that this will generate the yml file with the following structure.

[code]

Here is more information about breakpoints in D8  [Working with breakpoints in Drupal 8](https://www.drupal.org/documentation/modu

[2015-11-28 13:19] enzolutions commented on #1373
@darol100 generete:theme already enable you to do that, could you try and let me know if that works for you?

[2015-11-28 13:21] enzolutions commented on #1359
@g3r4 could you provide more details about what is an interactive session?

[2015-11-28 13:22] enzolutions commented on #1303
@nikathone could you check the proposed solution in https://github.com/hechoendrupal/DrupalConsole/pull/1343 to validate if we can close this issue.

[2015-11-28 13:26] enzolutions commented on #1292
Entities bundles was resolved at https://github.com/hechoendrupal/DrupalConsole/pull/1261 could you check with dev version if revision stuff was already cover

[2015-11-28 17:13] darol100 commented on #1373
@enzolutions , actually it works. But what you think the idea of having this functionality stand alone as well ? Because what if the user want to added the breakpoints into a module ? Or what if the user want to added the breakpoints into an existing theme (this was my use case).

[2015-11-29 03:16] fusionx1 opened #1377 "[standard] Commented snippets are all over the template we need to make it clean"
Hi im Paul from Drupal Pilipinas and i really want to contribute to this wonderful project that helps and will help thousands of drupal developer around the world.

Motivation:

As i was doing a cursory check on the some of the files ive noticed that there are lots of code snippets that are not being used, which i think it should be removed if we are not using it, especially inside the twig file.

[2015-11-29 03:17] fusionx1 commented on #1377
related issue https://github.com/hechoendrupal/DrupalConsole/issues/693

[2015-11-29 03:33] #806 closed

[2015-11-29 03:37] jmolivas commented on #806
@siwinski Issue fixed.

[2015-11-29 04:52] dustinleblanc commented on #1125
I was just looking through the docs for something like this. Any idea of what is needed?

[2015-11-29 19:24] saitanay opened #1382 "[generate:form:config] Do you want to generate a form structure? - Does not end"
On drupal generate:form:config, at "Do you want to generate a form structure?" , when "yes" is chosen, the console continues to ask for more form elements one after another.

Ending the loop once i have keyed in all the form elements, is either not obvious, or not documented (in drupal-console-en.pdf) , or is missing.

[2015-11-29 20:10] jmolivas commented on #1377
@fusionx1: I totally agree on removing commented code. I did remove several of those in past PR.

We are planning to provide a `--learning` option when executing the project, we may include some of that code when the project is been executed using passing that option.

[2015-11-30 16:42] james-nesbitt commented on #1290
can you use the Drupal::service("cache.backend.apcu")->deleteAll() for this kind of a clear, or does it not clear the data that you are looking at?  Perhaps you're looking for a command that doesn't need container awareness?

[2015-11-30 16:47] mdrummond commented on #1125
@dustinleblanc: I started working on allowing themes to add commands. A theme could then add its own generate command to build out a sub-theme. PR Need reviews: https://github.com/hechoendrupal/DrupalConsole/pull/1353

[2015-11-30 16:49] james-nesbitt commented on #1290
I see now that the deleteAll() method is very clearly targeting just user caches:

      public function deleteAll() {
         apc_delete(new \APCIterator('user', '/^' . preg_quote($this->binPrefix, '/') . '/'));
      }

Also, I see from the apc_clear documentation that clearing the CLI cache does not clear the FPM cache: http://php.net/manual/en/function.apc-clear-cache.php

The Smart-Core comm

[2015-11-30 16:52] jmolivas commented on #806
@james-nesbitt: Thanks for the recommendation we used the `padraic/phar-updater` library to remove the abandoned and no longer maintained `kherge-abandoned/php-phar-update`.

[2015-11-30 17:04] willwh opened #1385 "Generate menu links"
Create module_name.menu.links.yml as part of generate:form:config to create a menu link.

It would be nice if the default was something like the following:

**module_name.menu.links.yml**
[code]

[2015-11-30 17:46] jmolivas commented on #712
@pjcdawkins: Thew installer will be replaced on the new Drupal 8 site, with this controller class:
[code]
The Service `github_data_api` class look like this:
[code]

[2015-11-30 17:56] siwinski commented on #806
THANKS everyone!

@jmolivas no help required *yet* ;)  I'm still packaging Drupal 8 itself.  I will reach out to you if I need help and to let you know the status of the Fedora/EPEL packaging.

[2015-11-30 18:00] gido opened #1386 "[container:debug] add a `--tag` option"
It would be really helpful to get a list of services tagged with a specific tag. Like the symfony console had.

Here is would be my last real world usage:

[code]

I started looking for a way to achieve this:
1. But it's roughly hard to get an instance of the `ContainerBuilder` (that contain tags information).
2. Then I tried something with [DrupalKernelInterface::getCachedContainerDefinition()](h

[2015-11-30 18:42] jmolivas commented on #1386
I do totally :+1: on this feature.

We can probably take a look a this old PR https://github.com/hechoendrupal/DrupalConsole/pull/60 and if make sense try to resurrect it.

I will take a look at this and also ask at IRC if there is way to achieve this.

[2015-11-30 18:43] jmolivas commented on #1366
I :+1: on this one.

[2015-11-30 19:30] smalot opened #1389 "[generate:entity:content] Admin menu doesn't display listing entry"
On the admin index homepage (http://localhost/admin/index) we correctly see links to :
- setup permissions
- handle fields

But the link to list all entities or to add a new one is not displayed.
In the module.links.menu.yml I made this quick fix, by adding the "parent" entry :

[code]

I should be interesting too to see a tab in the "admin/content" with the name of entity type created.

I think i

[2015-11-30 20:15] smalot commented on #1389
In the `module.links.task.yml` I have added those lines :

[code]

[2015-11-30 20:52] smalot opened #1390 "[generate:entity:content] Add prompt questions to enable bundle support and more"
Current entity keys supported are :

[code]

Compared to those supported by `node` entity :

[code]

It should be very interesting to ask for :
- do you want to support `versioning` ?
- do you want to support `bundle` ?

[2015-11-30 20:58] smalot opened #1391 "[generate:entity:content] Complete entity declaration against table"
Hi

`entity_keys` missed some entries :
* "uid" => "user_id"
* "langcode" = "langcode"

by the fact there is a column named "langcode", I think it should be necessary to add "translatable = TRUE" in the entity declaration itself.

reading similarities with node declaration, I see "common_reference_target = TRUE".
I don't know exactly what does it mean, but I suggest to add it too.

[2015-11-30 21:00] smalot opened #1392 "[generate:entity:content] Add support for "status""
I should be interesting to add this flag by default, or ask for it in prompt shell, as it can be found in the node entity mecanisms.

[2015-11-30 23:00] smalot commented on #1390
My fault, I didn't see the "--has-bundles" option.
Versioning is still a need

[2015-12-01 07:47] smalot commented on #1176
Hi,
Di you tried again with Drupal 8.0.0 ?
BR

[2015-12-01 08:04] smalot opened #1396 "Add PHP7 to unit tests on .travis.yml"
Because Drupal 8 can be run under PHP7, can you add PHP7 to unit tests ENV list, in "allow_failures" or not ...
Thanks

[2015-12-01 17:12] #1396 closed

[2015-12-01 21:12] LightGuard opened #1398 "[docs] Add instructions on how to build locally"
If I want to use a pre-release version or test something I want to contribute, it would be good to have build instructions. I simply used the travis instructions in the .travis.yml file, but it would be better to have them in the README or CONTRIBUTING guides.

[2015-12-01 21:43] darol100 commented on #1398
@LightGuard
:+1:  for this feature. I think @jmolivas was working on something like that back in Badcamp.

The [CONTRIBUTING.md](https://github.com/hechoendrupal/DrupalConsole/blob/master/CONTRIBUTING.md) it was mainly created for the issue queue not for contributing to the project.

I think the [CONTRIBUTING.md](https://github.com/hechoendrupal/DrupalConsole/blob/master/CONTRIBUTING.md)  should h

[2015-12-01 21:55] jmolivas commented on #1398
@LightGuard We have some instructions about contribution, Project requirements, Getting the project, Running the project, Keeping your fork up to date, etc at the documentation pages:
https://hechoendrupal.gitbooks.io/drupal-console/content/en/contributing/new-features.html

I am still working on add pages for adding custom commands on contributed modules and commands to DrupalConsole, but I found

[2015-12-01 21:55] jmolivas commented on #1398
@LightGuard This is the link you may be looking for https://hechoendrupal.gitbooks.io/drupal-console/content/en/contributing/getting-the-project.html

[2015-12-01 22:00] LightGuard commented on #1398
That's great, this link should be in the README somewhere. Those coming to the project which would like to help have to dig for that info the first time.

[2015-12-01 22:02] darol100 commented on #1398
@LightGuard  I agree with you. This link should be part of README.

[2015-12-02 00:34] cburschka opened #1399 "[database:log:debug] could do with a --reverse"
There's a `--limit` and an `--offset`, but since those are applied in ascending order, the only way to get the most recent events is to let it print everything, and pipe it into `tail`.

Having a `--reverse` option that adds an `orderBy('wid', 'DESC')` in there might save some time with large logs.

[2015-12-02 02:41] jmolivas commented on #1399
:+1: on this one.

[2015-12-02 02:51] cburschka opened #1401 "[config:edit] Respect the $EDITOR environment variable"
I'm getting vim even though $EDITOR is set to nano. Even removing the line from the config file doesn't help, because it's hard-coded via `$config->get('application.editor', 'vi');`. That's probably kinda silly because it means the part of the code that's supposed to use the environment variable is unreachable.

[code]

[2015-12-02 09:29] darol100 commented on #1382
@saitanay , What version of DrupalConsole are you running ? I can't replicate this bug in my computer.

<img width="845" alt="screen shot 2015-12-02 at 1 27 19 am" src="https://cloud.githubusercontent.com/assets/6808460/11527147/0d763e84-9894-11e5-8c71-8766838cdd44.png">

[2015-12-02 11:40] jhmnieuwenhuis opened #1402 "error after upgrading from 0.9.6 to 0.9.8 Class 'Drupal\Component\Assertion\Handle' not found"
The error below occurs after the upgrade from 0.9.6 to 0.9.8
The settings.local.php is the default one copied from the sites directory in drupal 8.0.0

$ drupal

PHP Fatal error:  Class 'Drupal\Component\Assertion\Handle' not found in /var/www/html/jhmtest/web/sites/default/settings.local.php on line 31
PHP Stack trace:
PHP   1. {main}() /usr/local/bin/drupal:0
PHP   2. require() /usr/local/bin/dr

[2015-12-02 12:24] saitanay commented on #1382
Looks like. To stop the flow, i should just give a blank value for "type" and "input label". Couldn't figure that out earlier and it wasn't obvious.

Thanks for your time. Closing the issue.

[2015-12-02 12:24] #1382 closed

[2015-12-02 16:35] jmolivas commented on #1402
@jhmnieuwenhuis: Thanks for reporting.

This seems to be a duplicate issue with #1345.

[2015-12-02 18:39] jhmnieuwenhuis commented on #1402
Ok, Thanks.

Is it possible to install a previous version like 0.9.6 ??

[2015-12-02 18:39] #1402 closed

[2015-12-02 18:43] jmolivas commented on #1402
@jhmnieuwenhuis: Yes you can download the `console.phar` file from:
* Releases page:
https://github.com/hechoendrupal/DrupalConsole/releases
* Previous release v0.9.7:
https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.7
* Path to `console.phar`on latest release:
https://github.com/hechoendrupal/DrupalConsole/releases/download/0.9.7/console.phar

[2015-12-02 18:48] jhmnieuwenhuis commented on #1402
Excellent !!

Compliments for your support and for your software !!

[2015-12-02 20:58] enzolutions commented on #1401
Hi @cburschka

Drupa Console editor configures in your file ~/.console/config.yml if you don't have this file just run

[code]

[2015-12-02 21:46] FatherShawn commented on #1309
We should add to the `services.yml` file in `site:mode dev`
[code]

[2015-12-02 23:35] fubarhouse opened #1408 "Built-in version control system"
I've become really fond on version control systems such to the effect of NVM, RVM, PyEnv so much that I've created my own Drush Version Manager (https://github.com/fubarhouse/dvm).

I was wondering publically if this idea would be worthwhile for Drupal Console and it came up positively.

The idea is to be able to change Drupal Console to any particular version for whatever reason be it commands, c

[2015-12-03 16:21] darol100 commented on #1408
:+1:  for this feature.

[2015-12-03 16:23] jmolivas commented on #1373
we can decouple the commands and share code or call commands using `chain` feature

[2015-12-03 16:30] cburschka commented on #1095
This might be beyond the scope of this issue, but could aliases maybe support arguments as well? It'd be nice to be able to specify those as part of a shortcut.

[2015-12-03 17:43] jmolivas commented on #1095
@cburschka: can mean like:
[code]
We should probably needs to make some adjustments to the yaml definition or maybe use the chain feature to create those.

https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-download-install-and-serve-drupal8.html

[2015-12-04 02:38] heddn commented on #1408
https://www.drupal.org/node/2573341 is another reason we should think of this sooner, rather than later. If the entity api is improved in a minor revision of d8, then the current solution in the console becomes obsolete. And we need to handle that.

[2015-12-04 03:31] fubarhouse commented on #1398
Another way could be to simply change the version of Drupal Console after installing as per the default way. It would tie in well after #1408 has been completed, it would also be cleaner and friendlier to most.

[2015-12-04 08:43] pfrenssen commented on #653
I've grown quite fond of "console" by now ☺

[2015-12-04 20:54] #575 closed

[2015-12-05 00:08] darol100 opened #1416 "[generate:help] Hook_help - Stand Alone"
### Problem/Motivation
`hook_help` can only be use in DrupalConsole if the user needs to generate a new module, using the generate:module. However, we need to be able generate `hook_help` on an existing module without need of generate a module. In addition we should provide more options on writing a descriptive hook_help.

### Solution
- We need to be able to write hook_help on a exiting module.
-

[2015-12-05 00:28] darol100 opened #1417 "[generate:composer] Composer.json Stand Alone"
### Problem / Motivation

`composer.json` can only be generate in DrupalConsole if the user needs to generate a new module, using the generate:module. However, we need to be able generate `composer.json` on an existing module without need of generate a module. In addition we should provide more options on writing the `composer.json`. Right now, the generation of `composer.json` assume many things

[2015-12-05 05:07] #1345 closed

[2015-12-05 06:59] darol100 opened #1422 "Remove the empty hook_theme from generate:module command"
### Problem / Motivation
There is no need to have an empty hook_theme without any functionality when the user generate a module using the command `generate:module`.

[code]

### Solution
Lets remove this unnecessary code.

[2015-12-05 07:04] darol100 commented on #1149
@jmolivas , I think you mean this https://hechoendrupal.gitbooks.io/drupal-console/content/en/about/what-is-the-drupal-console.html

I like this description. I do not know what I was reading that day.

[2015-12-05 07:05] darol100 commented on #1149
@jmolivas nevermind... seem like you already did. LOL. I will close this issue.

[2015-12-05 07:05] #1149 closed

[2015-12-05 07:10] darol100 commented on #1079
:+1:  for this been implemented. @tsvenson any new updates on with this feature ?

[2015-12-05 07:25] itsdarrylnorris opened #1423 "hook_theme command"
### Problem / Motivation
#1422 I propose to remove hook_theme from `generate:module` because is an empty function. By removing this from the `generate:module` we need to add the ability of the user to generate hook_theme.
### Solution
- We need to be able to generate hook_theme on a stand a lone command.
- If there is an exiting hook_theme, this command should hook_theme instead of generating anot

[2015-12-05 07:33] jmolivas commented on #1079
@darol100 I will take info from this issue and create a doc page to make people aware of this feature.

[2015-12-05 20:38] jmolivas opened #1427 "[Insight] Deprecated class usage found"
**[in src/Shell.php, line 7](https://github.com/hechoendrupal/DrupalConsole/blob/20ea73192153fb198ae6d1d8c3ad9957aa3e16af/src/Shell.php#L7)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/d0f089ff-a6e9-4ba4-b353-cb68173c7d90/analyses/85)_

[2015-12-05 23:58] darol100 opened #1430 "Add the ability of using false on base theme."
### Problem / Motivation

`generate:theme` force the user to add a base theme (which is recommend), however, it does not allow to set `false` as base theme. If the user skip, this step the base theme will be empty and this will use the Stable base theme (See more about this at - [Add a Stable base theme to core and make it the default if a base theme is not specified](https://www.drupal.org/node/2

[2015-12-06 00:03] darol100 opened #1431 "[generate:theme] Base theme examples should be classy and stable."
### Problem / Motivation
When the user is generating a theme and is been ask `Base theme (i.e. classy, seven):` I think, we should replace `seven` with `stable`. **Why ?** because those are the two default base themes. Seven is was not build for a base theme.

### Solution
Replace the word `seven` with `stable`.

[2015-12-06 01:53] darol100 opened #1432 "[generate:libraries] Command to auto-generate libraries for theme and modules"
### Problem / Motivation
In order to use css/js into Drupal is via the libraries (*libraries.yml). We need to be able to support generating libraries to our themes and modules.

### Solution
- We need to be able to generate a new library with versions and multiples external files  and internal files.
- We need to generate some of the css/js even thought they are empty.
- CSS new files generation s

[2015-12-06 01:57] darol100 opened #1433 "[generate:theme] Generate a library while generating a theme"
### Problem / Motivation

99.99% of the time if you are working on themes you will need to add the css/js to your project. That been said, I think once #1432 is been solve we should bundle that command with generate:theme.
### Solution

We need to be able to generate libraries when we are generating a theme.

[2015-12-06 03:37] #1427 closed

[2015-12-06 08:17] tsvenson commented on #1079
I'm so sorry guys, had completely forgot about this as I am currently consumed by other things.

In short, the [ PhpStormSupportBundle](https://github.com/hechoendrupal/DrupalConsole/issues/1079#issuecomment-150727237) is the best source I have found, it does for Symfony what we want for Drupal. As I see it, the only better option would be to develop a proper PhpStorm plugin to host at Jetbrains a

[2015-12-06 15:22] bryanhirsch opened #1436 "[docs] Chain command and quickstart in gitbook not available."
I'm not sure if this is a bug or just outdated documentation.

I wanted to try out the quick start option documented here:
https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-download-install-and-serve-drupal8.html

I also wanted to tinker with the chain command documented here:
https://hechoendrupal.gitbooks.io/drupal-console/content/en/commands/chain.html

But it looks like

[2015-12-06 15:27] bryanhirsch commented on #1436
I just downloaded and installed a site manually with `drupal site:new` and `drupal site:install mysite`. Now `chain` is available. Maybe `chain` depends on the site being installed?

[2015-12-06 19:08] jmolivas commented on #1436
@brantwynn The docs are a little ahead of the release, we will tag a new release 0.9.9 on December 7th and will include that feature.

[2015-12-07 05:56] #1399 closed

[2015-12-07 05:56] #1303 closed

[2015-12-07 08:52] pfrenssen commented on #295
This has been fixed in PR #1406. This can be closed.

[2015-12-07 13:43] bryanhirsch commented on #1436
Nice. Thanks @jmolivas and @brantwynn!

[2015-12-07 15:04] sargath opened #1441 "[self-update] Problem with command, after update."
After todays update I'm getting

[code]

[2015-12-07 15:36] jmolivas commented on #1441
@sargath: Thanks for reporting.

[2015-12-07 16:23] jmolivas commented on #1436
@bryanhirsch: May you try testing the new installer `curl http://drupalconsole.com/installer -L -o drupal.phar` and confirm the `drupal chain --file=~/.console/chain/quick-start.yml` command works as shown in the docs.

[2015-12-07 16:30] bryanhirsch commented on #1436
@jmolivas Confirmed! Below you can see I reinstalled, confirmed `chain` is available immediately, the quick-start file is there, and the chain quickstart command works well. It started serving my site and it was surprisingly snappy. Great work!

[code]

[2015-12-07 16:40] jmolivas commented on #1436
I am glad it works.

[2015-12-07 16:40] #1436 closed

[2015-12-07 17:16] geerlingguy commented on #1441
See also: https://github.com/geerlingguy/drupal-vm/issues/334

Many people are reporting issues with Drupal Console preventing Drupal VM configuration today.

[2015-12-07 18:34] damienmckenna opened #1442 ""self-update" threw an fatal first time, now ends with "Catchable fatal error" every time"
The first time I ran "drupal self-update" today (about two minutes ago, right after the tweet announcement of v0.9.9, the following error:

[code]

Now when I run the command again it leaves the following:

[code]

[2015-12-07 18:39] jmolivas commented on #1442
Seems like we need to get back to the ugly exit hack.

[2015-12-07 20:10] ultimike opened #1443 "SSL issue when attempting self-update with 0.9.9"
Here's the error I get when I try to self-update:

    ~/Sites/drupal8 [8.0.x*]$ drupal --version
    Drupal Console version 0.9.9
    ~/Sites/drupal8 [8.0.x*]$ drupal self-update

      [Humbug\SelfUpdate\Exception\HttpRequestException]
      file_get_contents(): SSL operation failed with code 1. OpenSSL Error messages:
      error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate ver

[2015-12-08 07:10] sargath commented on #1441
@jmolivas n/p, @geerlingguy nope, im running on Archlinux as a main sys, without any automatization/vagrant/ansible etc

[2015-12-08 09:24] pfrenssen opened #1446 "Multiple generators are broken in 0.9.9"
It is no longer possible to use `generate:form`. It seems to be broken on many fronts in 0.9.9. When I roll back to 0.9.8 it works fine. Some of the symptoms I'm seeing:

* The questions are separated with two newlines, of which the first starts with a '>' symbol.
* Suggestions are no longer shown for the *Type*.
* Error messages are shown when trying to skip optional items like *Weight*.
* It's n

[2015-12-08 09:30] pfrenssen commented on #1446
It is caused by https://github.com/hechoendrupal/DrupalConsole/commit/b7597874bbc66c8db0c6460ae357b71536c87ffc

[2015-12-08 09:35] pfrenssen commented on #1446
It was this issue: https://github.com/hechoendrupal/DrupalConsole/issues/575 - a whole bunch of files were changed in one single commit, so it's not possible to selectively revert part of it to unbreak this. We might need to revert the whole thing, or fix the problems one by one.

I just noticed that generate:plugin:block is also broken. It throws an error when you skip the optional *Header* quest

[2015-12-08 11:18] weaverryan commented on #1345
Thanks @jmolivas :)

[2015-12-08 17:36] jmolivas commented on #1446
Looking at this.

[2015-12-08 17:37] jmolivas commented on #1446
I am currently testing the generators, and will be fixing issues.

[2015-12-08 20:22] pfrenssen commented on #1446
Cool, thanks!

[2015-12-08 22:06] geerlingguy commented on #1441
@sargath - I'm not saying it's related to automation, just that I'm getting the same error :)

[2015-12-08 22:07] geerlingguy commented on #1442
I'm hitting this as well, now.

[2015-12-08 22:42] geerlingguy commented on #1442
See, in particular: https://travis-ci.org/geerlingguy/ansible-role-drupal-console/jobs/95685471#L670

[2015-12-09 03:34] osopolar opened #1447 "[site:install] Database Prefix should be optional"
If I run `console site:install` and leave `Database Prefix` blank I get the error `A value is required`. It should be possible to install Drupal without database prefix, shouldn't it?

[2015-12-09 23:43] edutrul opened #1449 "ERROR when executing drupal database:dump | drupal 8.0.1 | console: 0.9.9"
# Problem/Motivation

Can not execute: drupal database:dump

# Details to include & How to reproduce

when executing $ drupal database:dump
PHP Fatal error:  Call to undefined method Drupal\Console\Helper\SiteHelper::getSitePath() in phar:///usr/local/bin/drupal/src/Command/Database/DumpCommand.php on line 58

Drupal version: 8.0.1
Console version 0.9.9

[2015-12-10 05:57] joshuataylor opened #1450 "[console] Can't install via composer (drupal/console 0.1.0 requires symfony/console ~2.4 -> satisfiable)"
Full debug log:
[code]

[2015-12-10 12:34] bojanz commented on #1447
Indeed.

[2015-12-10 12:35] bojanz commented on #1446
Happens in site:install as well.

[2015-12-10 15:40] proxiss commented on #1446
generate:entity:content is buggy now, Form files are created as src/FormXXXEntityForm.php insted of src/Entity/Form/XXXEntityForm.php.
Reference from annotation is therefore broken.

Thanks anyway!
Rainer Feike for proxiss

[2015-12-11 18:09] jmolivas commented on #1450
Did work on my local
[code]

[2015-12-11 20:57] kevinquillen commented on #1446
I just installed drupal console fresh, and none of the generators are even in the list of commands for me.

So I tried:

[code]

and got:

[code]

[2015-12-11 21:56] jmolivas commented on #1446
@kevinquillen: did you ran `drupal generate:module` from the root of your D8 site ?

You can find more information related to this topic at the doc pages => https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/project.html

[2015-12-11 21:59] kevinquillen commented on #1446
Yes sir

On Friday, December 11, 2015, Jesus Manuel Olivas <notifications@github.com>
wrote:

[2015-12-11 22:00] jmolivas commented on #1446
@kevinquillen Is your site installed ?

[2015-12-11 22:31] kevinquillen commented on #1446
Yep

On Friday, December 11, 2015, Jesus Manuel Olivas <notifications@github.com>
wrote:

[2015-12-11 22:36] jmolivas commented on #1446
I am currently fixing the broken generators and the rest of the reported issues, expect a new release by Monday 14th.

[2015-12-11 23:38] #1441 closed

[2015-12-11 23:39] jmolivas commented on #1441
Fixed with #1453

[2015-12-11 23:39] jmolivas commented on #1442
Fixed with #1453

[2015-12-11 23:39] #1442 closed

[2015-12-11 23:39] jmolivas commented on #1442
Fix will be included on the v0.9.10 release.

[2015-12-11 23:40] jmolivas commented on #1441
Fix will be included on the v0.9.10 release.

[2015-12-12 00:11] #1449 closed

[2015-12-12 14:59] nahuelthc opened #1457 "[site:install] mysql password is mandatory"
When you run a $drupal site:install, MySQL password is mandatory, then if you have a localhost with no password, the install process get stuck in this step.

![console](https://cloud.githubusercontent.com/assets/9991536/11762502/977827ec-a0c7-11e5-8268-b23a5af97ce1.png)

[2015-12-12 15:10] ericmaster opened #1458 "[site:install] Recoverable fatal error."
After attempting install the Standard profile through command line I'm getting the following error

`Recoverable fatal error: Argument 1 passed to Drupal\Core\Database\Driver\mysql\Install\Tasks::getFormOptions() must be of the type array, null given, called in .../core/lib/Drupal/Core/Installer/Form/SiteSettingsForm.php on line 112 and defined in .../core/lib/Drupal/Core/Database/Driver/mysql/Ins

[2015-12-12 15:52] nahuelthc commented on #1457
![prefix2](https://cloud.githubusercontent.com/assets/9991536/11762715/edc0616c-a0ce-11e5-98ce-3bb9630203df.png)
it also happens with db prefixed. Env info:
Aquia dev desktop 2 stack rev: 58529
php 5.5.27
MySQL Server version: 5.5.42-37.1-log - Source distribution

[2015-12-12 16:45] luissanuy commented on #1457
This happens in all lines with empty values.
![image](https://cloud.githubusercontent.com/assets/16269180/11762951/a5b83b80-a0d6-11e5-8250-78050f683b3a.png)

[2015-12-12 16:46] darol100 commented on #1450
@joshuataylor  I cant reproduce this issue either. I got the same results as @jmolivas.

[code]

@joshuataylor , maybe you should provide us more information about your environment for further testing like your OS, php version ? @jmolivas , Any thoughts on any future information for trying to reproduce this issue ?

[2015-12-12 17:04] darol100 commented on #1457
@jmolivas , looking at the source code [InstallCommand.php](https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Command/Site/InstallCommand.php)

All these things are optional in the code:

<img width="500" alt="screen shot 2015-12-12 at 9 02 49 am" src="https://cloud.githubusercontent.com/assets/6808460/11763024/371964c8-a0af-11e5-99a3-ec759da363df.png">

Do you think this is affecting

[2015-12-12 17:39] jmolivas commented on #1450
@joshuataylor maybe another global library as robo or platform-cli is fixing an specific version of one the dependencies and conflicting with one of the DC dependencies.

[2015-12-12 17:42] jmolivas commented on #1457
@darol100 Seems like this issue is related to the interaction when asking for the value, bacause the definition of `db-pass` is set as `VALUE_OPTIONAL`.

[2015-12-12 17:42] jmolivas commented on #1457
@nahuelthc I am taking a look at this.

[2015-12-12 21:20] jmolivas commented on #1457
@luissanuy: The command you ran was the `generate:form` ?

[2015-12-12 21:21] luissanuy commented on #1457
Yep. True
El dic. 12, 2015 6:20 PM, "Jesus Manuel Olivas" <notifications@github.com>
escribió:

[2015-12-12 21:23] jmolivas commented on #1457
@luissanuy: I will fix that command adding another issue and PR.

[2015-12-12 21:24] jmolivas commented on #1457
@nahuelthc: Same for the Database Prefix, that will be fixed on this issue https://github.com/hechoendrupal/DrupalConsole/issues/1447

[2015-12-12 21:27] #1457 closed

[2015-12-12 21:54] #1447 closed

[2015-12-12 21:59] omero opened #1463 "[router:rebuild] Doesn't using the new Drupal Styles for console"
### [router:rebuild] Doesn't using the new Drupal Styles for console

### Problem/Motivation
The `rotuter:rebuild` don't appears with the new output that use `SymfonyStyles`

### Solution
Include `DrupalStyle` class and change the output

[2015-12-12 22:13] #1463 closed

[2015-12-12 23:50] jmolivas commented on #1458
I can not replicate this.

[2015-12-12 23:53] jmolivas commented on #1458
DO you mind to share which, Drupal, Drupal Console and OS versions are you using?

[2015-12-13 17:51] martinfrances107 opened #1465 "[generate:entity:content] \Drupal:l() is deprecated."
\Drupal:l() is deprecated.
In code I scaffold I would like to avoid this global function call.
The generator command is good .... so I want to fix the issue at source.

I will post a patch soon.

[2015-12-14 04:32] darol100 commented on #1095
I will take care of this.

[2015-12-14 04:53] darol100 commented on #1095
@jmolivas I started working with this and for some reason sometimes the console is trying to get check for the command before it checks the aliases. For instance if I set this as an alias.

      config:
        override:
          - co

This is what happens...

![screen shot 2015-12-13 at 8 50 47 pm](https://cloud.githubusercontent.com/assets/6808460/11773212/61b42740-a1db-11e5-9ee6-6700328a6103.

[2015-12-14 08:48] darol100 commented on #1465
See more about the deprecation at -https://api.drupal.org/api/drupal/core%21lib%21Drupal.php/function/Drupal%3A%3Al/8

[2015-12-14 09:52] martinfrances107 commented on #1465
I have made the changes in the commit above ... Sorry I don't use github frequently .....would it be better  to  produce a pull request?

[2015-12-14 16:31] darol100 commented on #1465
I create the PR for you - https://github.com/hechoendrupal/DrupalConsole/pull/1471. In addition, I search for `\Drupal::l` in the DrupalConsole project and here is the only part where we are using it.

[2015-12-14 18:33] martinfrances107 commented on #1465
@darol100 thank you.

[2015-12-14 21:38] jmolivas commented on #1446
@bojanz:

Fixed with #1472

[2015-12-14 21:54] jmolivas commented on #1446
@pfrenssen:

This is because we are using [the new Symfony Console Style Guide](http://symfony.com/blog/new-in-symfony-2-8-console-style-guide).

You need to use the arrow keys (up/down), we defaulted to empty in order to be able to accept an empty value (since empty no longer not valid).
Improved with: #1473

Fixed with: #1473

Fixed with: #1473

Fixed with:   #1474

[2015-12-14 21:57] pfrenssen commented on #1446
Great, thanks a lot!! I have just tested, and all the issues are fixed.

I'm totally fine with the two newlines and the '>' symbol, I just mentioned this because I thought it was a symptom of the bug.

Thanks again, you saved my D8 training I have to present next Friday!

[2015-12-14 21:57] #1446 closed

[2015-12-14 21:59] jmolivas commented on #1446
@pfrenssen: I will be tagging a new release by today the later tomorrow. Fee free to ping mw with any other issues you found.

[2015-12-14 22:21] jmolivas commented on #1446
@proxiss:

Reference from annotation is therefore broken.

Fixed with #1475

[2015-12-14 23:33] simesy commented on #1450
FWIW, I have just installed successfully with composer - 0.9.9, then updated to dev-master.

[2015-12-14 23:39] simesy opened #1478 "help text misdirects re name of executable"
1. Install with composer
2. Type: console
3. Get examples like "drupal list"
4. Type: drupal list
5. Get "drupal: command not found"

If you want to suggest the desired fix for this I'll do a PR.

[2015-12-14 23:52] simesy opened #1479 "[router:debug] should take a pattern as an argument"
The process of debugging a route can start with a URL...

`console router:debug --pattern=/admin/structure/migrate`

[2015-12-14 23:53] #1450 closed

[2015-12-14 23:53] joshuataylor commented on #1450
If it works for others, probably something funky was happening.

[2015-12-15 00:13] simesy opened #1481 "[router:debug] Should provide routename enhancer info"
Normally router:debug (eg `console router:debug views.ajax`) will show information about the controller. But the controller for many routes is defined in an enhancer.

Something like `console router:debug  entity.migration_group.list` should be able inspect the `route_enhancer.entity` and it's enhance method and list its defaults.

Hope this makes sense.

[2015-12-15 02:38] jmolivas commented on #1481
@simesy:  Do you have a link on the docs or a place in core where we can take a look how this is done.

[2015-12-15 02:41] simesy commented on #1481
No, I've only traced it visually through the code so far. I'll certainly provide that info as i come across it.

[2015-12-15 02:44] jmolivas commented on #1479
Like this idea :+1:

[2015-12-15 02:49] jmolivas commented on #1478
@simesy: Where is this happening ?

[2015-12-15 02:53] simesy commented on #1479
I may or may not be able to do a PR for this. I'm still getting my bearings with D8/Symfony.

[2015-12-15 02:55] jmolivas commented on #1479
I am more than glad to help you on creating the PR if you like.

[2015-12-15 02:56] simesy commented on #1478
Everything is working correctly - it's just that composer results in an executable called `console` -- `console list` works, it's just that the help text suggests to use `drupal list` which I guess is the correct command if you install console the using the website instructions.

[2015-12-15 02:59] simesy commented on #1478
The help text is hardcoded in src/Command/AboutCommand.php

[2015-12-15 03:03] jmolivas commented on #1478
We have been discussing to rename the executable to avoid this issues and use one name `drupal` in this case.

[2015-12-15 03:04] simesy commented on #1478
That feels like a good solution.

[2015-12-15 03:06] jmolivas commented on #1478
We update phar file from `console.phar` to `drupal.phar` and update the installer instruction on the latest v0.9.9 release, we may update the `bin/console` to `bin/drupal` for the v0.9.10 release.

[2015-12-15 10:37] yeomi opened #1489 "[generate:content:entity] error creating form files and form files folder"
Version 0.9.9

Hello,
When using generate:content:entity the files architecture I am getting for an entity called "MyEntity" is like :
[code]
when I think it should be :
[code]
Namespaces and class usage reflect the situation above so for the moment without doing manually changes entity form handlers are not detected.

Thanks.

[2015-12-15 10:41] proxiss commented on #1489
Should be fixed now:

https://github.com/hechoendrupal/DrupalConsole/issues/1446#event-491536542

[2015-12-15 10:53] yeomi commented on #1489
Thanks !

[2015-12-15 10:53] #1489 closed

[2015-12-15 16:06] jmolivas commented on #1443
@ultimike: This is fixed with #1488.

[2015-12-15 17:08] #1095 closed

[2015-12-15 18:31] jmolivas commented on #1465
PR #1471 merged

[2015-12-15 18:31] #1465 closed

[2015-12-15 19:19] #1391 closed

[2015-12-15 20:57] mgrimard opened #1493 "Generating Entity Content missing bundle question"
When I generate entity content, the 5th question is missing the actual question. Instead, it just shows what should be the path to the question.

[code]

Results of bundle question:
[code]

[2015-12-15 21:05] mgrimard opened #1494 "generate:entity:content form files named incorrectly"
When generating content entities using drupal console, the form files aren't put inside the form folder - instead the form controller label is prepended with the word label.

Example:
FormMyEntityDeleteForm.php in the src/ folder.

[2015-12-15 21:08] mgrimard commented on #1494
Ignore this: Fixed an hour ago in 0.9.10.

[2015-12-15 21:08] #1494 closed

[2015-12-15 21:11] jmolivas commented on #1493
Which Drupal Console question are you using ?, this must be fixed on the latest release v0.9.10

[2015-12-15 21:11] mgrimard commented on #1493
Yeah, I just realized 0.9.10 was released an hour ago. This is resolved.

[2015-12-15 21:12] #1493 closed

[2015-12-15 21:36] mgrimard opened #1495 "[generate:entity:content] Incorrect namespace and definition"
In 0.9.10 the entity created by generate:entity:content seems to have some of it's namespacing incorrect. In each of the entity forms, it declares it's namespace as ```namespace Drupal\my_module\Entity\Form;``` but it is located in Drupal\my_module\Form. Additionally, in the Entity class it also declares the forms as located in that same namespace.

[code]

[2015-12-15 21:56] NateAGeek opened #1496 "[generate:entity:content] Error in adding a Entity"
The issue seems to be after creating an entity type. Adding an entity creates this error, halting the entity creation.

Uncaught PHP Exception Drupal\Component\Plugin\Exception\InvalidPluginDefinitionException: "The "{entity_name}" entity type did not specify a "default" form class." at docroot/core/lib/Drupal/Core/Entity/EntityTypeManager.php line 182

[2015-12-16 04:26] jmolivas commented on #1086
@sgtsaughter: Deprecated messages got removed and fixed with on v0.9.9 release.

[2015-12-16 04:32] jmolivas commented on #1086
@bojanz: We are using http://symfony.com/blog/new-in-symfony-2-8-console-style-guide

#### You can take advantage of those helper methods by using:
[code]
![io-ask](https://cloud.githubusercontent.com/assets/366275/11832144/29e6832c-a36a-11e5-8704-daeb7a2d0e29.png)
![io-choice](https://cloud.githubusercontent.com/assets/366275/11832143/29e630ac-a36a-11e5-96a2-cbb46af75a76.png)
![io-confirm](https:

[2015-12-16 04:43] jmolivas commented on #171
The `generate:form` command was added few releases back, I am, considering this closed.

[2015-12-16 04:43] #171 closed

[2015-12-16 04:44] jmolivas commented on #295
@pfrenssen: Thanks.

[2015-12-16 04:44] #295 closed

[2015-12-16 04:49] jmolivas commented on #411
Seems like completed, feel free to add comments or re-open.

[2015-12-16 04:49] #411 closed

[2015-12-16 04:52] jmolivas commented on #471
Command `server` was added.

Usage:
[code]
This is how it looks:
![drupal-server](https://cloud.githubusercontent.com/assets/366275/11832508/b9e61110-a36d-11e5-9fc5-cea3a0e77c01.png)

More info at: https://hechoendrupal.gitbooks.io/drupal-console/content/en/commands/server.html

[2015-12-16 04:52] #471 closed

[2015-12-16 04:55] jmolivas commented on #477
I like to have this feature. I will try to spend some time investigating if doable.

As @enzolutions adding the values via a chain YAML is already supported.

[2015-12-16 04:59] jmolivas commented on #478
Are we still trying to add this @dmouse ? any advantage vs the current command discovery method ?

[2015-12-16 05:04] jmolivas commented on #613
@kostajh: We finally have the draft version of the website and we are currently using a PaaS. We have what we need to setup this and we will take of this task very soon.

[2015-12-16 05:09] jmolivas commented on #653
After some talks about this we are going to rename the executable as `drupal` instead of `console` to avoid posible naming collision with symfony/console component on core.

[2015-12-16 05:24] #653 closed

[2015-12-16 05:32] jmolivas commented on #673
Closing this since stand alone commands were introduced several releases back.

Must be added on the documentation repo => https://github.com/hechoendrupal/drupal-console-book

[2015-12-16 05:32] #673 closed

[2015-12-16 05:34] jmolivas commented on #677
Related PR https://github.com/hechoendrupal/DrupalConsole/pull/1395

This WIP PR contains a new `generate:content` command.

[2015-12-16 05:38] jmolivas commented on #679
Closing this since no reply by @omero, feel free to re-open if any pending work.

[2015-12-16 05:38] #679 closed

[2015-12-16 05:57] HaleFx commented on #1443
I'm getting a different but related error now...

[2015-12-16 06:05] jmolivas commented on #1443
@HaleFx: This was fixed on v0.9.10

Since `self-update` command is not working you will need to use the installer instead:

[code]

[2015-12-16 06:12] HaleFx commented on #1443
Thank you, @jmolivas !

[2015-12-16 06:17] jmolivas commented on #1443
Welcome, you may try run `self-update` after installing v0.9.10 to confirm error message is no longer appearing.

[2015-12-16 06:21] HaleFx commented on #1443
Yep, that fixed it.

[2015-12-16 07:47] jmolivas opened #1503 "[--generate-doc] Is showing keys not message labels."
#### Executing this:
[code]
#### Output this:

# cache:rebuild
commands.generate.doc.command.command_description

**commands.generate.doc.command.usage:**
[code]

## commands.generate.doc.command.arguments
commands.generate.doc.command.argument | commands.generate.doc.command.details
---------|-------------
cache | Only clear a specific cache.

[2015-12-16 09:01] jmolivas commented on #613
@kostajh: Fixed

You can now use `https`:
https://github.com/hechoendrupal/DrupalConsole#installing-drupal-console

Documentation updated as well.

[2015-12-16 09:20] jmolivas commented on #1478
This must be fixed with https://github.com/hechoendrupal/DrupalConsole/pull/1499 since executable was updated from `console` to `drupal`

[2015-12-16 09:21] jmolivas commented on #1478
This will be reflected when using composer the next release.

[2015-12-16 09:23] jmolivas commented on #1398
I added some basic instructions o the readme file
https://github.com/hechoendrupal/DrupalConsole#getting-the-project-to-contribute

This can  be improved by adding a link to the docs, any ideas ?

[2015-12-16 16:49] NateAGeek commented on #1496
Related To: #1495,
Missing proper namespace and file location.

[2015-12-16 20:09] ultimike commented on #1443
Hmmm - I just did a reinstall using:

    curl http://drupalconsole.com/installer -L -o drupal.phar

Then I tried running the self-update again:

    ~/Sites $ drupal self-update
     Checking for updates from version: 0.9.10

      [RuntimeException]
      Failed to download manifest: http://drupalconsole.com/manifest.json

    self-update [--major] [--manifest MANIFEST] [--current-version CURREN

[2015-12-16 20:43] jmolivas commented on #1443
@ultimike:  We just update the site to use SSL and we are forcing all of the traffic to use `https` this maybe causing an issue.

[2015-12-16 21:50] #1478 closed

[2015-12-17 09:28] darol100 commented on #1496
I'm closing this issue, since is a duplicated. We can solve it at #1495

[2015-12-17 09:28] #1496 closed

[2015-12-17 09:35] darol100 commented on #1133
Asking one more time about this issue. Since is been tag as "must-have".

@jmolivas

[2015-12-17 09:39] darol100 commented on #676
@jmolivas what we are trying to achieve in this issue ? You already using the `--learning` command already in some places.

Are you trying to start a discussion on what should output with `--learning ` ?

[2015-12-17 09:42] darol100 commented on #789
@pfrenssen , @jmolivas I will open few issues to target some `docblocks` to make sure we documented them right.

[2015-12-17 09:48] darol100 commented on #1086
Closing this issue since....

[2015-12-17 09:48] #1086 closed

[2015-12-17 09:54] darol100 commented on #1243
@frob , now with the new aliases you can run ...

`drupal md module_name`

I vote for closing this issue. Does not seem to make sense to support a functionality from another command on something that DrupalConsole already support.

BTW. I was able to replicate this issue on 0.9.9.

I'm closing this issue, @jmolivas feel free to reopen if you still want to fix this issue.

[2015-12-17 09:54] #1243 closed

[2015-12-17 09:55] darol100 commented on #1075
:+1:  For this feature been implemented.

[2015-12-17 10:00] darol100 commented on #693
I'm closing this issue since this does not longer applies.

[2015-12-17 10:00] #693 closed

[2015-12-17 10:09] darol100 commented on #894
I personally think that these info is overkill:

[code]

### Why ?

Because these are things that your rarely use (IMO). `  drupal site:new drupal8.dev 8.0.0` might be something that the developer use often but I think we should encourager the developer to use  ` drupal chain --file=~/.console/chain/quick-start.yml` instead.

[code]

To me this make me think that is going to update my drupal insta

[2015-12-17 15:41] krlucas opened #1515 "Allow plug-in generation for install profiles"
In D8 install profiles have all the power of modules so in Drupal Console they should be available as an option for generate:plugin:*.

[2015-12-17 16:15] jmolivas commented on #1443
@ultimike: we change the settings on the site, and skip forcing on redirect to `https` on URL `http://drupalconsole.com/manifest.json` may you confirm if this fix your issue with `self-update` command.

[2015-12-17 16:20] jmolivas commented on #894
We make some changes on latest release, the output is like this:
[code]

[2015-12-17 17:19] jmolivas commented on #894
I like to keep this, since is a good way to override DC behaviour
[code]

Related to this, I like to keep at least for now for people to know how to do it, we can remove once the project features are well known
[code]

[2015-12-17 18:50] ultimike commented on #1443
Yep, that fixed it - thanks!

-mike

[2015-12-17 19:08] jmolivas commented on #1443
Yay glad to read that.

[2015-12-17 21:13] darol100 commented on #1515
@krlucas , Can you provide an code example of how it should looks like ?

[2015-12-17 21:23] krlucas commented on #1515
@darol100,

Sure. Here's an install profile that provides a block plug-in.
http://cgit.drupalcode.org/sandbox-krlucas-2637020/tree/

The plug-in structure is exactly the same as it is for modules.

[2015-12-18 17:07] frob commented on #1243
drupal console is supposed to support passing drush commands. This functionality in drupal console is broken and should be fixed or removed.

[2015-12-18 17:32] jmolivas commented on #1243
I vote :+1:  on removing the `drush` command, we can bring it back after 1.0.0 stable release if we think it will bring any value to the project.

We added the most common commands to Drupal Console already,  module/theme download and install, site install, remote command execution, database, cache rebuild etc.

For a full list of Drupal Console commands:
https://hechoendrupal.gitbooks.io/drupal-c

[2015-12-18 17:40] frob commented on #1243
I would agree with the removal of the drush command. It might make more sense to have a drush sub command that will run drupal console commands.

Right now we might be able to run: ```drush @site.alias ssh 'drupal generate:something'```

So if we can use drush to create a terminal ssh session and run the drupal console commands. This would also be a separate drush module, so this wouldn't block 1.

[2015-12-18 17:40] enzolutions commented on #1243
IMHO the bridge we built to provide more option to end user, is not necessary anymore and is really expensive to maintain, so I vote for remove this option in next release.

[2015-12-18 17:43] omero commented on #1243
I don't think that most of users use `drupal drush` instead `drush` because they have surely installed `drush` in their systems, so :+1:

[2015-12-18 17:47] jmolivas commented on #1243
@frob: You don't need to use drush aliases for that, you can do remote command execution using DrupalConsole.

Example using a docker container: https://github.com/wadmiraal/docker-drupal#using-drupal-console

Drupal Console docs: https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-use-drupal-console-in-a-remote-installation.html

[2015-12-18 17:53] darol100 commented on #1243
:+1:  for removing drush from DrupalConsole. However, we probably will need to take a look on what most popular Drush commands we have not support in Drupal Console and try to add those functionalities.

[2015-12-18 17:55] jmolivas commented on #1243
@darol100 We should add an issue and list those commands to have them identified and marked as we complete them:

- [ ] Command 1
- [ ] Command 2

[2015-12-18 18:07] darol100 opened #1519 "[drupal:list] Injecting the Drupal Aliases the list command"
### Problem / Motivation

The easier way to teach users how to use the aliases is going to be to providing them when they are looking for the commands. In Drupal Console we use the `drupal list` command to search all command where I think we should added the alias so the user can get uses to use them.

For instance `drupal cache:build (cr)`.
### Solution
- We need to add the ability of injecting t

[2015-12-18 18:46] darol100 opened #1520 "Lets kill the bridge between Drupal Console and Drush"
### Problem / Motivation

There seem to be some bugs when using Drush inside of DrupalConsole. For instance #1243 , which does not make sense to take care of this issue while Drupal Console support some of this functionality.

From @enzolutions

### Solution
Remove the `drush` command from Drupal Console

[2015-12-18 19:08] willwh opened #1521 "Add Fun Facts section to documentation"
It would be really nice if we could have a section in that documentation to allow for adding contributing user info.

Example:

[code]
We can merge whit this as well
[code]

[code]

It would be great to this kind of info in the documentation somewhere!

[2015-12-18 19:08] darol100 opened #1522 "Supporting Drush Command in DrupalConsole"
### Problem / Motivation
There is it seem to be some incompatibility of command `drush` and DrupalConsole. For this reason, we are going to remove `drush` command from Drupal Console see more at #1520.

However, Drush still an amazing command tool that we should take advantage in of some their functionality with in side of Drupal Console but without a bridge. Instead we should build the functional

[2015-12-18 19:22] darol100 commented on #1243
I did few things base on this issue conversation...
- I open an issue to kill `drush` from Drupal Console at #1520
- Also, I open an meta issue to support `drush` functionality with in side of Drupal Console #1522

BTW, my intent of this issue was to close it, not to kill drush from Drupal Console. When I read all the conversation I felt like ... =)

![anchorman](https://cloud.githubusercontent.co

[2015-12-18 19:24] darol100 commented on #1521
@willwh , Feel free to write a markdown page. I guess we can added some place at in the [Gitbook](https://hechoendrupal.gitbooks.io/drupal-console/). IMO, I think you probably need to have more "fun facts" that just only two. Otherwise does not makes sense to have an entire page for this.

[2015-12-18 19:26] frob commented on #1241
I just didn't want to have to ssh into the console.  Here is a link to the docs: https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-use-drupal-console-in-a-remote-installation.html

[2015-12-18 19:26] #1241 closed

[2015-12-18 19:28] frob commented on #1243
@jmolivas awesome, thanks. I remember asking that question #1241 and found an answer there as well.

I added a link to the docs and closed that issue.

[2015-12-18 19:36] jmolivas commented on #1241
I will add a `drupalvm.yml` file to DrupalVM to add this feature.

[2015-12-18 21:03] darol100 opened #1524 "[archive:restore] Restore an archive command"
### Problem / Motivation

Once this  #766 pull request is been solve. We need to add the ability of restoring that archive-dump into a server.
## Solution
- We need to add the ability of restoring this back into a server.
- This command should also work with the archive command from Drush.

[2015-12-18 21:10] #1443 closed

[2015-12-18 21:16] darol100 commented on #1359
@enzolutions this is the same functionality as drush as with this command  `core-cli (php)` "Open an interactive shell on a Drupal site."

[2015-12-18 22:02] darol100 opened #1525 "[twig:compile] Compile all twig template files"
### Problem / Motivation
Some sites want to compile Twig (and container) on staging and deploy to production with production being readonly PHP wise. We need a twig compiler for them.

This is the same functionality as `drush twig-compile` in Drush.

There is some plan on adding this functionality into core, however, this is been postpone. https://www.drupal.org/node/2308215

### Solution
We need

[2015-12-19 10:49] egulias commented on #1386
Hi There.
I've been looking for ways on doing this within Drupal 8 DIC and I've failed to find a way to do it. Drupal's DIC implementation does not makes easy nor accessible to find the "dump" of the container necessary for the inspection. More over I've heard rumours of Drupal working on a DIC that will not generate any files.
If at any given point you find a way to have the DIC dump for inspecti

[2015-12-19 20:32] jmolivas commented on #1520
Fixed with #1529

[2015-12-19 20:32] #1520 closed

[2015-12-20 10:55] gido commented on #1386
Hi @egulias,

Thanks for your feedback!
I looked at your PR and the lib and stuck at the same place than you.

About the rumours, I heard the same and find https://www.drupal.org/node/2497243

[2015-12-20 11:05] simesy commented on #1479
This is what i have so far.

Looking in [DebugCommand.php](https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Command/Router/DebugCommand.php) the `[router:debug]` command leans on `getRouteByNames()`, and this calls on `getRoutesByNames()` in core's [RouteProvider.php](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Routing%21RouteProvider.php/8).

RouteProvider.php als

[2015-12-20 11:28] egulias commented on #1386
So maybe the definitions are now accessible from the DB using `API changes

* Introduces DrupalKernel::getCachedContainerDefinition() as new public method.`?

[2015-12-20 11:59] dhenriet opened #1537 "Remove console installation after a composer global installation"
Hi,
after a global installation of the drupal console with composer on windows 7 ,
I can't remove it when using :

```composer global remove drupal/console:@stable```

nothing has been removed, this is the message

[code]

[2015-12-20 20:46] jmolivas commented on #1386
@egulias @gido We can access the `getCachedContainerDefinition` from a `ContainerAwareCommand` Command class by using:
[code]

[2015-12-20 20:55] egulias commented on #1386
Amazing!!
I've not looked at the code yet. But, can I mock that to test it without
whole Drupal?
El 20/12/2015 9:46 p. m., "Jesus Manuel Olivas" <notifications@github.com>
escribió:

[2015-12-20 23:46] jmolivas opened #1542 "Implement DrupalStyle Class"
### Problem/Motivation
Standardize the output of commands.

The Symfony project released the Console Style Guide
http://symfony.com/blog/new-in-symfony-2-8-console-style-guide

Drupal Console extends this class as `DrupalStyle`.

### Solution
#### Add use keyword to Command Class
[code]

#### Create new `DrupalStyle` instance.
Instantiating the `DrupalStyle` class as `$io`, passing the `$input` an

[2015-12-20 23:58] jmolivas commented on #1542
I will take care of `State` namespace.

[2015-12-21 01:13] mnico commented on #1542
I will take care of ```Theme ``` namespace.
I have a doubt, this line:
[code]
It must be replaced by
[code]
this?

[2015-12-21 01:16] omero commented on #1542
just `$io->info('text');` @mnico

[2015-12-21 03:34] jmolivas commented on #1542
@mnico: We are removing the `-` `+` character.

[2015-12-21 03:37] jmolivas commented on #1542
@mnico & @omero if you do not want to skip to a new line like using `write` instead of `writeln` you can use:
[code]

[2015-12-21 04:34] jmolivas commented on #1542
State namespace fixed with PR #1543

[2015-12-21 07:52] xendk opened #1544 "[console] --db-prefix not optional"
Experimented with migrate but couldn't set up the migration as console insisted on an non-empty db-prefix.

![selection_129](https://cloud.githubusercontent.com/assets/229422/11925840/af676f1c-a7bf-11e5-845b-01531b11d45a.png)

Seems like the problem might stem from https://github.com/hechoendrupal/DrupalConsole/commit/b7597874bbc66c8db0c6460ae357b71536c87ffc which begs the question how many other

[2015-12-21 16:15] Cottser opened #1545 ".console namespace in home folder"
Just wondering if `.drupalconsole` or similar was considered, `.console` seems like it might conflict with other tools.

[2015-12-21 16:43] Cottser commented on #1545
Closing because I guess this could be considered a support request? Will try Gitter for now.

[2015-12-21 16:44] #1545 closed

[2015-12-21 17:15] jmolivas commented on #1544
@xendk: Which Drupal Console version are you currently using ?.

We already fixed this, may you try latest version v0.9.10

[2015-12-21 18:32] xendk commented on #1544
[code]

Installed just yesterday. The project is based on https://github.com/drupal-composer/drupal-project which installs 0.9.9, but I assume that it doesn't try to use that when I run the phar.

[2015-12-21 18:55] mnico commented on #1495
This was solved with this PR #1532

[2015-12-21 19:04] jmolivas commented on #1495
Thanks @mnico

[2015-12-21 19:04] #1495 closed

[2015-12-21 19:57] jmolivas commented on #1544
I tried `drupal/composer`and after `composer install` and running `vendor/bin/console` I have 0.9.10

[2015-12-21 20:37] enzolutions opened #1551 "Enable error output in Config object."
Right now, is not possible generate a error report using messageHelper, due is not loaded yet.

Check code inside `loadResource` method `at Config` Class.

[code]

[2015-12-21 21:04] mnico commented on #1542
```Theme``` done
Now i will take care of ```Update``` namespace.

[2015-12-21 22:15] xendk commented on #1544
Yeah, but when I'm running the phar version I installed in $HOME/bin, it should use that version (0.9.10), no?

[2015-12-21 22:42] jmolivas commented on #1544
Do you mind to paste the command + arguments and options `drupal migrate:setup` to tested locally.

[2015-12-21 23:23] omero commented on #1542
I will take `module` and `rest` namespace

[2015-12-22 06:32] xendk commented on #1544
I tried with:

[code]

But it kept asking for prefix anyway, so I tried to find some way of supplying an empty prefix.

[2015-12-22 11:33] darol100 commented on #1544
I believe this issue was fixed already.

[2015-12-22 11:43] darol100 opened #1559 "[database dump] Support for multiples database"
### Problem / Motivation

Database dump functionality is hardcore for MySQL. And Drupal 8 support the following databases:
- MySQL 5.5.3/MariaDB 5.5.20/Percona Server 5.5.8 or higher with InnoDB
- PostgreSQL 9.1.2 or higher
- SQLite 3.6.8 or higher

We should add support for these database to add the ability of user backing up their database. There are other types of databases; however, they are n

[2015-12-22 12:10] xendk commented on #1544
So I tried upgrading the console installed by drupal-composer to 0.9.10, and now it'll at least take an empty string when it asks.

So apparently, even though I'm using the phar I have installed in ~/bin, it manages to pull in commands defined by the console installed in the site (which is pulled in by the Drupal autoloader I suspect). This is unfortunate as it opens up for all kind of weird bugs

[2015-12-22 16:40] mnico commented on #1542
```Update``` done
Now i will take care of ```User``` namespace.

[2015-12-22 16:52] edysmp opened #1562 "[generate:entity:content] --has-bundles - Duplicate hook_theme"
# Problem/Motivation

Create entity content with bundle duplicate **hook_theme**.
# How to reproduce
-  Drupal version  **8.0.0**
- Console version **0.9.10**
#### Steps
- Create a module, **generate:module**
- Create the entity with bundle, **generate:entity:content**

This produce:

[code]

[2015-12-22 18:33] darol100 commented on #1562
@edysm , I have create a pull request (https://github.com/hechoendrupal/DrupalConsole/pull/1466) to remove **generate:module** because is empty. In the **generate:entity:content** it seem to be using the hook_theme.

However, that PR is been block until this issue been solve https://github.com/hechoendrupal/DrupalConsole/issues/1423, which gives you the ability of generating hook_theme stand alone

[2015-12-22 19:31] omero commented on #1542
i will take `test` and `view` namespaces

[2015-12-23 10:55] naveenvalecha opened #1572 "[generate:webtest] Generate webtest plugin"
Feature Request

[2015-12-23 14:25] lhridley opened #1573 "[generate:entity:content] returns '[ERROR] Value "<modulename>" is invalid' for all input"
<img width="1280" alt="screen shot 2015-12-23 at 9 26 15 am" src="https://cloud.githubusercontent.com/assets/153297/11978167/544c9582-a957-11e5-8f46-c959050699c0.png">
Running Drupal Console version 0.10.0, on DrupalVM.
Host machine runs Mac OS X Yosemite 10.10.5
Same error occurred on Debian Jessie VM running php 5.6.

System Info
 Drupal                         8.0.0-dev
 Access to update.php

[2015-12-23 18:24] mnico commented on #1573
Hi @lhridley, first you need to create the module with generate:module. The generate:entity:content command will not generate a new module but instead it would work with a module already created.
Regards

[2015-12-23 19:53] jmolivas commented on #1573
@lhridley: yes @mnico is correct you must select a valid module name.

If you want to generate a new module, you must use the `generate:module` command first.

I do believe we can improve this by:
- Updating message instead of `Enter the module name` use `Select module name from list:`
- Update error message `Invalid module selected`

[2015-12-23 19:55] lhridley commented on #1573
Thank you for responding, that explains the issue much more clearly.  Suggestion:  An update to the documentation would be great, to make it more clear that you must have a module created first.

[2015-12-24 11:19] darol100 commented on #1572
@naveenvalecha , can you provide more details about this new feature? Maybe share some code on how this webtest plugin should looks like or provide some idea on who we should build this functionality?

For next time try to follow our guidelines for contributing see more at -  [CONTRIBUTING.md](https://github.com/hechoendrupal/DrupalConsole/blob/master/CONTRIBUTING.md) =)

[2015-12-24 13:04] naveenvalecha commented on #1572
I think generating stubs for simpletest cases would be great. It would also be really handy to
have the generated simpletests to be based on one of the core webtestcase.

Right now there is no way to generate the simpletest webtestcases for contrib modules. We can provide  the option to generate the testcases. The command would be like generate:webtest and then console popups for module name in wh

[2015-12-24 16:55] jmolivas commented on #1572
@naveenvalecha: Feel free to join our channel as well https://gitter.im/hechoendrupal/DrupalConsole

[2015-12-24 18:24] mnico commented on #1542
I will take care of ```Yaml``` namespace.

[2015-12-25 09:10] vincenzodibiaggio opened #1578 "[module:install] Problem with core module without dependecies - language module"
[code]

[2015-12-26 20:21] vincenzodibiaggio opened #1580 "[module:install] [feature-request] auto-install module's dependencies"

[2015-12-26 20:22] vincenzodibiaggio commented on #1580
I can work on this if other people need it

[2015-12-27 09:11] mdrummond commented on #1125
Just a note that #1353 has been merged, so I am going to try this out.

[2015-12-28 00:46] mnico commented on #1542
I will take care of ```Config``` namespace.

[2015-12-28 17:35] jmolivas commented on #1580
Fixing an issue I found

I realize about this as well and fixed on this PR #1592.

[2015-12-29 20:42] enzolutions commented on #1458
He tried Drupal 8.0.1 and Drupal Console 0.9.7 I don't remember linux version could you clarify this @ericmaster

[2015-12-29 21:01] omero commented on #1542
I will take `locale` and `migrate` namspaces

[2015-12-29 23:06] #1422 closed

[2015-12-29 23:10] jmolivas commented on #1562
@darol100: PR https://github.com/hechoendrupal/DrupalConsole/pull/1466 was merged, should we consider this pending or can this be closed?

[2015-12-29 23:14] jmolivas commented on #1578
@vincenzodibiaggio: Thanks for reporting this, but ame as issue #1580, this was fixed with PR #1592.

[2015-12-29 23:15] #1578 closed

[2015-12-30 00:37] mnico commented on #1542
```Yaml``` and ```Config``` commands are finished

[2015-12-30 00:58] #1580 closed

[2015-12-30 22:04] jmolivas commented on #613
Closing this since already fixed.

[2015-12-30 22:04] #613 closed

[2015-12-31 00:26] miromichalicka opened #1608 "[migrate:setup] The service definition "migrate.template_storage" does not exist."
After I input all arguments for `migrate:setup` command, I get following erroe
[code]

[2015-12-31 00:29] miromichalicka opened #1609 "[migrate:execute] Endless excluding of migration ids"
I'm unable to process migrations because console is still asking for excluding migration ids which leads into following error:
[code]

[2015-12-31 00:31] miromichalicka opened #1610 "[console] Provide better debugging"
If using `-v\vv\vvv` option, I would expect some little output for debugging.

[2016-01-01 00:22] darol100 commented on #1562
**tl;dr**: No until we fix #1423

This problem is been solve "kinda" from the **generate:module**. However, there still a problem. Because current way to generate the "hook_theme" does not take in consider if there is another hook_theme to and added the current value hook. Instead what it does is is generate a new a new hook_theme.

This been said... if the user run again **generate:entity:content

[2016-01-02 00:23] AchillesKal opened #1614 "[server] I am getting 404 on some drupal's internal urls"
I am using the command "drupal: server" everything works great except some drupal's internal urls return 404 Not Found, status code.

For example the path: "/admin/structure/types/manage/article/fields/node.article.body"
returns 404. And I have a fresh drupal 8 installation.

I think this have something to do with the dots on the url, the paths with the dots are those who break.

I am using drupal

[2016-01-02 06:07] vincenzodibiaggio commented on #1580
:+1:

[2016-01-02 06:07] vincenzodibiaggio commented on #1578
:+1:

[2016-01-03 01:38] lnunesbr opened #1617 "Yaml key for views.enable.yml translation does not represent the real meaning for this translation"
Original file: DrupalConsole/config/translations/en/views.enable.yml

[code]

The key `disabled-successfully` gives a different understanding for what it was supposed to be.

[2016-01-03 23:39] omero commented on #1609
#1624 Solve this, can you confirm @miromichalicka ?

[2016-01-03 23:40] omero commented on #1608
#1624 Solve this, can you confirm @miromichalicka ?

[2016-01-04 10:05] lovelyhomie opened #1625 "Drupal console not working. Parse error."
Just installed Drupal Console on my mac according to your installation commands (https://github.com/hechoendrupal/DrupalConsole#installing-drupal-console) on the and it does not work.

I am getting a Parse error:

[code]

What is the problem here?

[2016-01-04 11:45] eleaga commented on #1625
Can you open the file "usr/local/bin/drupal/src/Command/Theme/UninstallCommand.php" and past the line 48 here?

[2016-01-04 12:08] eleaga opened #1626 "Generate Controller do not show the parameters correctly"
When using "drupal generate:controller" the result is:
Implement method: index with parameter(s): $name

And should be:
Implement method: index with parameter(s): param1

![bug dc](https://cloud.githubusercontent.com/assets/3207946/12089330/cca2ea14-b2ca-11e5-870d-7780f2e86b9b.png)

[2016-01-04 15:14] henryosim commented on #1625
i have this same issue but when trying to open the file
'nano usr/local/bin/drupal/src/Command/Theme/UninstallCommand.php ' gives me an empty file.

[2016-01-04 15:22] lovelyhomie commented on #1625
+1 on henryosim:
I have an empty file as well

[2016-01-04 15:41] seanr commented on #1625
You’re missing a leading slash - should be this:

nano /usr/local/bin/drupal/src/Command/Theme/UninstallCommand.php

—

Sean Robertson

Senior Developer

DOOR3 Business Applications, Inc.

22 Cortlandt Street, 11th Floor

New York, NY 10007

www.door3.com

212-673-1818 ext. 215

646-912-6720

757-201-4750 (Mobile)

Sent from Mailbox

On Mon, Jan 4, 2016 at 10:22 AM, lovelyhomie <notifications@gith

[2016-01-04 15:53] lovelyhomie commented on #1625
Nope, still nothing.

[2016-01-04 15:54] henryosim commented on #1625
+1 on lovelyhomie:
same here.

[2016-01-04 16:06] jmolivas commented on #1625
@lovelyhomie: do you mind to share which OS are you using, PHP and DrupalConsole version ?

[2016-01-04 16:10] lovelyhomie commented on #1625
Certainly.

**OS:**
Mac OS X 10.9.5

**PHP:**
PHP 5.4.45 (cli) (built: Sep  6 2015 20:56:23)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies

**DrupalConsole version:**
Version info unavailable due to that parse error. All I know is it is the latest I was able to download thru that curl command on the install guide.

[2016-01-04 16:18] jmolivas commented on #1625
@lovelyhomie: This error is related to the PHP version:
* DrupalConsole requires php >= 5.5.9
  https://github.com/hechoendrupal/DrupalConsole/blob/master/composer.json#L39
* Same as Drupal 8
  https://github.com/drupal/drupal/blob/8.0.x/core/composer.json#L7

[2016-01-04 16:20] lovelyhomie commented on #1625
Ah I see. Well best if you write that requirement onto the main page: https://github.com/hechoendrupal/DrupalConsole before the next one runs into the same problem :)

[2016-01-04 16:20] #1625 closed

[2016-01-04 18:54] LightGuard commented on #1580
I'd love to see this too, or at the very least an option to pass to have dependencies installed

[2016-01-04 19:47] jmolivas commented on #1580
This is fixed now. if you try to install modules with dependencies it asks you to install.

What is missing is a way to download the missing dependencies, is this what you are asking for  @LightGuard @vincenzodibiaggio?

[2016-01-04 19:57] LightGuard commented on #1580
Partly. If the modules are already downloaded you don't need to download them again, obviously simply install them.

My use case is doing this in essentially a headless install, it is actually a docker setup where drupal console runs as part of starting up or building the container. I don't have the option of answering questions. IMO any question you're asked on the console should have a flag you

[2016-01-04 20:24] jmolivas commented on #1580
@LightGuard: You can easily create a yml file including any command plus options & arguments
- https://github.com/hechoendrupal/DrupalConsole/blob/master/config/dist/chain/quick-start.yml
- https://github.com/hechoendrupal/DrupalConsole/blob/master/config/dist/chain/sample.yml

And use the `chain` command to call that file definition.

More information about this feature:
- https://hechoendrupal.g

[2016-01-04 20:26] jmolivas commented on #1580
@LightGuard I will take a look at the download module dependencies when installing modules, since I think will be a useful feature to have.

[2016-01-04 20:54] LightGuard commented on #1580
Fair enough. I have an issue that's somewhat related to this:

    drupal module:install hal rest serialization

asks to install dependencies, but you are installing them in the same go. This used to work in 0.9.9 but changed sometime between that and current.

[2016-01-04 21:08] Paulsette opened #1630 "Parse error : drupal.php"
I try to install Drupal Console by following these instructions : https://drupalconsole.com/, but when i "copy configuration files to user home directory" with "drupal init --override" in terminal i have an error :

[code]

Do you know where from comes the problem?

[2016-01-04 21:20] seanr commented on #1630
Make sure you have PHP 5.5.9 or higher, the console has the same requirements as Drupal 8 (with which it was designed to work).  The line in question contains newer syntax that older versions of PHP won’t recognize.

—

Sean Robertson

Senior Developer

DOOR3 Business Applications, Inc.

22 Cortlandt Street, 11th Floor

New York, NY 10007

www.door3.com

212-673-1818 ext. 215

646-912-6720

757-20

[2016-01-05 09:09] Paulsette commented on #1630
I use the version 5.6.10 of php.

Moreover, Drupal 8 works, but when I try to install Drupal console I continue to have this error.

For information I use MAMP.

[2016-01-05 16:06] jmolivas commented on #1630
@Paulsette: Is the PHP CLI using the MAMP PHP version, can you try running `php -v` from the CLI and confirm the used PHP version.

[2016-01-05 16:36] jmolivas commented on #1542
Thanks @omero & @mnico for the great help and PRs. The first block of namespace is completed.

The missing one is the one with the most number of classes the `Generator.

If planning to work on this make sure you select one command at the time and comment the command you are working on to avoid duplicated work.

[2016-01-05 17:30] enzolutions commented on #1542
Workiing in Generator/ThemeCommand.php

[2016-01-05 22:27] jackbravo opened #1638 "Add a command to list all commands that support --learning"
Add a command (or a parameter to the list command) to list all commands that support the --learning option.

[2016-01-06 04:59] darol100 commented on #1638
@jackbravo this sounds like nice feature to have.

[2016-01-06 05:15] itsdarrylnorris opened #1641 "[generate:theme:setting] Theme settings default values"
## Problem / Motivation

We should add the ability of settings default values on a theme In Drupal 8

**config/install/THEME.settings.yml**

[code]

For more information - https://www.drupal.org/node/2382645
## Solution
- We need to add ability of running a generator that generate this type of code.
- We should also add this functionality to the generate:theme by using the chain.

[2016-01-06 05:23] darol100 commented on #1049
This issue seem to be solve at #1118. So I'm closing it.

[2016-01-06 05:23] #1049 closed

[2016-01-06 05:29] darol100 commented on #1537
@dhenriet , What DrupalConsole version are you running ?

Did you try to installed it with the DrupalConsole installer ?
`php -r "readfile('https://drupalconsole.com/installer');" > drupal.phar`

What WIN version are you running ?

[2016-01-06 06:33] #1617 closed

[2016-01-06 16:27] jurgenhaas opened #1649 "Extending command set by modules"
Are you planning a framework to allow Drupal modules to add their own commands to DrupalConsole? Similar to the hook_drush_command for Drush it would be great if it were possible to have some sort of plugin mechanism that allowed to define extra commands that are only relevant if certain modules were installed.

[2016-01-06 19:33] jmolivas commented on #1649
@jurgenhaas: This is doe already you need to create a new command class and we provide a the `generate:command` command for that.

### How to use it:
[code]

[2016-01-06 19:50] jmolivas commented on #1626
FIxed with #1627

[2016-01-06 19:50] #1626 closed

[2016-01-06 19:51] jmolivas commented on #1649
@jurgenhaas: If you like to see examples about other modules implementing custom commands you can take a look to: WebProfiler, MetaTag and Commerce.

[2016-01-06 20:05] jurgenhaas commented on #1649
Thanks a lot @jmolivas and sorry that i missed that. I'm planning to deeply integrate console with Drd, a long standing dashboards top monitor and manage remote Drupal sites. Exciting times.

[2016-01-06 20:05] #1649 closed

[2016-01-06 20:36] jmolivas commented on #1649
@jurgenhaas: make sure you ping me for any questions or help, I will be more than glad to help you on the integration.

[2016-01-06 22:34] darol100 opened #1657 "[console] "param-converter" ability to convert param into a object"
## Problem / Motivation
We should add the ability of convert param into an object. This issue is been open base on http://drupal.stackexchange.com/questions/185951/how-to-create-an-entity-handler-that-accepts-arguments and a conversation with @jmolivas .

## Solution
 -  We need to be able to solve the link below.
 - Leaving an empty space so @jmolivas can added more info, how we should build this

[2016-01-07 07:26] darol100 opened #1659 "generate:theme:cdn"
## Problem / Motivation
A very common practice when using external front-end libraries is to use the CDN to load css and js.
And Drupal 8 support external libraries very well. I think we should add a generator that allows you to either choose between the CDN library or the local library. [Bootstrap Project](https://www.drupal.org/project/bootstrap) is already supporting the ability of using a exte

[2016-01-07 07:38] darol100 opened #1660 "[config:add:project] Adding configuration to a project"
## Problem / Motivation

From [Managing configuration in Drupal 8](https://www.drupal.org/documentation/administer/config)

This been said.... modules, distributions and themes can carry configuration. I propose to add the ability of adding configuration to a module/distributions/themes, without manually moving the files around.

## Solution
 -  We need to ability of picking configuration and adde

[2016-01-07 07:59] darol100 opened #1661 "[generate:theme:fields] Adding fields to theme settings."
## Problem / Motivation
Themes often require some extra fields that will be use in other places like a front page image. Or a message that is not necessary the title.

## Solution
 - We need to ability of generating fields for the themes at `admin/appearance/settings/THEMENAME`
 - We should ask which type of preprocess field is going to be use so we can add the ability of picking where the field w

[2016-01-07 11:33] naveenvalecha opened #1663 "[config:export:content:type] is not exporting content type"
Drupal version - 8.0.2
Drupal console - 0.10.2
drupal.phar alias - drupal

Steps to Reproduce :

 - Create a content type abc
 - drupal config:export:content:type --module=ac
 - It will ask for the content type name and whether that configuration be optional or not.but the configuration will not be written to that module.
 - console showed the message the configuration has been exported but it was

[2016-01-07 17:18] soncco commented on #1614
I have the same problem, only occurs when I create a new field or when I want to edit the field. However if I use nginx or apache to serve, this works.

[2016-01-08 08:09] #1385 closed

[2016-01-08 10:29] gido commented on #1386
@jmolivas @egulias I tried `DrupalKernel::getCachedContainerDefinition()` but sadly the serialized data don't include service tags informations.

[2016-01-08 14:16] klausi opened #1671 "Console must not be hosted on drupal.org because MIT license is not allowed"
Please remove the code from drupal.org http://cgit.drupalcode.org/console/tree/LICENSE or change the license to GPLv2+.

[2016-01-08 14:22] klausi opened #1672 "Determine if Drupal Console violates the GPL."
Drupal Console is MIT licensed, not sure that is allowed: https://www.drupal.org/about/licensing#q7

The question is if Drupal console is a derivative work in the same sense a Drupal module is. The safe way would be to change the license to GPLv2+.

We should probably ask the Drupal licensing group about this: https://www.drupal.org/governance/licensing-working-group

[2016-01-08 14:29] stevepurkiss commented on #1672
It would be nice, but AFAIK Drupal Console doesn't require Drupal code in order to do anything, therefore is not a derivative work. It's not of much use without it, perhaps best thought of as a restricted functionality Ansible - a tool closely tied with but not a derivative.

my 2p.

[2016-01-08 14:59] fubhy commented on #1672
It actually DOES use Drupal code in some sense. ContainerAware commands at least are interacting with the services directly. So in some sense, yes it does use Drupal code. It's not like it's speaking to these services over some sort of API. That said, I have no clue if that is actually against the rules.

[2016-01-08 15:02] stevepurkiss commented on #1672
"Interacting with" could fall under AGPL, so perhaps it only violates the GPL if you use it on the same machine as the Drupal instance you're controlling ;)

[2016-01-08 15:42] Crell commented on #1672
The usual litmus test I use is whether it's using GPL-licensed code, ie, making function calls to it and receiving data structures back from it.  I don't know enough about the guts of Console to say if that's the case.

[2016-01-08 15:49] fubhy commented on #1672
In that case... Yes.

It is making function calls to it. It's directly using services from within Drupal.

[2016-01-08 16:20] enzolutions commented on #1671
@klausi I am not an expert in this matter, but I want to know how Drupal use Jquery since Drupal 6 and jquery use MIT License https://jquery.org/license/ in the same way symfony componens use MIT as you can see at http://symfony.com/doc/current/contributing/code/license.html

Thanks in advance for your clarification

[2016-01-08 16:27] klausi commented on #1671
Those projects are granted exceptions when they are bundled with Drupal.

From https://www.drupal.org/node/1001544 :

"All files checked into the repository (code and assets) must be licensed under GNU/GPL version 2 and later."

[2016-01-08 16:39] klausi commented on #1672
Agreed, if you look at the cron command for example: https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Command/Cron/ExecuteCommand.php

It uses the module handler and invokes hooks in other Drupal modules (why on earth does it not just invoke the cron service? Also 0 docs there why). So it really is on the same level as a Drupal module, which means Drupal console must be licensed unde

[2016-01-08 16:41] klausi commented on #1671
OK, since Console must switch its license to GPL anyway I think we can close this. Once #1672 is implemented the license file on drupal.org will say that it is GPL.

[2016-01-08 16:41] #1671 closed

[2016-01-08 16:41] jmolivas commented on #1672
Changing license is not an issue for us.

I am not an expert on the topic and need to figurate what is the process to change this or as mentioned by @klausi just switch to GPL.

[2016-01-08 18:43] Crell commented on #1672
MIT -> GPL is actually safe to do without any further input, legally.  It's probably prudent to put out a call to see if anyone objects, but legally the project lead can do so unilaterally.

IANAL TINLA, ETC.

[2016-01-08 19:26] jmolivas commented on #1672
PR with license change sent https://github.com/hechoendrupal/DrupalConsole/pull/1677

What will be a recommendation as a good way of notifying contributors about this license change?

[2016-01-08 19:30] Crell commented on #1672
I'd ping Lukas Smith.  He's been through that process a couple of times and can probably offer some good war stories. :smile:

[2016-01-08 20:51] mnico commented on #1542
Hi, I will take ```EntityCommand```

[2016-01-08 22:35] jygastaud commented on #1672
@jmolivas : You may be interested to read about that issue: https://github.com/spf13/hugo/issues/201

[2016-01-09 03:27] mnico commented on #1663
A PR is added for this

[2016-01-09 11:25] andrewholgate opened #1687 "[generate:module] Generated template does not pass Coder audit."
When performing a `generate:module`, the outputted module code does not pass Drupal standards (Coder)

The generated `.module` file has the following issue:

[code]

[2016-01-09 17:21] kenneth-bolivar-castro commented on #814
@jmolivas I am closed this ticket since those features was already implemented.

[2016-01-09 17:21] #814 closed

[2016-01-09 20:25] #1687 closed

[2016-01-09 23:38] develCuy commented on #1672
Did you guys ever read the licensing faq? https://www.drupal.org/about/licensing

Answer from https://www.drupal.org/about/licensing#q14

"14. I found a module or theme in the contributions repository that says it's available under a different license than the GPL (including the LGPL or AGPL). What should I do?

Please file an issue in the Licensing Working Group issue queue and we will look into

[2016-01-10 09:06] darol100 opened #1691 "[generate:plugin:imageformatter] Cache bug"
### Problem / Motivation

I was running DrupalConsole from master, and I notice and when I run `generate:plugin:imageformatter` and use the image formatter with the views module. I got the following error.

### Steps to Reproduce this bug....
- Generate a module `generate:module`
- Generate a image formatter  `generate:plugin:imageformatter`
- Create view that contain an image field.
- In the view

[2016-01-10 12:48] klausi commented on #1672
@Crell has already responded here, so that step is already done. We have established that the project must switch to GPL. The next step is to review the PR by @jmolivas .

[2016-01-10 16:06] enzolutions commented on #1672
PR https://github.com/hechoendrupal/DrupalConsole/pull/1677 looks ok for me

[2016-01-10 16:45] rocketeerbkw opened #1695 "Errors when run with ioncube loader extension"
I got the following error while trying to run the console:

    Fatal error: require(): Failed opening required 'drupal.php' (include_path='.:/opt/php55/lib/php') in phar:///home/multimed/bin/drupal/bin/drupal on line 3

After quite a bit of googling I came across a similar problem in composer (https://github.com/composer/composer/issues/395) and silex (https://github.com/silexphp/Silex/pull/104/f

[2016-01-10 16:55] jmolivas commented on #1695
@rocketeerbkw: Thanks for reporting this. we had a similar issue before https://github.com/hechoendrupal/DrupalConsole/issues/1168

Like the idea of having documented.

We can probably add a section to the documentation for this type of errors and identifying them as 3rd party library errors or somethigng that make more sense.

[2016-01-10 17:02] rocketeerbkw commented on #1695
Maybe in the installation problems section? https://hechoendrupal.gitbooks.io/drupal-console/content/en/drupal_console_faq/installation-problems.html

[2016-01-10 17:05] jmolivas commented on #1695
:+1: Make sense then to add it at this mardkdown file:
https://github.com/hechoendrupal/drupal-console-book/blob/master/en/drupal_console_faq/installation-problems.md

[2016-01-10 20:03] darol100 commented on #1672
@enzolutions , PR #1677 just remove the MIT content from the license, instead of replacing it with GPL Do you think we should have the GPL info in the license file ?

[2016-01-10 20:35] jmolivas commented on #1672
@darol100 Seems like no need to add the License file, I did check other drupal projects.

[2016-01-11 01:36] Crell commented on #1672
Drupal.org-hosted projects do not have the LICENSE.txt file in the repo because we add it as part of packaging.  That's not the case for a GitHub-distributed application like Console.  I would recommend including the GPL text in a LICENSE file.

[2016-01-11 02:38] darol100 commented on #1672
[DrupalConsole](https://www.drupal.org/project/console/) is been mirror back to Drupal.org. So something to consider is never creating release on  Drupal.org otherwise it might conflict with the LICENSE.txt file from Drupal.org.

:+1:  To add LICENSE.txt file.

[2016-01-11 06:35] jmolivas commented on #1672
@darol100: I did merge your PR, GPL `LICENSE.txt` file added https://github.com/jmolivas/DrupalAppConsole/blob/1672-re-license-project/LICENSE.txt

[2016-01-11 07:48] jmolivas commented on #1663
Fixed with #1684

[2016-01-11 07:48] #1663 closed

[2016-01-11 18:59] #1691 closed

[2016-01-11 19:12] #1672 closed

[2016-01-11 19:29] #1608 closed

[2016-01-11 19:29] #1609 closed

[2016-01-11 19:30] jmolivas commented on #1542
Thanks for the great work here @mnico @omero & @enzolutions I sent a PR https://github.com/hechoendrupal/DrupalConsole/pull/1697 fixing some missing code changes.

[2016-01-11 19:31] #1542 closed

[2016-01-12 01:25] jmolivas commented on #1695
Fixed with PR https://github.com/hechoendrupal/drupal-console-book/pull/153 on the gitbook/documerntation repository.

[2016-01-12 01:25] #1695 closed

[2016-01-12 08:19] darol100 opened #1707 "[config:export:single] config-name into an array"
### Problem / Motivation

It will be nice we add the ability of supporting an array when with the chain command so when there are multiple export single it can be a little bit more clean. For instance...

Currently is like this

![screen shot 2016-01-12 at 12 15 40 am](https://cloud.githubusercontent.com/assets/6808460/12258202/b402b6cc-b8c1-11e5-8576-f5d3c0821de5.png)

And instead it will be nice

[2016-01-12 19:42] darol100 opened #1710 "[*:install] Download project if not available during install"
### Problem / Motivation
An expected behavior from Drush user is if the user is going to install a project (module/theme) that is not currently available is going to try to download first and the installed it.

This have happen to me as well to other new DrupalConsole users. For instance - [Install module via Drupal Console fails](http://drupal.stackexchange.com/questions/186598/install-module-via

[2016-01-13 07:05] jmolivas commented on #1710
:+1: I like to have same feature when trying to install missing module dependencies.

[2016-01-13 07:08] mdrummond opened #1717 "Only Command classes loaded from themes"
Drupal Console Command classes can now be loaded in a theme. However, any supporting classes do not appear to load.

For example, a Generator class added in src/Generator is not picked up when the Command class has a use statement like so:

use Drupal\thememachinename\Generator\ClassNameForGenerator

and the Generator class has a namespace like so:

Drupal\thememachinename\Generator

It's always p

[2016-01-13 07:16] darol100 commented on #1717
:+1:  I had the same discussing with @jmolivas  yesterday about something like this. Because I try to use a Drupal plugin  (custom image formatter) in my theme and did not work. You can find more discussion about that at [Its possible to load “Image Formatter” on a theme?](https://drupal.stackexchange.com/questions/186310/its-possible-to-load-image-formatter-on-a-theme)

However, It seem like the

[2016-01-13 12:44] tamerzg opened #1719 "[generate:entity:config] Throws fatal error after trying to create entity"
Use generate:entity:config to create new config entity, clear the cache, go to /admin/structure/{your_new_config_entity} and try to save it. This will throw fatal error

Drupal\Component\Plugin\Exception\PluginNotFoundException: The "" entity type does not exist. in Drupal\Core\Entity\EntityTypeManager->getDefinition() (line 130 of /Library/WebServer/Documents/drupal-8.0.1/core/lib/Drupal/Core/Ent

[2016-01-13 16:15] darol100 commented on #1719
@tamerzg , What version of Drupal Console? And I'm assuming that you are running Drupal 8.0.1?

[2016-01-13 16:22] tamerzg commented on #1719
Its reproducable with both 8.0.1 and 8.0.2. I am using latest version of Drupal Console v0.10.3

[2016-01-13 16:32] darol100 commented on #1719
I'm running a git version of DrupalConsole few hours from the release 0.10.3 (which, we should be running the same version). And I did the following steps and could not replicate your issue.

- [generate:module] and use all default questions
- [generate:entity:config] and use all default questions
- Enable the module
- Clear Cache

Then I go to `/admin/structure/default_entity`

And everything see

[2016-01-13 16:59] tamerzg commented on #1719
Have you tried clicking Add Default entity. After saving it, then you will get error.

[2016-01-13 17:17] darol100 commented on #1719
After adding the default entity and saving it. I was able to replicate this issue.

[2016-01-13 20:50] HaleFx opened #1726 "[generate:entity:content] produces unusable settings route"
When I try to visit the settings form for a content entity generated in 0.10.4, I get:

I think that getSettingsFormRoute() in EntityHtmlRouteProvider is just adding the wrong default form path. I changed `'_form' => 'Drupal\mymodule\Controller\MyEntitySettingsForm',` to `'_form' => 'Drupal\mymodule\Form\MyEntitySettingsForm',` and that fixed the issue for me.

[2016-01-13 22:22] develCuy opened #1729 "[console] Learning mode: New global option in config file"
As a newbie to Drupal 8, I would like to have --learning param set for every single command, so no need to type it all the time.

[2016-01-14 02:51] jmolivas commented on #1729
:+1: What I love about this one is once this is fixed any global option could be set using the config file.

[2016-01-14 07:12] darol100 commented on #1729
This seem to be fixed... ( base on the tag) I'm closing this issue feel free to reopened if not fixed.

[2016-01-14 07:37] darol100 commented on #1729
Reopening this because this have not been merge to master... mine mistake.

[2016-01-14 14:38] Sutharsan opened #1733 "[site:new] Does not ask for site-name"
On version: 0.10.4
When executing ```drupal site:new``` the response is:
[code]
I enter '0'
The the response is:
[code]
It would be more user friendly to ask for the site-name first.

[2016-01-14 16:10] #1729 closed

[2016-01-14 16:19] jmolivas commented on #1733
@Sutharsan looking at this and having it fixed.

Does look more sense to rename the `site-name` argument as `directory'?

[2016-01-14 17:27] Sutharsan commented on #1733
Yes it does.

[2016-01-14 17:28] Sutharsan commented on #1733
Although, it was clear what I had to enter there.

[2016-01-14 17:37] jmolivas commented on #1733
PR https://github.com/hechoendrupal/DrupalConsole/pull/1735 sent juts waiting for travis to pass the build.

[2016-01-14 20:04] jmolivas commented on #1707
@darol100 :+1:  I will take of this.

[2016-01-14 20:13] killua99 opened #1736 "[config:export] Doesn't export languages folder"
Problem:

When I ran `drupal config:export` it didn't export the entire settings, I'm missing languages. When I ran the drupal UI export or the drush command: `drush cex sync` it import the languages settings.

Solution:

Achieve the same behavior as Drupal Core UI or drush (but better ;D ) and don't miss multi-languages settings.

[2016-01-14 20:15] enzolutions commented on #1736
@killua99 can you list the id of files missing, thanks

[2016-01-14 20:30] killua99 commented on #1736
$ ls ../config/sync/language/sv/
block.block.adminimal_theme_breadcrumbs.yml
block.block.adminimal_theme_content.yml
block.block.adminimal_theme_help.yml
block.block.adminimal_theme_login.yml
block.block.adminimal_theme_page_title.yml
block.block.adminimal_theme_primary_local_tasks.yml
block.block.adminimal_theme_secondary_local_tasks.yml
contact.form.personal.yml
core.date_format.fallback.yml
cor

[2016-01-14 21:01] darol100 opened #1737 "[generate:view:field:output] Views field content into a variable"
### Problem / Motivation

If you ever want to create views field template you are going to run into some issue with `{{ kint() }}` trying to load all content and is very difficult to debug (almost impossible, usually the browser will crash). After some investigation the best solution to add wrappers around the fields templates in views need to add the following preprocess function

    function TH

[2016-01-14 22:56] #1733 closed

[2016-01-14 23:11] develCuy commented on #1729
Let the party begin!

[2016-01-14 23:12] jmolivas commented on #1729
Merged @develCuy  thanks for this idea ;)

[2016-01-14 23:17] enzolutions commented on #1737
This is a very specific implementation, becuase output is outside the stander, and we will forcing developer to use our style.

This sounds like a recommendation inside a tutorial.

[2016-01-14 23:28] jmolivas commented on #1717
I like the idea of autoloading the commands using a better method the the implemented one. I will try to do by using composer. I will add another comment once I test this.

[2016-01-14 23:31] enzolutions commented on #1710
I will take care of this issue.

[2016-01-14 23:37] jmolivas commented on #1659
@omero can you plase take alook at this ?

[2016-01-14 23:40] jmolivas commented on #1641
@omero can you plase take alook at this ?

[2016-01-14 23:48] jmolivas commented on #1638
Actually there is not a mechanisim in place to indetify which commands uses this feature since the `--learning` option is global.

@enzolutions and myself are discussing how to resolve this maybe using a LearningCommandInterface or abstract class to identify it.

[2016-01-15 02:13] darol100 commented on #1737
@enzolutions closing this issue then.

[2016-01-15 02:13] #1737 closed

[2016-01-15 02:17] darol100 commented on #1659
@jmolivas , this very relate to https://github.com/hechoendrupal/DrupalConsole/issues/1661. When adding the fields we should be able to added the ability of a CDN maybe ? If you need more details explanation feel free to ask me.

[2016-01-15 02:22] darol100 commented on #1660
This command should be able to load all the configuration (asking for it) and the it should ask you which project this be set the configuration added. Once it knows which project we can added into `config/install`. We might have to investigate into what if there is a configuration that needs to be overwrite, this might change the functionality of this command.

@jmolivas do you need any other extr

[2016-01-15 06:21] #1614 closed

[2016-01-15 10:36] darol100 commented on #1521
I'm closing this issue since this is not relate to project.

[2016-01-15 10:36] #1521 closed

[2016-01-15 12:43] reekris opened #1739 "[generate:entity:content] Using custom name other than DefaultEntity causes access denied"
When generating an entity with bundle support that does not use the default settings I'm getting a permission denied when trying to add a new entity of the created type.

Steps to reproduce using 0.10.5:
1.```drupal generate:module  --module="Test" --machine-name="test" --module-path="/modules/custom" --description="My Awesome Module" --core="8.x" --package="Custom" --composer```
2. ```drupal gene

[2016-01-15 17:44] jmolivas commented on #1544
@xendk: I am aware of `drupal-composer/drupal-project` and I will give another try next week to check what you mentioned about the mismatched versions.

We add the option to allow empty string as you noticed.

The interactive mode asks for values for the not provided inline and as you noticed you can use `-n` alias of `--no-interact` option.

I saw you on the image you try using `--db-prefix=''` I

[2016-01-15 17:44] jmolivas commented on #1544
@xendk: I am aware of `drupal-composer/drupal-project` and I will give another try next week to check what you mentioned about the mismatched versions.

We add the option to allow empty string as you noticed.

The interactive mode asks for values for the not provided inline and as you noticed you can use `-n` alias of `--no-interact` option.

I saw you on the image you try using `--db-prefix=''` I

[2016-01-15 17:54] jmolivas commented on #1729
@develCuy @darol100 This change is on the latest v0.10.5 release.

To take advantage of default global options, execute `drupal init --override` first, then do the override on your home directory config file `~/.console/config.yml`

If you do not want to override the file, you can copy and paste the new keys:
[code]

[2016-01-15 17:55] jmolivas commented on #1733
@Sutharsan: This change is included in the latest v0.10.5 release.

[2016-01-16 11:32] darol100 commented on #356
Since, this is been tag as "work as expected" and it have been inactive, I'm going to close this issue.

It seem like this is not possible base on the @enzolutions response in the above comment.

[2016-01-16 11:32] #356 closed

[2016-01-16 11:36] darol100 commented on #478
@dmouse , Can you explain why you added the tag "core-issue"? I'm just curios.

[2016-01-16 11:42] darol100 commented on #677
This issue is already been solve at  #1395

[2016-01-16 11:42] #677 closed

[2016-01-16 11:45] darol100 commented on #705
The above issue have been split into two issue here is another relate issue - https://www.drupal.org/node/2596095

[2016-01-16 11:47] darol100 commented on #695
@mikeker Any new update on this issue ?

[2016-01-16 11:55] darol100 commented on #713
This issue have been gone "off-topic" as well and the current reason of why this issue was open does not apply any more.

For any further conversation feel free to start a conversation at - https://gitter.im/hechoendrupal/DrupalConsole

[2016-01-16 11:55] #713 closed

[2016-01-16 11:57] darol100 commented on #894
This issue have been solve already.

[2016-01-16 11:57] #894 closed

[2016-01-16 11:58] darol100 commented on #902
:+1:  For this feature that will be a very great for this project.

[2016-01-16 12:00] darol100 commented on #953
This is very interesting feature, any new update on this ?

[2016-01-16 12:04] darol100 commented on #952
I create a PR (https://github.com/hechoendrupal/DrupalConsole/pull/1742) base on  @sanduhrs changes commit. So we can review the PR later on.

[2016-01-16 12:09] darol100 commented on #976
This seem to be fixed already. I'm closing this issue.

[2016-01-16 12:09] #976 closed

[2016-01-16 12:17] darol100 commented on #1088
This issue is for `generate:entity:config` command ?

@bojanz , Any updates on your PR ?

:+1:

[2016-01-16 12:23] darol100 commented on #1104
This issue does not longer apply because Drush is not part of Drupal Console anymore (#1520). For this reason I'm closing this issue.

[2016-01-16 12:23] darol100 commented on #1120
:+1:

[2016-01-16 12:28] darol100 commented on #1129
@enzolutions This seem to be a RC2 issue. Does this still apply ?

[2016-01-16 12:30] darol100 commented on #1146
This have been solve already at #1122 so I'm closing this issue.

[2016-01-16 12:30] #1146 closed

[2016-01-16 12:38] darol100 commented on #1292
Closing this issue because this was been solve at #1261

[2016-01-16 12:38] #1292 closed

[2016-01-16 12:38] darol100 commented on #1139
Closing this issue because this was been solve at #1261

[2016-01-16 12:38] #1139 closed

[2016-01-16 12:45] darol100 commented on #1232
I do not think this issue is base on `[module:install]` instead of the module did not remove the configuration or did not override.

You can run this command - \Drupal::configFactory()->getEditable('your.config)->delete(); and it will remove your configuration.

There is also a issue to support remove configuration at https://github.com/hechoendrupal/DrupalConsole/issues/1366.

Because all these r

[2016-01-16 12:45] #1232 closed

[2016-01-16 12:50] darol100 commented on #1168
Closing this issue is been solve at https://github.com/hechoendrupal/drupal-console-book/pull/153

[2016-01-16 12:50] #1168 closed

[2016-01-16 12:59] darol100 commented on #1176
I'm closing this issue due to the lack of active and because I could not replicate this issue. I try this out on 8.0.2 and I did not see that error.

@twang4turner , If you can replicate this issue on a stable Drupal core release please let use know and re-open this issue.

[2016-01-16 12:59] #1176 closed

[2016-01-16 16:00] greg-1-anderson commented on #1520
This is a positive move. I still hope at some point to use common libraries between Drupal Console and Drush; that would be the right way to collaborate and minimize maintenance.  I recognize that the architectures of these two projects makes that non-trivial, but I believe we can make some progress in the near future.

[2016-01-16 16:02] greg-1-anderson commented on #1104
The script here does not depend on the function removed in #1520.  Closing is fine, though; this example does not need to be part of Drupal Console; it would work for folks who want to use it independent of whether or not it is distributed as part of this project.

[2016-01-16 19:08] jmolivas commented on #1104
I think we can

[2016-01-17 06:33] llwp commented on #1366
:+1:  ...actually I would rate this as a little more than nice to have.  in the process of developing modules, they get enabled and uninstalled (née disabled) quite often many multiple times.  a CLI option is practically essential. (do i daresey drush?)  orphaned config needs better management, and this is just one small way to move in that direction.

[2016-01-17 14:52] Eyal-Shalev opened #1745 "[module:uninstall] add force uninstall option"
## Motivation
During intensive development we sometimes need to re-install modules that are dependent upon by other modules.

## Solution
Adding  an option to the module uninstall command to ignore dependencies

[2016-01-17 20:56] darol100 commented on #1745
:+1:  For this feature. However, I think this should be a and option on separate command. Something like this `drupal module:uninstall MyModule --force`  instead of adding as part of asking question.

[2016-01-17 21:25] Eyal-Shalev commented on #1745
Can you clarify?
I thought I added it as an option for the module:uninstall command.

[2016-01-17 21:27] Eyal-Shalev commented on #1745
I closed it on accident

[2016-01-17 21:27] Eyal-Shalev commented on #1745
Darol,
Can you clarify?
Because I made it as an option on the module:uninstall command

[2016-01-17 23:10] darol100 commented on #1745
You are right this is a option. Ignore my previous comment.

[2016-01-18 14:35] eyaldofinity opened #1750 "[helper] - Add typehinting to ContainerAwareCommand"
## Motivation

Many methods of ContainerAwareCommand don't have type hinting (see getModuleInstaller(), getEntityQuery(), getModuleHandler(), ...)

The missing type hinting forces programmers to add type hinting on the received values which is redundant.

[2016-01-18 21:34] fmann commented on #1717
I think this is an issue in modules as well as themes that try to provide custom Generators.

I'm taking a stab at #1306. No problem adding a command in layout_plugin/src/Command, but I get the same class not found error from createGenerator() as described above. I've added the Generator to layout_plugin/src/Generator.

[2016-01-19 15:54] kevinquillen opened #1753 "Remove 'command' default search param when visiting the documentation"
When you visit the documentation page for Drupal Console, it looks like 'command' is entered as the search filter by default. This causes the documentation index in the sidebar to not appear, making it seem at a glance that there are no docs.

I think the filter should not be set by default, so the doc index tree is fully visible.

[2016-01-19 20:28] igasi opened #1754 "[console] Command shortcut does not support more than one character."
[code]

[2016-01-19 22:44] HaleFx opened #1755 "[generate:entity:content] isPublished() returns FALSE for published entities"
`$this->getEntityKey('status')` does not seem to return a value for a content entity (no bundle) with `status = 1`. As a test, I swapped it with `$this->get('status')->value` and then `isPublished()` worked fine.

    public function isPublished() {
      return (bool) $this->getEntityKey('status');
    }

[2016-01-21 02:31] justinlevi opened #1759 "site:install - InvalidArgumentException: "No check has been registered for access_check.permission" at ../CheckProvider.php line 99"
Drupal Console (0.10.5) | Supports Drupal 8.0.2

After running `drupal site:install` everything seems to be working but when I visit the site I see:

[code]

running drupal site:status seems like everything is working

[code]

The apache error log looks like this:

[code]

Seems broken to me.

[2016-01-21 02:52] hotlevel4 commented on #1719
Same error is seen when attempting to delete an added entity.

[2016-01-21 13:24] rpkoller opened #1766 "2 warnings on drupal init regarding initcommand.php in line 136"
I've installed drupal console on my system today. i am running el capitan with the mamp none pro version. in the `.bash_profile` i have added the necessary mamp bin directories to the path. so i am using php 7.0.0. . after installing drupal console ( `drupal list` worked without a problem) i've called `drupal init`. on the first run the output looked like the following:

[code]
do i have to worry

[2016-01-21 21:28] HaleFx opened #1767 "[generate:entity:content] hook_theme not generated for entities without bundles"
Looks like it gets generated for content entities with bundles, but not for entities without bundles. The entity won't run through the twig template without it.

[2016-01-21 21:43] fmann commented on #1306
I added a patch for layout_plugin that adds a generate:plugin:layout command to https://www.drupal.org/node/2619272.  Please give it a try.

[2016-01-22 08:09] DmitryDrozdik commented on #1572
Agree, good idea.

[2016-01-22 17:54] jmolivas commented on #952
Fixed on PR #1742

[2016-01-22 17:54] #952 closed

[2016-01-22 18:08] jmolivas commented on #1710
The [module:install] should trigger [module:download] if the module is not available. Is fixed with PR #1743

I will take care of:
* [theme:install] should trigger [theme:download] if the theme is not available.
* Download module depencendies as well when not on the local system.

[2016-01-22 20:22] cosmicdreams commented on #1767
@HaleFx Yes, this feature was originally made for traditional content types.  Are you expecting it to work for custom entities' bundles?

At one point it was considered calling this feature generate:entity:bundle.

What do you think this feature should be doing that it isn't?

[2016-01-22 20:26] cosmicdreams opened #1770 "[site:statistics] Adding quantity of fields and limit for entities"
It would be really great if I could execute a command that can tell me facts about the content that is managed by a Drupal site.  Consider these user stories:

As a developer taking over an existing drupal project,
I want to know how much content the system has.
* How many nodes?
* How many taxonomy terms?
* How many users?
* How many different kinds of these things?

As a developer I want to know

[2016-01-22 20:49] HaleFx commented on #1767
If I run generate:entity:content and say "no" to the bundle option, the ENTITY_TYPE.page.inc and ENTITY_TYPE.html.twig files are both created, but hook_theme is not created in the module file (actually, no MODULE.module file is created at all), so neither one is used. If you say "yes" to the bundle option, hook_theme is created (although it looks like right now the MODULE.module file is missing an

[2016-01-22 23:12] HaleFx commented on #1121
The callback is not needed

[2016-01-24 21:46] rroblik opened #1785 "[generate:module] Not working on multi-sites"
Hi,

As I just check all options with @jmolivas on gitter.im, it's seem there is a problem with Drupal Console on multi sites.

```drupal multi:debug``` output is ok (see my 2 sites)
But ...

[code]

And
[code]

Need help please, I think it's a bug :)

Regards

[2016-01-25 02:12] acbramley opened #1786 "[config:import] Should take a directory argument instead of a file."
It might be my naivety, but the import and export commands don't seem to line up.

We have:
* config:import - takes a file (which seems to be a gz archive, rather than a yml file)
* config:import:single - takes a config name and a file name (not sure why both are needed, they should be the same bar the extension)
* config:export - takes a directory (this works nicely)
* config:export:single - take

[2016-01-25 02:17] acbramley commented on #1786
https://github.com/hechoendrupal/DrupalConsole/pull/1787

[2016-01-25 05:18] acbramley commented on #1707
+1 for this feature.

[2016-01-25 07:29] jmolivas commented on #1786
@acbramley: Thanks for creating the issue
* `config:import` - The `--file` option expect a compressed file not a YAML, to import a YAML we have the `config:import:single` command.
* `config:import:single` - The `--file` option takes a single YAML file to import we have an issue to improve and support an array of files to import https://github.com/hechoendrupal/DrupalConsole/issues/1707
* `config:e

[2016-01-25 14:26] cosmicdreams commented on #1767
Yes,  I don't recall coding it that way but know the place to look.  ETA: Wednesday.

[2016-01-25 14:46] frega commented on #1767
@cosmicdreams @HaleFx that sounds like a regression or possibly a missing feature, not sure which. I certainly see the point to add an appropriate theme function.

IIRC there's a small issue relating to hook_theme-entries because DrupalConsole cannot "modify" existent hook_theme-implementations so you end up w/ a new hook_theme-implementations.

[2016-01-25 15:35] enzolutions commented on #1739
@mnico will take care this issue

[2016-01-25 18:09] nonsie commented on #713
I have two D8 installs - 8.0.1 and 8.0.2. Drupal console is 0.10.5. drupal list shows all possible commands for 8.0.1 but only limited set without generate for 8.0.2 (both run from site root on OS X)

[2016-01-25 18:12] jmolivas commented on #713
@nonsie: Is 8.0.2
* Installed.
* Multisite.

[2016-01-25 18:23] #1766 closed

[2016-01-25 18:56] kevinquillen commented on #1719
I also get the same error - I am adding a config entity to an existing module (no need to generate the module first).

[2016-01-26 02:11] darol100 commented on #1458
Closing this issue since is been commited already. Feel free to reopen if this still applys.

[2016-01-26 02:11] #1458 closed

[2016-01-26 02:33] darol100 commented on #1717
Here is an issue about this in Drupal.org - [Theme *.services.yml files aren't detected] (https://www.drupal.org/node/2002606). Which is kinda relate to this issue to this feature.

[2016-01-26 02:55] ranqiangjun opened #1790 "[translation] Make help command translatable"
I noticed that the help command is untranslatable.

Since Drupal Console is multilingual friendly, IMO, it is necessary make all commands translatable.

I will send a PR later, please review it. Thanks in advance!

[2016-01-26 08:36] maen007 opened #1799 "After generating a new entity ..routing.yml does not exist"
I had to create it manually...

[2016-01-26 10:54] Eyal-Shalev opened #1800 "[module:path] - new command that returns the relative path to the module"
## Motivation
Some of our submodules are buried deep inside other modules

## Solution
Create a command that returns the relative path to the module (or absolute path)

[2016-01-26 17:11] jmolivas commented on #1799
May you include steps related how to reproduce:

**Details to include:**
- Drupal version (you can obtain this by running `drupal site:status`).
- Console version (you can obtain this by running `drupal --version`).
- Steps to reproduce
  * Executed command.
  * Ouput messages
  * Include screen-shot or video whenever necessary.

[2016-01-26 17:25] jmolivas commented on #1790
Fixed with #1791

[2016-01-26 17:25] #1790 closed

[2016-01-26 21:42] larowlan opened #1813 "[generate:entity:config] Add option to specify the base-path for routing"
### Problem/Motivation
Generating a config entity defaults to admin/config/{something}.
Sometimes you want it somewhere else.
This would allow an option to nominate the base path

### How to reproduce
N/A

### Solution
Add another question

[2016-01-26 21:43] larowlan commented on #1813
Working on this

[2016-01-26 22:28] acbramley commented on #1786
@jmolivas awesome, I can work on this improvement today

[2016-01-27 01:54] Jaesin opened #1816 "Chain command does not pick up the templates folder for custom module commands."
While creating a command for a custom module I was using chain to automate things but my templates weren't being found.

[2016-01-27 03:08] darol100 commented on #1816
@Jaesin , Can you explain your current module directory ? where do you have your templates ? Are you running the chain from your Drupal root directory ? What DrupalConsole version are you running and what Drupal 8 version are you running ?

[2016-01-27 04:25] acbramley opened #1817 "[config:export:single] Should have an option for exporting dependencies as well."
### Problem/Motivation
Being able to export a single config item is useful, but it would be great to be able to export all dependencies of that config item at the same time.

### Solution
Add option for ````--include-dependencies```` which calculates the dependencies using ConfigDependencyManager ala. the Features module.

PR to follow shortly.

[2016-01-27 06:27] maen007 commented on #1799
Drupal 8.0.1
PHP: 5.5.9
Drupal Console version 0.10.5
OS: ubuntu 14.04
Executed commands:
- drupal generate:module
- drupal generate:entity:content

[2016-01-27 09:21] Jaesin commented on #1816
Hello @darol100 It's here: https://github.com/Jaesin/content_entity_base/tree/console-ceb/console_ceb

[2016-01-27 09:23] Jaesin commented on #1816
Drupal latest, Console latest (from git).
I believe I was running the command from the site root.

[2016-01-27 15:42] nonsie commented on #713
Turns out that I was not in the root of the site for 8.0.1. Once I realized that Drupal console worked as it should.

[2016-01-27 16:33] jmolivas commented on #713
@nonsie: Glad to read that.

[2016-01-27 18:08] darol100 commented on #1817
This will be a very nice feature.....  1+

[2016-01-27 18:43] chuongle commented on #1755
I got it working by adding `"status" = "status"` to the entity_keys or using @HaleFx solution.

[2016-01-27 19:19] ultimike opened #1819 "generate:form, submit button not prompted for "value""
When using generate:form to create a form structure, when the "submit" type selected, there is no prompt for the "value" of the submit button. This leads to submit buttons with no text on them.

generate:form does prompt for a submit element's "Input label", but this seems unnecessary, as it is not used...

thanks,
-mike

[2016-01-28 00:22] darol100 commented on #1092
Here is some extra information to get of the Drupal 8 changes. https://www.drupal.org/list-changes/drupal

@jmolivas .

[2016-01-28 02:30] acbramley opened #1821 "[config:diff] Implement new command to output differences between active config and a directory."
### Problem/Motivation

It's helpful to know if anything has changed. Initial command can just show the config that has changed, could potentially extend this to actually show the difference although that could be messy.

### Solution

Implement it!

[2016-01-28 08:35] balagan73 opened #1824 "Call to a member function getProjects() on a non-object in src/Helper/SiteHelper.php"
I have just updated drupalconsole with self-update to version 0.10.6. The update was successful, but running drupalconsole again I get the following error:
or: Call to a member function getProjects() on a non-object in phar:....../php/drupalconsole/src/Helper/SiteHelper.php on line 371

[2016-01-28 13:08] balagan73 commented on #1824
The problem is, I have  no update.manager service on my machine

[2016-01-28 15:55] HaleFx commented on #1799
I noticed this change a few versions back. It isn't needed. The defined handlers and EntityHtmlRouteProvider.php seem to take care of everything.

[2016-01-28 16:59] maen007 commented on #1799
Nope, after usind the commands and trying to open the settings, there comes a fatal error. So the settings are not routed. Thus I created the routing.yml by hand.

[2016-01-28 17:02] HaleFx commented on #1799
The settings path doesn't work because of #1726

[2016-01-28 23:07] enzolutions commented on #1755
Fixed with PR #1820

[2016-01-28 23:07] #1755 closed

[2016-01-29 19:55] mnico commented on #1726
This issue is solved with this PR https://github.com/hechoendrupal/DrupalConsole/pull/1805

[2016-01-29 20:47] mnico commented on #1754
Hello, apparently, a shortcut does not support more than one character. So I think it would be better to delete it or looking for another single character. The same for generate-inline and generate-doc
I have the same error with other commands.

[2016-01-30 10:45] miromichalicka opened #1834 "[migrate] Migrate commands are not working as expected"
After enabling migrate and migrate_drupal modules I am still getting following error:
[ERROR] Missing module dependency "migrate" is not installed. Try module:install to install it.

With 0.10.3 everything is working fine.

[2016-01-30 10:49] miromichalicka commented on #1834
Tested with 0.10.3-0.10.6. This is issue only for the latest version.

[2016-01-30 19:29] #1754 closed

[2016-01-31 15:38] vacho opened #1842 "The console doesn't execute: "Segmentation fault""
After install, and execute in my VPS appear this message: "Segmentation fault"

I install with this commands:
curl https://drupalconsole.com/installer -L -o drupal.phar
mv drupal.phar /usr/local/bin/drupal
chmod +x /usr/local/bin/drupal

This is the environment:
CentOS release 6.7 (Final)
PHP 5.5.30 (cli) (built: Oct 20 2015 13:23:31)

[2016-02-01 01:26] jmolivas commented on #1824
Fixed with PR #1837

[2016-02-01 01:26] #1824 closed

[2016-02-01 06:10] #1813 closed

[2016-02-01 06:32] #1817 closed

[2016-02-01 06:40] #1821 closed

[2016-02-01 06:43] jmolivas commented on #1786
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/1815

[2016-02-01 06:43] #1786 closed

[2016-02-01 06:44] jmolivas commented on #1726
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/1805

[2016-02-01 06:44] #1726 closed

[2016-02-01 06:45] jmolivas commented on #1799
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/1805

[2016-02-01 06:45] #1799 closed

[2016-02-01 13:52] mnico commented on #1739
Fixed with PR #1805

[2016-02-01 16:46] #1739 closed

[2016-02-01 20:33] jmolivas commented on #1834
Fixed, this wiull be reflected on the next release v0.10.7
As you can see the execution before and after applying the fixes.
![drupal-migrate-debug](https://cloud.githubusercontent.com/assets/366275/12730224/d6d0f032-c8df-11e5-959b-560dde4a7552.png)

[2016-02-01 20:33] #1834 closed

[2016-02-01 20:35] jmolivas commented on #1842
@vacho: I was not able to replicate this issue. Is this itill happening ?

[2016-02-01 21:15] jmolivas commented on #1770
@cosmicdreams @darol100 PR https://github.com/hechoendrupal/DrupalConsole/pull/1844 merged.

The command names is `site:statistics` and this is how the output looks like:
![drupal-statistics](https://cloud.githubusercontent.com/assets/366275/12731434/d2772ee2-c8e5-11e5-8324-67d272c3a4bb.png)

[2016-02-01 22:19] cosmicdreams commented on #1770
OOOOOOOO nice!

Next phase:

How many fields?
For each entity, list the fields (by name / machine name) that they contain.

[2016-02-01 23:13] darol100 commented on #1770
Assuming that we are adding the field base, we also need to be able to limit by which type of entity is going to be using. For instance, `site:statistics --fields --node:article.` So this can show all the fields and from the article.

[2016-02-02 13:23] UnbekanntesPferd opened #1848 "How to reinstall module?"
Hi!
I generated a module via console, installed the module and then generated an entity for that module (generate:entity:content). After that I couldn't uninstall the module because I'm getting SQL errors like

[code]

Is there any way to update/reinstall the module? Or what would be the correct way of subsequently adding entities to a module

[2016-02-02 14:21] dmouse commented on #1842
Maybe is a memory problem,

what's is the value in memory_limit variable?

Or

How many memory it's free in your server?
On Feb 1, 2016 2:35 PM, "Jesus Manuel Olivas" <notifications@github.com>
wrote:

[2016-02-02 14:44] mnico commented on #1848
The correct way is adding entities to a module that is not installed yet.
In this case try creating the table with a single column directly in the database and then uninstall the module.

[2016-02-02 15:09] kevinquillen opened #1849 "Generating config entity; routes don't work"
I generated a new config entity in a new module (generate:entity:config). I left this prompt blank:

[code]

However, visiting the URL "admin/structure/(entity_name)" and anything underneath it brings up a 404.

I notice no routing.yml file is created in the module as well. Should there be? How can I resolve this?

[2016-02-02 16:14] kevinquillen commented on #1813
Actually the routes aren't updated.. if you say, specify /admin/config/content as the base path, your routing and menu files still wind up receiving the wrong route parent:

[code]

Where in this case, it should be:

[code]

[2016-02-02 17:51] rroblik commented on #1785
Ok ... working fine, my `uri`  parameter was incorrect.

Painful to use drupal console with multisite :/

I will look for aliases :)

[2016-02-02 17:58] rroblik opened #1851 "Aliases for Multisite"
Hi,

After spend a lot of time to understand how to use Drupal Console on multi-site installation ...
I ask if we can configure aliases somewhere (like in `~/.composer/xxx.yml` ?) to be able to do like I did with Drush in the past :

[code]

I can't see any doc about that... can you help me ?

Regards

[2016-02-02 18:05] jmolivas commented on #1785
@rroblik what was the issue?

Do you mind to elaborate, based on your comments we can improve the documentation pages:
https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-use-drupal-console-in-a-multisite-installation.html

[2016-02-02 18:24] jmolivas commented on #1851
@rroblik:  We have sites aliases, but you need to use `--target` option, something like this:
[code]
For docs on this topic, you can visit `How to use Drupal Console in a remote site installation`
https://hechoendrupal.gitbooks.io/drupal-console/content/en/using/how-to-use-drupal-console-in-a-remote-installation.html

We do not have any docs yet aboout, `How to configure a site alias` but so far t

[2016-02-02 18:44] rroblik commented on #1851
thanks @jmolivas I already saw that
I think add an *alias* item inside `mysite.yml` for each environment should be very good :) , something like that :
[code]
Then `drupal mysite@dev cr` or `drupal @dev cr` (as Drush !)
(`--target` syntax is... too long !)

Regard

[2016-02-02 19:02] jmolivas commented on #1851
Like the idea of the autolias as we used on `--target=sample.dev`.

I need to confirm if doing something like `@sample.dev` or `sample@dev` is possible with `symfony/console` component. ( I kinda like the first one better `@sample.dev`)

[2016-02-02 20:04] rroblik commented on #1851
I agree with you :)

+1 for `@sample.dev`

(maybe add a "feature" label to this topic)

[2016-02-02 20:05] jmolivas commented on #1851
@rroblik: I write some code and this is how it looks like
![drupal-console-alias-format](https://cloud.githubusercontent.com/assets/366275/12762291/58d8681c-c9a3-11e5-8764-c3672f5bd26b.png)

[2016-02-02 20:47] rroblik commented on #1851
Very nice ! Available in dev??

[2016-02-02 21:29] jmolivas commented on #1851
@rroblik:  PR comming later on today.

[2016-02-02 21:57] larowlan commented on #1813
damn

[2016-02-03 03:57] #1851 closed

[2016-02-03 05:30] acbramley opened #1854 "Chain command helper doesn't respect --uri option passed in"
I have a command that uses the chain command helper to set some site specific input options. One of which is the `--uri` option which as important for url translations.

If I run my command directly with --uri, and dump the result of the following code, the correct absolute url is output:

[code]

But when passing --uri through the chain command like this:

[code]

The url that outputs is simply a

[2016-02-03 05:35] jmolivas commented on #1854
@acbramley I will be taking a look at this, ping me at https://gitter.im/hechoendrupal/DrupalConsole if you are available.

[2016-02-03 07:48] jmolivas commented on #1854
@acbramley: The chain helper does not re-boot drupal, it shared the booted drupal.

I did some code changes. PR https://github.com/hechoendrupal/DrupalConsole/pull/1855 this code detects if `--uri`, `--target` or `--root` options were passed and send an ouput message.

Still missing to re-boot drupal this must require a change on the `Application` class but I think is a valid use case.

[2016-02-03 07:52] jmolivas commented on #1848
@UnbekanntesPferd  @mnico we may need to review this old issue https://www.drupal.org/node/2629516

[2016-02-03 08:51] DmitryDrozdik opened #1857 "[test:run] Running test in the console always failed."
### Problem

I have a test for a module https://github.com/drupal-ukraine/dmaps/blob/8.x-1.x/d8/modules/custom/dmaps/src/Tests/Form/MainSettingsFormTest.php . It works well in the UI and always pass, but when I run it in the console using next command
`drupal -vvv test:run --url http://default "\Drupal\dmaps\Tests\Form\MainSettingsFormTest"`

I can see lot's of errors in the output. Example of out

[2016-02-03 15:53] UnbekanntesPferd commented on #1848
Thank you :+1:

[2016-02-03 16:01] UnbekanntesPferd opened #1859 "[site:new] Prompt for directory"
Is there a way to let site:new prompt for directory and maybe version?

I'd like to use it via chain and that file should be used to setup a fresh install as a new project so the directory changes each time.

[2016-02-03 16:59] ericpugh opened #1861 "[generate:command] There are no commands defined in "module" namespace"
I'm having issues generating a custom command. I've tried on several different environments. To reproduce on a fresh install (Drupal 8.0.2 and Console 0.10.8):
Generate a "mycmd" module (**from Drupal root**) `drupal generate:module` with default options successfully creates module files:
[code]
Create a custom Command `drupal generate:command` with default options, successfully creates the custom

[2016-02-03 17:20] jmolivas commented on #1851
@rroblik: Merged and included on new release v0.10.8.

[2016-02-03 17:25] jmolivas commented on #1859
@UnbekanntesPferd: Yes you can pass `directory` and `version` values.

* Inline mode:
[code]

Using chain command, this should be the chain definition:
[code]

You can take a look at the provided chain files at the repo: https://github.com/hechoendrupal/DrupalConsole/tree/master/config/dist/chain

You can also copy those files to your home directory for customization by executing:
[code]

[2016-02-03 17:28] jmolivas commented on #1861
@ericpugh: Did you installed the module `drupal module:install mycmd`?, The command discovery mechanism only load commands on installed/enabled modules.

[2016-02-03 17:49] ericpugh commented on #1861
Ugh. Of course that works. :) I'm still having this issue on a setup installing Console with composer (not using the drupal.phar) but since I can't reproduce on a clean install, the problem must be in my setup or in [that project](https://github.com/drupal-composer/drupal-project). Thanks for your quick response and the work you've done on this excellent project!

[2016-02-03 17:49] #1861 closed

[2016-02-03 17:55] jmolivas commented on #1861
@ericpugh what is the issue using `drupal-composer/drupal-project`? I have been testing and re-built my blog using it without any issues.

[2016-02-03 18:04] jmolivas commented on #1785
@rroblik closing this based on your comment

[2016-02-03 18:04] #1785 closed

[2016-02-03 18:07] ericpugh commented on #1861
@jmolivas I'm having the issue described above, but from everything in this issue suggests the problem is particular to me. I'll have to test a fresh install of `drupal-composer/drupal-project` and will post to the appropriate project if I can confirm a problem.

[2016-02-03 18:58] enzolutions commented on #1857
@DmitryDrozdik all you need to do is pass a valida URL of a Drupal 8 Installation.

[2016-02-03 18:58] #1857 closed

[2016-02-03 19:06] enzolutions commented on #1661
Hello @darol100

Your request is too specific, that is something dont' not everybody will use or require. If you want to this I recommend an article I wrote that explain to you how you can accompllish that using a convination of Drupal Console commands http://enzolutions.com/articles/2016/02/01/form-altering-will-not-be-the-same-in-drupal-8-after-using-webprofiler/

Please check and close this iss

[2016-02-03 19:24] jmolivas commented on #1816
@Jaesin May you try using latest release 0.10.8? if the issue persist can you please elaborate how to replicate it?

[2016-02-03 19:52] darol100 commented on #1661
Maybe not everybody but I think a lot people will be doing something similar. I have work on many themes that require specify files from the front page and this might be easier way to solve this issue by adding custom fields in the theme.

However, base on your article it seem like this can be already done by alter the theme_setting form.

Before close this issue can this command...

[code]
Can be

[2016-02-03 20:05] enzolutions commented on #1661
I don't think so, due the theme hook form alter is part of .module files, I we don't have te template.php file anymore.

[2016-02-03 20:14] darol100 commented on #1661
You can run hook_form_alter in `.theme ` which is been supported by a theme. You can see an example of that at http://cgit.drupalcode.org/casper/tree/casper.theme?h=8.x-1.x Casper is a theme that I'm currently working on, and it runs fine.

[2016-02-03 20:15] enzolutions commented on #1661
uhhh them mean, we need to enable the form alter to allow themes and modules, can you close this issue and create a new one, please

[2016-02-03 20:16] cosmicdreams opened #1863 "Extend site:statistics to display a list of fields per content type"
In #1770 the site:statistics feature landed.  We now have a great way of seeing how many pieces of content of each kind of content exist in a Drupal 8 site.  The original intent for the creation of this command was to be able to complete a content audit more quickly than doing the archaeological dig through the site.

One additional thing that would be very insightful to discover when doing this k

[2016-02-03 20:17] cosmicdreams commented on #1770
As the recent notification points you to, I've created a new issue at #1863 about the feature addition to this.  Right now I just want to find more questions about the content and configuration that this command can answer

[2016-02-03 20:18] darol100 commented on #1661
Will that issue be a duplicate of #1717 or is a different issue ?