[2013-10-23 07:27] jmolivas opened #9 "Routing file not updated"
The routing file  `module_name.routing.yml` is not updated when controller is generated using `generate:controller` command

[2013-10-23 18:19] #9 closed, assigned to nobody

[2013-10-27 23:20] xjm opened #18 "Clarify that services are optional"
When using the form generating tool, the user is prompted to enter services, but in the example video on youtube, services that are not closely related to the module demonstrated. Might be good to have something like:
`services (optional):`
or even to clarify that certain common services are already available to the form from FormBase. :)

[2013-11-01 20:09] #18 closed, assigned to jmolivas

[2013-11-22 01:05] juampynr opened #27 "composer.lock is not meant to be changed in Drupal 8"
This module needs to be installed at the root of a Drupal 8 installation, thus altering its composer files. This can cause problems in the future since at the moment the core team is figuring out how to overcome this.

Is there a chance for this project to work as a standalone executable that uses the current path in order to figure out Drupal 8's files? See the following error when I attempted to

[2014-01-17 06:54] #27 closed, assigned to nobody

[2014-01-23 17:14] patcon opened #39 "Investigate yeoman generators"
This is a _really_ cool project, but you might want to investigate the yeoman tool, which was explicitly designed for building scaffold generators like this :)

https://github.com/yeoman/yo
http://yeoman.io/generators.html
http://yeoman.io/community-generators.html

There have already been some stabs at creating generators for drupalish things.

https://github.com/davidgenetic/generator-drupalmodu

[2014-01-27 16:55] #39 closed, assigned to nobody

[2014-04-10 23:41] vacho opened #53 "Name of module"
The interface of generate module ask the name of module. The tool generate that module folder with this name and many files into.

if i put the name "My module" the space causes errors. And in many cases it is desirable that this readable module name separated by a space but not the name of your files.

[2014-04-23 15:27] vacho opened #55 ".bin/console--help don't show command's details"
don't show
generate:module
generate:controller
generate:form
...

[2014-04-29 21:37] egulias opened #57 "[RFC] - PSR code style?"
Hi guys!
Amazing what you are doing.
Reading the code I've found myself reading "Drupal way" code style. I know Gardfield is in the PHP-FIG.
Why not changing to the PSR-1, PSR-2 code styles?
Would be much easier for us #symfony guys to read & contribute :smile:

[2014-05-02 22:19] egulias opened #59 "[RFC] - Use TableHelper for table output"
Hi!
I've spoted this line https://github.com/hechoendrupal/DrupalAppConsole/blob/master/lib/Drupal/AppConsole/Command/ServicesCommand.php#L209 which was the Symony 2.0-2.3 ways for table output. Since 2.3 there is a [TableHelper](http://symfony.com/doc/current/components/console/helpers/tablehelper.html) which renders table much more nicely. It allow to delete a lot of code and make this nicer.

[2014-05-21 15:22] cordoval opened #64 "please remove wiki tab"

[2014-05-21 15:23] cordoval opened #65 "can we change the name to drupal-generator-console?"

[2014-05-28 03:48] #65 closed, assigned to nobody

[2014-06-04 10:21] mikebell opened #67 "Update README.md to refleect change to PSR4"
Hey,

Stumbled on this project from @fmitchell talk at Austin, PSR-0 is out and PSR-4 is in (both supported for the time being though) so it might be worth updating the directory structure to reflect that.

[2014-06-04 18:35] anakinjay opened #68 "Call to member function isSecure() on non-object"
Just learned about this at drupalcon and gave it a shot.  On my ubuntu 14.04 vagrant box I'm getting this error:

PHP Fatal Error: Call to a member function isSecure() on a non-object in /vagrant/www/core/lib/Drupal/Core/Session/Sessionmanager.phpon line 120

Let me know if there's any way I can help with this.

 I'm running:
nginx w/ php 5.5.9

[2014-06-06 15:27] #68 closed, assigned to nobody

[2014-06-06 17:46] frob opened #70 "Tag a stable release"
It would be very helpful to have a stable tag to use while the console is in heavy development.

[2014-06-06 21:50] dearmond opened #73 "Add comma to the end of the final line of arrays"
Specifically, I noticed in the form builder that the form item arrays should contain a comma at the end of each line.

Example:
This is what it does:
    $form['myfield'] = array(
      '#type' => 'textfield',
      '#title' => $this->t('My Field'),
      '#description' => $this->t(''),
      '#default_value' => $config->get('myfield')
    );

It should do this:
    $form['myfield'] = array(

[2014-06-11 19:10] #73 closed, assigned to jmolivas

[2014-06-11 19:58] #67 closed, assigned to nobody

[2014-06-11 20:23] #70 closed, assigned to nobody

[2014-06-17 17:51] vacho opened #89 "PHP warning and error because no found the file autoload.php"
When I type this command:
root@Oscar:/var/www/html/devd8# ./bin/console generate:module

I get this messages:
PHP Warning:  require(/var/www/html/devd8/core/vendor/hechoendrupal/drupal-app-console/bin/../vendor/autoload.php): failed to open stream: No such file or directory in /var/www/html/devd8/core/vendor/hechoendrupal/drupal-app-console/bin/console on line 6
PHP Fatal error:  require(): Failed

[2014-06-23 19:36] #89 closed, assigned to nobody

[2014-06-23 22:11] #64 closed, assigned to nobody

[2014-07-03 16:50] rpmsk opened #120 "Kernel does not have site path set before calling boot()"
I saw the Jesus Olivas youtube video on how to install and use drupal console. I installed it but did not use a vm(virtual machine) drupal install, just a normal site install. I can not use the console module. Here is what happens..
$ ./bin/console --help
Finding bootstrap.inc file...
Searching in /adp/www/d8/d8jun30/core/includes
File bootstrap.inc file found!
  [Exception]
  Kernel does not have

[2014-07-03 17:16] #120 closed, assigned to nobody

[2014-07-03 21:01] #59 closed, assigned to nobody

[2014-07-05 14:57] vacho opened #136 "Twig_Error_Runtime When create a module"
When I try create a module with this parameters:

Module name: TestA
Module Path [/var/www/html/kclient/modules]:
Description [My Awesome Module]: The TestA module is an example for testing
Package [Other]:
Core [8.x]:
Do you want to generate a Controller [no]? yes
Do you want to generate Test [yes]?
Do you want to generate a setting file [no]? yes
Do you want to generate the whole directory struc

[2014-07-05 15:16] vacho opened #137 "Validation error when a module is created with the name of an existing module."
When i try create with the "Console" the module "Node", the console let me generate the code of this new module, so when y try enable this module this error has been appear

Fatal error: Cannot redeclare Node_help() (previously declared in /var/www/html/kclient/core/modules/node/node.module:91) in /var/www/html/kclient/modules/Node/Node.module on line 12

jijiji. The console should validate that t

[2014-07-06 02:48] #136 closed, assigned to jmolivas

[2014-07-06 03:50] #137 closed, assigned to jmolivas

[2014-07-07 20:41] vacho opened #143 "Problem when download dev-master"
When I execute this command
COMPOSER_BIN_DIR=bin composer require --dev drupal/console:dev-master

This problem appear:

  Problem 1
    - Conclusion: remove zendframework/zend-feed 2.2.6
    - Conclusion: don't install zendframework/zend-feed 2.2.6
    - Can only install one of: zendframework/zendframework[2.2.6, 2.2.1].
    - Can only install one of: zendframework/zendframework[2.2.6, 2.2.1].

[2014-07-09 02:38] vacho opened #147 "Add generate content-entity command"
This is a issue for requirement of a new feature

This feature complement the 'generate entity' recently added by @jmolivas at Merge pull request #142 which generate 'configuration-entity'

[2014-07-09 19:28] #55 closed, assigned to nobody

[2014-07-16 02:27] #147 closed, assigned to nobody

[2014-07-16 18:33] #143 closed, assigned to nobody

[2014-07-16 23:49] vacho opened #166 "Local actions and settings options don't show/load ad content-entities"
The local actions options like "Add" at list of entities don't show or load.

The entities configurations like "Settings | Manage fields | Manage form display | Manage display" options don't show.

This issue appear at the last drupal 8 dev versión. (jul-16)

[2014-07-17 15:26] vacho opened #170 "generate:entity:content is allowing duplicated "machine_name" to be entered"
when I generate the entity "name_entity" and later I generate other entity with same name "name_entity" the code generated has duplicate.

And several other issues arise for failing at validate the id of the entity

[2014-07-17 19:27] jmolivas opened #171 "[generate:form:*] Form generation defaults to extend from ConfigFormBase class"
When generating form using command
`generate:form`
By default the generated Form Class extends ConfigFormBase

**Solutions**
1) Add new question
  * Ask for interface (more developer friendly)
   Interface to implement ? 'FormBase', 'ConfigFormBase', 'ConfirmFormBase'

  * Ask for form type (more user friendly)
   Form type to generate ? 'Generic', 'Configuration', 'Confirmation'

2) Split command

[2014-07-21 20:30] #53 closed, assigned to jmolivas

[2014-07-21 20:30] #166 closed, assigned to nobody

[2014-08-02 15:17] vacho opened #172 "update generator to 8.0.x core version"
I see that the drupal 8.0.x branch has been created the last Ago-1.

the main change it is:
$form_state is now a classed object
https://www.drupal.org/node/2310411
motivation:
https://www.drupal.org/node/2225353

[2014-08-02 18:15] vacho opened #173 "Forms at content-entities not function at 8.0.x core."
How I mentionet at isse #172 the $form_state is no longer a array.

[2014-08-28 21:39] rpmsk opened #180 "generate:entity:config Error during Delete"
Re: file example/src/Form/{class_name}DeleteForm.php
d8 version: 8.1.x (aug25); console version: 0.2.8
Core code has apparently changed. Cannot delete the config entities added with "console". These changes worked:
[-]  public function getCancelRoute()
[+]  public function getCancelUrl()

[-]    $form_state['redirect_route'] = $this->getCancelRoute();
[+]    $form_state['redirect_route'] = $this->

[2014-09-01 07:47] jmolivas opened #187 "Entity "controllers" are renamed to handlers"
The term controller is currently used inconsistently in Drupal 8 core. In particular, routing "controllers" and entity "controllers" are actually very different concepts. For this reason, the entity "controllers" will be referred to as handlers more information here => https://www.drupal.org/node/2200867

[2014-09-01 16:04] jmolivas opened #190 "Class 'Drupal\Core\Field\FieldDefinition' not found"
Error: Class 'Drupal\Core\Field\FieldDefinition' not found in /drupal8.dev/modules/acme/src/Entity/FooContent.php, line 112

This happens when running `generate:entity:content`

[2014-09-02 17:47] #172 closed, assigned to nobody

[2014-09-02 17:47] #173 closed, assigned to nobody

[2014-09-02 17:47] #180 closed, assigned to nobody

[2014-09-02 17:47] #187 closed, assigned to nobody

[2014-09-02 17:47] #190 closed, assigned to nobody

[2014-09-13 22:18] jmolivas opened #197 "Add "/custom" on Module Path to generate:module command"
Since this is considered a good practice this issue propose to update the suggested path where the module is generated.

Addding `/custom` to Module Path default value question
`Module Path [DRUPAL_8_ROOT_PATH/modules]:`

Should look like this
`Module Path [DRUPAL_8_ROOT_PATH/modules/custom]:`

[2014-09-14 00:58] jmolivas opened #198 "Make Console work as stand alone as executable console.phar"
Provide a downloadable console.phar file in order to install project globally on the system

[2014-09-14 01:00] jmolivas opened #199 "Update Documentation"
Update README, add external links to Symfony documentation

Symfony Console component
http://symfony.com/doc/current/components/console/introduction.html

Twig
http://twig.sensiolabs.org/documentation

[2014-09-14 01:02] jmolivas opened #200 "[console] Setup CodeSniffer check generated code on project build"
Setup CodeSniffer check generated code on project build

[2014-09-14 01:04] jmolivas opened #201 "[console] Update TravisCI configuration"
Change the way to generate code in travis

[2014-09-14 01:12] jmolivas opened #202 "Improve and keep up to date current commands and generators"
- [x] generator:module
- [x] generator:controller
- [x] generator:form:config
- [x] generator:entity:config
- [x] generator:entity:content
- [x] generator:command
- [x] generator:plugin:block
- [x] generator:plugin:imageeffect
- [x] generator:service
- [x] router:debug
- [x] router:rebuild
- [x] container:debug
- [x] drush

[2014-09-19 07:35] #197 closed, assigned to omero

[2014-09-23 23:52] jmolivas opened #208 "Error when executing container:debug command"
[code]

[2014-10-10 15:57] vacho opened #211 "The commands for generate code at documentation in front of github is incorrect"
generator:module
not work
generate:module
works fine

and thus similar to
generator:controller    router:rebuild
generator:form:config
generator:entity:config
generator:entity:content
generator:command
generator:plugin:block
generator:plugin:imageeffect
generator:entity:config
generator:service

[2014-10-10 16:01] vacho opened #212 "generate:entity:content don't work"
This error display

 [Twig_Error_Loader]
  Unable to find template "module/src/accessControlHandler-entity-content.php
  .twig" (looked into: /var/www/html/drupal8/modules/console/src/Command/../R
  esources/skeleton, /var/www/html/drupal8/modules/console/src/Command/../Res
  ources).
generate:entity:content [--module="..."] [--entity-class="..."] [--entity-name="..."]

[2014-10-10 18:55] #208 closed, assigned to jmolivas

[2014-10-10 19:08] #211 closed, assigned to nobody

[2014-10-10 19:44] jmolivas opened #214 "Twig_Error_Loader when using generate:entity:content"
Drupal Issue: https://www.drupal.org/node/2353845

[2014-10-11 11:20] #214 closed, assigned to nobody

[2014-10-11 20:47] jmolivas opened #217 "Entity config generation EntityDeleteForm is not deleting"
When executing `generate:entity:config` the EntityDeleteForm generated code is not  properly naming a method name based on the official documentation here:
https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!EntityConfirmFormBase.php/class/EntityConfirmFormBase/8

Actual code:
`public function submit(array $form, FormStateInterface $form_state) {`

Expected code:
`public function submitF

[2014-10-14 04:43] #202 closed, assigned to nobody

[2014-10-14 04:50] #199 closed, assigned to jmolivas

[2014-10-14 04:50] #212 closed, assigned to nobody

[2014-10-14 04:50] #217 closed, assigned to jmolivas

[2014-11-01 02:15] #170 closed, assigned to jmolivas

[2014-12-07 04:31] vijaycs85 opened #235 "Update stable as current stable has fatal"
When we use below command, it downloads version "0.3.0".

[code]

As "version": "0.3.0" uses a deprecated function [class_loader](https://www.drupal.org/node/2327157), it throws fatal error.

[2014-12-10 13:45] vacho opened #236 "[generate:entity:content] Don't generate entity autocomplete functionality"
This issue is a feature requirement.

The content entities generated's don't have the autocomplete functionality to be called by external forms

[2014-12-17 17:47] jmolivas opened #238 "Update and synchronize with Drupal 8 beta 4 release"
- [x]  drush
- [x]  help
- [x]  list
- [x]  config:debug
- [x]  container:debug
- [x]  generate:command
- [x]  generate:controller
- [x]  generate:entity:config
- [x]  generate:entity:content
- [x]  generate:form:config
- [x]  generate:module
- [x]  generate:plugin:block
- [x]  generate:plugin:imageeffect
- [x]  generate:service
- [x]  router:debug
- [x]  router:rebuild

[2014-12-18 00:46] #238 closed, assigned to nobody

[2014-12-18 01:00] #235 closed, assigned to nobody

[2014-12-18 01:01] #198 closed, assigned to dmouse

[2014-12-18 18:52] jmolivas opened #242 "Plugin Block error message Undefined index: FIELD_NAME"
When trying to assign block to region on 'Configure block' overlay Block form fields are not shown

[2014-12-20 00:39] #242 closed, assigned to jmolivas

[2014-12-20 14:10] AxelBriche opened #248 "[generate:plugin:field-widget] Generate a new Field Widget"
Hello, it's possible with Console to create a new Field Widget please ?
Example: a field of type Media for upload images and video from youtube, vimeo, etc.

Thanks.

[2014-12-20 16:46] vacho opened #249 "generate:entity:content fail to module name recognition"
When I try generate content entity the console prompt ask for module name. The console doesn't autocomplete the module name and when type this the console fail:
Error message:
 Module "mimodulo" is invalid. You can use first generate:module command.

but the module exist.

[2014-12-21 08:48] tarjei opened #250 "You should provide a download for console.phar"
Instead of building it on install.

Also, the install URL should be on https.

[2014-12-22 18:55] jmolivas opened #255 "Allow running console.phar globally as composer and drush"
Accessing console from anywhere on your system:
To access console globally move the executable 'console.phar' to a directory that is already in your PATH.

[code]

Usage:

[code]

[2014-12-23 17:09] bojanz opened #258 "Wrong brace position for generated classes and interfaces"
The generated code puts the opening brace on its own line, but according to https://www.drupal.org/node/608152 the brace needs to be  in the line where the class/interface is declared.

https://github.com/bojanz/workflow/commit/20fa62268861639e20038d5473b2351b6502452a

[2014-12-24 17:55] #250 closed, assigned to jmolivas

[2014-12-24 20:18] jmolivas opened #260 "composer global require drupal/console it doesn't work"
I tried a `composer global require drupal/console` and it doesn't work.

This is the error message

[code]

[2014-12-24 20:19] #255 closed, assigned to jmolivas

[2014-12-24 21:49] #249 closed, assigned to jmolivas

[2014-12-24 22:51] #260 closed, assigned to nobody

[2014-12-27 13:25] enzolutions opened #264 "Enable add a Textarea field in Form Config generator"
Right now the field widget type **textarea** in not available and I could say after the textfield is the second popular.

Great job BTW

[2014-12-28 20:44] danielnv18 opened #267 "Autoupdate console"
Is there any change that the console can be autoupdated? Something similar to the way composer does it.

I didn't see any command for autoupdate

[2014-12-28 22:30] #264 closed, assigned to nobody

[2014-12-31 03:37] omero opened #272 "The Entity Generator creates files with spaces"
When the entity generator ask for the name of the entity class and i write something like ``Product Entity`` the generator creates the files necessary for the entity with spaces and we have results like this:
![screen shot 2014-12-30 at 8 24 54 pm](https://cloud.githubusercontent.com/assets/1909779/5585243/3ecd996e-906b-11e4-96ca-aaef76a9ae83.png)

[2015-01-05 13:00] Chi-teck opened #275 "Drupal 7 support"
Hi there.
I just came across this project. It looks awesome. I really wish I knew about it before because I have started the same work.
Here it is: https://github.com/Chi-teck/drupal-code-generator

Do you have any plans for Drupal 7 support?

[2015-01-05 13:13] Chi-teck commented on #267
This article might be useful http://moquet.net/blog/distributing-php-cli/#auto-updates

[2015-01-05 16:07] jmolivas commented on #267
Thanks @Chi-teck and @danielnv18, we are looking at this, feel free to send a PR :)

[2015-01-05 16:29] dmouse commented on #275
Awesome more developers are interested in creating this kind of tool for Drupal!

As you can see https://github.com/hechoendrupal/DrupalAppConsole#project-goals at this point we are focused on creating commands for Drupal 8 in order to help developers to easily migrate to the new version.

Theres is actually a module that provide this type os functionality for D7 https://www.drupal.org/project/mod

[2015-01-05 16:48] jmolivas commented on #275
Thanks for the kind words @Chi-teck :)

And as @dmouse said feel free to open an issue or send a PR

[2015-01-05 18:59] Chi-teck commented on #275
I have had some look at the project. It seems you are developing something more generic than just code generator (new Drush like tool?). The generate commands are tied to Drupal 8 installation so it is not possible to support Drupal 7 without redesigning project architecture. I will proceed with Drupal 7 in *Drupal Code Generator* project and perhaps I will add some Drupal 8 generators there.

In

[2015-01-05 18:59] #275 closed

[2015-01-06 14:31] Chi-teck opened #277 "PHP Fatal error: Cannot redeclare React\Promise\resolve()"
I tried to run *bin/console* file with *drupal-8-beta-4* and got the following message:

 Is there something special to make it working without phar compilation?

[2015-01-06 15:59] jmolivas commented on #277
I have not tested inside a Drupal installation since we have the installer & executable.

How do you installed and which version are you using @Chi-teck ?

[2015-01-07 08:40] Chi-teck commented on #277
I am using last master branch. The generate commands work only inside Drupal installation. Right?
https://github.com/hechoendrupal/DrupalAppConsole/blob/master/bin/console.php#L54

[2015-01-07 09:28] jmolivas commented on #277
Actually if you run the file outside a Drupal 8 root directory this should appear

[code]

[2015-01-07 09:31] jmolivas commented on #277
Also @Chi-teck make sure you install using composer `--no-dev` before copy/move to Drupal 8 root directory
[code]

[2015-01-07 09:34] jmolivas commented on #277
May you run a tree command `tree vendor/ -L 2` and this should be the result.
[code]
NOTE: You may not have `config`  and `translation` since those are part of the upcoming release

[2015-01-07 11:09] Chi-teck commented on #277
It solved the problem. Thanks.

[2015-01-07 11:09] #277 closed

[2015-01-07 16:25] jmolivas commented on #272
Fixed on latest release [v0.6.0](https://github.com/hechoendrupal/DrupalAppConsole/releases/tag/0.6.0)

[2015-01-07 16:25] #272 closed

[2015-01-08 19:23] mmenavas opened #286 "Generating modules"
I was getting an error message because I didn't realize that to generate a module I had to run the console commands from a drupal installation.

![standalone_console](https://cloud.githubusercontent.com/assets/770699/5668842/ae7adc78-9740-11e4-9e1b-d2766a0b19e8.png)

I think this exception should be caught and replaced with a more helpful message.

[2015-01-08 19:24] dmouse commented on #286
You are into the drupal 8 folder?

[2015-01-08 19:27] mmenavas commented on #286
No, I wasn't. That information was missing on http://drupalconsole.com/.

[2015-01-08 19:29] jmolivas opened #287 "Add multilingual support for generated modules"
After a IRC conversation a user working on an integrations of his module with conosle, ask for adding multilingual support for generated modules.

Since Drupal modules already have a config directory the ideal path will be:
[code]

[2015-01-08 19:29] mmenavas commented on #286
Maybe it's obvious for a lot of people, but a message informing that I need to be in a drupal directory is more helpful than throwing an exception.

[2015-01-08 22:42] vacho commented on #249
Yes this issue has been solved.. Thanks.

[2015-01-09 04:21] jmolivas commented on #249
Thanks for confirming @vacho

[2015-01-09 15:30] vacho commented on #286
indeed matter if you dare to run
$ drupal generate:module
anywhere else other than the drupal root also get an error that does little to inexperienced.

[2015-01-09 15:35] vacho opened #290 "[generate:module] Don't generate module when path is wrong and wrong message"
I try generate a module with this params:
Enter the new module name: Client Register
Enter the module machine name [client_register]:
Enter the module Path [/var/www/html/client-manager/modules/custom]: /var/www/html/client-manger/modules/client-manager
....

the folder "client-manger" don't exist and the module don't generate!! (good) but.... this message appear
 "You can now start using the gene

[2015-01-09 18:40] jmolivas commented on #286
I am planning to fix both as:

* Without calling a command
[code]
* Calling a command
[code]
![drupal-outside-drupal-root](https://cloud.githubusercontent.com/assets/366275/5684949/a1a5f866-97ea-11e4-8fc6-e251cd443a32.png)

[2015-01-09 19:00] vacho opened #291 "Form title is large and expressionless in Config Form"
The title generated was  "module_name form_nameForm Form"....

maybe we are ask for the title in form or simplify this to "form_name"

[2015-01-09 19:06] vacho opened #292 "generate:form"
This issue is a feature requirement.

Vary very little to generate configurations form but is necessary for those who need a simple form.

[2015-01-09 19:07] vacho commented on #292
This form maybe implements FormInterface directly.

[2015-01-09 19:14] jmolivas commented on #291
Make sense

[2015-01-09 19:15] jmolivas commented on #292
May you share a link to the documentation ?

This sounds related to #171

[2015-01-09 19:19] jmolivas opened #293 "[RuntimeException] Missing $settings['hash_salt'] in settings.php."
When running drupal-console from a drupal directory but drupal is not installed yet, this error is shown:
[code]

[2015-01-09 19:26] jmolivas commented on #293
Planned solution add a error message:
[code]
This is how look before and after:
![drupal-missing-settings](https://cloud.githubusercontent.com/assets/366275/5685732/1c764e2c-97f2-11e4-837f-bbdb4298880e.png)

[2015-01-09 21:25] vacho commented on #290
I see that the code was generated. in the wrong path..
mmmmm
may be we need validate if the path of code generated is in drupal instance.

[2015-01-09 21:28] vacho commented on #292
exactly #jmolvias... this is an duplicated issue.

sorry I don't see the #171  issue.

[2015-01-09 21:42] #292 closed

[2015-01-09 21:43] jmolivas commented on #290
make sense, may  ask for a relative path and prepend DRUPAL_ROOT

[2015-01-10 18:11] dmouse commented on #267
This issue is solved in the PR #294, has been merged into the master branch

[2015-01-10 20:02] jmolivas commented on #286
Update console to show commands before the error message

![drupal-outsideroot-final](https://cloud.githubusercontent.com/assets/366275/5693018/568e9b4a-98c0-11e4-9ead-11207f1c3a50.png)

[2015-01-10 20:08] jmolivas commented on #293
Update console to show commands before the error message

![drupal-missing-settings-final](https://cloud.githubusercontent.com/assets/366275/5693045/4edb7bce-98c1-11e4-9b78-414503bc46c0.png)

[2015-01-11 18:35] jmolivas opened #295 "[generate:profile-stub] Add support for generating profile stubs"
Moved from URL at d.o. https://www.drupal.org/node/2392825 created by Sam152
I think generating stubs for profiles would be great. It would also be really handy to
have the generated profile be based on one of the core profiles, basically allowing
you to use standard as a starting point.

[code]

[2015-01-11 18:46] jmolivas opened #296 "[generate:module] Prompt for module dependencies"
Moved from URL at d.o. https://www.drupal.org/node/2348699 created by @mmenavas
When using `generate:module`, it'd be nice if the console generator prompted for module dependencies. For example,
[code]

[2015-01-11 19:08] jmolivas opened #297 "[generate:entity:*] Permissions for new generated entity don´t appers in existing permissions.yml file."
Moved from URL at d.o. https://www.drupal.org/node/2393097 created by malotor
Permissions for new generated entity don´t appears in existing permissions.yml file.
[code]
But I can´t find "view DefaultEntity entity" permission i my example.permissions.yml

[2015-01-13 01:22] vacho opened #298 "generate:plugin:block command, generates no usable block from admin/structure/block"
Basically by activating the module that contains the module. The block does not appear to be administered.

[2015-01-13 12:47] christianwiedemann opened #299 "[generate:entity:content] add bundles support"
Hi,
it would be nice to add a bundle option to the generate:entity:content command, which generates also the ConfigEntityType Entity (e.g. NodeType for Nodes) to have bundle support.

Thanks
Christian

[2015-01-13 21:18] jmolivas commented on #287
* Fixed with #300
* Only english message was added when new command is generated
* Instead of use module name the word console was used example:

[code]

[2015-01-13 21:38] jmolivas opened #302 "Update Readme add link to gitbook"
Add link to `http://hechoendrupal.gitbooks.io/drupal-console/`

[2015-01-13 21:41] jmolivas commented on #302
Fixed on #303

[2015-01-13 21:41] #302 closed

[2015-01-13 21:42] jmolivas commented on #298
Fixed on #301

[2015-01-13 21:42] #298 closed

[2015-01-13 21:42] #287 closed

[2015-01-13 21:47] jmolivas commented on #293
Fixed on #287
Message
[code]
![drupal-outsideroot-final](https://cloud.githubusercontent.com/assets/366275/5729845/73a980e8-9b2a-11e4-8f23-f52c883d07c3.png)

The message may be changes form `Exception` to `Notice` or something more user friendly later

[2015-01-13 21:47] #293 closed

[2015-01-13 21:48] jmolivas commented on #286
Fixed on #287
Message
[code]
![drupal-outsideroot-final](https://cloud.githubusercontent.com/assets/366275/5729845/73a980e8-9b2a-11e4-8f23-f52c883d07c3.png)

The message may be changes form `Exception` to `Notice` or something more user friendly later

[2015-01-13 21:48] #286 closed

[2015-01-13 21:50] jmolivas commented on #293
Fixed on #287
Message
[code]
![screen shot 2015-01-13 at 1 49 45 pm](https://cloud.githubusercontent.com/assets/366275/5729935/1d63d174-9b2b-11e4-8f55-f526d5146dc7.png)
The message may be changes form `Exception` to `Notice` or something more user friendly later

[2015-01-13 22:09] jmolivas commented on #291
Fixed with #304

[2015-01-13 22:09] #291 closed

[2015-01-15 21:07] jmolivas opened #309 "Welcome to ... message printing twice."
Reported at d.o. https://www.drupal.org/node/2407909

[2015-01-15 21:07] #309 closed

[2015-01-15 21:11] jmolivas commented on #309
Fixed with #308

[2015-01-17 16:15] danielnv18 commented on #267
Just test for update the console.phar version from v0.6.3 to v0.6.4

[2015-01-17 17:38] danielnv18 commented on #267
Just a non-related comment
When I run `drupal self-update`, I feel like I'm updating drupal and not the drupal console

[2015-01-17 18:08] jmolivas commented on #267
@danielnv18 running console as `drupal` is only an alias as you can see on [previous comment](https://github.com/hechoendrupal/DrupalAppConsole/issues/267#issuecomment-68222229)

you may try naming anything else, any name you want to
[code]

[2015-01-20 05:53] jmolivas commented on #258
This will be fixed with PR #313

[2015-01-21 00:57] #267 closed

[2015-01-22 08:44] jmolivas opened #325 "self-update command output code"
When executing
[code]
The success message shown
[code]
But also output code
[code]

[2015-01-22 09:02] jmolivas commented on #325
This should be fixed with #326

[2015-01-27 09:00] jmolivas commented on #258
This is still happening

[2015-01-27 09:01] jmolivas commented on #258
Since you send the PR #313 @danielnv18  may you test and confirm is fixed ?

[2015-01-29 01:18] danielnv18 commented on #258
@jmolivas yeap it's fixed

[2015-01-29 01:32] jmolivas commented on #258
I test and it's fixed nice, thanks @danielnv18

[2015-01-29 01:32] #258 closed

[2015-01-29 01:52] danielnv18 opened #339 "Text files should end with a newline character - in src/Utils/YamlFileDumper.php, line 85"
**[in src/Utils/YamlFileDumper.php, line 85](https://github.com/danielnv18/DrupalAppConsole/blob/3860d6f259128b8e12c5778774f10bd2a6ef722d/src/Utils/YamlFileDumper.php#L85)**

[code]

[2015-01-29 02:27] danielnv18 opened #341 "Unused variables"
There are several variables that are declare but never user

**[in src/Command/GeneratorEntityCommand.php, line 64](https://github.com/hechoendrupal/DrupalAppConsole/blob/3860d6f259128b8e12c5778774f10bd2a6ef722d/src/Command/GeneratorEntityCommand.php#L64)**

**[in src/Command/GeneratorFormCommand.php, line 64](https://github.com/hechoendrupal/DrupalAppConsole/blob/3860d6f259128b8e12c5778774f10bd2a

[2015-01-29 04:18] jmolivas commented on #339
Thanks for taking care of this @danielnv18 :)

[2015-01-29 04:18] #339 closed

[2015-01-29 04:19] jmolivas commented on #341
Thanks this was a huge PR #342 thanks @danielnv18 :)

[2015-01-29 04:19] #341 closed

[2015-01-29 05:55] #325 closed

[2015-01-31 19:33] mpdonadio opened #356 "[router:debug] Add URI template name for entities"
To allow developers to know what the proper URL template to use for [Entity::urlInfo()](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21Entity.php/function/Entity%3A%3AurlInfo/8), a column that shows this information would be handy for `drupal router:debug`

[2015-02-01 12:54] joshuataylor commented on #57
Yeah the generated code creates code like:
`class FoobarEntityAccessControlHandler extends EntityAccessControlHandler
{
`

This isn't a big deal, as PHPStorm can reformat directories to fit a certain code style, ie "Drupal style" one liners instead of PSR-2 (https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md) style.

[2015-02-12 17:52] lucasmingarro opened #371 "[user:passwordreset] Change User Password Command"
It will be great to have a console command to change users passwords like drush upwd

[2015-02-12 18:25] omero opened #372 "[rest:disable] Create command"

[2015-02-12 19:35] emacoti opened #374 "[cache:rebuild] Update command"
Add to the command cache:rebuild validation in the execute step to avoid pass invalid caches.

[2015-02-12 19:50] jmolivas commented on #374
We may reuse the validation on the `interact` method at class:
[code]

[2015-02-12 20:55] jmolivas commented on #372
Fixed with #373

[2015-02-13 01:37] omero opened #376 "[site:mode] Create new command"
the finality of this command is make the usually task when you want to deploy a Drupal site to production,  enable the caches, optimize bandwidth, in other cases when you site is ready for development disabling and enable this features.
This can't be an idea:
`site:mode:dev`
*Disable caching
*Disable bandwidth optimization options
*Enable Twig debug
`site:mode:prod`
*Enable caching
*Enable bandwid

[2015-02-13 16:48] emacoti opened #378 "[cache:rebuild] Refactor: merge methods for command"
Merge methods interactive and execute to one method execute, so we can put the command logic in one centralized method instead of spread or repeat in two methods.

[2015-02-13 16:50] langelhc opened #379 "[helper] Improve validation error message, showing a valid format"
I was generating a module and I get a misspelling typing the machine name, I typed "my module" and I'd like to suggest to add what is the right format.

[2015-02-13 17:29] langelhc opened #381 "[helper] Improve validation for Class name"
I was creating a command and when I get promted:
     Enter the Command Class name [DefaultCommand]: qwer%w
I typed "%" and also typed an space for this value and I didn't get an error message.

This is the RegEx located in Validators.php:
     `REGEX_CLASS_NAME = '/^[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]+$/' `

I was reviewing this with https://www.regex101.com/
*\x7f-\xff a single character in

[2015-02-13 20:41] langelhc opened #383 "[helper] Error messages for machine-name and class-name should be translatable"
The string messages were hardcoded for machine-name and class-name.

[2015-02-13 20:55] jmolivas opened #384 "[site:mode] Object of class, could not be converted to string"
While executing
[code]
The following error message apperars
[code]

[2015-02-13 21:32] lucasmingarro opened #386 "[generate:module] Validate modules with drupal.org"
This come from issue #296. There is a function that should be implemented to verify if the modules dependencies that the user type and are not available locally.

[code]

[2015-02-13 22:11] emacoti commented on #378
@jmolivas close issue it is not longer needed.

[2015-02-14 13:22] jmolivas opened #389 "[site:mode] Refactor class"
Refactor class code
* Define array fo configurations
* Define a single overrideConfigurations method
* Display before and after result for configuration values

[2015-02-14 20:27] #389 closed

[2015-02-16 01:12] jmolivas opened #392 "[standard] Define standards for Issues, PRs and local builds"
We talk about the need of define standards for naming issues, PRs and run local builds during DrupalCon Bogota:
* Naming convention for issues and possibly branches.
* Adding git hooks to automate:
 * Run phpunit
 * Validate code using tools like:
    * http://cs.sensiolabs.org/
    * https://insight.sensiolabs.com/
* Investigate about running travis locally maybe using https://github.com/jolicode

[2015-02-16 19:00] jmolivas commented on #384
Fixed with #390

[2015-02-17 00:56] jmolivas opened #394 "[standard] Add docblock line notice, code generated by project"
Twig template to be updated `src/Resources/skeleton/base/class.php.twig`
[code]

Class generated will look like this:
[code]

[2015-02-17 01:13] jmolivas opened #395 "[template] Rename twig block"
Twig template to be updated
* `src/Resources/skeleton/base/class.php.twig`
* `src/Resources/skeleton/base/file.php.twig`

twig block named:
[code]
must be named:
[code]

[2015-02-17 01:28] #378 closed

[2015-02-17 01:31] jmolivas commented on #383
Fixed with #388

[2015-02-17 01:33] danielnv18 commented on #394
related #57

[2015-02-17 02:32] danielnv18 commented on #392
@jmolivas I saw that you rename all the issues. You should add something on the README.md or in the documentation about it
Also I can help you to make sure the current code follow the psr-1/2 code standards and from time to time I run the https://insight.sensiolabs.com/ test

[2015-02-17 02:38] jmolivas commented on #392
@danielnv18 I added this issue to discuss about this and get recommendations like this that you mentioned about adding to the README. I was thinking to make that instructions part of the how to contribute section on the gitbook.

[2015-02-17 02:49] danielnv18 commented on #392
The correct place should be the documentation page but you could add link to that specific part of the documentation

[2015-02-17 03:23] lucasmingarro opened #397 "[generate:module] Problem getting local module list"
The checkDependencies function should check the list of local modules available in the following way:
[code]
This works fine when you run `console` under the D8 directory but when you run the unit test it fails because the `getModules()` method needs `Drupal\Core\Extension\ExtensionDiscovery`. You can check this at `ContainerAwareCommand.php`

Currently the `$local_modules = null;` just to pass th

[2015-02-17 03:25] lucasmingarro commented on #296
@jmolivas I think you can close this issue.

[2015-02-17 06:14] omero opened #398 "[config:override] Create new command"
We decide create a command that allow override a specific key in a config file for my drupal site:
`config:override system.site page.front node`

and the result will be something like that:

[code]

[2015-02-17 07:24] #398 closed

[2015-02-17 08:15] jmolivas opened #401 "[translation] Rename translation file"
Rename Portuguese message file from `console.pt-br.yml` to `console.pt.yml`

This is temporary untile we introduce pt-br, es-mx, etc...

[2015-02-17 08:57] jmolivas opened #403 "[helper] Add fallback as english"

[2015-02-17 16:44] jmolivas opened #407 "[translation] Update config messages"

[2015-02-18 03:31] lucasmingarro opened #410 "[site:status] Add Site Status command"
The idea is add a new command that provides a view of the current drupal installation. Is will be something like `drush st`

In this first approach the command should provide the following information.
#### Fields
- [x] Drupal Console version
- [x] Drupal version
- Database
  - [x] db driver
  - [x] db hostname
  - [x] db name
  - [x] db port
  - [x] db username
  - [x] db password
  - [ ] db stat

[2015-02-18 03:38] jmolivas commented on #410
I like de idea of grouping them and the `db connection string url`

Related to output format `std output`, will be fine for the 1st iteration of the command class.

[2015-02-18 03:47] jmolivas commented on #410
I believe a good name for this command could be `site:status` any thoughts on that @lucasmingarro

[2015-02-18 04:08] lucasmingarro commented on #410
@jmolivas I think site:status is the better name thanks.

[2015-02-18 04:11] socketwench commented on #299
Bundle generation would be a great addition since it's not obvious. Instead of making an option under one of the generate commands, it would make more sense to me for another top-level command: generate:entity:bundle?

[2015-02-18 04:17] socketwench opened #411 "[generate:plugin] Generate a basic plugin"
Providing a basic plugin requires a lot of boilerplate code. Adding generator would encourage use of custom plugins within modules. There's a patch in progress at https://www.drupal.org/node/1668362 to add a basic plugin and plugin manager to Examples.

[2015-02-18 04:39] jmolivas commented on #299
Like the idea of separating the command. I will look for the docs and paste it here to have a better idea of what is needed.

[2015-02-18 04:43] jmolivas commented on #411
This make total sense, if I am not wrong @dmouse was working in this or similar generator.

[2015-02-18 04:46] dmouse commented on #411
Yes, I have a branch with the base code to generate a new plugin type but I not have a necessary time to terminate the questions and validations.

https://github.com/dmouse/DrupalAppConsole/compare/plugin-manager

[2015-02-18 17:00] esod commented on #392
Does TravisCi do more than run phpunit tests? If it does not, won't running the tests locally be enough?

I'm planning on writing a blog post on running xdebug, phpunit, and phpstorm together on yosemite os. Since I know the tests have run successfully on my local system, I don't need to be concerned when TravisCI takes such a long time to run.

[2015-02-18 17:04] danielnv18 commented on #392
TravisCi is more like automated testing plataform for unit-testing. You can set the several OS and php version like HHVM, 5.4 etc

[2015-02-18 17:08] danielnv18 commented on #392
and in this case is a Open source project but you use the pay version you can add Concurrent Jobs and private repos

[2015-02-18 17:22] esod commented on #392
I see. Thanks for the clarification. I'll have to give joliCi a try.

[2015-02-18 18:54] jmolivas opened #412 "[site:maintenance] Add new command to switch site into maintenance mode"

[2015-02-18 23:45] lucasmingarro opened #417 "[translation] Sync all translations files"
There are many diff between the translations files. I think the better way to do is with some tool just coded or try to code something

[2015-02-18 23:55] jmolivas commented on #417
:+1: On this one, we need to fix this before turnos into a problem.

* We maybe can do something like this: load en (default) + es/fr/pt
https://github.com/hechoendrupal/DrupalAppConsole/blob/master/src/Command/Helper/TranslatorHelper.php#L34

* And then dump using this class
https://github.com/hechoendrupal/DrupalAppConsole/blob/master/src/YamlFileDumper.php

[2015-02-19 02:35] danielnv18 opened #418 "[violation] sensiolabs insight Test"
**[in Test/Command/GeneratorPermissionCommandTest.php, line 33](https://github.com/danielnv18/DrupalAppConsole/blob/3efd489c14bea521a6f65d184367be091e2a4fe6/Test/Command/GeneratorPermissionCommandTest.php#L33)**

[code]

---------------------

**[in config/translations/console.en.yml, line 434](https://github.com/danielnv18/DrupalAppConsole/blob/3efd489c14bea521a6f65d184367be091e2a4fe6/config/tran

[2015-02-19 03:31] lucasmingarro opened #420 "[console] Remove all defaults console options"
When you run a `--help` the console shows a a lots of default options that in fact we are no using.
For example
[code]

[2015-02-19 03:46] #418 closed

[2015-02-19 03:56] jmolivas commented on #420
Totally agree, if we are not taking advantage and using those, them must be removed.

I like to have the more opinions we can have into this cc: @dmouse @omero @enzolutions

[2015-02-19 07:01] dmouse commented on #420
I use many of the options for development or for everyday use console.

--shell I love this mode is fast and cool =P

--verbose is helpful for debugging and future versions we plan to add extra functionality to the commands.

--version is necessary

--env By default Drupal uses only one env but  at least he used dev and prod.

--bootstrap this option was removed at #421 but add the option to defin

[2015-02-19 08:03] jmolivas commented on #420
`--shell` I never use this one but no hurt keeping it

`--verbose` we have not implemented anything yet, we discuss to use this for educational purpose as render code with extended documented docblocks

`--version` we use it to display version & self-update

`--env` I don't see a reason to keep if Drupal only runs on prod

`--bootstrap` was removed as @dmouse mentioned

`--quiet` Not used yet

We

[2015-02-19 18:25] mikeyp commented on #420
I would love to see the bootstrap option restored, as it is, it's very difficult to bundle a specific version of the console with a project repo, since I can't bin stub it by specifying the path to the drupal bootstrap file.

[2015-02-19 18:28] jmolivas commented on #420
hey @mikeyp thanks for commenting, we are planning to support site aliases as drush does, will that may solve you issue ?

[2015-02-19 18:44] jmolivas opened #422 "[composer] Update phpunit dependency"
Based on the travis error message
[code]

We are requiring `4.1.*`
https://github.com/hechoendrupal/DrupalAppConsole/blob/master/composer.json#L41

And drupal is expecting `4.4.*`
https://github.com/drupal/drupal/blob/8.0.0-beta6/core/composer.json#L26

[2015-02-19 19:40] jmolivas opened #424 "[violation] Fix 4 code violations"

[2015-02-20 04:50] jmolivas opened #426 "[template] Error loading template file"
When running a command generator from phar file the following error message is shown
[code]

NOTE: The command works fine when no phar created

[2015-02-21 16:41] jmolivas opened #431 "[config-export] Add new command"

[2015-02-21 19:05] jmolivas commented on #420
Also feel free to mention some ideas @mikeyp

[2015-02-22 05:00] jmolivas commented on #431
Fixed with #432

[2015-02-22 05:02] jmolivas opened #435 "[console] Refactor Config class"

[2015-02-22 05:37] jmolivas commented on #435
Fixed with #436

[2015-02-22 05:45] jmolivas opened #437 "[config:edit] Fix Cannot use object of type ... as array"
[code]

[2015-02-22 05:56] jmolivas commented on #437
Fixed with #438

[2015-02-22 06:42] jmolivas opened #439 "[violation] Fix sensio insight issues"

[2015-02-22 18:47] jmolivas commented on #248
This is what you where asking the other day @enzolutions, about generating new field widget and @dmouse mentioned is working please related any PR to this issue.

[2015-02-23 17:38] jmolivas opened #444 "[config:export] `config.tar.gz` file is not generated"
[code]

[2015-02-23 18:18] #57 closed

[2015-02-23 18:18] #290 closed

[2015-02-23 18:18] #296 closed

[2015-02-23 18:18] #372 closed

[2015-02-23 18:18] #374 closed

[2015-02-23 18:18] #376 closed

[2015-02-23 18:18] #379 closed

[2015-02-23 18:18] #383 closed

[2015-02-23 18:18] #384 closed

[2015-02-23 18:18] #395 closed

[2015-02-23 18:18] #401 closed

[2015-02-23 18:18] #403 closed

[2015-02-23 18:18] #407 closed

[2015-02-23 18:18] #412 closed

[2015-02-23 18:18] #422 closed

[2015-02-23 18:18] #424 closed

[2015-02-23 18:18] #426 closed

[2015-02-23 18:18] #431 closed

[2015-02-23 18:18] #435 closed

[2015-02-23 18:18] #437 closed

[2015-02-23 18:18] #439 closed

[2015-02-23 18:18] #444 closed

[2015-02-23 21:19] damienmckenna opened #446 "[generate:plugin:field-type] Generate a new field type"
Create a new field type, which could then work with a generated field widget (#248) to speed up creation of custom fields.

[2015-02-24 02:03] damienmckenna opened #447 "[console] Clean up output code"
The code output from the generators is inconsistent and does not appear to match the Drupal coding standards (https://www.drupal.org/coding-standards) very well.

[2015-02-24 03:35] jmolivas commented on #447
We just finishing implementing PSR-2 a code clean on the project code #400, next step is to make generated code fully complaint with Drupal coding standards.

Thanks for  testing the project and provide feedback @damienmckenna

[2015-02-25 06:43] jmolivas opened #449 "[console] Remove method_exists validations"

[2015-02-25 07:16] jmolivas opened #451 "[console] Refactor messages"
Add level-key to messages
[code]

[2015-02-25 08:30] jmolivas commented on #451
Adding messages code must be like:
[code]

[2015-02-25 08:31] jmolivas commented on #451
I was thinking about  adding methods for each message type
[code]

[2015-02-25 17:47] chipkaye commented on #447
Beginning work on this issue.

[2015-02-25 19:51] jmolivas opened #454 "[standard] Implement git-flow"
Advantages of git-flow
* Maintaining a well-defined, broadly understood workflow for the project
* Allows newcomers to start contributing, based on a well known and documented workflow.
* Improves both deployment and maintenance tasks with a clear, structured and battle-tested methodology.

[2015-02-25 21:30] jmolivas opened #455 "[test] Test commands with the latest Drupal 8 beta7 release"
Test commands with the latest Drupal 8 beta7 release
https://www.drupal.org/node/2437851

* general
 - [x] `drush`
 - [x] `help`
 - [x] `list`
  - [ ] `self-update`
* cache
 - [x] `cache:rebuild`
* config
 - [x] `config:debug`
 - [x] `config:edit`
 - [x] `config:export`
 - [x] `config:override`
* container
 - [x] `container:debug`
* Generators
  - [x] `generate:authentication:provider`
  - [x] `ge

[2015-02-26 22:07] fluxsauce opened #458 "[console] Implement and document mechanism to allow contrib commands"
I'd like to add https://github.com/fluxsauce/site_audit/tree/8.x-2.x integration.

[2015-02-26 22:35] fluxsauce opened #459 "[generate:module] Module creation - adding dependencies throws undefined method"
[code]

[2015-02-27 09:17] lussoluca opened #460 "[generate:service] Should generate an interface also"
One of the purposes of a service in a DIC architecture is to be replaced (or mocked) by a different implementation. The new class has to respect the service interface, so every services should have an interface.
Add an option "interface" to let users choose if console has to generate an interface for a service (default true).

[2015-02-27 11:16] grocc opened #462 "generate:entity:content and hook_theme"
Hi,
I need info about the generate:entity:content function. At the end of all it's giving me the message
$theme['subscriber'] = array(
  'render element' => 'elements',
  'file' => 'subscriber.page.inc',
  'template' => 'subscriber',
);
Where should i set this?
Thanks!

[2015-02-27 14:45] chipkaye commented on #462
Hi @grocc - after running generate:module, you should find a stub generated for hook_theme() in subscriber.module, like this:

/**
 * Implements hook_theme().
 */
function subscriber_theme() {
  $theme = [];

  return $theme;
}

You should add the content from generate:entity:content to this hook which would result in this:

/**
 * Implements hook_theme().
 */
function subscriber_theme() {
  $them

[2015-02-27 14:48] grocc commented on #462
Wonderful! Thanks @chipkaye for the help!

[2015-02-27 14:48] #462 closed

[2015-02-27 17:49] jmolivas commented on #458
:+1:

[2015-02-27 18:33] fluxsauce commented on #458
To clarify the scope; allow contrib commands to be added that aren't part of a Drupal installation.

[2015-02-28 15:02] pjcdawkins opened #463 "[list] The 'list' command is a bit unhelpful outside a Drupal root"
I get:

[code]

I feel I should probably get a list of available commands.

[2015-02-28 15:14] pjcdawkins commented on #463
Updated title, as it appears that actually the commands just aren't available at all: I can only run `help` or `list`

[2015-02-28 15:28] danielnv18 opened #464 "[violation] Insight Test"
[Insight] Files should not be executable

- src/Generator/PluginRulesActionGenerator.php

[code]

---------------------

[Insight] Code should not be duplicated - in src/…/GeneratorPluginBlockCommand.php, line 70
**[in src/Command/GeneratorPluginBlockCommand.php, line 70](https://github.com/hechoendrupal/DrupalAppConsole/blob/d07bbdfe20ef4e6f998259ec000b9c04fbce8fce/src/Command/GeneratorPluginBloc

[2015-02-28 15:29] danielnv18 commented on #464
@jmolivas I already fixed the first issue but I'm not sure how fix the last one

https://insight.sensiolabs.com/projects/cc529050-789e-45f1-8f1f-38aaa78f9307/analyses/25

[2015-02-28 15:45] pjcdawkins commented on #463
Ah OK, I checked out 0.7.1, and that one has an exception saying "In order to list all of the available commands, you should run this inside a drupal root directory." Makes sense.. but that exception is no longer shown in 0.7.2. Can that bit of information be displayed in the "list" command when not inside a Drupal root?

[2015-02-28 16:51] jmolivas commented on #463
Thanks for reporting @pjcdawkins, we will rollback the code displaying message `In order to list all of the available commands, you should run this inside a drupal root directory`

[2015-02-28 20:03] danielnv18 commented on #464
Reviewing the code, both methods are exactly the same. Whats the difference from both generators?

[2015-02-28 21:42] jmolivas commented on #464
We may implement something similar to entity generators: https://github.com/jmolivas/DrupalAppConsole/blob/master/src/Command/GeneratorEntityCommand.php

https://github.com/jmolivas/DrupalAppConsole/blob/master/src/Command/GeneratorEntityConfigCommand.php

https://github.com/jmolivas/DrupalAppConsole/blob/master/src/Command/GeneratorEntityContentCommand.php

[2015-03-01 10:14] enzolutions opened #469 "[module:install] Error enabling module"
When I try to enable the module https://github.com/enzolutions/ip_consumer_auth I got the following error

[code]

![console_module_install](https://cloud.githubusercontent.com/assets/907914/6430304/d3467baa-bffb-11e4-9481-a3be4c63ce1f.png)

[2015-03-01 12:10] czettnersandor opened #471 "[server:run] Is it possible to implement server:run?"
One very handy feature in the Symfony Console is the server:run command, which by default starts the application server in development environment using PHP's built-in web server. In this way, I don't have to set up apache to develop a Symfony application.

Would be possible to implement this for the Drupal Console?

Does Drupal requires Apache to run and .htaccess to be utilised?

Does Drupal 8 i

[2015-03-01 14:35] czettnersandor opened #473 "When open_basedir is set, console is going to an infinite loop"
It's only happening when I execute the command from a non Drupal directory.

[code]

[2015-03-01 14:44] czettnersandor commented on #473
Fixed here:

https://github.com/czettnersandor/DrupalAppConsole/commit/d01157147c7a65d324c192014c7a5b56438011f4

[2015-03-01 15:06] #473 closed

[2015-03-01 15:29] czettnersandor commented on #471
After a quick research, I realised it's a bit stupid question. Simply this works:

[code]

However, I would see template hints are turned on, Twig cache is turned off so I don't have to do it manually. The other problem is that Console is relying on the settings.php and returns with this when I try to run it before I install Drupal:

[code]

But it should be possible to provide a limited functiona

[2015-03-01 16:29] jmolivas commented on #469
Are you testing this on beta7 o dev @enzolutions ?

[2015-03-01 16:30] jmolivas commented on #463
I am working one this o/

[2015-03-01 16:33] jmolivas commented on #471
We did talk about adding this feature few weeks ago, and agree this could be a really nice feature have it.

We event talk to taking a look at this project and evaluate if provide any advantage vs built in PHP server.

https://github.com/yosymfony/HttpServer

[2015-03-01 16:36] jmolivas commented on #471
Related to the error is a know issue #463 and I am currently working on have it fixed.

[2015-03-01 16:40] jmolivas commented on #460
Related PR merged

[2015-03-01 16:44] hugronaphor opened #474 "[config:export] Export site configuration results in a PHP Fatal error"
This piece of code:
[code]
is throwing an error:
[code]

It seems like $output var is obsolete in addSuccessMessage() as a string is need to be passed.

[2015-03-01 16:49] enzolutions commented on #469
dev and is the same con cache:rebuild

[2015-03-01 19:43] #474 closed

[2015-03-01 19:44] hugronaphor commented on #474
Closed in favor of pull request:
https://github.com/hechoendrupal/DrupalAppConsole/pull/476

[2015-03-01 22:45] dmouse opened #477 "[generate:plugin:block] Allow the definition of the form structure via inline"
If you want to use the inline way,  there is no way of defining the form structure via arguments.

Proposed:
pass the definition using the "inputs" argument

--fields="name:Field Name, machine:field_name, ..." --fields="name:Second Field, nachine:second_field, ..."

[2015-03-02 00:50] dmouse commented on #447
in this PR #475 I am test the commands into a drupal installation and I check the code standards.
I'll wait to merge my PR for some PRs to solve these bugs

https://travis-ci.org/hechoendrupal/DrupalAppConsole/jobs/52679745#L628

[2015-03-02 01:05] dmouse opened #478 "[console] Use annotations in Commands"
The Drupal commands interact with more stuffs that the commands in Symfony, in Drupal, one command can be have many dependencies with other modules or themes or any other scope in your installation.

This approach is to use Annotations to provide metadata on each command to specify dependencies or check another variables in Drupal or any other stuff that interacts with the console.

For example:
[

[2015-03-02 04:27] danielnv18 commented on #464
mmm I get it. I thinks we should move / merge this code into a single function in a upper / different class.

honestly I don't know the app architect enough to move this code and remove the code violation

[2015-03-02 04:58] jmolivas commented on #464
OK, I can take care, thanks for the PR and fixes

[2015-03-02 07:19] enzolutions commented on #478
+1

[2015-03-02 09:42] lussoluca opened #480 "[console] Add the symfony/expression-language component"
This component is useful for extracting data from complex structures. I need this to write a command that extract data from a profile generated by the Webprofiler module. With this new command (webprofiler:query) a user can do some automatic performance analysis, i.e. do something like this (maybe in Jenkins):

* run webprofiler:benchmark on an Url
* apply a patch
* run webprofiler:benchmark on an

[2015-03-02 16:08] chipkaye commented on #455
Tested Console v0.7.2 against Drupal beta7 and found one error:

command "site:maintenance on" throws the following error from line 30 in file SiteMaintenanceCommand.php:

[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
  You have requested a non-existent service "state.default".

It looks like "\Drupal\Core\State\StateInterface" is not defined as used in ContainerAwareC

[2015-03-02 16:30] chipkaye commented on #459
Tested this on v0.7.2 and I am not seeing this error.  However, adding a dependency always displays the following warning - i.e. even when the module in question is enabled:

"Warning The following modules are not already available in your local environment "rest""

[2015-03-02 17:17] chipkaye opened #481 "[console] Drupal compatibility testing"
Issues #455 and #397 are pointing out the need for automated testing of Console in the context of a Drupal instance - i.e. "system" testing.  This seems like a critical need since Console - like Drush - is primarily a tool for manipulating the configuration and code of a Drupal instance. Current unit tests function mainly as a sanity check as run against the standalone Console code base.

Self-ass

[2015-03-02 20:19] dmouse commented on #447
this is the result after to apply your PR @chipkaye.

there are still a few bugs
https://travis-ci.org/hechoendrupal/DrupalAppConsole/jobs/52793120#L628

[2015-03-02 20:33] dmouse commented on #481
In #475 I am using a drupal installation and probe the commands into.

I am create scripts to test behavior but we need more unit test for the code.

[2015-03-02 21:12] chipkaye commented on #447
@dmouse - I'm unable to reproduce the errors shown for travis-entity.page.inc and TravisEntityConfigForm.php - both run clean through phpcs on my local.  The errors shown for TravisEntityConfigForm.php in particular look suspect - i.e. references to "-".  Take a look at templates/module/src/Form/entity.php.twig to see the corresponding template.

The errors for TravisRestResource.php are due to an

[2015-03-02 21:45] jmolivas commented on #463
Fixed with PR #482
Project shown available commands & message
[code]
![drupal-no-settings-file](https://cloud.githubusercontent.com/assets/366275/6451252/275d5fce-c0e2-11e4-83f9-2c385297ce49.png)

[2015-03-02 21:55] jmolivas commented on #471
I send a PR https://github.com/hechoendrupal/DrupalAppConsole/pull/482 fixing the RuntimeException:
[code]

[2015-03-02 22:01] jmolivas commented on #471
@czettnersandor I really like to have the `server:run`command available

We have discussed before, having commands running outside of a drupal installation or not depending on drupal to be previously installed as:
* `site:install`
* `site:download`
* `server:run`

Also take advantage of site alias, we take this PR https://github.com/hechoendrupal/DrupalAppConsole/pull/482 as an starting point to m

[2015-03-02 22:19] hugronaphor commented on #477
I like the idea!
You specified [generate:plugin:block], is the same implemented already for other component?

[2015-03-02 23:09] jmolivas commented on #455
I am testing the commands in order to have a release compatible with beta7

[2015-03-03 00:29] jmolivas commented on #455
Issues:
#### Cache rebuild is not autocompleting caches [FIXED]

#### Site maintenance exception [FIXED]
[code]
Are showing error:
[code]

#### Generated form is not storing field form values
[code]

####  Plugin Rest Resource generator [FIXED]
[code]
Error shown when enter to accept default value on:
[code]
#### Rule Action plugin generator
[code]
* Twig file not found [FIXED]
[code]
* Labels ref

[2015-03-03 05:21] jmolivas commented on #459
This was fixed with #453

[2015-03-03 05:27] jmolivas opened #484 "[generate:form:config] Generated form is not calling submitForm method"
I executed the generator
[code]
And after fill form fields and click `Save configuration` form is submitted and form fields appear without any value.

For what I can see, the submitForm method is never called.

I will keep investigating about it.

[2015-03-03 16:00] chipkaye commented on #481
@dmouse already addressing system testing need in #475.

[2015-03-03 16:00] #481 closed

[2015-03-03 20:45] jmolivas commented on #484
After testing with @chipkaye we find out this is an issue with my machine not the project or drupal.

[2015-03-03 20:45] #484 closed

[2015-03-03 21:46] jmolivas opened #486 "[standard] Apply code format and php-cs-fixer"

[2015-03-03 23:21] hugronaphor commented on #381
The RegEx by itself works as intended as recommended on http://php.net/manual/en/language.oop5.basic.php .
Validation was missing.
Created a PR:
https://github.com/hechoendrupal/DrupalAppConsole/pull/488

[2015-03-04 01:26] #449 closed

[2015-03-04 01:26] #455 closed

[2015-03-04 01:26] #459 closed

[2015-03-04 01:26] #460 closed

[2015-03-04 01:26] #463 closed

[2015-03-04 01:26] #464 closed

[2015-03-04 01:26] #486 closed

[2015-03-04 01:30] jmolivas commented on #447
@chipkaye @dmouse How about add some docs to execute phpcs on local, to make easy to validate code prior to commit and/or push code and send a PR.

[2015-03-04 01:37] #451 closed

[2015-03-04 02:15] chipkaye commented on #447
@jmolivas - sure.  where do you think the docs should go?

[2015-03-04 06:54] jmolivas commented on #447
@chipkaye at the console-book documentation, adding a new page to the how-to-contribute section:
http://hechoendrupal.gitbooks.io/drupal-console/content/how-to-contribute/project-requirements.html

[2015-03-05 06:03] jmolivas opened #493 "[generate:module] DefaultController routing.yml"
Copied from d.o. https://www.drupal.org/node/2446347

Posted by keboca on March 4, 2015 at 8:39pm

First, congrats your Drupal integration with Symfony2 Console is a great idea made true. Now I have been checking and I noticed some particular cases related with routing built by console when it generated a default controller for a module.

When we execute: "drupal generate:module", some kind of ass

[2015-03-05 12:03] hugronaphor commented on #381
Out of topic question:
What coding standards do we follow?

[2015-03-05 16:04] jmolivas commented on #381
Since this project is not a Drupal module, the application code must follow:
* http://www.php-fig.org/psr/psr-1/
* http://www.php-fig.org/psr/psr-2/

Bu the generated result is a drupal module, that code must follow:
* https://www.drupal.org/coding-standards

[2015-03-05 16:07] hugronaphor commented on #381
Jesus @jmolivas
Make sense.

[2015-03-05 16:37] jmolivas commented on #381
This is an issue related to what you just mentioned @hugronaphor
* Clean up output code - https://github.com/hechoendrupal/DrupalAppConsole/issues/447

* Implement PSR2 coding standard for code-base - https://github.com/hechoendrupal/DrupalAppConsole/pull/400

[2015-03-06 14:52] kenneth-bolivar-castro commented on #493
@jmolivas, I have tested drupal console using Drupal 8 beta 7, and it's handling the "_controller" key implemented to "defaults" property, then console could keep current behavior.

Also I checked the way how console is building the routing.yml file, and I found that Drupal\AppConsole\Generator\ModuleGenerator class executes "generate" method. Then I am able to prepend a leading forward slash at l

[2015-03-07 22:42] jmolivas opened #495 "[generate:controller] Prepend a leading forward slash on route path"
Add leading forward slash `/` on route definition

[2015-03-07 22:55] jmolivas commented on #493
I added a related issue #494 to fix the same on `generate:controller`

[2015-03-08 15:54] kenneth-bolivar-castro commented on #495
@jmolivas I added a new pull request, please take a look,

[2015-03-08 18:50] dmouse commented on #447
@chipkaye sorry for the delay, I created some scripts to probe commands, in my PR you only need run this scripts into a drupal installation.

[code]

I'm fixed all errors in the generated code
https://travis-ci.org/hechoendrupal/DrupalAppConsole/jobs/53494138#L628

@jmolivas sure maybe you can helpme to write this instructions for the "development" section to gitbook

[2015-03-08 19:27] jmolivas commented on #447
@dmouse sure I can help but have no idea what the instructions are

[2015-03-08 20:20] jmolivas opened #497 "[--learning] Add verbose code output"

[2015-03-09 05:07] dmouse commented on #447
Sure, into your drupal installation run the follow commands
[code]

The PR has merged I am close this issue

[2015-03-09 05:07] #447 closed

[2015-03-09 07:57] #381 closed

[2015-03-09 07:57] #493 closed

[2015-03-09 07:57] #495 closed

[2015-03-09 07:57] #497 closed

[2015-03-11 07:50] jmolivas commented on #410
I make this command more simple and removed:
* Output Format
* Defaults

The only missing values to display are:
* db status
* Site Path
* Config path

[2015-03-11 07:52] jmolivas commented on #410
This is the `site:status` command output
![site-status](https://cloud.githubusercontent.com/assets/366275/6592270/d86b57f6-c788-11e4-8251-1da3458f12a1.png)

[2015-03-11 07:53] jmolivas commented on #410
I am planning to close this issue since the PR was accepted and may add a new issue for the missing data mentioned above.

[2015-03-11 22:52] hugronaphor commented on #477
As I see in console documentation, this is not supported by default.
Should we write our own helper parser for proposed structure?
Also, I think it's better to have a structure like:
--field_1="name:Field Name, machine:field_name, ..."  --field_2="name:Field Name, machine:field_name, ..."

[2015-03-12 04:25] jmolivas commented on #477
+1 for --fields="..." and have multiple times

I may take a look to other project to see what are they doing on this case

[2015-03-12 10:09] hugronaphor commented on #477
An example would be: https://github.com/laracasts/Laravel-5-Generators-Extended/blob/master/src/Migrations/SchemaParser.php used for Laravel

[2015-03-12 21:17] mikeyp commented on #471
I would love to help build a robust development server using the built-in PHP web server or possible with the HttpServer component. I've already spent time working on a Drupal module that provides better developer experience at https://www.drupal.org/project/console_logger and if possible, I would love to see those features built in to the server and not as a module.

[2015-03-12 22:06] jmolivas commented on #471
:+1:  I love the idea  @mikeyp

I just tried [spress](https://github.com/spress/Spress/) a statics site generator, this projects implement the [HttpServer](https://github.com/yosymfony/HttpServer) component.

`$ spress site:build --server --watch`

This how it looks like:

![spress-builtin-server](https://cloud.githubusercontent.com/assets/366275/6629114/b2fc6d5c-c8c8-11e4-8177-f503a08fe5fb.gif)

[2015-03-12 22:13] omero opened #506 "[generate:permission] Missing params and some feedback after the generation"
Looking the `generate:permissions`, and comparing with other modules, i see some usefull params.
[code]
It will be nice to give some feedback to user, something like;
[code]
I do not think it's necessary ask if you want generate permissions that's the reason to call this command, but we can ask if you want to generate other permission.

Also i note that the command overwrite the permission.yml fil

[2015-03-12 22:15] jmolivas commented on #471
Talking about logging, we can probably also take advantage of [webprofiler](https://github.com/lussoluca/webprofiler)

This how this module works:

![console-webprofiler](https://cloud.githubusercontent.com/assets/366275/6629326/5b2622ec-c8ca-11e4-8875-b01aa120216d.gif)

[2015-03-12 22:23] mikeyp commented on #471
Very cool, although the logging from HttpServer looks like the normal output from the PHP built in web server, which can only be overridden if you pipe stderr to dev/null (I checked the PHP sources on this, and sadly it's not configurable).

[2015-03-12 23:39] jmolivas opened #507 "[insight] code violations report"
Unused use statement should be avoided - in src/Command/SiteStatusCommand.php, line 10

**[in src/Command/SiteStatusCommand.php, line 10](https://github.com/hechoendrupal/DrupalAppConsole/blob/13e2d470324c353a85fcd1c239891c35237b5b89/src/Command/SiteStatusCommand.php#L10)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/d0f089ff-a6e9-4ba4-b

[2015-03-13 18:52] jmolivas commented on #410
This was the final result:

![console-learning-multilanguage](https://cloud.githubusercontent.com/assets/366275/6645148/512d6932-c977-11e4-9dee-4bf320b99b4b.gif)

[2015-03-14 01:00] damienmckenna opened #510 "[generate:command] How to build a custom generator for my module?"
In Drush there's an API for adding custom commands to a module. How would someone do this for DrupalConsole, e.g. if they wanted to add a generator for a custom plugin?

[2015-03-14 17:01] jmolivas commented on #510
You can try using the command generator
[code]
![generate-command](https://cloud.githubusercontent.com/assets/366275/6652589/e39eddb4-ca30-11e4-87e1-037f05d8d4ef.gif)

[2015-03-18 02:28] danielnv18 opened #513 "[Violation] Text files should end with a newline character - in templates/…/permission-routing.yml.twig, line 9"
**[in templates/module/permission-routing.yml.twig, line 9](https://github.com/hechoendrupal/DrupalAppConsole/blob/ffe14b2b0312a6ae21ade494e626526d3bfd0383/templates/module/permission-routing.yml.twig#L9)**

[code]

[2015-03-18 04:31] #410 closed

[2015-03-18 04:31] #507 closed

[2015-03-18 04:31] #513 closed

[2015-03-18 04:39] jmolivas commented on #480
@lussoluca Not sure if Console can take advantage of `symfony/expression-language` at this point.

Did you try adding to your module  instead ?

[2015-03-18 18:05] omero commented on #394
:+1: absolutely agree with that @jmolivas

[2015-03-18 18:22] jmolivas opened #515 "[console] Set defaults for commands on user config file."
I am planning to set defaults for commands on that config file at home directory `~/.console/config.yml`, will probably look something like this:

[code]

The idea is to take advantage of user config file at `~/.console/config.yml` file on user home directory.

Feature based on this issue at d.o. https://www.drupal.org/node/2392831

[2015-03-18 18:33] davereid commented on #394
What benefit would this have? I would probably be removing those lines from my generated code if they were there.

[2015-03-18 18:34] omero commented on #515
It's very interesting this enhancement ... comes to me, the idea to have different default files and calling when it needed like `alias` to create for example modules with a default package :smiley:

[2015-03-18 18:36] jmolivas commented on #515
you mean like pre-sets of data, I have not think on that possibility but could make  sense

[2015-03-18 21:14] jmolivas opened #516 "[chain] Chain commands execution"
Taking advantage of this feature Add chain command Helper https://github.com/hechoendrupal/DrupalAppConsole/pull/512  the idea of this is adding a new command that can execute diff commands based on:

* Calling commands by name and take info from defaults see issue https://github.com/hechoendrupal/DrupalAppConsole/issues/515
  $ drupal chain --commands=generate:module, generate:controller

* Readi

[2015-03-19 06:36] jmolivas commented on #515
That what you mentioned @omero maybe fits better on the issue https://github.com/hechoendrupal/DrupalAppConsole/issues/516

Using the second option
Reading from a YAML manifest file.
$ drupal chain:commands --manifest=PATH_TO_MANIFEST_FILE.yml

[2015-03-21 14:57] socketwench opened #517 "[generate:entity:bundle] Add new command"
Currently, console support generation of config and content entities, but not a bundle in the Drupal sense. You can take a config and content entity and trivially make them a bundle afterward, providing a generate command for bundles would be very useful.

This could possibly be implemented as a question in the content entity generator, or a completely separate command that heavily leverages the c

[2015-03-21 15:10] rgoodie opened #518 "[generate:form:config] Generate the config/MODULE_NAME.settings.yml file"
(Perhaps a duplicate for or overlap to #171)

Would it be possible to have `generate:form` also build the schema?

Great presentation at midcamp!

[2015-03-21 15:46] esod commented on #518
I've built this and it works, but the test fails. https://github.com/hechoendrupal/DrupalAppConsole/pull/443

[2015-03-21 17:34] jmolivas commented on #518
I will take a look to the test o/ during MidCamp

[2015-03-21 20:50] jmolivas opened #520 "[generate:plugin:block] Return Implement ClassName"
Return Implement ClassName when no form-inputs added with `generate:plugin:block` command

[2015-03-21 21:20] kendallsv opened #522 "[translate] Spanish translation messages"

[2015-03-23 14:52] esod commented on #518
Thanks. I'm still stuck. Here's the error:

![install-test-error](https://cloud.githubusercontent.com/assets/387576/6782430/8c234ba8-d14a-11e4-9197-9ae009666804.png)

It doesn't matter whether I remove offset 5 (or 4, or 3, or etc). Then the error message just reports undefined at that index (4, or 3 or etc.

[2015-03-25 19:01] jmolivas opened #527 "[console] Duplicated messages at some commands"

[2015-03-27 18:56] martinfrances107 opened #533 "generate:entity:content file annotation is incorrect - module account?"
I love this project .... but using it I have found a bug.

I was using it to create a content entity type

console generate:entity:content

with the following input

module name: flag
entity class name: flagging
entity name flagging

everything works fine it creates a bundle of new files

looking at the FlaggingAccessController.php file

I see a tiny flaw, to report

/**
 * @file
 * Contains Drupa

[2015-03-27 19:16] martinfrances107 commented on #533
Structure of project was so cleanly laid out - the bug was easy to find and it  is a simple one line fix. :)

[2015-03-27 20:55] jmolivas commented on #533
Thanks @martinfrances107
You can send a PR from here:
https://github.com/hechoendrupal/DrupalAppConsole/compare/master...martinfrances107:master

[2015-03-28 10:33] martinfrances107 opened #535 "[generate:entity:content] ingroup tag is incorrect"
This is a sister issue to

https://github.com/hechoendrupal/DrupalAppConsole/issues/533

I am looking at the  entity interface template as used in the  generate:entity:content command

interface-entity-content.php.twig

The template contains a ingroup tag "account" when it should make use of  {{modfule}}

[2015-03-28 14:04] martinfrances107 opened #536 "generate:entity:content produces inconsistent file annotation."
So I can see this template file get the name of the class wrong in the file description block

accesscontrolhandler-entity-content.php.twig

the file_path block is
Drupal\{{module}}\{{ entity_class }}AccessController.
and should read
Drupal\{{module}}\{{ entity_class }}AccessControlHandler.

that way the class name should be represented in the file description annotation.

[2015-03-28 14:54] martinfrances107 commented on #535
/**
 * Provides an interface defining a {{ entity_class }} entity.
 * @ingroup account
 */

should read

/**
 * Provides an interface defining a {{ entity_class }} entity.
 * @ingroup {{module}}
 */

[2015-03-28 20:06] martinfrances107 opened #539 "[generate:entity:content] checkCreateAccess template"
I found a bug in the accesscontrolhandler-entity-content.php.twig file

in the checkCreateAccess method

    return AccessResult::allowedIfHasPermission($account, 'add Bar entity');

should read

    return AccessResult::allowedIfHasPermission($account, 'add {{ entity_class }} entity');

[2015-03-30 19:33] jmolivas commented on #539
Feel free to send a PR @martinfrances107

[2015-03-30 19:33] jmolivas commented on #536
Feel free to send a PR @martinfrances107

[2015-03-30 19:34] jmolivas commented on #535
Fee free to send a PR @martinfrances107 if you need any help creating the PR ping me

[2015-03-30 20:12] martinfrances107 commented on #539
This pull request should solve this issue

https://github.com/hechoendrupal/DrupalAppConsole/pull/540

[2015-03-30 21:21] jmolivas commented on #536
I will fix this

[2015-03-30 22:27] vacho commented on #236
This issue has already been resolved by itself in the core. Currently the content entities that generates the console can be used to autocomplete in other forms.

[2015-03-30 22:27] #236 closed

[2015-03-30 22:36] martinfrances107 commented on #535
This pull request should fix the issue

https://github.com/hechoendrupal/DrupalAppConsole/pull/543

[2015-03-30 22:48] vacho commented on #533
I found that this issue could be easily solved .. hehehe ...
https://github.com/hechoendrupal/DrupalAppConsole/pull/544

[2015-03-30 22:48] jmolivas commented on #236
Thanks for reporting and review this issue @vacho

[2015-03-30 22:50] jmolivas commented on #533
This was already solved with https://github.com/hechoendrupal/DrupalAppConsole/pull/542

[2015-03-30 22:50] #533 closed

[2015-03-30 22:50] jmolivas commented on #533
Thanks for sending the PR @vacho

[2015-03-30 22:53] jmolivas commented on #516
This was the final result:
[code]
Option file must contain a definition like this:
[code]

![console-chain](https://cloud.githubusercontent.com/assets/366275/6908761/a22bef22-d6f4-11e4-85c6-7ea1506b85b1.gif)

[2015-03-30 22:55] #535 closed

[2015-03-31 05:30] jmolivas opened #545 "[insight] code violations"

[2015-03-31 05:53] jmolivas opened #547 "[console] Update to drupal beta 9"

[2015-03-31 08:18] jmolivas opened #549 "[generate:module] --module-path option must be a relative path"

[2015-04-01 13:42] vacho opened #551 "[generate:plugin:block] not allowed to add buttons to the form."
This feature is very important to block forms...

[2015-04-01 14:05] vacho commented on #551
and I understood a little more. It is generating only form elements to block settings where perhaps no sense buttons. So what is missing to create form elements for graphical interface.

[2015-04-01 16:03] jmolivas commented on #551
What will be the benefit of adding the buttons @vacho ?

[2015-04-01 16:37] vacho commented on #551
is useful if you need to develop a block to enter information from the user interface.

[2015-04-01 16:39] vacho opened #552 "[generate:entity:content] The generated entities are not yet fully supported by the views module."

[2015-04-01 17:21] jmolivas commented on #551
so far you can add fields using console we need to add buttons do you like to add this feature @vacho ?

[2015-04-01 17:54] vacho commented on #551
Yea

[2015-04-01 19:29] jmolivas commented on #552
I did a test and it worked this is how do I replicated,
* Create a YAML file to set the commands to automate:
[code]
* Execute  `chain` command passing file path
[code]
* Try creating new view from GUI
![screen shot 2015-04-01 at 11 46 55 am](https://cloud.githubusercontent.com/assets/366275/6948839/32eb4cf8-d865-11e4-971d-ef9328485f52.png)

NOTE: This new command is not released yet @vacho you ma

[2015-04-01 20:20] vacho commented on #552
view recognizes entities, but get errors when adding fields in the view query.

[2015-04-01 20:22] jmolivas commented on #552
Can you elaborate more, adding error messages or screenshots

[2015-04-02 00:08] jmolivas opened #553 "[chain] Pass arguments on command execution"

[2015-04-02 01:14] jmolivas opened #555 "[console] Update version to 0.7.5"

[2015-04-02 18:53] #516 closed

[2015-04-02 18:53] #520 closed

[2015-04-02 18:53] #527 closed

[2015-04-02 18:53] #536 closed

[2015-04-02 18:53] #539 closed

[2015-04-02 18:53] #545 closed

[2015-04-02 18:53] #547 closed

[2015-04-02 18:53] #549 closed

[2015-04-02 18:53] #553 closed

[2015-04-02 18:53] #555 closed

[2015-04-05 07:27] jmolivas opened #558 "[chain] Enable --file to accept relative path"

[2015-04-05 07:39] jmolivas opened #560 "[console] Travis file is failing on drush site-install"

[2015-04-05 08:45] jmolivas opened #562 "[console] Add config dist files"

[2015-04-05 22:52] Mark-L6n opened #565 "0.7.5: no response when in drupal directory"
I have Drupal beta 9 and beta 7 installations.
With console 0.7.4, I could be in the root directory of either and console worked fine.
I just replaced console with version 0.7.5:  it works fine in all directories but the beta 9  and beta 7 directories:  nothing happens, there is no default help display nor any error message; the linux prompt simply quickly reappears.  Trying `drupal -V`, `drupal h

[2015-04-06 01:34] jmolivas commented on #565
I tested v0.7.5 on Beta9 and `--version`, `help` and `list` works fine outside of the drupal root.

Console should work on Beta9 since we only support latest beta release, not sure about Beta7.

[2015-04-06 11:35] weaverryan commented on #565
@jmolivas I also have absolutely no output with Beta9 and 0.7.5 when I'm *inside* a Drupal install. Outside a D8 install, I can run `php console.phar` and get the normal list output, but inside, I get nothing for any command. error reporting is on, so if there were some sort of error, I should see it.

[2015-04-06 15:51] jmolivas commented on #565
If drupal is not installed you should see the following error message
`In order to list all of the available commands you should install drupal first.`

If drupal is already installed you should see the `Available commands list`.

I am attaching a video with the steps I follow to get the Drupal8 beta9 and the 0.7.5 version of this project in my local machine:

![drupal-console-d8-beta9](https://cl

[2015-04-06 18:33] Mark-L6n commented on #565
Thanks for the responses, @jmolivas.  Here is some info on my setup:
* Mac OSX 10.10.2, using a Vagrant Box created with PuphPet, using CentOS 6 x64, PHP 5.4
* Drupal betas downloaded from `drupal.org/download`, installed with standard web interface
* Console installed with instructions at `http://drupalconsole.com/`:
  * `    $ curl -LSs http://drupalconsole.com/installer | php`
  * `    $ mv con

[2015-04-06 19:19] jmolivas commented on #565
We need to have a better message when not in a drupal directory something like:
`In order to list all of the available commands, you should run this inside a drupal root directory.`

What does console show when inside a drupal root @Mark-L6n ?

[2015-04-06 19:30] Mark-L6n commented on #565
In console 0.7.4, much more information would show up.
Now with 0.7.5, nothing at all:  just the same as if you'd press enter on an empty command line.  Since the behavior is different, it's apparent the program identifies that it's in a drupal directory, before exiting without any messages.  It's surprising that even `drupal -V` and `drupal help` don't work—make's it appear that they're trying to

[2015-04-06 19:47] jmolivas commented on #565
I just updated the project to show this message when executing outside a d8 toot dir

![screen shot 2015-04-06 at 12 44 00 pm](https://cloud.githubusercontent.com/assets/366275/7011038/a7e18ab0-dc5a-11e4-9381-6afa8c46f7ff.png)

When executing console inside a d8 dir but drupal no installed yet

![screen shot 2015-04-06 at 12 45 35 pm](https://cloud.githubusercontent.com/assets/366275/7011077/f3280

[2015-04-06 20:26] Mark-L6n commented on #565
Sounds like a good update.  Further questions:  will Console commands such as `drupal generate:module` work if you are not in a Drupal root directory?  If you have multiple Drupal installs, will it work on  whichever Drupal root you are in?
Also, when downloading Console with `$ curl -LSs http://drupalconsole.com/installer | php`, will it
1. download the most current version, or
2. download the ve

[2015-04-06 20:55] jmolivas commented on #565
At this point Console only works inside a drupal root directory, since DrupalCore is bootstrapped in order to access service container.

We are planning to:
a) Add commands to work outside of a Drupal root like `site:install`
b) Add support for site aliases.

When downloading Console using the installer `$ curl -LSs http://drupalconsole.com/installer | php` you get the latest tagged version at thi

[2015-04-06 21:14] jmolivas commented on #565
I just merged the PR containing this fix
https://github.com/hechoendrupal/DrupalAppConsole/pull/566

[2015-04-06 21:15] Mark-L6n commented on #565
Thanks!  Maybe for now it would be good to change the message:

to something like:

[2015-04-06 21:23] jmolivas commented on #565
@Mark-L6n related to you previous question

Since you can have Console available system-wide moving the executable `console.phar` to a global accesible path using:
[code]

Yes `drupal` will work with multiple Drupal installations

[2015-04-06 22:13] weaverryan commented on #565
Hey @jmolivas

I think we should re-open this, but I have more information now (was short on time). To repeat this bug, you may need to delete the `/.console/config.yml` file from your home directory. I don't have this file, and that's key to the error. What happens is:

1) [UserConfig::mergeConfig](https://github.com/hechoendrupal/DrupalAppConsole/blob/master/src/UserConfig.php#L18) is called. Bu

[2015-04-06 22:59] Mark-L6n commented on #565
More experimentation:
1.  Unsurprising:  I downloaded the v0.7.4. `console.phar` from https://github.com/hechoendrupal/DrupalAppConsole/releases and everything still worked fine on my system, while v0.7.5 still didn't work.
2.  Surprising:  I made a 2nd clean install of Drupal Beta 9, and v0.7.5 works with that!
3.  Unsurprising:  Only difference between the 2 installs were custom modules.  Copied

[2015-04-06 23:04] jmolivas commented on #565
@weaverryan I think implementing something like this in order to fix the issue
[code]

[2015-04-06 23:17] jmolivas commented on #565
Also I am planning to copy the `config.yml` at https://github.com/hechoendrupal/DrupalAppConsole/tree/master/config/dist
to user home directory when running the installer

And add a `init` command to copy if command was installed via composer or downloaded directly from releases page.

[2015-04-07 00:14] weaverryan commented on #565
@jmolivas :+1: for the fix! About the copying of `config.yml` into the user home directory, I think this probably makes sense, assuming you can consistently do this for all users, including our Windows friends :). But yea, I can definitely see how it might be helpful to modify those options by editing a file, versus creating a new one.

I'll be using the console tomorrow during a training, so I'm

[2015-04-07 02:51] jmolivas commented on #565
* I am planning to tag a new release today, I added a new command `init`
![screen shot 2015-04-06 at 7 49 30 pm](https://cloud.githubusercontent.com/assets/366275/7016282/1fa9ce6e-dc96-11e4-8833-bbad3b79442a.png)

[2015-04-07 02:53] jmolivas commented on #565
* `InitCommand.php` source code
[code]

[2015-04-07 04:49] jmolivas commented on #565
New `init` command added @weaverryan PR merged.

[2015-04-07 05:56] jmolivas commented on #565
New release `0.7.6` tagged https://github.com/hechoendrupal/DrupalAppConsole/releases/tag/0.7.6

[2015-04-07 06:12] #558 closed

[2015-04-07 06:12] #560 closed

[2015-04-07 06:12] #562 closed

[2015-04-07 06:12] #565 closed

[2015-04-07 21:30] weaverryan commented on #565
I had an entire group of people install the DrupalConsole this morning and *nobody* had any issues at all. Thanks for the fast fix AND tag @jmolivas!

[2015-04-07 22:23] jmolivas opened #571 "[console] Rename the github project to "DrupalConsole""
Rename project form `DrupalAppConsole ` to `DrupalConsole`

Based on github documentation https://help.github.com/articles/renaming-a-repository/

NOTE: We also need to update the packagist definition https://packagist.org/packages/drupal/console

[2015-04-07 23:10] jmolivas commented on #565
Awesome I am glad it works.

Are you planning to have a training tomorrow ?

We are planning to rename the repo name and don't want to create confusion, you can see the issue at: https://github.com/hechoendrupal/DrupalAppConsole/issues/571

[2015-04-08 01:53] weaverryan commented on #565
I noticed that - no issues for me, all done with training for now. The suggestion for the name change came from the training (best place for feedback) - I said DrupalAppConsole, and people found dupalconsole.com and wondered if it was the same. So, I think it's a good change.

Thanks!

[2015-04-08 17:09] Mark-L6n commented on #565
Works for me too!
Turns out the 'clear cache' suggestion I had above had to be redone after every Drupal Console command, so the fix is great, thanks!

[2015-04-09 07:03] jmolivas opened #572 "[generate:form:config] Generated form not executing submitForm"

[2015-04-10 17:26] damienmckenna commented on #571
Might it also be possible to set it up as its own top-level project, ala Drush? You might need to set up a team or something in order to do that.

[2015-04-10 17:28] damienmckenna commented on #510
Ok, thanks for mentioning generate:command.

I did that but the new command doesn't show up when I run "drupal", was there an API change recently that would prevent generated commands from showing?

[2015-04-10 17:55] jmolivas commented on #510
Did you enable de module where the new command was generated ?

[2015-04-10 20:02] damienmckenna commented on #510
The module was already enabled, and I rebuilt the cache.

The code is here:

* http://bitbucket.org/DamienMcKenna/metatag_d8

:)

[2015-04-10 20:26] jmolivas commented on #510
@damienmckenna Your command class must end with `Command` just rename it as `GenerateTagCommand`

[code]

[code]

![screen shot 2015-04-10 at 1 23 17 pm](https://cloud.githubusercontent.com/assets/366275/7096725/e5028912-df84-11e4-909b-4770ca0630c2.png)

[2015-04-10 20:56] damienmckenna commented on #510
AHHHH! Thank you!

I added a PR for a small comment to the documentation: https://github.com/hechoendrupal/drupal-console-book/pull/38

[2015-04-13 15:59] damienmckenna opened #575 "[console] Replace DialogHelper usage with Question Helper"
Per the [Dialog Helper API docs](http://symfony.com/doc/current/components/console/helpers/dialoghelper.html):

i.e. ask(), askAndValidate() etc should be replaced with the equivalent Question Helper API instead.

[2015-04-13 20:05] jmolivas commented on #575
Glad you bring this issue. I will review and create a list of what is needed to change.

[2015-04-14 16:18] damienmckenna commented on #510
I've ran into a small problem with this - how do I tell the generator to load the file from my custom module instead of DrupalConsole? When my generator is trying to output the file it results in the following:

[2015-04-14 19:30] damienmckenna commented on #510
Basically, what should the first argument be in my custom Generator plugin's renderFile() method and where would be the best location in the module's directory to store the file?

[2015-04-14 19:40] jmolivas commented on #510
This is happening because of this https://github.com/hechoendrupal/DrupalAppConsole/blob/master/src/Command/GeneratorCommand.php#L41

I am currently working to add the module path as discoverable path for templates.

[2015-04-14 19:48] damienmckenna commented on #510
@jmolivas,
Thanks for the response, I'll put this part of the project on hold until you're able to iron it out.

[2015-04-15 00:29] jmolivas commented on #510
@damienmckenna PR #580 sent and merged is at master and tagged a new release https://github.com/hechoendrupal/DrupalAppConsole/releases/tag/0.7.8.

In order to implement on your contrib command you should:

* Add `use Drupal\AppConsole\Command\GeneratorCommand;` on you command-class.
* Make your command-class extend from `GeneratorCommand`.
* Add `use Drupal\example\Generator\MyGenerator;` where `

[2015-04-15 00:35] damienmckenna commented on #510
Thanks, I'll give it a spin in the morning - the twig file was the last part!

[2015-04-15 00:38] jmolivas commented on #510
Great, ping me if anything else is not working as expected or any doubts.

[2015-04-15 01:27] Jaesin opened #582 "[chain] Multiple modules in one chain file."
Is it possible to generate two different modules using a chain manifest file:

This manifest will try to create the first module twice.
[code]

Results in : `Unable to generate the bundle as the target directory ".../modules/sandbox/test_module" is not empty`

[2015-04-15 02:03] Jaesin commented on #582
After reading a bit of code and it looks like you are only able to have one of each command because of the way the [ChainCommand](https://github.com/hechoendrupal/DrupalAppConsole/blob/master/src/Command/ChainCommand.php#L80) accesses the options and arguments.

As a result, you can only have one say `generate:service` or `generate:plugin:block` command the way it is.

[2015-04-15 03:48] jmolivas commented on #582
Yes you are right, any ideas how to improve it ?

I will take a look at this tomorrow on my flight back.

[2015-04-15 08:39] jmolivas opened #583 "[console] Decouple command discovery from registration"

[2015-04-15 09:16] Jaesin commented on #582
I would change the file format to something like:

[code]

Then you can simplify the execute loop:
[code]

[2015-04-15 09:25] jmolivas commented on #582
like the idea of removing
[code]
I just create a PR from your code https://github.com/hechoendrupal/DrupalAppConsole/pull/584

I need to do some test, but like how the code looks like.

[2015-04-15 09:41] jmolivas commented on #582
The YAML file is not  valid you can test it here http://www.yamllint.com/

Probably doing something like this:
[code]

And make changes on the code to read `name` key inside `commands`

[2015-04-15 17:29] Jaesin commented on #582
There were some extra spaces.

**Fixed:**
[code]

[2015-04-15 17:58] Jaesin commented on #582
I pushed an update. I changed `$command['command']` to `$command['name']`.

[2015-04-15 18:06] jmolivas commented on #582
@Jaesin do you think make sense ?

I know I suggested but after reading the YAML file again, it only make sense for me if we nested one extra level at the `command` key like:
[code]
But kinda like your first approach too:
[code]

[2015-04-15 18:11] jmolivas commented on #582
What I like about the extra nested level is the grouping part but it also requires a new change on the code.

[2015-04-15 18:34] Jaesin commented on #582
If you do that, the code looks like:
[code]

I prefer the simpler version myself.

[2015-04-15 18:38] jmolivas commented on #582
we can just add after `foreach` statement
[code]

[2015-04-15 18:39] jmolivas commented on #582
But looks kinda strange, let me think about on my flight back home, but so far looking good

[2015-04-15 19:05] Jaesin commented on #582
It's also possible to reference other nodes like:
[code]

And then use `$commands = $chainData->get('chain');` but the "anchors" have to come before the references and I think it adds unnecessary complexity.

[2015-04-15 19:11] jmolivas commented on #582
I think I do prefer the simpler version myself too.

[code]
May we rollback it back sorry for all of the requested changes

[2015-04-15 20:56] jmolivas commented on #582
@Jaesin please let me know when the code is updated to merge the PR.

[2015-04-16 01:19] Jaesin commented on #582
It's RTM (Ready to Merge).

Tested YAML (Minus the args):
[code]

[2015-04-16 01:35] jmolivas commented on #582
I will merge this, update the sample one https://github.com/hechoendrupal/DrupalAppConsole/blob/master/config/dist/chain.yml and tag a new release later on today or early morning tomorrow.

[2015-04-16 01:40] #582 closed

[2015-04-16 02:43] greg-1-anderson opened #589 "[console] Refactor doRun() method"
Due to the way Symfony DI works, I had a hard time giving DrupalAppConsole a kernel object that Drush had already initialized.  I'm not really sure where the automatic DI stuff kicks in and does its thing, but it seems easier to me to just let the Console application create the kernel, and have Drush extract it for its own use.

Currently, this stuff is all initialized in doRun().  It would be nif

[2015-04-16 17:57] Jaesin commented on #582
@jmolivas I've already refactored the [chain.yml](https://github.com/Jaesin/DrupalAppConsole/blob/98da52d515c463ae6179a53306ed4a5c7e671f98/config/dist/chain.yml) file if you want to do another pull request.

[2015-04-16 18:07] jmolivas commented on #582
@Jaesin Sure can you send a PR ?

[2015-04-16 18:15] jmolivas commented on #582
I done it, I created the PR and will merge as soon as test goes green thanks

[2015-04-16 18:22] jmolivas commented on #582
Merged PR https://github.com/hechoendrupal/DrupalAppConsole/pull/590

[2015-04-16 19:02] jmolivas opened #592 "[test] Broken test"

[2015-04-16 20:22] #572 closed

[2015-04-16 20:22] #583 closed

[2015-04-16 20:22] #592 closed

[2015-04-16 22:03] jmolivas opened #594 "[init] Add override option to command"

[2015-04-17 00:08] jmolivas opened #597 "[console] Call terminate method"

[2015-04-18 11:56] kgaut commented on #417
I've just made a manual diff in order to sync french file.

[2015-04-18 12:05] kgaut opened #607 "[standard] Documentation > How to set up a dev environement"
In order to allow more people to work on this project, It would be great to add documentation about how to set up a dev environment for Drupal Console.
 * Forking the project
 * How to use the fork locally.
 * and so on...

There's a page on the book, empty : http://hechoendrupal.gitbooks.io/drupal-console/content/how-to-contribute/create-a-new-command.html

[2015-04-18 18:44] jmolivas commented on #607
##### Setup dev environment links are at:
* http://hechoendrupal.gitbooks.io/drupal-console/content/how-to-contribute/project-requirements.html
* http://hechoendrupal.gitbooks.io/drupal-console/content/how-to-contribute/getting-the-project.html
* http://hechoendrupal.gitbooks.io/drupal-console/content/how-to-contribute/running-the-project.html
* I just merged a PR related to `Create a new Command`

[2015-04-19 13:20] andrewholgate commented on #469
I'm coming across the same error on the current Drupal dev branch.

[code]

Here's the exception trace:

[code]

[2015-04-21 07:06] jmolivas opened #608 "[console] Update autoload path"
Project type was updated from `drupal-module` to `project` on PR https://github.com/hechoendrupal/DrupalConsole/pull/577 autoload path must change.

[2015-04-21 20:07] #522 closed

[2015-04-21 20:07] #571 closed

[2015-04-21 20:07] #589 closed

[2015-04-21 20:07] #594 closed

[2015-04-21 20:07] #597 closed

[2015-04-21 20:07] #608 closed

[2015-04-27 18:17] kostajh opened #613 "[console] Use SSL for site and install docs"
Hello,

I'm interested to use this project. But the install instructions make me hesitate:

` curl -LSs http://drupalconsole.com/installer | php`

How do you feel about serving `drupalconsole.com` over SSL and updating the install docs to use SSL exclusively?

[2015-04-27 19:39] jmolivas commented on #613
@kostajh We are working on a new version for the site, and move the hosting to Pantheon then serve the site over SSL, our goal is have it ready for DrupalConLA.

In the meantime you can download the `console.phar` from the releases page:
`https://github.com/hechoendrupal/DrupalConsole/releases`
Once downloaded you may move to a global accesible path using:
`mv console.phar /usr/local/bin/drupal`

[2015-04-27 20:12] kostajh commented on #613
thanks @jmolivas!

[2015-05-09 21:06] geerlingguy opened #615 "[self-update] command shouldn't require running in a Drupal docroot"
It seems the `self-update` command only works if you run the command within a valid Drupal site docroot. If you run the command elsewhere, you get:

[code]

Shouldn't it be possible to update Drupal Console independent of a Drupal installation/codebase? I'm asking specifically in reference to my Ansible role that installs Drupal Console and otherwise works perfectly without referencing any particu

[2015-05-15 21:33] enzolutions opened #616 "[rest:enable] doesn't work"
Right now is not possible to enable a rest resource using command *rest:enable* the following error interrupt the operation.

[code]

A comment in issue https://www.drupal.org/node/2456303#comment-9928318 where provided to request support. Maybe this command must be disable until that problem is resolved.

[2015-05-15 22:46] omero commented on #552
Firstable a update the yml file to use `chain` command

[code]

Secondly, i tried replicate error but everything looks fine

[2015-05-19 19:29] jmolivas opened #620 "[cache:rebuild] Make cache option an argument instead"
Make easy to call the `cache:rebuild` avoiding to pass `--cache` option changing this as an argument
[code]

[2015-05-20 05:27] jmolivas opened #622 "[module:install] Merge module and another-module functionality"

[2015-05-24 01:52] LowellMontgomery opened #625 "[docs] Fix code-affecting typos"
While editing the documentation, I came upon an option that had a typo/misspelling. (autorization => authorization). I've corrected this in my latest documentation cleanup branch and in a new branch I've created in my new fork of this. In this new branch, I will also do a quick cleanup of any English grammar/typos, etc, in more trivial locations (.md files, etc)

[2015-05-24 03:49] jmolivas commented on #625
Awesome thanks, I am currently reviewing your PR https://github.com/hechoendrupal/DrupalConsole/pull/626

[2015-05-24 22:59] grayside commented on #260
I have 'The service file "core/core.services.yml" is not valid.' from a composer-based install.

* **Run command:** `vendor/bin/console --drupal=build/html list`
* **Console Version:** 0.7.12
* **Drupal Version:** 8.0.0-beta10

[2015-05-25 16:34] jmolivas commented on #260
@grayside is `build/html` a relative path of your D8 installation, from where are you executing `vendor/bin/console`?

[2015-05-25 16:42] grayside commented on #260
Correct. I am working from a top level directory containing both build/ and vendor/.

[2015-05-26 00:34] jmolivas opened #627 "[standard] insight.sensiolabs.com DrupalConsole 57"
**Unused method, property, variable or parameter in** src/Command/GeneratorThemeCommand.php, line 50
[code]

**Text files should end with a newline character** in templates/module/composer.json.twig, line 14
[code]

URL: https://github.com/hechoendrupal/DrupalConsole/issues/new

[2015-05-27 18:44] Jaesin commented on #446
I second the notion. There are three plugins that need to be implemented to create a new field. The field type ([@FieldType](https://www.drupal.org/node/2064123) [plugin](https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Field!Plugin!Field!FieldType!StringItem.php/class/StringItem/8)) , the widget ([@FieldWidget plugin](https://api.drupal.org/api/drupal/core!modules!file!src!Plugin!Field!Fiel

[2015-05-28 05:14] sajalsoni opened #632 "FATAL ERROR"
While running simple drupal command, it gives the FATAL Error.
$ drupal
PHP Fatal error:  Call to protected method Drupal\Core\DrupalKernel::preHandle() from context 'Drupal\AppConsole\Command\Helper\KernelHelper' in phar:///usr/local/bin/drupal/src/Command/Helper/KernelHelper.php on line 72
PHP Stack trace:
PHP   1. {main}() /usr/local/bin/drupal:0
PHP   2. require() /usr/local/bin/drupal:10
PHP

[2015-05-28 05:24] jmolivas commented on #632
Which version of `drupal 8` and `console` are you using @sajalsoni ?

[2015-05-28 05:50] sajalsoni commented on #632
Drupal => 8
Drupal Console => Drupal Console version 0.7.12

[2015-05-28 21:09] jmolivas commented on #632
I just cloned D8 latest dev and execute console 0.7.12 and it works fine as you can see it here:
![drupal-dev-console-0-7-12-site-status](https://cloud.githubusercontent.com/assets/366275/7871167/0aa5e3a6-0543-11e5-8655-11bfd647030f.png)

[2015-05-28 23:21] alexdesignworks opened #635 "[standards] Coding standards for the console itself"
I was wondering if Drupal's coding standards will/should be applied to Drupal Console codebase.

For example, curly braces in functions definitions start from the next line, which is a Symphony/PSR standard. In Drupal opening brace starts on the same line.

If Drupal standards are used, then a phpcs Drupal standard can be used to check the code of console itself during build.

[2015-05-29 00:28] jmolivas commented on #635
@alexdesignworks The Drupal Console is not a Drupal module, this project is a Symfony Application code is [PSR1](http://www.php-fig.org/psr/psr-1/) and [PSR2](http://www.php-fig.org/psr/psr-2/).

But since one of the features of this project is to generate code, this generated code must be (Drupal Standard)[https://www.drupal.org/coding-standards] this is something we have been taking care.

If th

[2015-05-29 00:33] #635 closed

[2015-05-29 03:41] jmolivas opened #636 "[chain] Is not validating empty file option"
![screen shot 2015-05-28 at 8 35 11 pm](https://cloud.githubusercontent.com/assets/366275/7876014/8e5749ca-0579-11e5-9abb-8309d9f70242.png)

When no option `--file=path/to/your-file.yml` entered the error message

Must be shown

[2015-05-29 05:55] sajalsoni commented on #632
@jmolivas

Ok working fine now with "drupal-8.0.0-beta11" version. So it was an issue with "dev" version. Anyways, thanks for the insight.

[2015-05-29 06:18] jmolivas commented on #632
Glad to know it works, we are currently only supporting Beta releases.

[2015-05-29 06:18] #632 closed

[2015-05-29 13:02] sajalsoni commented on #632
@jmolivas

Hi, although this issue is closed. I've a query. Can you please clear the different between "generate:entity:config Vs generate:entity:content" as they both generate almost similar files.

When I should create "Config Entity" and same with "Content Entity"? Thanks in advance.

[2015-05-29 17:37] jmolivas commented on #632
@sajalsoni:

Some differences:
* Configurable entities can be exported using the new CMI system.
* Configurable entities don't have fields due to the way they are stored in the DB

Drupal 8 introduces the concept of configuration entities (or configurables) that leverage the entity system's CRUD and pluggable storage functionality. The main difference between configuration entities and Drupal 7-st

[2015-05-29 20:49] jmolivas commented on #636
This is how the fix looks like when no option entered `--file=path/to/your-file.yml`
![screen shot 2015-05-29 at 1 39 11 pm](https://cloud.githubusercontent.com/assets/366275/7892292/1bc3ee42-0608-11e5-9688-224725569508.png)

[2015-05-30 05:41] sajalsoni commented on #632
@jmolivas Thanks for the detailed information. I appreciate it.

[2015-06-01 21:58] Jaesin commented on #636
I've tested  with `php bin/console.php chain` and received the "You must provide a valid file path and name." error message.

[2015-06-01 22:14] jmolivas opened #639 "[chain] Not installing module properly"
When running the `chain` command and the YAML definition contains a `module:install` the module is not properly enabled.

[code]

[2015-06-01 22:18] Jaesin commented on #458
So you are saying console should search in `~/.drupal_console/modules-enabled` (Or something like that) for drupal modules with console commands.

[2015-06-01 22:29] Jaesin opened #640 "[chain] Generate chain command structure."
The idea here is to be able to use interactive mode to generate a chain command entry.

Maybe something like `console generate:plugin:block --generate-chain-entry` that would print out the chain command entry.

This is useful when using a chain file to document the structure of your module. You can add the `my_module.chain.yml`file to your drupal module.

[2015-06-01 22:39] jmolivas commented on #640
Love the idea @Jaesin, how about `generate:chain generate:plugin:block`make more sense to me have a single chain generator and pass the module(s) as argument.

[2015-06-01 23:03] jmolivas commented on #639
In order to tag a release to support Beta11, I decide to validate commands on the `src/EventSubscriber/CallCommandListener.php` if the command `module:install` is present on the queue this will skip the execution of that single command and send an the following error message:

![chain_module_install](https://cloud.githubusercontent.com/assets/366275/7925212/1f023c5a-0877-11e5-92af-6357bbcb09da.png

[2015-06-02 02:41] jmolivas opened #643 "[generate:*] Files are generated at root dir"
Since Beta 11 update, when running the generators files are generated at drupal root directory instead of the proper directory.

[2015-06-02 02:49] jmolivas commented on #643
After some debug I found `drupal_get_path` function is not returning the module path when a new module is generated and cache has not been rebuild. https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Generator/Generator.php#L98 is

[2015-06-02 04:08] fluxsauce commented on #458
@Jaesin I was thinking something similar to Drush commands, which can be installed in places like `~/.drush/commands`.

Ideas:

* `~/.drupal_console/contrib`
* `~/.drupal_console/commands`
* `~/.drupal_console/vendor`

Thoughts?

[2015-06-02 05:02] jmolivas commented on #458
The command discovery mechanism search for command classes at DrupalConsole + DrupalCore + Custom modules.

We can update the code to search for commands classes at common place like you mentioned I was thinking to use  `~/.console/src/Command/`.

[2015-06-02 05:36] jmolivas commented on #458
For commands inside a contrib module command classes must be created at `MODULE_NAME/src/Command` if the command is a generator then the generator class must be created at `MODULE_NAME/src/Generator`

https://github.com/lussoluca/webprofiler/tree/8.x-1.x/src/Command

[2015-06-02 07:23] jmolivas opened #646 "[standard] Apply PSR code standard"

[2015-06-03 04:30] #620 closed

[2015-06-03 04:30] #622 closed

[2015-06-03 04:30] #625 closed

[2015-06-03 04:30] #627 closed

[2015-06-03 04:30] #636 closed

[2015-06-03 04:30] #639 closed

[2015-06-03 04:30] #643 closed

[2015-06-03 04:30] #646 closed

[2015-06-03 12:39] sajalsoni commented on #632
Hi @jmolivas

I created a module using "drupal generate:authentication:provider". But when I try to enable it from the admin side, it gives me the following error.

Drupal\Component\Serialization\Exception\InvalidDataTypeException: Unable to parse at line 1 (near " authentication.autocustomauthprovider:"). in Drupal\Component\Serialization\Yaml::decode() (line 44 of core/lib/Drupal/Component/Seria

[2015-06-03 19:25] jmolivas commented on #632
May you share used versions, You may now this by running

`drupal --version `

`drupal site:status`

[2015-06-04 04:47] sajalsoni commented on #632
Hi @jmolivas

[sajal@aum219 drupal8-latest]$ drupal --version
Drupal Console version 0.7.12
[sajal@aum219 drupal8-latest]$ drupal site:status
 System Info
 Drupal                       8.0.0-beta11
 Access to update.php         Protected
 Configuration files          Protected
 Cron maintenance tasks       Last run 5 min 6 sec ago
 Database system              MySQL, MariaDB, Percona Server, or eq

[2015-06-04 05:09] sajalsoni commented on #632
Hi @jmolivas

I was able to solve that finally. I found that I need to provide the "provider_id" in the services.yml.

services:
  autocustomauthprovider.authentication.defaultauth:
    class: Drupal\autocustomauthprovider\Authentication\Provider\DefaultAuthenticationProvider
    arguments: ["@config.factory", "@entity.manager"]
    tags:
      - { name: authentication_provider, provider_id: 'auto

[2015-06-04 05:10] Jaesin commented on #640
The idea behind using a flag is that the command would also execute at the same time unless you type "no" on the confirmation step. You may already have custom code in your module but still want to generate the chain command.

That may just be semantics though.

[2015-06-04 07:39] sajalsoni opened #649 "[generate:plugin:rulesaction] Needs changes"
@jmolivas

This command generates the custom Action based on RuleActionBase namespace. But I think in the latest version of Drupal, it doesn't exist anymore?

Instead of "RuleActionBase", we could use "ActionBase".  Also we need to create *.action.*.yml file to make sure our custom action is listed in the back-end.

Modified Code:

===modules/custom/autocustomrulesection/src/Plugin/Action/CustomAc

[2015-06-07 23:43] webflo opened #653 "Cleanup install instructions and rename the 'console' executable to 'drupal'"
# Problem/Motivation

The first install steps downloads ``console.phar`` and then later, we rename this phar file to ``drupal``. This leads to confusion because the user will end up with a different executable if the project is installed via composer (or a simple git clone).

# Proposed resolution

Rename ``bin/console`` and ``bin/console.php`` to drupal.

[2015-06-08 07:47] jmolivas commented on #615
@geerlingguy I did some work on how commands are registered on this PR https://github.com/hechoendrupal/DrupalConsole/pull/656

At this point we have two commands that shouldn't require running in a Drupal docroot `init` and `self-update`

* This is how it looks when console is executed outside of a drupal root
![screen shot 2015-06-07 at 8 43 42 pm](https://cloud.githubusercontent.com/assets/3662

[2015-06-08 08:23] jmolivas commented on #615
This is how it looks to execute the `self-update` command outside of a Drupal docroot

![screen shot 2015-06-08 at 1 20 00 am](https://cloud.githubusercontent.com/assets/366275/8030590/efac22bc-0d7c-11e5-9b31-7d0204d0bf7b.png)
Drupal docroot

[2015-06-08 09:04] jmolivas commented on #615
This is how it looks to execute the `init` command outside of a Drupal docroot

![screen shot 2015-06-08 at 2 03 41 am](https://cloud.githubusercontent.com/assets/366275/8031377/a8b2a04c-0d82-11e5-8a57-60dbc692d025.png)

[2015-06-08 10:02] webflo opened #658 "Travis CI Integration is broken"
All Travis CI builds are marked as successful regardless of errors during build. Example https://travis-ci.org/hechoendrupal/DrupalConsole/jobs/65820861#L166

Related PR: #654

[2015-06-08 16:40] LowellMontgomery commented on #653
Hi, @webflo. I agree, but I believe the proposed resolution is also potentially confusing.

## My Observations:
* Renaming `console.phar` to `drupal` is an optional installation step. Anywhere we document Drupal  Console commands and use `drupal` in the example, there *should* be a note explaining that we are assuming the user has installed globally and renamed the `console.phar` to `drupal`.
* (B

[2015-06-08 17:29] webflo commented on #653
Yes, naming things is hard :)

I think Symfony based applications just go with console, maybe we should to the same? ``symfony/console`` was added to core a few days ago. I am not sure if core is going to expose console as executable in the future.

[2015-06-08 17:58] LowellMontgomery commented on #653
Hmm... yeah, I suspect renaming to either `console` or `drupal` could lead to confusion, especially if the scope is global.

[2015-06-08 21:17] jmolivas commented on #653
Totally agree, naming things is hard, actually is so hard, we had this discussion in the past and talk about different names:
- console
- drupalcli
- drucli
- drupli
- drupcli
- drupalconsole
- drupal

[2015-06-09 06:51] LowellMontgomery commented on #653
Hi, Jesus...

I still like `drucon`...  (`drupalcon` would probably get too many irrelevant results in searches. ;-) )

`DrConsole` or `drupalconsole` are also at least unambiguous.

But we shouldn't really think of this as naming. It's only an *alias* used at the command line. The project is still "Drupal Console". The alias could just be a bit more obvious, IMHO. FWIW, if I list the options I th

[2015-06-09 23:44] Crell opened #661 "[generate:entity:config] Doesn't generate menu links"
Per the title, this command generates 8 different files, but it's missing a 9th.  The actual menu link itself.  That means you can't actually GET to the list page for the config entity without manually typing in the URL, which is undesireable.

We should generate the menu links yaml file, too.

[2015-06-10 08:49] jmolivas commented on #649
@sajalsoni Thanks for the info, let me know if you want to take care of sending a PR I can help you to make that happen.

[2015-06-10 15:59] darol100 opened #662 "[console] Add hook/function finder?"
Using Drupal Console as learning tool, it would be nice to have some kinda of tool that allows me to enter a hook from D7 and tell me what command I need to used, or how generate the same but in D8. This would help user that have been build d7 modules, help them to understand how to build new app on D8.

This is something that you guys are interested on adding to this project ?

[2015-06-10 16:05] seanr commented on #662
This would indeed be awesome. :+1:

[2015-06-10 17:57] sajalsoni commented on #649
@jmolivas Yes sure, I would like to work on this. How should I proceed?

[2015-06-10 19:04] jmolivas commented on #662
Sounds like a great idea @darol100.

How do you think this can be added to the project?

Is that information somewhere available that we can reuse?

For the learning part, since we need to add extra information on the generators. I was thinking probably adding a glossary of terms using YAML files and take advantage of the multilingual capabilities of console to consume the information.

We can try

[2015-06-10 19:13] jmolivas commented on #662
Not sure how much of that work was already done at the "Drupal Module Upgrader"
https://www.drupal.org/project/drupalmoduleupgrader

[2015-06-10 21:27] Crell opened #663 "[generate:entity:*] Generated entity links should point to paths, not routes"
A recent core change requires that the links array in the Entity annotation be paths, NOT route names.  The current code is still generating an annotation with route names, which causes mysterious failures in some other code, such as devel. :smile:

Very soon the routes themselves will not need to be generated as they will be automatic based on the annotation.  For right now, the path just needs t

[2015-06-10 23:24] jmolivas commented on #663
Thanks for the notice @Crell, do you have a link to see what we need to change?

[2015-06-11 01:32] darol100 commented on #662
@jmolivas ,

I think the drupalmoduleupgrader have a lot of this work done. However, this is going to be a different approach. I have use the drupalmoduleupgrader, which is mainly to help you migrate your D7 to D8 module. However, a hook/function finder in this project would help user that are writing new D8 modules. Because I do not think nobody would write a D7 module and then try to use drupalm

[2015-06-11 03:51] darol100 opened #664 "Ask for how many fields in generate:form:config ?"
### Problem/Motivation
If you are trying to generate some fields, by default `generate:form:config` would allow you to created 3 field, but what if I want more or less?

### Solution
I think we should ask after `Do you want to generate a form structure [yes]? `  we should ask **How many fields do you want to generate [1]?**

What you guys think about this feature?

[2015-06-11 03:52] joshuataylor opened #665 "Provide composer instructions instead/along side of phar instructions"
It's what drush does, and allows easier updating.

[2015-06-11 03:55] darol100 opened #666 "You can't generate code on an enable module."
I think we should have a note that you can't generate code if the module is enable. In this documentation page.  http://hechoendrupal.gitbooks.io/drupal-console/content/using_drupal_console/available-commands.html

I try to run drupal generate:form:config and did not let me run into uninstall the module.

[2015-06-11 03:56] darol100 commented on #666
I would move this to the console-book project. Sorry.

[2015-06-11 03:56] #666 closed

[2015-06-11 05:50] jmolivas commented on #665
We recommend using the installer and have console as executable but you can review other installing instructions from gitbook:
* Composer http://hechoendrupal.gitbooks.io/drupal-console/content/installing_drupal_console/using-composer.html
* Downloading the phar file http://hechoendrupal.gitbooks.io/drupal-console/content/installing_drupal_console/download-phar-file.html

Do you recommend to add t

[2015-06-11 05:52] joshuataylor commented on #665
Hi @jmolivas - didn't see that it was in the docs, yes I believe adding it to the README could be great for people like me who don't RTFM (it's really easy to add something to composer, but some people don't know the "composer global require" dance).

[2015-06-11 05:59] jmolivas commented on #665
We had the composer instructions at the beginning, but we decided to remove since wanted to promote the installer, at this point I believe we can add composer + download phar instructions.

[2015-06-11 05:59] #665 closed

[2015-06-11 06:36] jmolivas commented on #664
@darol100 There is no limit on the fields you can add, I did an example adding 4 fields
![add-form-field](https://cloud.githubusercontent.com/assets/366275/8100987/83308f0e-0fc7-11e5-9c46-05b2b3526bc3.png)

[2015-06-11 06:39] jmolivas commented on #664
This is another example adding just one field
![add-form-one-field](https://cloud.githubusercontent.com/assets/366275/8101219/e0099e6c-0fc9-11e5-9b1f-e718ce3d1216.png)

[2015-06-11 08:07] jmolivas opened #667 "[standard] Drupal coding standards errors"
As shown on Travis build:
https://travis-ci.org/hechoendrupal/DrupalConsole/jobs/66209788

There are some fixes to apply at:
* templates/module/src/Authentication/Provider/authentication-provider.php.twig
* templates/module/src/Controller/controller.php.twig
* templates/module/src/Plugin/Rest/Resource/rest.php.twig

[2015-06-11 15:40] edutrul opened #669 "[generate:controller] Error while generating the routing information"
I had already a module working with:
anexus_custom.modal:
  path: '/anexus/modal'
  defaults:
    _controller: '\Drupal\anexus_custom\Controller\AnexusCustomController::modal'
    _title: Modal
  requirements:
    _permission: 'access content'

That's it!

then execute $ drupal generate:controller  (module: anexus_custom)
next next
![screenshot at jun 11 10-35-49](https://cloud.githubusercontent.c

[2015-06-11 15:58] martinfrances107 commented on #616
I am having the same issue...

just wanted to add, the work around.

The UI still works, so visit admin/config/services/rest

[2015-06-11 16:08] enzolutions commented on #616
Hi @martinfrances107 correct Rest UI is working

[2015-06-11 16:43] darol100 commented on #664
OK, Closing this issues then. Thank you for your support.

[2015-06-11 16:43] #664 closed

[2015-06-11 16:43] Crell commented on #663
Here's the relevant change record: https://www.drupal.org/node/2382937

[2015-06-12 00:41] jmolivas opened #672 "[console] Run console from any directory within a Drupal installation."

[2015-06-12 00:44] jmolivas opened #673 "[console] Stand alone commands"
Add a mechanism to define commands as stand-alone and those that depend on a Drupal installation.
- [x] Implement code on command classes.
- [ ] Document how to for contribution.

[2015-06-12 00:46] jmolivas opened #674 "[test] Increase code coverage."
- [ ] Add test for commands.
- [ ] Add tests for helpers.
- [ ] Add tests for the rest of the project classes.

[2015-06-12 00:47] jmolivas opened #675 "[docs] Improve documentation and translations."

[2015-06-12 02:06] jmolivas opened #676 "[console] Improve verbose code-outpu"
Add `--learning` option on more commands.
- [ ] Decide which commands to improve.
- [ ] Decide best option for handle messages and information.

[2015-06-12 02:11] jmolivas opened #677 "[console] Dummy content generator"
Investigate best alternative to generate content

Similar projects ands links for inspiration
https://github.com/fzaninotto/Faker
https://github.com/nelmio/alice
https://github.com/larowlan/default_content
http://laravel.com/docs/5.0/migrations#database-seeding

[2015-06-12 02:12] jmolivas opened #678 "[console] Content staging export/import."
Investigate best alternative to provide content staging export/import

Similar projects and links for inspiration:
http://wearepropeople.com/blog/a-content-staging-solution-for-drupal-8-and-more
http://entitypilot.com/

[2015-06-12 02:14] jmolivas opened #679 "[console] Autocomplete commands"
Provides automatic (tab) completion:

Project to provide, auto-complete for Symfony Console applications:
https://github.com/stecman/symfony-console-completion

[2015-06-12 02:32] jmolivas commented on #673
* Implement code on command classes.
Issue: https://github.com/hechoendrupal/DrupalConsole/issues/615
PR: https://github.com/hechoendrupal/DrupalConsole/pull/656

[2015-06-12 02:50] jmolivas commented on #669
Seems like a new line must be added on the first line at the following twig files:
- [ ] templates/module/routing-controller.yml.twig
- [ ] templates/module/routing-entity-content.yml.twig
- [ ] templates/module/routing-entity.yml
- [ ] templates/module/routing-form.yml

[2015-06-12 02:51] jmolivas commented on #669
@edutrul let me know if you want to take care of this issue.

[2015-06-12 03:10] jmolivas commented on #607
@kgaut  Since documentation is already on the book. I will close this issue, feel free to re-open not something still missing.

[2015-06-12 03:10] #607 closed

[2015-06-12 03:16] jmolivas commented on #552
Looks fine for @omero and me. @vacho I will close this feel free to re-open if still having issues.

[2015-06-12 03:16] #552 closed

[2015-06-12 03:17] jmolivas commented on #551
@vacho do you have a link to the documentation to take as example to add this functionality.

[2015-06-12 03:40] jmolivas commented on #510
I will close this, since looks like is fixed. @damienmckenna feel free to re-open if something is missing.

[2015-06-12 03:40] #510 closed

[2015-06-12 03:41] jmolivas commented on #506
Closing this since PR was merged. Feel free to re-open @omero if something is missing.

[2015-06-12 03:41] #506 closed

[2015-06-12 03:55] jmolivas commented on #469
We only support current beat release. I will close this @enzolutions and @andrewholgate feel free to re-open is something is still missing.

[2015-06-12 03:55] #469 closed

[2015-06-12 04:05] #201 closed

[2015-06-12 04:13] jmolivas commented on #200
Ia m closing this since travis was updated.
I am opening an issue on the documentation project to "Add instruction how to setup and use CodeSniffer"  https://github.com/hechoendrupal/drupal-console-book/issues/56

[2015-06-12 04:13] #200 closed

[2015-06-12 04:19] jmolivas commented on #458
@Jaesin & @fluxsauce I will close and add a new issue on the documentation project repository.

Related issue:
https://github.com/hechoendrupal/drupal-console-book/issues/57

[2015-06-12 04:19] #458 closed

[2015-06-12 04:26] jmolivas commented on #394
@davereid make sense, people would probably be removing those lines from the generated code, discarding this and closing it.

[2015-06-12 04:26] #394 closed

[2015-06-12 04:28] jmolivas commented on #454
Discarding this one

[2015-06-12 04:28] #454 closed

[2015-06-12 04:33] jmolivas commented on #420
Instead of `--bootstrap` you can use `--drupal` @mikeyp

We wiIl keep those
[code]

[2015-06-12 04:35] jmolivas commented on #420
I am closing this one. We leave the defaults even if we are not using all of them, we can re-open or open a new issue once we are close to a 1.x release.

[2015-06-12 04:35] #420 closed

[2015-06-12 04:43] omero commented on #658
after merge #659 , this issue should remain open ??

[2015-06-12 04:53] edutrul commented on #669
Yes please I'd love to! thanks for considering me!

[2015-06-12 04:54] jmolivas commented on #669
Feel free to ping me if any help is needed @edutrul

[2015-06-12 05:07] omero commented on #616
the issue mentioned by @enzolutions has been moved to https://www.drupal.org/node/2490228 wait and see what happens :/

[2015-06-12 05:15] jmolivas commented on #392
Closing this one since we have a page related to how to contribute:
http://hechoendrupal.gitbooks.io/drupal-console/content/contribute_to_drupal_console/create-an-issue.html

[2015-06-12 05:15] #392 closed

[2015-06-12 05:20] jmolivas commented on #371
Closing this one since `password:reset` command was added by @enzolutions

[2015-06-12 05:20] #371 closed

[2015-06-12 05:26] jmolivas commented on #356
Can you please elaborate this @mpdonadio? in order we can take care of it.

[2015-06-12 05:33] jmolivas commented on #248
@AxelBriche I rather like to have a separated issues for each Field Widget requested and link to the d.o. section or a working code example.

[2015-06-12 05:37] darol100 commented on #667
@jmolivas , If this issue is already fixed should we close the issue ? Or does needs more work ? or testing ?

[2015-06-12 05:40] jmolivas commented on #667
Is fine with me to closed, but it won't be reflected until new release. thoughts @omero @enzolutions @darol100

[2015-06-12 05:47] omero commented on #667
I think that we need the new release before close this issue because can cause duplicates :)

[2015-06-12 05:49] jmolivas commented on #667
Should we tag as fixed or not ideas?

[2015-06-12 05:58] jmolivas opened #680 "[console] Setting guidelines for contributing"
I like how d.o. provides a template to create an issue.

Github provides similar functionality by adding a new file, named `CONTRIBUTING` or `CONTRIBUTING.md` to the root directory of your repository, more info:
https://help.github.com/articles/setting-guidelines-for-repository-contributors/

Taking as example the issues @darol100 added, I took the template from d.o. and wrote this draft

### Prob

[2015-06-12 06:09] omero commented on #667
Well rethinking this ... most of the people that detects this kind of problems can find the issue and see that exist the fix on dev branch, also we don't have a 1.x release yet , so from the developer perspective, and the good control of the project issues, maybe close the issue is the best option :smiley:

[2015-06-12 06:48] jmolivas commented on #680
A new link `Please review the guidelines for contributing to this repository.` appear now when adding a new issue pointing to `CONTRIBUTING.md` file:
https://github.com/hechoendrupal/DrupalConsole/blob/master/CONTRIBUTING.md

This is how it looks like:
![screen shot 2015-06-11 at 11 41 56 pm](https://cloud.githubusercontent.com/assets/366275/8124796/0f7ec2e2-1094-11e5-84d4-6c6b78336406.png)

[2015-06-12 07:08] jmolivas commented on #680
We have a page on the book related to [Create an issue](http://hechoendrupal.gitbooks.io/drupal-console/content/contribute_to_drupal_console/create-an-issue.html)

I am planning to add the tittle section on the `CONTRIBUTING.md` file

### Issue title standards

The issue title should comply with the following structure:

[ *ISSUE-GROUP* ] - Short description

The *ISSUE-GROUP* should be one of:

*

[2015-06-12 07:16] #658 closed

[2015-06-12 07:20] jmolivas commented on #667
Thanks both @darol100 & @omero closing this

[2015-06-12 07:20] #667 closed

[2015-06-12 07:35] #615 closed

[2015-06-12 15:42] darol100 commented on #680
@jmolivas , Maybe allowing any user to set labels, but I do not think this is possible in Github. https://help.github.com/articles/permission-levels-for-an-organization-repository/.

I have a few suggestion/things to consider for the warning message.

Do you want user to use the issue queue for support as well, or just only issues and new features ? Some projects like bootstrap, only use the issue

[2015-06-12 16:20] jmolivas commented on #680
Great idea about Support and Documentation

We can direct support to gitter chat room
https://gitter.im/hechoendrupal/DrupalConsole

I like the bootstrap warning message about the **Minimum Requirements**

Related to the labels, need to confirm but what I recall is github does not allow users to create labels.

[2015-06-12 16:31] LowellMontgomery commented on #680
* command:name
* helper
* standard
* template
* translation
* RFC

I think we should have some kind of explanation of the "ISSUE-GROUP" types. And, if I even understand the intended meaning of them all, myself, I think we should have at least another category+ (?)

Just wanted to point out that the notes for new issue creation will certainly be ignored by those who know the system, but for those w

[2015-06-12 16:34] jmolivas commented on #680
@darol100  I did some re-work based on your ideas:

### Minimum Requirements
This project requires Drupal 8 Beta11.

### Support
"**Do not open issue for support question, only features and bugs.** For question please visit our [ DrupalConsole Gitter room] (https://gitter.im/hechoendrupal/DrupalConsole).

### Documentation
There's been some amazing Drupal Community work done around DrupalConsole.

[2015-06-12 16:40] jmolivas commented on #680
@LowellMontgomery I totally agree with adding more categories any recommendations. I already added `docs` and `test` I did when adding the [CONTRIBUTING.md](https://github.com/hechoendrupal/DrupalConsole/blob/master/CONTRIBUTING.md) file.

Adding a clear meaning for the groups sounds like a great idea. Also we can change the name from `group` to `category` or other if that make more sense.

[2015-06-12 16:41] jmolivas commented on #680
@darol100 Related to Drupal StackExchange maybe promote people to ask question there and tagging as console could be a good idea.

[2015-06-12 21:56] mpdonadio commented on #356
Let's say I have an node entity, and I want to get the URL object representing the route for the version history, I would do;

[code]

Usually the URI templates are class annotations, sometimes they aren't.  When you are writing tests, or debugging code, and have entities and want to use routes, you need to know the link relationship from the template.

The feature request is to add a third column

[2015-06-13 01:02] jmolivas commented on #649
@sajalsoni You will need to:

* Have this [Project requirements](http://hechoendrupal.gitbooks.io/drupal-console/content/contribute_to_drupal_console/project-requirements.html)
* [Get the project](http://hechoendrupal.gitbooks.io/drupal-console/content/contribute_to_drupal_console/getting-the-project.html) on your local machine
* Make sure you have it [running the project](http://hechoendrupal.git

[2015-06-14 03:48] jmolivas commented on #669
I tested this and it works properly. Thanks @edutrul

[2015-06-14 03:52] #669 closed

[2015-06-14 04:05] jmolivas commented on #680
Closing this,
Thanks:
- @darol100 for the comments and improvements.
- @LowellMontgomery feel free to add a new issue to propose a new set of **ISSUE-GROUPS**
- @enzolutions for adding the TOC and rearrange the content on the template.

[2015-06-14 04:05] #680 closed

[2015-06-14 06:40] jmolivas commented on #661
@enzolutions work on this o this PR #687

[2015-06-14 06:48] jmolivas commented on #661
@Crell I tested PR #687 by generating  a module and a config entity
![screen shot 2015-06-13 at 11 32 49 pm](https://cloud.githubusercontent.com/assets/366275/8147569/dda8bb36-1225-11e5-891b-b818887d9d4d.png)

This generated a new file: `example.links.menu.yml` with the following content
[code]
An new link shown at http://drupal8.dev/admin/structure:
![screen shot 2015-06-13 at 11 46 01 pm](https:

[2015-06-14 07:05] omero commented on #297
The #688 PR solves this issue, but i think the config and content entity generators needs a full refactor, based in the new Drupal updates :worried:

[2015-06-14 07:08] jmolivas opened #689 "[cache:rebuild] Not working properly"
### Problem/Motivation
The `cache:rebuild` is not working

### How to reproduce
The following command:
`drupal cache:clear all`
Throws the following error message:
[code]
**Versions:**
Drupal: Beta11
Console: 0.7.13

### Solution
Append `/` when building the path and calling `require_once`
[code]

[2015-06-14 07:15] #661 closed

[2015-06-14 07:24] jmolivas commented on #297
I tested the PR #688 and yes fixed the issue.

Totally agree with you @omero about a needed refactor to content & config entity generators.

[2015-06-14 07:31] omero commented on #689
#689 solves this Issue :smile:

[2015-06-14 07:45] #297 closed

[2015-06-14 07:45] #689 closed

[2015-06-14 09:05] jmolivas opened #691 "[standard] Several coding standards errors found"
### Problem/Motivation
After running an analysis using insight by Sensio Labs several errors found.

### How to reproduce
Ope thi URL for analisys result:
https://insight.sensiolabs.com/projects/d0f089ff-a6e9-4ba4-b353-cb68173c7d90/analyses/61

### Solution
Fix errors

[2015-06-15 01:21] jmolivas commented on #691
5 violations fixed, new report at:
https://insight.sensiolabs.com/projects/d0f089ff-a6e9-4ba4-b353-cb68173c7d90/analyses/62

1 violation not fixed
**[in src/Generator/Generator.php, line 99](https://github.com/hechoendrupal/DrupalConsole/blob/cec95e2505ecf5055c3c5c09a2f352c4caf17734/src/Generator/Generator.php#L99)**

[code]

---------------------

[2015-06-15 01:44] jmolivas opened #693 "[standard] Source code should not contain TODO comments"
### Problem/Motivation

**[in src/Generator/Generator.php, line 99](https://github.com/hechoendrupal/DrupalConsole/blob/cec95e2505ecf5055c3c5c09a2f352c4caf17734/src/Generator/Generator.php#L99)**

[code]

### How to reproduce
Review analysis result URL:
https://insight.sensiolabs.com/projects/d0f089ff-a6e9-4ba4-b353-cb68173c7d90/analyses/62

### Solution
Complete implementation once this core issu

[2015-06-15 01:46] jmolivas commented on #691
I created a new issue https://github.com/hechoendrupal/DrupalConsole/issues/693 with the missing fix to close this one.

[2015-06-15 01:46] #691 closed

[2015-06-15 10:31] mikeker opened #695 "Provide scaffolding files for Views' handler plugins."
Would love to have scaffolding for building Views' plugins. This would be useful to contrib developers that define new entities and want to enable Views integration.

[2015-06-15 14:42] jmolivas commented on #695
Sounds really useful @mikeker, can you please provide links to the documentation in order to take a look at the code to implement on the generators.

[2015-06-16 07:19] #649 closed

[2015-06-16 14:19] cweagans opened #697 "[generate:form:config] url field type not allowed"
When generating a form, I should be able to specify the `url` field type. It's supported by core (added by https://www.drupal.org/node/1174630).

[2015-06-17 08:42] mikeker commented on #695
@jmolivas; Will do... Just as soon as I figure it out myself!  :)

As a starting point, the Views plugin base class is located here: core/modules/views/src/Plugin/views/PluginBase.php. The handler base class is here: core/modules/views/src/Plugin/views/HandlerBase.php. And the field plugin base class, for example, is here: core/modules/views/src/Plugin/views/field/FieldPluginBase.php.

I'm going t

[2015-06-17 14:42] jmolivas commented on #697
Yes @cweagans liked the idea, I decided to working on generate field types based on the Drupal installation installed modules core+contrib to generated only valid field types, this is the code so far:

[code]

I still need to work on the properties per field type.

[2015-06-17 14:57] omero commented on #697
awesome idea @jmolivas, just remember update the `module.info.yml`, if you decide use fields from others contrib modules, when you do that automatically your custom module is dependent of the contrib module.

[2015-06-17 15:20] jmolivas commented on #695
Sound @mikeker  awesome fee free to keep commenting on this issue and ask any question at our support gitter room: https://gitter.im/hechoendrupal/DrupalConsole

[2015-06-17 19:19] heilop commented on #663
I want to work in this issue.

[2015-06-17 19:22] jmolivas commented on #663
Awesome thanks @heilop please take your time to read this documentation
http://hechoendrupal.gitbooks.io/drupal-console/content/contributing/new-features.html

And then try to complete the setup, and fork/clone and remote upstream and fee free to ping me at
https://gitter.im/hechoendrupal/DrupalConsole

[2015-06-17 19:25] jmolivas commented on #695
Also make sure you take your time to read the documentation:
http://hechoendrupal.gitbooks.io/drupal-console/content/contributing/new-features.html

[2015-06-18 04:46] enzolutions commented on #697
Hi @jmolivas

What you mentioned is more related with content/config entity, form generation must to use FAPI elements listed at https://api.drupal.org/api/drupal/developer!topics!forms_api_reference.html/8

[2015-06-18 05:32] jmolivas commented on #697
Yes @enzolutions you totally right.

[2015-06-18 05:33] jmolivas commented on #615
@geerlingguy this was merged and it was included on latest release [0.7.14](https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.7.14)

[2015-06-18 05:35] enzolutions commented on #697
So we can close this ticket, or you are thinking in a different approach

[2015-06-18 05:52] jmolivas commented on #697
I leave this open until I take care of adding the url field.

[2015-06-18 15:22] geerlingguy commented on #615
@jmolivas - Thanks! I've updated my Ansible role to allow self-update to work any time.

[2015-06-20 21:22] jmolivas opened #704 "[generate:rules:*] Add rules integration"
### Problem/Motivation

The main goal is this issue is to add commands to generate rules module components:
- [x] generete:rules:condition
- [x] generete:rules:action
- [x] generate:rules:dataprocessor
### Solution

Generate templates based on rules documentation:
http://thefubhy.gitbooks.io/rules/content/extending_rules/rules_action_plugins.html

[2015-06-25 11:58] webflo opened #705 "Add route_provider to ContentEntity generator"

[2015-06-25 12:24] webflo opened #708 "Add weight to entity delete local task"

[2015-06-25 12:26] webflo commented on #708
Duplicate of #709

[2015-06-25 12:26] #708 closed

[2015-06-25 19:47] jmolivas commented on #705
@webflo you may have the documentation page to take as example to add the required code.

[2015-06-25 21:28] webflo commented on #705
I was to quick. The patch is not in core yet. https://www.drupal.org/node/2350509

[2015-06-26 17:12] pjcdawkins opened #712 "Installer script contains unnecessary version logic"
Thanks for the inspiration, I'm borrowing the install process for another project. But I've noticed:

* The version compare classes in drupalconsole.com/installer are broken.
* The Drupal Console manifest.json only lists one release anyway, so the version comparison logic isn't doing anything.
* You can use `version_compare()` and make the script about 1/4 of the size - here's an [example](https:/

[2015-06-28 15:27] anakinjay opened #713 "Generate is not defined"
Need some help, everything was working great on D8 beta 6.  I just upgraded to beta 11 and tried to upgrade console to match, and now nothing works.  Looks like it doesn't think I'm in my drupal root directory, but I absolutely am.

Executing commands from the drupal root folder"

[code]

[code]
[code]

[2015-06-28 15:30] anakinjay commented on #713
I tried removing it from my bin folder and running the phar manually from my rocroot:

[code]

[2015-06-28 17:01] dhsoxfan opened #714 "Running Drupal Console in Cygwin outside of bin folder fails"
Short description: Running Drupal Console from Cygwin for Windows works when the command is called from the folder in which the .phar file resides.  However, executing the command from another base path fails with the following error:

$ /usr/local/bin/drupal
Could not open input file: /usr/local/bin/drupal

$ php -v
PHP 5.5.11 (cli) (built: Apr  8 2014 15:07:14)
Copyright (c) 1997-2014 The PHP Gr

[2015-06-28 18:10] enzolutions commented on #386
I did  a PR to resolve this problem  https://github.com/hechoendrupal/DrupalConsole/pull/716

This change don't stop the generation only warning, because could be resolved later

[2015-06-28 19:42] jmolivas commented on #713
Which OS are you using @anakinjay ?

Is Drupal already installed?

[2015-06-28 20:59] anakinjay commented on #713
I'm on Mac OSX  Whatever the latest animal is.    And yep, been using drupal console with D8 beta 6 for about 6 months with no problems.  Updated my docroot to D8 Beta 11, and updated drupal console to latest to match it, and now I get this error.

[2015-06-28 21:39] enzolutions commented on #397
Duplicate with https://github.com/hechoendrupal/DrupalConsole/issues/386

[2015-06-28 21:39] #397 closed

[2015-06-29 05:46] omero opened #717 "[generate:rules*] Configuration objects exsist when reinstall module"
### Problem/Motivation
After generata an rules action plugin with `generate:plugin:rulesaction` creates the `system.action.default_action.yml` configuration, when uninstall the module, the configuration object doesn't removes, and when i reinstall the module this happens:

![screen shot 2015-06-29 at 12 24 12 am](https://cloud.githubusercontent.com/assets/1909779/8401518/3058f47e-1df5-11e5-86ff-83

[2015-06-29 18:21] enzolutions commented on #417
I just sync translation files in PR https://github.com/hechoendrupal/DrupalConsole/pull/720

Now is each new release all translation will be sync using the new command **$ drupal merge:yaml** as you can see below.

[code]

[2015-06-29 18:21] #417 closed

[2015-06-29 19:05] enzolutions commented on #640
I had the same idea as @Jaesin long time ago I have the same feeling about that extra parameter would be great

[2015-06-30 18:23] Crell opened #722 "[generate:entity:config] Default menu path doesn't match up"
When generating a config entity, the path of the admin forms is placed under /admin/config/system/{entity}.  The menu LINK, however, is parented to /admin/structure.

While that technically doesn't break anything, it's highly confusing. The generator should standardize on one or the other.  I nominally think it makes more sense under structure than config/system, but as long as it's consistent I c

[2015-07-01 01:25] Jaesin opened #723 "[config:import:single] Add a new command to import single configuration."
I need to import just one single config item all of the time. This new command does the config import of just one config entity.

https://github.com/Jaesin/DrupalAppConsole/commit/dc25a6cb16509b8fe4d98f753a756088edd65ecc

I wanted to be able to pipe data to the command and that works. The remaining issue is that if you don't supply a file name and there is no pipe, you are prompted for stdin. That

[2015-07-01 06:14] jmolivas commented on #723
Nice @Jaesin I remember @enzolutions was working on a `config:import` command on this PR https://github.com/hechoendrupal/DrupalConsole/pull/441 this may this helps.

I need to review both commands to have a better idea of how they work.

[2015-07-01 14:04] jmolivas commented on #714
@dhsoxfan Just to confirm is not the `phar` file or the `Cygwin ` for  `Windows` issue.

May you please try to do the same with composer:
[code]

[2015-07-01 14:11] jmolivas commented on #713
@anakinjay May you try on a new installation @anakinjay ?
[code]

And then try drupal console on the new installed site

[2015-07-01 18:07] jmolivas opened #725 "[generate:controller] Do not require to implements ContainerInjectionInterface"
### Problem/Motivation
The Controller generation render a controller class that extends form `ControllerBase ` and implements `ContainerInjectionInterface`

But his is not necessary since since `ControllerBase ` already implements `ContainerInjectionInterface`  [Abstract class ControllerBase documentation](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Controller%21ControllerBase.p

[2015-07-01 18:16] danielrose28 commented on #725
@jmolivas thanks for giving me an issue to try out. I'll work on it and ask questions as needed.

[2015-07-01 18:23] jmolivas commented on #725
@danielrose28: Thank you, for showing interest in contribute to the project

[2015-07-02 04:44] danielrose28 commented on #725
@jmolivas how does this look? I wasn't sure if I needed to use the actual "render method" or to just format this added line to read this way.

![screen shot 2015-07-02 at 12 38 08 am](https://cloud.githubusercontent.com/assets/12372245/8470031/de3a21e4-2052-11e5-8a49-4ff978e5fd99.png)

[2015-07-02 05:12] jmolivas commented on #725
@danielrose28

Line 14
[code]
Must me removed

Line 25
[code]
Must look like this
[code]

[2015-07-02 06:36] jmolivas commented on #717
Thanks @omero

[2015-07-02 06:36] #717 closed

[2015-07-02 23:27] enzolutions commented on #640
That option was included in PR https://github.com/hechoendrupal/DrupalConsole/pull/729 and will be next release 0.7.15

[2015-07-02 23:27] #640 closed

[2015-07-02 23:40] enzolutions commented on #386
This solution will be implemented in release 0.7.15

[2015-07-02 23:40] #386 closed

[2015-07-02 23:42] enzolutions commented on #477
This could be to complicated, maybe is easier generate interactive using the new option available in 0.7.15 --generate-chain and use the yaml returned to be executed with a chain, IMHO in that way will be more practical and re-usable.

[2015-07-03 00:40] enzolutions commented on #515
The default values could be generated using the command --generate-chain that will be included in next release  0.7.15

[2015-07-03 05:37] jmolivas commented on #515
The format for setting the defaults and the chain are not the same but we can add a global option --default and output the generated code to be added on the `config.yml` file

[2015-07-03 06:57] #515 closed

[2015-07-04 20:55] #725 closed

[2015-07-07 19:08] jmolivas opened #739 "[insight] Code violations"
**[in src/EventSubscriber/ShowGenerateChainListener.php, line 64](https://github.com/hechoendrupal/DrupalConsole/blob/0854d8bb6ea53a24baa1c575bfb122910b68ae26/src/EventSubscriber/ShowGenerateChainListener.php#L64)**

[code]

---------------------

**[in src/EventSubscriber/ShowGenerateChainListener.php, line 65](https://github.com/hechoendrupal/DrupalConsole/blob/0854d8bb6ea53a24baa1c575bfb122910b

[2015-07-07 20:09] #739 closed

[2015-07-08 15:49] Crell opened #743 "[generate:entity:config] Separate class name and human name in wizard"
When generating a config entity (or probably content entity, but I've not tried) that logically is multiple words, the generated code uses the class name as if it were the human-readable name.  That's not the case, however.  Eg, if I'm creating a ModerationState config entity, I end up with strings and labels and page titles like "Edit ModerationState", "Add new ModerationState", etc.  So the very

[2015-07-08 16:03] jmolivas commented on #743
Like the idea.

[2015-07-13 15:55] Sutharsan commented on #446
Working on this...

[2015-07-14 20:09] jmolivas commented on #723
@Jaesin do you mind to send a PR ?

[2015-07-14 20:32] Sutharsan commented on #446
Code in PR https://github.com/hechoendrupal/DrupalConsole/pull/753

[2015-07-15 13:54] Sutharsan commented on #551
The fields that can be adde to the block form are fields in the configuration form. These fields are added to the default configuration form. There are (normally) no buttons added by the plugin blockForm method.

Perhaps you are mistaken with a form placed in the content of the block (e.g. the user login block). Such a form is not coded in a block plugin. Create a form callback and include in the

[2015-07-15 14:12] Sutharsan commented on #518
Creating forms is for me an iterative process. I start with a rough idea (at this point a generator can help), but during the building process, the order of fields changes, the labels change, the description is modified and default values (e.g. select list defaults) are added. If console would generate the initial config/install/ and config/schema files for me, I would probably have to re-do the f

[2015-07-15 15:52] Sutharsan commented on #663
It looks like this is already fixed in e03a5240.

[2015-07-15 16:01] Sutharsan commented on #411
See https://github.com/hechoendrupal/DrupalConsole/pull/752 for an annotation (discovered) type plugin generator.
Next thing would be a generator for yaml (discovered) type plugins.

[2015-07-15 18:47] jmolivas commented on #663
This was fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/702

[2015-07-15 18:47] #663 closed

[2015-07-16 21:11] ansorg opened #755 "[console] Add multi-site support"
As of version 0.7.15 console does not recognize a drupal folder as such if sites/default/settings.php is not used but a different sites/xqz/settings.php instead.
An implementation would need to parse sites/sites.php for the multi-site setup and accept some parameter to specify the site, i. e. like ``drush --uri=``

[2015-07-16 21:13] ansorg commented on #713
is this perhaps related to https://github.com/hechoendrupal/DrupalConsole/issues/755 ? I have similar errors

[2015-07-18 00:11] darol100 commented on #679
I think this will be an great feature.

[2015-07-18 00:23] jmolivas commented on #679
And solving this will benefit both projects DrupalConsole & Terra-App

[2015-07-20 05:27] Sutharsan commented on #722
PR at https://github.com/hechoendrupal/DrupalConsole/pull/756

[2015-07-20 17:05] Sutharsan commented on #411
I've created a PR for a plugin type with Yaml discovery. See https://github.com/hechoendrupal/DrupalConsole/pull/757.

[2015-07-20 17:09] Sutharsan commented on #248
We now have:
[code]
I guess we can close this issue.

[2015-07-20 17:51] jmolivas commented on #248
This was included on PR https://github.com/hechoendrupal/DrupalConsole/pull/753

Thanks for the PR and notice @Sutharsan

[2015-07-20 17:51] #248 closed

[2015-07-20 18:45] Sutharsan commented on #446
PR has been merged. Lets close this issue.

[2015-07-20 18:47] #446 closed

[2015-07-20 18:52] Sutharsan commented on #517
Duplicate of https://github.com/hechoendrupal/DrupalConsole/issues/299

[2015-07-20 18:54] jmolivas opened #758 "[console] Remove CodeQualityTool class"
I decoupled and published an advanced version of this feature on a separated project.

Current `CodeQualityTool` class on this repository:
https://github.com/hechoendrupal/DrupalConsole/blob/master/CodeQualityTool.php

New project `PHPQA` Analyzer CLI tool repository:
https://github.com/jmolivas/phpqa

We can update the documentation and recommend to

### Install the `PHPQA` https://github.com/jmo

[2015-07-20 18:55] Sutharsan commented on #743
Working on this...

[2015-07-20 19:11] #517 closed

[2015-07-21 06:39] Sutharsan commented on #743
Done. See #759

[2015-07-22 18:29] damontgomery commented on #469
I was getting this error from running `drupal cache:rebuild all` from outside of the docroot. This also happened with `drupal module:install link`.

I ran those commands from the docroot and had no issues. Running from `modules/example/myexample/` had that error.

Console version: 0.7.15
Drupal version: 8.0.0-beta12

[2015-07-23 18:24] #722 closed

[2015-07-24 18:28] #758 closed

[2015-07-31 19:15] jmolivas commented on #743
Fixed

[2015-07-31 19:15] #743 closed

[2015-07-31 19:16] #723 closed

[2015-08-02 02:58] vacho opened #767 "Console don't running at beta 13"
This error appear..

drupal generate:module
PHP Fatal error:  Cannot redeclare GuzzleHttp\Psr7\str() (previously declared in phar:///usr/local/bin/drupal/vendor/guzzlehttp/psr7/src/functions.php:17) in /var/www/html/devbeta13/core/vendor/guzzlehttp/psr7/src/functions.php on line 39

[2015-08-03 05:46] alexander-bogomolov commented on #767
Issue from Drupal.org: https://www.drupal.org/node/2538484

[2015-08-03 13:06] pfrenssen commented on #653
Renaming it to Drupal is really strange IMO, any of the 4 suggestions above seem more suitable.

[2015-08-03 16:16] kenneth-bolivar-castro opened #769 "Clear failed login attempts for account within "drupal password:reset""
After I executed: "drupal password:reset" the new password was already set up however I wasn't able to log in because I blocked my account when I was trying to get in, and Drupal printed the following message:

"Sorry, there have been more than 5 failed login attempts for this account. It is temporarily blocked. Try again later or request a new password."

Then my advice that "drupal password:rese

[2015-08-04 16:40] jmolivas commented on #767
@vacho / @alexander-bogomolov
We just tagged a new release 0.8.0 please update the project, for more information about updating please read:
- http://hechoendrupal.gitbooks.io/drupal-console/content/using/update.html
- http://hechoendrupal.gitbooks.io/drupal-console/content/contributing/keeping-your-fork-up-to-date.html

[2015-08-04 21:36] enzolutions commented on #616
Fixed for beta 14 with commit https://github.com/hechoendrupal/DrupalConsole/pull/775/files#diff-9148758e43f02f0813116d214384ccaeR252 this will be release in 0.8.1 release

[2015-08-04 21:36] #616 closed

[2015-08-05 03:13] jmolivas commented on #616
Do we have a PR or need to add a new one to fix this @enzolutions ?

[2015-08-05 03:14] jmolivas commented on #616
My bad I did not see the link was the related PR https://github.com/hechoendrupal/DrupalConsole/pull/775

[2015-08-05 03:18] jmolivas commented on #767
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/771 merged on this release https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.8.0

[2015-08-05 03:18] #767 closed

[2015-08-05 05:04] alexander-bogomolov commented on #767
Thank you!

[2015-08-07 13:59] heddn opened #781 "Chasing HEAD: generate:plugin:field no longer functions"
- [x] There are some obvious syntax errors in the result of `drupal generate:plugin:field` i.e. semi-colons in the wrong place, missing parenthesis.
- [x] The directories for the generated classes does not include Field for all classes created
  ex. src/Plugin/FieldFormatter (correct is src/Plugin/Field/FieldFormatter
-  [x] Lastly, the field formatter references an used import: `use Drupal\Core\F

[2015-08-07 14:16] heddn commented on #781
The above PR doesn't fix all the issues. I don't know how to solve the second bullet item. But it gets us closer.

[2015-08-07 14:23] jmolivas commented on #781
@heddn: Thanks this PR https://github.com/hechoendrupal/DrupalConsole/pull/780 fix the point number 2

[2015-08-09 16:26] kenneth-bolivar-castro commented on #769
I added a new pull request, https://github.com/hechoendrupal/DrupalConsole/pull/783
Have a good one!

[2015-08-13 02:55] kylebrowning commented on #755
Verified, this causes Drupal Console to not work with Acquia Dev Desktop

[2015-08-13 14:52] jmolivas commented on #755
@kylebrowning Thanks for testing it.

[2015-08-13 15:00] kylebrowning commented on #755
@jmolivas  And any multi site setup for that matter

[2015-08-13 19:04] nerdstein commented on #755
This is crucial for adoption. Many large scale Drupal builds leverage multisite and this will no doubt hinder efforts

[2015-08-14 09:50] pfrenssen opened #789 "Request to adopt better documentation standards"
I really love this project and I am eager to contribute to it but the lack of documentation discourages me. I find that undocumented methods and arguments slow me down. To understand what is going on I'm forced to read the code, instead of just scanning the documentation. And this not only affects me, also my IDE needs documentation in order to function properly. It doesn't know argument and retur

[2015-08-14 12:24] jmolivas commented on #789
@pfrenssen: Totally agree on this adding the missing `dockblocks` with parameters and returning types must be mandatory on each method.

Also, I am working on implement some PHPQA tools on the project to help us reporting the missing pieces so we can focus on have them fixed.

[2015-08-16 18:54] enzolutions commented on #769
merged PR #783 and will be included in next release

[2015-08-16 18:54] #769 closed

[2015-08-17 08:07] jjcarrion opened #797 "[generate:entity:content] After generate the entity, the permission are not properly set."
Once you create a content entity, the permissions are not set properly as it's shown in the screenshot:
![selection_144](https://cloud.githubusercontent.com/assets/1206328/9292959/5b4456ec-4415-11e5-8b9e-2745258fd8a3.png)
As you can see, the Edit (Redigera) tab is shown for anonymous users.

After the PR should work like this:
![selection_145](https://cloud.githubusercontent.com/assets/1206328/929

[2015-08-17 08:14] jjcarrion commented on #797
Here is the PR:
https://github.com/hechoendrupal/DrupalConsole/pull/798

[2015-08-17 16:28] heddn commented on #674
Will this cover creating instances of code for each of the console's menu options? For example, the field generated code right now has some errors in it that a php lint would pick up. Then after that, it also has some issues where if the annotations are incorrect, then you can't use the widget or formatter from the UI. The later isn't something I think would be easy to pick up with a unit test. Bu

[2015-08-17 20:41] kegilkoo opened #800 "[generate:module] Error create new module (SplFileIfo::getMTime() ...)"
When I try to generate a module I got the following error :

Drupal console version : 0.8.2
Drupal beta version : beta14
(you can see this informations in my screenshot)

![error and versions](http://img15.hostingpics.net/pics/566779Untitled.png)

no one had this bug?

[2015-08-17 21:48] jmolivas commented on #800
@kegilkoo: At this point you must run Drupal Console within the D8 site root.

[2015-08-17 23:25] edutrul commented on #800
By the way also when running your own commands with ($ drupal generate:command)

$ drupal custom_module:mycommand
I get:
  There are no commands defined in the "custom_migrate" namespace.
to fix that is what @jmolivas mentioned:
"At this point you must run Drupal Console within the D8 site root."

[2015-08-18 05:47] kegilkoo commented on #800
Roooo Im very stupid x)
Thank you guys =)

[2015-08-18 05:47] #800 closed

[2015-08-18 14:33] kenneth-bolivar-castro opened #801 "Invoke UserLoginCleanAttemptsCommand within UserPasswordResetCommand"
After we reset user password we should clear all login failed attempts in order to be ready to start session without any issue related with account temporarily blocked.

[2015-08-18 15:25] heddn commented on #781
The second bullet from above is still not fixed in HEAD. I just built a new PHAR and tested. I'll see if I can figure out why.

The directories for the generated classes does not include Field for all classes created ex. src/Plugin/FieldFormatter (correct is src/Plugin/Field/FieldFormatter

[2015-08-18 15:33] jmolivas commented on #801
@kenneth-bolivar-castro: You can read about this feature at:
http://jmolivas.com/commands-calling-commands-in-drupal-console

And see some code examples at:
- GeneratorControllerCommand
 ` $this->getHelper('chain')->addCommand('router:rebuild');`  https://github.com/hechoendrupal/DrupalConsole/blob/master/src/Command/GeneratorControllerCommand.php#L104

- SiteMaintenanceCommand
  `$this->getHelper

[2015-08-18 15:41] jmolivas commented on #781
According to the merged PR looks like should be fixed https://github.com/hechoendrupal/DrupalConsole/pull/780/files
But looking at the code not fixed yet, feel free to send a PR to have it fix.

[2015-08-18 15:47] jmolivas commented on #781
@heddn: You can see what is required to have it fix by looking at the code of the mentioned PR
https://github.com/hechoendrupal/DrupalConsole/pull/780/files

[2015-08-21 22:19] siwinski opened #806 "Abandoned dependency? -- herrera-io/phar-update"
It appears the dependency `"herrera-io/phar-update": "1.*"` is abandoned upstream per its' source GitHub owner?: https://github.com/kherge-abandoned/php-phar-update

Are there any plans to replace this dependency with a non-abandoned alternative?  I ask because I would like to eventually package this project downstream for Fedora/EPEL but I do not want to be responsible for packaging an abandoned

[2015-08-22 01:43] jmolivas commented on #806
Thanks for notifying, we will start to looking for current maintained alternatives.

[2015-08-22 15:41] tedbow opened #807 "[generate:entity:config] doesn't create "collection" property under links section of links"
I just used "generate:entity:config".

It doesn't generate:entity:config doesn't create "collection" property under links section of links of the annotations.

Generated code:
[code]
When I add a new entity or save an existing 1 I get the error

If add another line it fixes it

[code]

[2015-08-23 03:44] jmolivas opened #808 "[generate:entity:config] "The "foo" entity type did not specify a list_builder handler"
This could be fixed by updating `templates/module/src/entity-listbuilder.php.twig`

Actual code
[code]
Fix
[code]

[2015-08-23 04:53] jmolivas commented on #807
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/809

[2015-08-23 04:53] #807 closed

[2015-08-23 04:59] jmolivas commented on #808
Fixed with PR #809

[2015-08-23 04:59] #808 closed

[2015-08-23 04:59] jmolivas commented on #797
Fixed with PR #798

[2015-08-23 04:59] #797 closed

[2015-08-23 16:24] cosmicdreams opened #810 "[generate:entity:content] Ask if you want to include the CT in the list of existing content types"
Hi all

Is it possible programmatically create a content type so that it can be listed in the list of content types that are created by the UI?

If it is it would be nice to ask the developer if they would like to add their CT into that list and perhaps make that the default option.

I just went through the process of creating a CT through the generator for the first time and found that this was t

[2015-08-23 18:21] kenneth-bolivar-castro opened #813 "Commands to User CRUD"
Since a new namespace to group user commands, it sounds a great way to approach and build new commands to Create, Retrieve, Update and Delete user entities.

It think, it's something we could sort, please let talk about it,

[2015-08-23 18:22] kenneth-bolivar-castro opened #814 "[user:] Add CRUD commands to User namespace"
Since a new namespace to group user commands, it sounds a great way to approach and build new commands to Create, Retrieve, Update and Delete user entities.

It think, it's something we could sort, please let talk about it,

[2015-08-23 18:23] kenneth-bolivar-castro commented on #813
Duplicated #814

[2015-08-23 18:23] #813 closed

[2015-08-24 17:31] cosmicdreams commented on #810
I think what I'm looking for is https://github.com/hechoendrupal/DrupalConsole/issues/299

[2015-08-24 18:05] cosmicdreams commented on #299
I talked with @jmolivas about this issue.

Sounds like we have plan for implementing it.  The plan:

1. Create a content type and export it's config
2. Create a command to import the config while placeholdering / replacing the bundle name
3. Assign the command to generate:content:type
4. Document it and SHIP IT

[2015-08-25 07:59] Sutharsan opened #819 "Yaml plugin discovery should returns TranslationWrappers"
See https://www.drupal.org/node/2539156

[2015-08-25 18:04] #801 closed

[2015-08-25 18:22] #819 closed

[2015-08-25 19:45] edutrul opened #823 "[migrate:execute] The "exclude" argument doesn't exist & There are not migrations available to be executed"
Problem:
2 problems actually:
1) When running $ drupal migrate: execute <any migration component> and fill in the rest of the options
I get:
[InvalidArgumentException]
The "exclude" argument does not exist.

2) When running the same command above I get "There are not migrations available to be executed" even though the migration component is there
How to reproduce:
console version: 0.8.2
Drupal 8

[2015-08-27 14:40] cosmicdreams commented on #299
I was able to complete step 1, but in looking at what I will need to do for step 2 I was wondering...  Where should I put the config I exported?  Is there another command I can look at for guidance on the kind of work I'll need to do in order to finish this?

[2015-08-27 21:16] jygastaud opened #826 "[generate:form:config] add Fieldset generation"
Hi,

It should be great if generate:form:config can also deal with presentational elements as fieldset.

## Motivation

Currently we can generate flat form as
[code]

then, add manually fieldset to obtain something like that

[code]

or even deep like that

[code]

I thought that be able to generate fieldset can be really time-saving.

[2015-09-02 17:11] cosmicdreams commented on #299
I have worked up the basics of what I mentioned above.  I don't seem to have the ability to push these changes to you because of permission issues.

[2015-09-04 11:17] rocketeerbkw opened #829 "[generate:service] Error and Interface not created when "loading services from the container""
If you chose no for "Do you want to load services from the container?" then this error goes away. I've copied the command prompt that gave me the error

[2015-09-04 21:46] laranatasha commented on #713
Sorry to say, I am having this problem on a WAMP installation, latest D8 dev build (is that a no-no?). I am absolutely in root. Not a multisite. Here are the goods:

    $ drupal --list
    Drupal Console version 0.8.3

    Usage:
      command [options] [arguments]

    Options:
      -h, --help              Display this help message
      -q, --quiet             Do not output any message
      -

[2015-09-04 21:58] jmolivas commented on #713
@laranatasha: Based on the error message you shared:

May you try install drupal and let us know if the issue still happening

You can install drupal with drush using:
[code]
Make sure you use your own user and database credentials when running drush si and never user root on production. In this example we are accepting any interaction - answering yes when passing -y argument.

Since dev is no sta

[2015-09-05 00:11] laranatasha commented on #713
@jmolivas: Thanks! But, as I said, I was inside Drupal root. This weekend I will try rolling back to beta14 and see if that changes anything. Also still haven't yet updated drush to an 8.x-friendly version, so I'll do that, too. I'm REALLY excited about using this tool.

For sure! As soon as I can get things working. :) Cheers -

[2015-09-05 01:07] jmolivas commented on #713
I tried beta15 and it works fine this is the output of `site:status` command

[code]

[2015-09-05 01:09] jmolivas commented on #713
Seems like for some reason is not founding a site on the root directory.

[2015-09-05 05:07] heddn opened #831 "[template] fieldwidget.php.twig settingsSummary placeholder not working"

[2015-09-05 06:20] laranatasha commented on #713
I think it's awesome that you're so responsive and helpful. :)

My Drupal -dev installation is hardly newer than beta15 (released 3AM yesterday). I used git to set up the repo. I'm not exactly a newbie with these sorts of things, but I must be missing something obvious. I started out in a multisite installation, but saw that there were issues with that so set up a whole new repo, fresh installatio

[2015-09-05 14:36] martinfrances107 opened #834 "[listbuilder-entity-content.php.twig] Should make use of the LinkGeneratorTrait"
I have been using

console generate:entity:content

command alot recently and it generates really good code fragments..

I have noticed a minor issue with the template ..and want to make a small improvement.

I want to refactor the use of \Drupal::l() - to achieve better isolation between frameworks.

The problem with \\Drupal::l()  is that it introduces an implicit dependency on Drupal.php which

[2015-09-05 16:40] jmolivas commented on #713
You can download drupal beta 15 using this project
[code]

![drupal-console-site-new](https://cloud.githubusercontent.com/assets/366275/9700262/3ec630ca-53b1-11e5-81c8-0a7756b43d8d.png)

Once you have latest version of drush you may want to use this command to download Beta15
[code]

**NOTE**: `d8beta15.dev`can be anything you want to, is just the name of the directory where selected version of Dr

[2015-09-05 18:25] martinfrances107 commented on #834
I no longer think this is a good thing ....

To work the list builder would have to become a container aware....

maybe in the future.... sorry for the noise.

[2015-09-05 19:16] jmolivas commented on #834
@martinfrances107: The generated `ListBuilder` class is already extending [EntityListBuilder](https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Entity!EntityListBuilder.php/class/EntityListBuilder/8)

And as you can see the code is using a factory method `createInstance` to extract services form the container and inject via de  `__construct` method.
[code]

[2015-09-05 21:38] laranatasha commented on #713
@jmolivas - I'm happy to report that I am now able to access all commands from the root of a Drupal 8.0.0-beta14 installation. It still doesn't work for beta15. Let me know if you want me to do anything special to troubleshoot the problem since it sounds like it's working fine for you. In the meantime I will keep fussing with it and report back if I discover anything interesting.

Thanks!

[2015-09-05 22:17] laranatasha commented on #713
Oops, my bad. Today I've been having issues with drush after upgrading to 8.0-dev and the beta15 installation didn't take. That's why I wasn't getting the commands in that directory. So now confirmed I have access to the commands in both installations (Drupal 8.0.0-beta14 and beta15). Not sure what could have caused the issue yesterday since that was definitely a fully installed set-up (I had been

[2015-09-06 07:00] #829 closed

[2015-09-06 07:03] jmolivas commented on #713
Yay glad to read that DrupalConsole is currently working with Beta14 and 15 on windows.

[2015-09-06 07:25] #831 closed

[2015-09-06 07:25] #834 closed

[2015-09-06 07:26] #823 closed

[2015-09-06 11:19] damienmckenna opened #839 "Unable to install modules downloaded from git?"
I keep a local testbed install of Drupal for working on contrib modules. I've just reloaded my D8 install with the latest beta15 and updated console to 0.8.3, and now I can't enable modules checked out via git using console. For example:

[code]

[2015-09-06 16:49] jmolivas commented on #839
@damienmckenna: do you mind to share the gitbub repo, I tried this https://github.com/md-systems/redirect and it works fine
[code]

I ran `module:debug` and shown as enabled
[code]
I also ran `container:debug` and saw the following registered services:
[code]

[2015-09-06 17:24] damienmckenna commented on #839
I was using the following:

* git@github.com:md-systems/redirect.git
* damienmckenna@git.drupal.org:project/metatag.git (i.e. my maintainer a/c)

FYI I'm using PHP 5.6.6 from MAMP Pro 5.1.

Incidentally, when I run "drupal module:debug" I get the following:

[code]

Maybe something is broken locally?

[2015-09-06 18:57] jmolivas commented on #839
@damienmckenna: I have seen that error while running `DrupalConsole` outside of the drupal-8-root directory example inside `modules` or `modules/custom`, may you try this again running at the drupal-8-root directory.

[2015-09-06 21:34] damienmckenna commented on #839
Yes, ok, the module:status command works when I'm at the site root. module:install is still failing, though.

[2015-09-06 21:35] damienmckenna commented on #839
FYI "drupal -vvv module:install metatag" doesn't make any difference, the output is still the same as above.

[2015-09-07 20:20] jmolivas commented on #839
I tried downloaded and installed `metatag` and it works. I attached a screenshot:
![metatag-download-install](https://cloud.githubusercontent.com/assets/366275/9722494/162f747e-5563-11e5-93dd-d79d8e79b1a1.png)

[2015-09-07 20:29] damienmckenna commented on #839
Well phooey. Guess I'll poke it with a stick and see what I can work out. Thanks for your help.

[2015-09-07 20:29] #839 closed

[2015-09-07 21:09] jmolivas commented on #839
I tried with `drush` `dl` and `en` and it works too
![metatag-drush-dl-en](https://cloud.githubusercontent.com/assets/366275/9722850/b3f0b492-5569-11e5-8c6f-44c1a185eab5.png)

[2015-09-08 15:22] jmolivas commented on #826
@jygastaud: Like the idea

[2015-09-09 00:02] bunset opened #845 "[PDOException] SQLSTATE[HY000] [2002] No such file or directory"
Drupal 8 beta 14 installation in Mac OS X 10.7.5

Steps to reproduce:
Inside root drupal directory I execute the console, in my case I have called it "drupal" and I receive this message:

[PDOException]
  SQLSTATE[HY000] [2002] No such file or directory

What can I do?

[2015-09-09 00:21] jmolivas commented on #845
@bunset: We got that issue reported on the [gitter channel](https://gitter.im/hechoendrupal/DrupalConsole) by @Eyal-Shalev:

I encountered the following error when trying to use drupal console with my aquia dev desktop installation of drupal8:
[code]
I solved it by creating the following symlink:
[code]

May you confirm if this fix your issue too?

[2015-09-09 01:21] bunset commented on #845
Hi
The description of my issue is different. It doesn't work for me.
But I have good news. I have fixed it by changing server=localhost for server=127.0.0.1 in my setting.php file.

Thanks anyway and kind regards.

[2015-09-09 01:37] jmolivas commented on #845
We have that fix already on the gitbook
http://hechoendrupal.gitbooks.io/drupal-console/content/drupal_console_faq/installation-problems.html

[2015-09-09 04:49] jmolivas commented on #845
@bunset closing this since fixed.

[2015-09-09 04:49] #845 closed

[2015-09-10 03:46] #299 closed

[2015-09-10 14:55] cosmicdreams opened #848 "[generate:contenttype] Update command name to generate:entity:bundle"
We should rename the generator for creating new classic content types (an Entity Bundle) to generate:entity:bundle

Perhaps we could use the opportunity to explore how the command could accept as a parameter any kind of entity (node or custom content entity) and create a new bundle based on the config.  That's the best ending for this command I think.

In the meantime. Let's just rename the comman

[2015-09-10 15:50] jmolivas commented on #848
:+1: like the idea

[2015-09-11 01:47] jmolivas commented on #713
@laradevitt you maybe want to help us testing the project in windows ? ping me if interested

[2015-09-11 05:09] laradevitt commented on #713
@jmolivas I'd be happy to. Just let me know what you need.

[2015-09-12 22:18] jmolivas commented on #674
@heddn we need to implement test for source code and also for the generated code. I will do a proposal about how top handle that, we can probably use => https://github.com/jmolivas/phpqa for both cases.

Some of the project maintainers are already using this tool to analyze and fix the project code base.

[2015-09-18 14:06] anavarre opened #879 "[generate:module] should escape user-entered input (e.g. quotes)"
If you type the below description:

[code]
You'll get this in code:

[code]

Problem is the quote is not escaped, causing a PHP parse error when the module is enabled. It would be preferable to either escape the quotes or wrap strings in double quotes to prevent this.

[2015-09-18 14:24] jmolivas commented on #879
@anavarre: Nice catch, thanks for reporting, we will take care.

[2015-09-18 15:33] jmolivas commented on #518
@Sutharsan like the idea we can actually try both and include what @esod mentioned.

- Add a new command `config:export:form` and generate based on a form definition.
- Chain this new command on `generate:form:config` to generate the schema when the form is generated the first time.

NOTE: the command name `config:export:form` is just an example of the name we can use, feel free to propose a bette

[2015-09-18 16:22] Sutharsan commented on #518
I agree to generate both the config/install and the config/schema file(s). But reading the #443 file changes (... 'table', 'column', 'primary-key' 'hook_schema') this issue is about generating a database table.

[2015-09-18 17:04] jmolivas commented on #518
True, how about `config:export:form` only generate the placeholder for default values at `config/install/module_name.settings.yml`
[code]

[2015-09-21 20:25] jmolivas opened #894 "[about] Improve default command output"
A new feature on the [v0.9.0](https://github.com/hechoendrupal/DrupalConsole/releases/tag/0.9.0) is the new default output when no command is given.

This is how the new output looks like:

![drupal-console-about](https://cloud.githubusercontent.com/assets/366275/10003705/b90b98d0-6062-11e5-874c-e473d157d453.png)

#### We are planning to improve this feature and this is what we have in mind:
- [x]

[2015-09-21 20:29] jmolivas commented on #894
Reply via twiter

<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr"><a href="https://twitter.com/drupalconsole">@drupalconsole</a> Add the Drupal Console version?</p>&mdash; Luckhardt Labs (@LuckhardtLabs) <a href="https://twitter.com/LuckhardtLabs/status/646052584608919552">September 21, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" ch

[2015-09-22 12:11] wizonesolutions opened #902 "Generate tests only?"
Is it possible to generate just tests? e.g. SimpleTest or PHPUnit scaffolding for a module.

[2015-09-23 06:28] jmolivas commented on #902
@wizonesolutions: At this point this is not supported by the project, but will be great to add this feature, we can use this issue to discuss.

But you can take advantage and practice your Español by talking to @dmouse at Barcelona, during DrupalCon and have a conversation about how to achieve this, and also you can have a better understanding of the project if interested in contribute.

[2015-09-23 08:16] jmolivas commented on #894
I sent a PR https://github.com/hechoendrupal/DrupalConsole/pull/908 including
- Display Installed Drupal Console version.
- Display Drupal Console landing page.

This is how the new output looks like:

![drupal-console-about](https://cloud.githubusercontent.com/assets/366275/10040447/a53feb4c-6190-11e5-8858-c5f5b7c30a68.png)

[2015-09-25 01:05] Eyal-Shalev opened #915 "User Login Command"
### Feature Request:
Add a command that when called returns a one time login url.

[2015-09-25 02:38] damienmckenna commented on #839
So yeah, something's wrong with my local install, *none* of the projects downloaded to /modules/contrib are showing on the admin/modules page. Gah.

[2015-09-25 02:44] jmolivas commented on #839
Kinda strange, does `console.dev module:debug` return any output ?

[2015-09-25 02:50] damienmckenna commented on #839
I decided to just delete it and start over ;)

[2015-09-25 02:52] damienmckenna commented on #839
Ok, after reinstalling it now says:

[code]

[2015-09-25 02:54] damienmckenna commented on #839
FYI I'm still running PHP 5.6.6 on MAMP 3.1, I'll try to update to 3.4 this weekend which includes a newer PHP.

[2015-09-25 10:48] mmenavas opened #919 "No support for Acquia Dev Desktop"
When a new Drupal 8 site is created with Acquia Dev Desktop (ADD), ADD does not store the database credentials in settings.php. We'll need to find a way to read this credentials in the same way drush does it.

[2015-09-25 11:44] mmenavas commented on #919
Where is the recommended place to add the code below?

[code]
I currently have it on bin/console and it works with Acquia Dev Desktop sites.

[2015-09-25 11:52] mmenavas commented on #919
FYI: I had to add `date_default_timezone_set('europe/madrid');` to avoid getting the exception below
[code]

[2015-09-25 12:39] mmenavas commented on #919
Disregard my last comment as the PHP bundled with my OS did not configure a default timezone.

[2015-09-25 12:46] dmouse commented on #919
I think that is better use set/getenv that $_SERVER variable

[2015-09-25 14:05] yosymfony commented on #894
Setting up a custom domain for Bitly links (it's free)

[2015-09-25 14:49] citlacom opened #922 "[generate:contenttype] human readable name don't accept blank spaces"
When I execute the command: drupal generate:contenttype and fill the name "Article for News" the command returns a validation error:

It's supposed that human readable should accept spaces between the words.

[2015-09-25 14:51] VasquezPonte commented on #879
https://api.drupal.org/api/drupal/includes%21bootstrap.inc/function/t/7

[2015-09-26 18:06] jmolivas commented on #919
@dmouse Wast this closed with PR https://github.com/hechoendrupal/DrupalConsole/pull/920 ?

[2015-09-26 21:10] damienmckenna commented on #839
I solved the problem - my local install was borken. After I sorted that out the modules are visible again.

[2015-09-26 21:10] damienmckenna commented on #839
Thanks for the help.

[2015-09-26 21:57] jmolivas commented on #839
Yay awesome, I am glad to hear that

[2015-09-27 03:41] mayeco opened #930 "Fatal error when using Webprofiler"
When using the new [Webprofiler](https://www.drupal.org/project/webprofiler) the Drupal Console fail to execute.

    Fatal error: Class 'Drupal\AppConsole\Command\ContainerAwareCommand' not found in /var/www/html/modules/contrib/webprofiler/src/Command/ExportCommand.php on line 22

[2015-09-28 00:28] jmolivas commented on #930
I sent a PR  https://github.com/lussoluca/webprofiler/pull/6 to webprofiler fixing the issue, not sure when the new webprofiler will be tagged maybe @lussoluca knows when this will be happening.

[2015-09-28 06:20] #919 closed

[2015-09-28 06:21] jmolivas commented on #915
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/916 and PR https://github.com/hechoendrupal/DrupalConsole/pull/929

[2015-09-28 06:23] #915 closed

[2015-09-28 07:29] lussoluca commented on #930
@mayeco you have to use the latest HEAD from webprofiler 8.x-2.x branch. I'll tag a new version later this week.

[2015-09-29 05:02] jmolivas commented on #714
Closing this since no activity, @dhsoxfan feel free to re-open if issue appears again.

[2015-09-29 05:02] #714 closed

[2015-09-29 22:30] jmolivas commented on #879
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/940

[2015-09-29 22:30] #879 closed

[2015-09-30 03:21] jmolivas commented on #848
Fixed with PR https://github.com/hechoendrupal/DrupalConsole/pull/941

[2015-09-30 03:21] #848 closed

[2015-09-30 03:50] jmolivas opened #942 "[translation] Improve translations management"
# Improve translations management
### Actual situation
Actually all of the commands translations are located at `config/translations/` one big file for each language, this make it complicated to manage, add, delete, update.

[code]
For a better idea how the content looks lie, you can take a look at the complete file content at [config/translations/console.en.yml](https://github.com/hechoendrupal/D

[2015-09-30 09:02] james-nesbitt commented on #806
I notice that the platform.sh guys are using 2.x of the deprecated phar-update in their build: "herrera-io/phar-update": "^2.0",

(https://github.com/platformsh/platformsh-cli/blob/development/composer.json)

I did see an alternatice phar-update package that seems to be maintained (at least it's had activity since 2013) https://github.com/padraic/phar-updater but I they don't even mention the depr

[2015-09-30 11:18] bojanz opened #945 "[generate:entity:content] Hande the changed field properly"
Right now Console generates content entities with the "changed" property and the getChangedTime()
getter that isn't on any interface.

What needs to be done:
1) The content entity interface needs to extend Drupal\Core\Entity\EntityChangedInterface.
2) The content entity class should use the Drupal\Core\Entity\EntityChangedTrait.
3) getChangedTime() should be removed from the class because it is pr

[2015-09-30 15:03] jmolivas commented on #806
@james-nesbitt: We should go ahead and try this one, I like the idea of using this and try the provided [Github Release Strategy](https://github.com/padraic/phar-updater#github-release-strategy)

[2015-09-30 19:02] mayeco commented on #930
I was using the HEAD, but now the problem is fixed thank you

[2015-09-30 19:02] #930 closed

[2015-09-30 19:20] jmolivas commented on #930
On the next release you will be able to disable custom commands by module, just updating your local config file:
[code]

[2015-10-01 01:38] mayeco commented on #930
Great thank you @jmolivas

[2015-10-01 10:03] wizonesolutions opened #952 "[generate:plugin:annotation] namespace is incorrect"
This is what I did (I'm on Drupal Console 0.9.1):

[code]

The files are generated in `src/Plugin`, but they have a namespace of `Drupal\fillpdf`, not `Drupal\fillpdf\Plugin`. The namespace doesn't match the directory, and PSR-4 won't work.

Also, in `fillpdf.services.yml`, this was added:

[code]

The problem is the aforementioned namespace issue.

I can fix the namespaces manually, but without P

[2015-10-01 10:05] wizonesolutions commented on #952
Also worth mentioning that every other namespace reference (e.g. in the plugin manager's constructor) seems to be OK and includes the `Plugin` part.

[2015-10-01 10:09] wizonesolutions opened #953 "Discover annotation-based plugin types and offer to generate them."
Drupal Console includes some core plugin generation functions, e.g. `generate:plugin:block`.

What would be involved in expanding this to contrib plugins? In my case `generate:plugin:fillpdf_action` for example. Provided that the plugin's annotation class lists all its properties, presumably you could iterate over these and ask what each value should be and then generate a plugin implementation cl

[2015-10-02 16:30] jmolivas commented on #952
I will test this and reply with more info.

[2015-10-03 00:33] #945 closed

[2015-10-03 13:37] VasquezPonte opened #968 "[generate:entity:bundle] Content type created with generate:entity:bundle cannot be enabled."
Reproduce the problem:

* Create a custom module

**drupal generate:module**
[code]

* Create a custom content type

**drupal generate:entity:bundle**
[code]

* Go to `admin/modules` and enable the custom module. The installation fails with the error message:

**Workaround**

Remove both YML files
[code]

After that I could enable the module and create new custom content `node/add/my_custom_conten

[2015-10-05 07:56] subhojit777 opened #976 "[translation] Drupal Console Hindi translation"
Add Hindi transation in Drupal Console.

[2015-10-05 16:33] jmolivas commented on #976
@subhojit777: feel free to ping @enzolutions at https://gitter.im/hechoendrupal/DrupalConsole

[2015-10-05 16:47] dkgndec opened #978 "DrupalConsole hindi translation"
DrupalConsole hindi translation

[2015-10-05 16:51] enzolutions commented on #978
Duplicate with https://github.com/hechoendrupal/DrupalConsole/issues/976

[2015-10-05 16:51] #978 closed

[2015-10-06 05:16] #922 closed

[2015-10-06 07:38] kgaut commented on #942
Seems a good idea to me !

It will be easier to translate new command, and it will also be easier to enhance existing translations by looking at both translated and original files, something that is very difficult today because of the big file.

[2015-10-06 13:07] enzolutions commented on #942
Working on progress https://github.com/hechoendrupal/DrupalConsole/pull/981 don't worry in continue contributing with translation, I did a script using yaml:commands of drupal console to this division almost automatically.

[2015-10-06 23:19] jmolivas commented on #672
Fixed with #980

[2015-10-06 23:19] #672 closed

[2015-10-08 07:03] jmolivas commented on #953
@wizonesolutions: At this point we have related to plugin generators:
[code]

[2015-10-10 17:10] sail3 opened #1028 "[generate:theme] Missing character `:` in break point generator"
Missing caracter : in breakpoint generator, sequence of drupal command generate:theme.
https://github.com/hechoendrupal/DrupalConsole/compare/master...sail3:patch-1

[2015-10-10 18:37] dealancer opened #1030 "$langode argument missing in viewElements method in field formatter"
For more information see https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Field!FormatterInterface.php/function/FormatterInterface%3A%3AviewElements/8

[2015-10-11 09:18] jmolivas commented on #1030
Fixed with https://github.com/hechoendrupal/DrupalConsole/pull/997

[2015-10-11 11:35] enzolutions commented on #695
@mikeker Do you think we resolve this request with command generate:plugin:views:field ?

[2015-10-12 01:50] #1028 closed

[2015-10-12 11:00] wizonesolutions commented on #953
@jmolivas Yeah, that's for making new "plugin types." But if I want to implement a plugin type, I still have to do that myself if it's a custom one. Vs. for example `generate:plugin:block` or `generate:plugin:views:field` — those generate code that implement existing plugin types, no?

[2015-10-13 02:40] danielrose28 commented on #675
Is this a duplicate issue? I see that there is also issue #789, which seems to be similar. Or maybe that one is the duplicate?

[2015-10-13 03:15] jmolivas commented on #675
Not a duplicated, but I do not see the need to have this issue open because:
- We maintain the docs in a separated project https://github.com/hechoendrupal/drupal-console-book
- Improving translations have it's own issue https://github.com/hechoendrupal/DrupalConsole/issues/942

[2015-10-13 04:05] danielrose28 commented on #675
Makes sense to me. :+1:

[2015-10-13 04:22] jmolivas commented on #675
closing this ;), thanks for reporting and commenting @danielrose28

[2015-10-13 04:22] #675 closed

[2015-10-13 04:23] #1030 closed

[2015-10-13 06:17] #942 closed

[2015-10-13 20:47] pjcdawkins opened #1049 "self-update: Errors after updating"
A colleague (@joshmiller83) mentioned a problem after `self-update` - errors relating to ConsoleTerminateEvent.

![upload](https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/42097/298738/Bj4wvtc6BpkSbO3/upload.png)

I case it helps - I just fixed the same problem in the platform.sh CLI with a rather hacky solution:
https://github.com/platformsh/platformsh-cli/blob/7a122d3f3226d5e6ed0a0b7480

[2015-10-13 21:15] pjcdawkins commented on #1049
Another colleague (@damz) has pointed out that it's more likely to be a phar problem - PHP misreading files that have been swapped out under it - so it can be better solved by writing the new file atomically (temporary file, then rename).

[2015-10-13 21:20] jmolivas commented on #1049
@pjcdawkins: Thanks for reporting the issue and the tip, I will take a look at this.

[2015-10-14 20:55] damienmckenna opened #1055 "[test:run] Unable to run simpletests with 0.9.3 & 8.0.0-rc1"
I've just updated to v0.9.3 and am using it with 8.0.0-rc1. When I try to run the simpletests I get the following:

[code]

Any ideas? Thanks.

[2015-10-14 21:03] damienmckenna commented on #1055
FYI I was able to run them with core/scripts/run-tests.sh.

[2015-10-15 15:58] jmolivas commented on #1055
I will take a look.

[2015-10-15 21:10] fiasco opened #1063 "file_get_contents fails to get versions of Drupal in site:new"
[code]

I'm not sure whats going on but it seems the environment that console is running in is not allowing file_get_contents to open a stream.

[2015-10-16 18:03] jmolivas commented on #1063
@fiasco: Fixed with https://github.com/hechoendrupal/DrupalConsole/pull/1065

[2015-10-16 18:04] jmolivas commented on #1055
I found the bug, I will fix and send a PR.

[2015-10-16 20:56] allgood2386 opened #1067 "Able to generate entity bundles with unmet dependencies"
https://gist.github.com/allgood2386/4e9191af141de235088b

That is my usage. Should console allow you to generate configuration that has unmet dependencies? As far as I can tell in d8 the behavior is that modules don't get enabled unless they are defined in the module.yml file. So creating a content type with the defaults in a minimal install will build you a content type that can't be enabled.

[2015-10-17 11:04] favrik commented on #894
I think the default console output should be something more helpful like `symfony`'s output:
[code]

`composer` displays version information and all the available commands when no argument/option is passed.

Perhaps the proposed output is more suited to `drupal about`.  Anyway, personally, I always keep going back to just typing the name of an utility, to get the list of options/commands.

[2015-10-17 15:25] jmolivas commented on #894
@favrik Like de idea of adding useful information. We decide not to list the commands since was really long list.

We will add a configuration option at `~/.console/config.yml,` to override this feature,  this you allow you to configure list command back o any other as default command.

[2015-10-18 12:27] wizonesolutions opened #1074 "[generate:service] Contains statement generation lacks initial backslash."
Example:

[code]

Should be `\Drupal\fillpdf\OutputHandlerInterface`

This happens in both the class and the interface.

Reference: https://www.drupal.org/node/1354#file

[2015-10-18 14:49] favrik commented on #894
@jmolivas I know I know, this is just one of my use cases. XD  But I always do something like `console | grep ...` for long lists of commands.  Anyway, the config option is/would be great. :)

[2015-10-18 17:23] wizonesolutions opened #1075 "Generate logger channels?"
https://www.drupal.org/node/2270941#specific-channel

Similar to `generate:service`, but no `class` — only a `parent`. I don't think the service questionnaire allows this right now.

[2015-10-19 16:09] tsvenson opened #1079 "Integrate with PhpStorm's Command Line Tool"
After I got Composer and Drush working from the built in Command Line Tool (CLI/Shell) in PhpStorm I got blown away with the workflow and productivity improvements it resulted in.

Looking at the list of out-of-box support in the screenshot below, my guestimate is that most of what Drupal Console need to integrate already _should_ be there. To start with, the code generation features in Drupal Con